[2019-10-13 05:26] markthink opened #3366 "/docs/setup/production-environment/tools/kubespray.md"
Source File: [/docs/setup/production-environment/tools/kubespray.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/setup/production-environment/tools/kubespray.md)

[2019-10-13 05:26] markthink opened #3367 "/docs/setup/production-environment/turnkey/_index.md"
Source File: [/docs/setup/production-environment/turnkey/_index.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/setup/production-environment/turnkey/_index.md)

[2019-10-13 05:26] markthink opened #3368 "/docs/setup/production-environment/tools/kubeadm/_index.md"
Source File: [/docs/setup/production-environment/tools/kubeadm/_index.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/setup/production-environment/tools/kubeadm/_index.md)

[2019-10-13 05:27] markthink opened #3369 "/docs/concepts/cluster-administration/networking.md"
Source File: [/docs/concepts/cluster-administration/networking.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/cluster-administration/networking.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:27] markthink opened #3370 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_apiserver-kubelet-client.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_apiserver-kubelet-client.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_apiserver-kubelet-client.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3371 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_front-proxy-client.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_front-proxy-client.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_front-proxy-client.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3372 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_selfhosting_pivot.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_selfhosting_pivot.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_selfhosting_pivot.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3373 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_coredns.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_coredns.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_coredns.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3374 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_bootstrap-token.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_bootstrap-token.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_bootstrap-token.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3375 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3376 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_scheduler.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_scheduler.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_scheduler.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3377 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_control-plane.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_control-plane.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_control-plane.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3378 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_kubelet-start.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_kubelet-start.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_kubelet-start.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3379 "/docs/reference/setup-tools/kubeadm/implementation-details.md"
Source File: [/docs/reference/setup-tools/kubeadm/implementation-details.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/implementation-details.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3380 "/docs/reference/setup-tools/kubeadm/kubeadm-init-phase.md"
Source File: [/docs/reference/setup-tools/kubeadm/kubeadm-init-phase.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/kubeadm-init-phase.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3381 "/docs/setup/production-environment/container-runtimes.md"
Source File: [/docs/setup/production-environment/container-runtimes.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/setup/production-environment/container-runtimes.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3382 "/docs/setup/production-environment/windows/user-guide-windows-containers.md"
Source File: [/docs/setup/production-environment/windows/user-guide-windows-containers.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/setup/production-environment/windows/user-guide-windows-containers.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3383 "/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions.md"
Source File: [/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3384 "/docs/tasks/manage-kubernetes-objects/declarative-config.md"
Source File: [/docs/tasks/manage-kubernetes-objects/declarative-config.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/manage-kubernetes-objects/declarative-config.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3385 "/blog/_posts/2018-05-29-announcing-kustomize.md"
Source File: [/blog/_posts/2018-05-29-announcing-kustomize.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/blog/_posts/2018-05-29-announcing-kustomize.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3386 "/docs/concepts/policy/limit-range.md"
Source File: [/docs/concepts/policy/limit-range.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/policy/limit-range.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3387 "/docs/concepts/storage/volume-snapshots.md"
Source File: [/docs/concepts/storage/volume-snapshots.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/storage/volume-snapshots.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3388 "/docs/reference/glossary/qos-class.md"
Source File: [/docs/reference/glossary/qos-class.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/glossary/qos-class.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3389 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubeconfig.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubeconfig.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubeconfig.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3390 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3391 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_all.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_all.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_all.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3392 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_mark-control-plane.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_mark-control-plane.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_mark-control-plane.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3393 "/docs/reference/setup-tools/kubeadm/kubeadm-join-phase.md"
Source File: [/docs/reference/setup-tools/kubeadm/kubeadm-join-phase.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/kubeadm-join-phase.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3394 "/docs/reference/using-api/api-overview.md"
Source File: [/docs/reference/using-api/api-overview.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/using-api/api-overview.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3395 "/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md"
Source File: [/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3396 "/docs/setup/release/version-skew-policy.md"
Source File: [/docs/setup/release/version-skew-policy.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/setup/release/version-skew-policy.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3397 "/docs/tasks/configure-pod-container/configure-liveness-readiness-probes.md"
Source File: [/docs/tasks/configure-pod-container/configure-liveness-readiness-probes.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-probes.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3398 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_etcd-healthcheck-client.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_etcd-healthcheck-client.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_etcd-healthcheck-client.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3399 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_etcd-peer.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_etcd-peer.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_etcd-peer.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3400 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet_config.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet_config.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet_config.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3401 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_print_join-defaults.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_print_join-defaults.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_print_join-defaults.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3402 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver-kubelet-client.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver-kubelet-client.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver-kubelet-client.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3403 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_etcd.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_etcd.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_etcd.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3404 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_all.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_all.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_all.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:28] markthink opened #3405 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_preflight.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_preflight.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_preflight.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3406 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_all.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_all.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_all.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3407 "/docs/reference/setup-tools/kubeadm/kubeadm-alpha.md"
Source File: [/docs/reference/setup-tools/kubeadm/kubeadm-alpha.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/kubeadm-alpha.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3408 "/docs/setup/production-environment/tools/krib.md"
Source File: [/docs/setup/production-environment/tools/krib.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/setup/production-environment/tools/krib.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3409 "/docs/tasks/manage-kubernetes-objects/kustomization.md"
Source File: [/docs/tasks/manage-kubernetes-objects/kustomization.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/manage-kubernetes-objects/kustomization.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3410 "/blog/_posts/2018-10-10-runtimeclass.md"
Source File: [/blog/_posts/2018-10-10-runtimeclass.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/blog/_posts/2018-10-10-runtimeclass.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3411 "/blog/_posts/2019-03-22-e2e-testing-for-everyone.md"
Source File: [/blog/_posts/2019-03-22-e2e-testing-for-everyone.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/blog/_posts/2019-03-22-e2e-testing-for-everyone.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3412 "/docs/reference/command-line-tools-reference/feature-gates.md"
Source File: [/docs/reference/command-line-tools-reference/feature-gates.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/command-line-tools-reference/feature-gates.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3413 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_all.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_all.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_all.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3414 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_etcd-server.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_etcd-server.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_etcd-server.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3415 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3416 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_print.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_print.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_print.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3417 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_print_init-defaults.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_print_init-defaults.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_print_init-defaults.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3418 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3419 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver-etcd-client.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver-etcd-client.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver-etcd-client.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3420 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_ca.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_ca.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_ca.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3421 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-peer.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-peer.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-peer.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3422 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_etcd_local.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_etcd_local.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_etcd_local.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3423 "/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md"
Source File: [/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3424 "/docs/tasks/configure-pod-container/assign-cpu-resource.md"
Source File: [/docs/tasks/configure-pod-container/assign-cpu-resource.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/configure-pod-container/assign-cpu-resource.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3425 "/blog/_posts/2018-10-26-tips-for-first-kubecon-presentation-part-2.md"
Source File: [/blog/_posts/2018-10-26-tips-for-first-kubecon-presentation-part-2.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/blog/_posts/2018-10-26-tips-for-first-kubecon-presentation-part-2.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3426 "/blog/_posts/2019-01-17-update-volume-snapshot-alpha.md"
Source File: [/blog/_posts/2019-01-17-update-volume-snapshot-alpha.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/blog/_posts/2019-01-17-update-volume-snapshot-alpha.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3427 "/blog/_posts/2019-03-28-running-kubernetes-locally-on-linux-with-minikube.md"
Source File: [/blog/_posts/2019-03-28-running-kubernetes-locally-on-linux-with-minikube.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/blog/_posts/2019-03-28-running-kubernetes-locally-on-linux-with-minikube.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3428 "/docs/concepts/configuration/assign-pod-node.md"
Source File: [/docs/concepts/configuration/assign-pod-node.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/configuration/assign-pod-node.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3429 "/docs/concepts/configuration/pod-priority-preemption.md"
Source File: [/docs/concepts/configuration/pod-priority-preemption.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/configuration/pod-priority-preemption.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3430 "/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md"
Source File: [/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3431 "/docs/concepts/security/overview.md"
Source File: [/docs/concepts/security/overview.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/security/overview.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3432 "/docs/reference/access-authn-authz/authentication.md"
Source File: [/docs/reference/access-authn-authz/authentication.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/access-authn-authz/authentication.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3433 "/docs/reference/glossary/applications.md"
Source File: [/docs/reference/glossary/applications.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/glossary/applications.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3434 "/docs/reference/glossary/static-pod.md"
Source File: [/docs/reference/glossary/static-pod.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/glossary/static-pod.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3435 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_front-proxy-ca.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_front-proxy-ca.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_front-proxy-ca.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3436 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_all.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_all.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_all.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3437 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_controller-manager.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_controller-manager.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_controller-manager.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3438 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_kubelet.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_kubelet.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_kubelet.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3439 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3440 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_etcd.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_etcd.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_etcd.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3441 "/docs/setup/release/notes.md"
Source File: [/docs/setup/release/notes.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/setup/release/notes.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3442 "/docs/tasks/access-application-cluster/ingress-minikube.md"
Source File: [/docs/tasks/access-application-cluster/ingress-minikube.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/access-application-cluster/ingress-minikube.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3443 "/docs/tasks/configure-pod-container/configure-gmsa.md"
Source File: [/docs/tasks/configure-pod-container/configure-gmsa.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/configure-pod-container/configure-gmsa.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3444 "/blog/_posts/2018-01-00-Introducing-Client-Go-Version-6.md"
Source File: [/blog/_posts/2018-01-00-Introducing-Client-Go-Version-6.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/blog/_posts/2018-01-00-Introducing-Client-Go-Version-6.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3445 "/docs/concepts/workloads/controllers/jobs-run-to-completion.md"
Source File: [/docs/concepts/workloads/controllers/jobs-run-to-completion.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/workloads/controllers/jobs-run-to-completion.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3446 "/docs/reference/glossary/mirror-pod.md"
Source File: [/docs/reference/glossary/mirror-pod.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/glossary/mirror-pod.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3447 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3448 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-ca.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-ca.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-ca.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3449 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3450 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_scheduler.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_scheduler.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_scheduler.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3451 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_admin.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_admin.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_admin.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3452 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubelet-start.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubelet-start.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubelet-start.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3453 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-certs.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-certs.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-certs.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3454 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_kubeadm.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_kubeadm.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_kubeadm.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3455 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_download-certs.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_download-certs.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_download-certs.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3456 "/docs/reference/using-api/api-concepts.md"
Source File: [/docs/reference/using-api/api-concepts.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/using-api/api-concepts.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3457 "/docs/setup/production-environment/tools/kubeadm/high-availability.md"
Source File: [/docs/setup/production-environment/tools/kubeadm/high-availability.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/setup/production-environment/tools/kubeadm/high-availability.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:29] markthink opened #3458 "/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md"
Source File: [/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/setup/production-environment/windows/intro-windows-in-kubernetes.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3459 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubeconfig_user.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubeconfig_user.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubeconfig_user.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3460 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet_config_enable-dynamic.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet_config_enable-dynamic.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet_config_enable-dynamic.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3461 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_selfhosting.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_selfhosting.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_selfhosting.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3462 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_all.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_all.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_all.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3463 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_kube-proxy.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_kube-proxy.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_kube-proxy.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3464 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3465 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_sa.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_sa.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_sa.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3466 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3467 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_all.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_all.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_all.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3468 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_certs.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_certs.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_certs.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3469 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_kubeconfig.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_kubeconfig.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_kubeconfig.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3470 "/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md"
Source File: [/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/setup/production-environment/tools/kubeadm/kubelet-integration.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3471 "/blog/_posts/2016-12-00-Statefulset-Run-Scale-Stateful-Applications-In-Kubernetes.md"
Source File: [/blog/_posts/2016-12-00-Statefulset-Run-Scale-Stateful-Applications-In-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/blog/_posts/2016-12-00-Statefulset-Run-Scale-Stateful-Applications-In-Kubernetes.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3472 "/blog/_posts/2017-10-00-Five-Days-Of-Kubernetes-18.md"
Source File: [/blog/_posts/2017-10-00-Five-Days-Of-Kubernetes-18.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/blog/_posts/2017-10-00-Five-Days-Of-Kubernetes-18.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3473 "/blog/_posts/2018-03-00-How-To-Integrate-Rollingupdate-Strategy.md"
Source File: [/blog/_posts/2018-03-00-How-To-Integrate-Rollingupdate-Strategy.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/blog/_posts/2018-03-00-How-To-Integrate-Rollingupdate-Strategy.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3474 "/blog/_posts/2018-07-10-coredns-ga.md"
Source File: [/blog/_posts/2018-07-10-coredns-ga.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/blog/_posts/2018-07-10-coredns-ga.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3475 "/blog/_posts/2018-08-29-kubernetes-testing-ci-automating-contributor-experience.md"
Source File: [/blog/_posts/2018-08-29-kubernetes-testing-ci-automating-contributor-experience.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/blog/_posts/2018-08-29-kubernetes-testing-ci-automating-contributor-experience.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3476 "/blog/_posts/2018-10-18-tips-for-first-kubecon-presentation-part-1.md"
Source File: [/blog/_posts/2018-10-18-tips-for-first-kubecon-presentation-part-1.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/blog/_posts/2018-10-18-tips-for-first-kubecon-presentation-part-1.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3477 "/docs/concepts/architecture/cloud-controller.md"
Source File: [/docs/concepts/architecture/cloud-controller.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/architecture/cloud-controller.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3478 "/docs/concepts/architecture/master-node-communication.md"
Source File: [/docs/concepts/architecture/master-node-communication.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/architecture/master-node-communication.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3479 "/docs/concepts/architecture/nodes.md"
Source File: [/docs/concepts/architecture/nodes.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/architecture/nodes.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3480 "/docs/concepts/cluster-administration/certificates.md"
Source File: [/docs/concepts/cluster-administration/certificates.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/cluster-administration/certificates.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3481 "/docs/concepts/cluster-administration/cloud-providers.md"
Source File: [/docs/concepts/cluster-administration/cloud-providers.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/cluster-administration/cloud-providers.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3482 "/docs/concepts/cluster-administration/logging.md"
Source File: [/docs/concepts/cluster-administration/logging.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/cluster-administration/logging.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3483 "/docs/concepts/cluster-administration/manage-deployment.md"
Source File: [/docs/concepts/cluster-administration/manage-deployment.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/cluster-administration/manage-deployment.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3484 "/docs/concepts/configuration/manage-compute-resources-container.md"
Source File: [/docs/concepts/configuration/manage-compute-resources-container.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/configuration/manage-compute-resources-container.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3485 "/docs/concepts/configuration/secret.md"
Source File: [/docs/concepts/configuration/secret.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/configuration/secret.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3486 "/docs/concepts/containers/images.md"
Source File: [/docs/concepts/containers/images.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/containers/images.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3487 "/docs/concepts/containers/runtime-class.md"
Source File: [/docs/concepts/containers/runtime-class.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/containers/runtime-class.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3488 "/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md"
Source File: [/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3489 "/docs/concepts/extend-kubernetes/api-extension/custom-resources.md"
Source File: [/docs/concepts/extend-kubernetes/api-extension/custom-resources.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/extend-kubernetes/api-extension/custom-resources.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3490 "/docs/concepts/extend-kubernetes/extend-cluster.md"
Source File: [/docs/concepts/extend-kubernetes/extend-cluster.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/extend-kubernetes/extend-cluster.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3491 "/docs/concepts/overview/components.md"
Source File: [/docs/concepts/overview/components.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/overview/components.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3492 "/docs/concepts/overview/what-is-kubernetes.md"
Source File: [/docs/concepts/overview/what-is-kubernetes.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/overview/what-is-kubernetes.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3493 "/docs/concepts/overview/working-with-objects/common-labels.md"
Source File: [/docs/concepts/overview/working-with-objects/common-labels.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/overview/working-with-objects/common-labels.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3494 "/docs/concepts/overview/working-with-objects/field-selectors.md"
Source File: [/docs/concepts/overview/working-with-objects/field-selectors.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/overview/working-with-objects/field-selectors.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3495 "/docs/concepts/overview/working-with-objects/namespaces.md"
Source File: [/docs/concepts/overview/working-with-objects/namespaces.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/overview/working-with-objects/namespaces.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3496 "/docs/concepts/policy/pod-security-policy.md"
Source File: [/docs/concepts/policy/pod-security-policy.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/policy/pod-security-policy.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3497 "/docs/concepts/policy/resource-quotas.md"
Source File: [/docs/concepts/policy/resource-quotas.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/policy/resource-quotas.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3498 "/docs/concepts/services-networking/connect-applications-service.md"
Source File: [/docs/concepts/services-networking/connect-applications-service.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/services-networking/connect-applications-service.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3499 "/docs/concepts/services-networking/ingress-controllers.md"
Source File: [/docs/concepts/services-networking/ingress-controllers.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/services-networking/ingress-controllers.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3500 "/docs/concepts/services-networking/ingress.md"
Source File: [/docs/concepts/services-networking/ingress.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/services-networking/ingress.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3501 "/docs/concepts/storage/persistent-volumes.md"
Source File: [/docs/concepts/storage/persistent-volumes.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/storage/persistent-volumes.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3502 "/docs/concepts/storage/storage-classes.md"
Source File: [/docs/concepts/storage/storage-classes.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/storage/storage-classes.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3503 "/docs/concepts/workloads/controllers/daemonset.md"
Source File: [/docs/concepts/workloads/controllers/daemonset.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/workloads/controllers/daemonset.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3504 "/docs/concepts/workloads/controllers/deployment.md"
Source File: [/docs/concepts/workloads/controllers/deployment.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/workloads/controllers/deployment.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3505 "/docs/concepts/workloads/controllers/garbage-collection.md"
Source File: [/docs/concepts/workloads/controllers/garbage-collection.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/workloads/controllers/garbage-collection.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3506 "/docs/concepts/workloads/controllers/replicationcontroller.md"
Source File: [/docs/concepts/workloads/controllers/replicationcontroller.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/workloads/controllers/replicationcontroller.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3507 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3508 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-server.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-server.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-server.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:30] markthink opened #3509 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_preflight.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_preflight.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_preflight.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3510 "/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md"
Source File: [/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3511 "/docs/setup/production-environment/windows/user-guide-windows-nodes.md"
Source File: [/docs/setup/production-environment/windows/user-guide-windows-nodes.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/setup/production-environment/windows/user-guide-windows-nodes.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3512 "/docs/tasks/configure-pod-container/security-context.md"
Source File: [/docs/tasks/configure-pod-container/security-context.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/configure-pod-container/security-context.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3513 "/docs/concepts/workloads/controllers/statefulset.md"
Source File: [/docs/concepts/workloads/controllers/statefulset.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/workloads/controllers/statefulset.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3514 "/docs/concepts/workloads/controllers/ttlafterfinished.md"
Source File: [/docs/concepts/workloads/controllers/ttlafterfinished.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/workloads/controllers/ttlafterfinished.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3515 "/docs/concepts/workloads/pods/disruptions.md"
Source File: [/docs/concepts/workloads/pods/disruptions.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/workloads/pods/disruptions.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3516 "/docs/concepts/workloads/pods/init-containers.md"
Source File: [/docs/concepts/workloads/pods/init-containers.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/workloads/pods/init-containers.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3517 "/docs/concepts/workloads/pods/pod-lifecycle.md"
Source File: [/docs/concepts/workloads/pods/pod-lifecycle.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/workloads/pods/pod-lifecycle.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3518 "/docs/concepts/workloads/pods/pod-overview.md"
Source File: [/docs/concepts/workloads/pods/pod-overview.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/workloads/pods/pod-overview.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3519 "/docs/concepts/workloads/pods/pod.md"
Source File: [/docs/concepts/workloads/pods/pod.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/workloads/pods/pod.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3520 "/docs/concepts/workloads/pods/podpreset.md"
Source File: [/docs/concepts/workloads/pods/podpreset.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/workloads/pods/podpreset.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3521 "/docs/contribute/advanced.md"
Source File: [/docs/contribute/advanced.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/contribute/advanced.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3522 "/docs/contribute/generate-ref-docs/kubectl.md"
Source File: [/docs/contribute/generate-ref-docs/kubectl.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/contribute/generate-ref-docs/kubectl.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3523 "/docs/contribute/generate-ref-docs/kubernetes-api.md"
Source File: [/docs/contribute/generate-ref-docs/kubernetes-api.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/contribute/generate-ref-docs/kubernetes-api.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3524 "/docs/contribute/intermediate.md"
Source File: [/docs/contribute/intermediate.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/contribute/intermediate.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3525 "/docs/contribute/localization.md"
Source File: [/docs/contribute/localization.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/contribute/localization.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3526 "/docs/contribute/participating.md"
Source File: [/docs/contribute/participating.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/contribute/participating.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3527 "/docs/contribute/start.md"
Source File: [/docs/contribute/start.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/contribute/start.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3528 "/docs/contribute/style/write-new-topic.md"
Source File: [/docs/contribute/style/write-new-topic.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/contribute/style/write-new-topic.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3529 "/docs/reference/_index.md"
Source File: [/docs/reference/_index.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/_index.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3530 "/docs/reference/access-authn-authz/abac.md"
Source File: [/docs/reference/access-authn-authz/abac.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/access-authn-authz/abac.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3531 "/docs/reference/access-authn-authz/admission-controllers.md"
Source File: [/docs/reference/access-authn-authz/admission-controllers.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/access-authn-authz/admission-controllers.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3532 "/docs/reference/access-authn-authz/authorization.md"
Source File: [/docs/reference/access-authn-authz/authorization.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/access-authn-authz/authorization.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3533 "/docs/reference/access-authn-authz/controlling-access.md"
Source File: [/docs/reference/access-authn-authz/controlling-access.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/access-authn-authz/controlling-access.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3534 "/docs/reference/access-authn-authz/extensible-admission-controllers.md"
Source File: [/docs/reference/access-authn-authz/extensible-admission-controllers.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3535 "/docs/reference/access-authn-authz/webhook.md"
Source File: [/docs/reference/access-authn-authz/webhook.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/access-authn-authz/webhook.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3536 "/docs/reference/command-line-tools-reference/cloud-controller-manager.md"
Source File: [/docs/reference/command-line-tools-reference/cloud-controller-manager.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/command-line-tools-reference/cloud-controller-manager.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3537 "/docs/reference/command-line-tools-reference/kube-apiserver.md"
Source File: [/docs/reference/command-line-tools-reference/kube-apiserver.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/command-line-tools-reference/kube-apiserver.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3538 "/docs/reference/command-line-tools-reference/kube-controller-manager.md"
Source File: [/docs/reference/command-line-tools-reference/kube-controller-manager.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/command-line-tools-reference/kube-controller-manager.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3539 "/docs/reference/command-line-tools-reference/kube-proxy.md"
Source File: [/docs/reference/command-line-tools-reference/kube-proxy.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/command-line-tools-reference/kube-proxy.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3540 "/docs/reference/command-line-tools-reference/kube-scheduler.md"
Source File: [/docs/reference/command-line-tools-reference/kube-scheduler.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/command-line-tools-reference/kube-scheduler.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3541 "/docs/reference/command-line-tools-reference/kubelet.md"
Source File: [/docs/reference/command-line-tools-reference/kubelet.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/command-line-tools-reference/kubelet.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3542 "/docs/reference/glossary/cluster.md"
Source File: [/docs/reference/glossary/cluster.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/glossary/cluster.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3543 "/docs/reference/glossary/cri-o.md"
Source File: [/docs/reference/glossary/cri-o.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/glossary/cri-o.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3544 "/docs/reference/glossary/device-plugin.md"
Source File: [/docs/reference/glossary/device-plugin.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/glossary/device-plugin.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3545 "/docs/reference/glossary/flexvolume.md"
Source File: [/docs/reference/glossary/flexvolume.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/glossary/flexvolume.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3546 "/docs/reference/glossary/kube-proxy.md"
Source File: [/docs/reference/glossary/kube-proxy.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/glossary/kube-proxy.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3547 "/docs/reference/glossary/workload.md"
Source File: [/docs/reference/glossary/workload.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/glossary/workload.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3548 "/docs/reference/kubectl/cheatsheet.md"
Source File: [/docs/reference/kubectl/cheatsheet.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/kubectl/cheatsheet.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3549 "/docs/reference/kubectl/conventions.md"
Source File: [/docs/reference/kubectl/conventions.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/kubectl/conventions.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3550 "/docs/reference/kubectl/docker-cli-to-kubectl.md"
Source File: [/docs/reference/kubectl/docker-cli-to-kubectl.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/kubectl/docker-cli-to-kubectl.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3551 "/docs/reference/kubectl/jsonpath.md"
Source File: [/docs/reference/kubectl/jsonpath.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/kubectl/jsonpath.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3552 "/docs/reference/kubectl/overview.md"
Source File: [/docs/reference/kubectl/overview.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/kubectl/overview.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3553 "/docs/reference/kubernetes-api/index.md"
Source File: [/docs/reference/kubernetes-api/index.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/kubernetes-api/index.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3554 "/docs/reference/setup-tools/kubeadm/generated/kubeadm.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3555 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3556 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3557 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_apiserver-etcd-client.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_apiserver-etcd-client.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_apiserver-etcd-client.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3558 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_apiserver.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_apiserver.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_apiserver.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3559 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet_config_download.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet_config_download.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet_config_download.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3560 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_completion.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_completion.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_completion.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3561 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_config.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_config.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_config.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:31] markthink opened #3562 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_images.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_images.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_images.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3563 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_images_list.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_images_list.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_images_list.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3564 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_images_pull.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_images_pull.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_images_pull.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3565 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_migrate.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_migrate.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_migrate.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3566 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_view.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_view.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_view.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3567 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3568 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_all.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_all.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_all.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3569 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-healthcheck-client.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-healthcheck-client.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-healthcheck-client.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3570 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_front-proxy-client.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_front-proxy-client.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_front-proxy-client.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3571 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_apiserver.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_apiserver.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_apiserver.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3572 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3573 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_controller-manager.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_controller-manager.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_controller-manager.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3574 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_mark-control-plane.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_mark-control-plane.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_mark-control-plane.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3575 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_kubelet.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_kubelet.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_kubelet.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3576 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3577 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3578 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_update-status.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_update-status.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_update-status.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3579 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_reset.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_reset.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_reset.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3580 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_token.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_token.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_token.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3581 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_token_create.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_token_create.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_token_create.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3582 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_token_delete.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_token_delete.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_token_delete.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3583 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_token_generate.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_token_generate.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_token_generate.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3584 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_token_list.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_token_list.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_token_list.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3585 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3586 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_apply.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_apply.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_apply.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3587 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_diff.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_diff.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_diff.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3588 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_node.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_node.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_node.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3589 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_plan.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_plan.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_plan.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3590 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_version.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_version.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_version.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3591 "/docs/reference/setup-tools/kubeadm/kubeadm-init.md"
Source File: [/docs/reference/setup-tools/kubeadm/kubeadm-init.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3592 "/docs/reference/setup-tools/kubeadm/kubeadm-reset.md"
Source File: [/docs/reference/setup-tools/kubeadm/kubeadm-reset.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/kubeadm-reset.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3593 "/docs/reference/setup-tools/kubeadm/kubeadm-upgrade.md"
Source File: [/docs/reference/setup-tools/kubeadm/kubeadm-upgrade.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/kubeadm-upgrade.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3594 "/docs/reference/using-api/client-libraries.md"
Source File: [/docs/reference/using-api/client-libraries.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/using-api/client-libraries.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3595 "/docs/setup/learning-environment/minikube.md"
Source File: [/docs/setup/learning-environment/minikube.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/setup/learning-environment/minikube.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3596 "/docs/setup/production-environment/tools/kubeadm/control-plane-flags.md"
Source File: [/docs/setup/production-environment/tools/kubeadm/control-plane-flags.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/setup/production-environment/tools/kubeadm/control-plane-flags.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3597 "/docs/setup/production-environment/tools/kubeadm/ha-topology.md"
Source File: [/docs/setup/production-environment/tools/kubeadm/ha-topology.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/setup/production-environment/tools/kubeadm/ha-topology.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3598 "/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md"
Source File: [/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3599 "/docs/tasks/access-application-cluster/create-external-load-balancer.md"
Source File: [/docs/tasks/access-application-cluster/create-external-load-balancer.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/access-application-cluster/create-external-load-balancer.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3600 "/docs/tasks/access-application-cluster/port-forward-access-application-cluster.md"
Source File: [/docs/tasks/access-application-cluster/port-forward-access-application-cluster.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/access-application-cluster/port-forward-access-application-cluster.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3601 "/docs/tasks/access-application-cluster/service-access-application-cluster.md"
Source File: [/docs/tasks/access-application-cluster/service-access-application-cluster.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/access-application-cluster/service-access-application-cluster.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3602 "/docs/tasks/access-application-cluster/web-ui-dashboard.md"
Source File: [/docs/tasks/access-application-cluster/web-ui-dashboard.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/access-application-cluster/web-ui-dashboard.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3603 "/docs/tasks/access-kubernetes-api/configure-aggregation-layer.md"
Source File: [/docs/tasks/access-kubernetes-api/configure-aggregation-layer.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/access-kubernetes-api/configure-aggregation-layer.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3604 "/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning.md"
Source File: [/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3605 "/docs/tasks/access-kubernetes-api/http-proxy-access-api.md"
Source File: [/docs/tasks/access-kubernetes-api/http-proxy-access-api.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/access-kubernetes-api/http-proxy-access-api.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3606 "/docs/tasks/administer-cluster/configure-upgrade-etcd.md"
Source File: [/docs/tasks/administer-cluster/configure-upgrade-etcd.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/administer-cluster/configure-upgrade-etcd.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3607 "/docs/tasks/administer-cluster/coredns.md"
Source File: [/docs/tasks/administer-cluster/coredns.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/administer-cluster/coredns.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3608 "/docs/tasks/administer-cluster/dns-custom-nameservers.md"
Source File: [/docs/tasks/administer-cluster/dns-custom-nameservers.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/administer-cluster/dns-custom-nameservers.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3609 "/docs/tasks/administer-cluster/dns-debugging-resolution.md"
Source File: [/docs/tasks/administer-cluster/dns-debugging-resolution.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/administer-cluster/dns-debugging-resolution.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3610 "/docs/tasks/administer-cluster/extended-resource-node.md"
Source File: [/docs/tasks/administer-cluster/extended-resource-node.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/administer-cluster/extended-resource-node.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3611 "/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md"
Source File: [/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3612 "/docs/tasks/administer-cluster/namespaces-walkthrough.md"
Source File: [/docs/tasks/administer-cluster/namespaces-walkthrough.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/administer-cluster/namespaces-walkthrough.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3613 "/docs/tasks/administer-cluster/namespaces.md"
Source File: [/docs/tasks/administer-cluster/namespaces.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/administer-cluster/namespaces.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3614 "/docs/tasks/administer-cluster/out-of-resource.md"
Source File: [/docs/tasks/administer-cluster/out-of-resource.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/administer-cluster/out-of-resource.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:32] markthink opened #3615 "/docs/tasks/administer-cluster/reconfigure-kubelet.md"
Source File: [/docs/tasks/administer-cluster/reconfigure-kubelet.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/administer-cluster/reconfigure-kubelet.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3616 "/docs/tasks/administer-cluster/securing-a-cluster.md"
Source File: [/docs/tasks/administer-cluster/securing-a-cluster.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/administer-cluster/securing-a-cluster.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3617 "/docs/tasks/administer-cluster/sysctl-cluster.md"
Source File: [/docs/tasks/administer-cluster/sysctl-cluster.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/administer-cluster/sysctl-cluster.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3618 "/docs/tasks/configure-pod-container/configure-pod-configmap.md"
Source File: [/docs/tasks/configure-pod-container/configure-pod-configmap.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/configure-pod-container/configure-pod-configmap.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3619 "/docs/tasks/configure-pod-container/configure-service-account.md"
Source File: [/docs/tasks/configure-pod-container/configure-service-account.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/configure-pod-container/configure-service-account.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3620 "/docs/tasks/configure-pod-container/configure-volume-storage.md"
Source File: [/docs/tasks/configure-pod-container/configure-volume-storage.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/configure-pod-container/configure-volume-storage.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3621 "/docs/tasks/configure-pod-container/extended-resource.md"
Source File: [/docs/tasks/configure-pod-container/extended-resource.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/configure-pod-container/extended-resource.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3622 "/docs/tasks/configure-pod-container/quality-service-pod.md"
Source File: [/docs/tasks/configure-pod-container/quality-service-pod.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/configure-pod-container/quality-service-pod.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3623 "/docs/tasks/configure-pod-container/share-process-namespace.md"
Source File: [/docs/tasks/configure-pod-container/share-process-namespace.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/configure-pod-container/share-process-namespace.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3624 "/docs/tasks/configure-pod-container/translate-compose-kubernetes.md"
Source File: [/docs/tasks/configure-pod-container/translate-compose-kubernetes.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/configure-pod-container/translate-compose-kubernetes.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3625 "/docs/tasks/debug-application-cluster/audit.md"
Source File: [/docs/tasks/debug-application-cluster/audit.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/debug-application-cluster/audit.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3626 "/docs/tasks/debug-application-cluster/crictl.md"
Source File: [/docs/tasks/debug-application-cluster/crictl.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/debug-application-cluster/crictl.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3627 "/docs/tasks/debug-application-cluster/debug-application-introspection.md"
Source File: [/docs/tasks/debug-application-cluster/debug-application-introspection.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/debug-application-cluster/debug-application-introspection.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3628 "/docs/tasks/debug-application-cluster/debug-pod-replication-controller.md"
Source File: [/docs/tasks/debug-application-cluster/debug-pod-replication-controller.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/debug-application-cluster/debug-pod-replication-controller.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3629 "/docs/tasks/debug-application-cluster/debug-service.md"
Source File: [/docs/tasks/debug-application-cluster/debug-service.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/debug-application-cluster/debug-service.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3630 "/docs/tasks/debug-application-cluster/resource-usage-monitoring.md"
Source File: [/docs/tasks/debug-application-cluster/resource-usage-monitoring.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/debug-application-cluster/resource-usage-monitoring.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3631 "/docs/tasks/extend-kubectl/kubectl-plugins.md"
Source File: [/docs/tasks/extend-kubectl/kubectl-plugins.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/extend-kubectl/kubectl-plugins.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3632 "/docs/tasks/job/coarse-parallel-processing-work-queue.md"
Source File: [/docs/tasks/job/coarse-parallel-processing-work-queue.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/job/coarse-parallel-processing-work-queue.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3633 "/docs/tasks/manage-daemon/update-daemon-set.md"
Source File: [/docs/tasks/manage-daemon/update-daemon-set.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/manage-daemon/update-daemon-set.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3634 "/docs/tasks/manage-gpus/scheduling-gpus.md"
Source File: [/docs/tasks/manage-gpus/scheduling-gpus.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/manage-gpus/scheduling-gpus.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3635 "/docs/tasks/run-application/configure-pdb.md"
Source File: [/docs/tasks/run-application/configure-pdb.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/run-application/configure-pdb.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3636 "/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md"
Source File: [/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3637 "/docs/tasks/run-application/horizontal-pod-autoscale.md"
Source File: [/docs/tasks/run-application/horizontal-pod-autoscale.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/run-application/horizontal-pod-autoscale.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3638 "/docs/tasks/run-application/update-api-object-kubectl-patch.md"
Source File: [/docs/tasks/run-application/update-api-object-kubectl-patch.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/run-application/update-api-object-kubectl-patch.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3639 "/docs/tasks/tls/managing-tls-in-a-cluster.md"
Source File: [/docs/tasks/tls/managing-tls-in-a-cluster.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/tls/managing-tls-in-a-cluster.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3640 "/docs/tasks/tools/install-kubectl.md"
Source File: [/docs/tasks/tools/install-kubectl.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/tools/install-kubectl.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3641 "/docs/tasks/tools/install-minikube.md"
Source File: [/docs/tasks/tools/install-minikube.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/tools/install-minikube.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3642 "/docs/tutorials/clusters/apparmor.md"
Source File: [/docs/tutorials/clusters/apparmor.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tutorials/clusters/apparmor.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3643 "/docs/tutorials/configuration/configure-redis-using-configmap.md"
Source File: [/docs/tutorials/configuration/configure-redis-using-configmap.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tutorials/configuration/configure-redis-using-configmap.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3644 "/docs/tutorials/online-training/overview.md"
Source File: [/docs/tutorials/online-training/overview.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tutorials/online-training/overview.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3645 "/docs/tutorials/stateful-application/basic-stateful-set.md"
Source File: [/docs/tutorials/stateful-application/basic-stateful-set.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tutorials/stateful-application/basic-stateful-set.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3646 "/docs/tutorials/stateful-application/cassandra.md"
Source File: [/docs/tutorials/stateful-application/cassandra.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tutorials/stateful-application/cassandra.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3647 "/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md"
Source File: [/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3648 "/docs/tutorials/stateless-application/expose-external-ip-address.md"
Source File: [/docs/tutorials/stateless-application/expose-external-ip-address.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tutorials/stateless-application/expose-external-ip-address.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:33] markthink opened #3649 "/docs/user-journeys/users/cluster-operator/intermediate.md"
Source File: [/docs/user-journeys/users/cluster-operator/intermediate.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/user-journeys/users/cluster-operator/intermediate.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-10-13 05:53] markthink commented on #3649
/confirm

[2019-10-13 06:02] markthink commented on #3017
confirm

[2019-10-13 06:02] markthink commented on #3017
/confirm

[2019-10-13 06:10] markthink commented on #3016
/confirm

[2019-10-13 06:10] markthink commented on #3017
/confirm

[2019-10-13 06:10] markthink commented on #3018
/confirm

[2019-10-13 06:10] markthink commented on #3019
/confirm

[2019-10-13 06:10] markthink commented on #3017
Sorry @markthink, only issues with label `welcome` can be confirmed.

[2019-10-13 06:10] markthink commented on #3020
/confirm

[2019-10-13 06:10] markthink commented on #3021
/confirm

[2019-10-13 06:10] markthink commented on #3022
/confirm

[2019-10-13 06:10] markthink commented on #3023
/confirm

[2019-10-13 06:10] markthink commented on #3024
/confirm

[2019-10-13 06:10] markthink commented on #3025
/confirm

[2019-10-13 06:10] markthink commented on #3026
/confirm

[2019-10-13 06:10] markthink commented on #3027
/confirm

[2019-10-13 06:10] markthink commented on #3028
/confirm

[2019-10-13 06:10] markthink commented on #3029
/confirm

[2019-10-13 06:10] markthink commented on #3030
/confirm

[2019-10-13 06:10] markthink commented on #3031
/confirm

[2019-10-13 06:10] markthink commented on #3032
/confirm

[2019-10-13 06:10] markthink commented on #3033
/confirm

[2019-10-13 06:10] markthink commented on #3034
/confirm

[2019-10-13 06:10] markthink commented on #3035
/confirm

[2019-10-13 06:10] markthink commented on #3036
/confirm

[2019-10-13 06:10] markthink commented on #3037
/confirm

[2019-10-13 06:10] markthink commented on #3038
/confirm

[2019-10-13 06:10] markthink commented on #3039
/confirm

[2019-10-13 06:10] markthink commented on #3040
/confirm

[2019-10-13 06:10] markthink commented on #3041
/confirm

[2019-10-13 06:10] markthink commented on #3042
/confirm

[2019-10-13 06:10] markthink commented on #3043
/confirm

[2019-10-13 06:10] markthink commented on #3044
/confirm

[2019-10-13 06:10] markthink commented on #3045
/confirm

[2019-10-13 06:10] markthink commented on #3046
/confirm

[2019-10-13 06:10] markthink commented on #3047
/confirm

[2019-10-13 06:10] markthink commented on #3048
/confirm

[2019-10-13 06:10] markthink commented on #3049
/confirm

[2019-10-13 06:10] markthink commented on #3050
/confirm

[2019-10-13 06:10] markthink commented on #3051
/confirm

[2019-10-13 06:10] markthink commented on #3052
/confirm

[2019-10-13 06:10] markthink commented on #3053
/confirm

[2019-10-13 06:10] markthink commented on #3054
/confirm

[2019-10-13 06:10] markthink commented on #3055
/confirm

[2019-10-13 06:10] markthink commented on #3056
/confirm

[2019-10-13 06:10] markthink commented on #3057
/confirm

[2019-10-13 06:10] markthink commented on #3058
/confirm

[2019-10-13 06:10] markthink commented on #3059
/confirm

[2019-10-13 06:10] markthink commented on #3060
/confirm

[2019-10-13 06:10] markthink commented on #3061
/confirm

[2019-10-13 06:10] markthink commented on #3062
/confirm

[2019-10-13 06:10] markthink commented on #3063
/confirm

[2019-10-13 06:10] markthink commented on #3064
/confirm

[2019-10-13 06:10] markthink commented on #3067
/confirm

[2019-10-13 06:10] markthink commented on #3065
/confirm

[2019-10-13 06:10] markthink commented on #3066
/confirm

[2019-10-13 06:10] markthink commented on #3068
/confirm

[2019-10-13 06:11] markthink commented on #3069
/confirm

[2019-10-13 06:11] markthink commented on #3070
/confirm

[2019-10-13 06:11] markthink commented on #3071
/confirm

[2019-10-13 06:11] markthink commented on #3072
/confirm

[2019-10-13 06:11] markthink commented on #3073
/confirm

[2019-10-13 06:11] markthink commented on #3074
/confirm

[2019-10-13 06:11] markthink commented on #3075
/confirm

[2019-10-13 06:11] markthink commented on #3076
/confirm

[2019-10-13 06:11] markthink commented on #3077
/confirm

[2019-10-13 06:11] markthink commented on #3078
/confirm

[2019-10-13 06:11] markthink commented on #3079
/confirm

[2019-10-13 06:11] markthink commented on #3080
/confirm

[2019-10-13 06:11] markthink commented on #3081
/confirm

[2019-10-13 06:11] markthink commented on #3082
/confirm

[2019-10-13 06:11] markthink commented on #3083
/confirm

[2019-10-13 06:11] markthink commented on #3084
/confirm

[2019-10-13 06:11] markthink commented on #3085
/confirm

[2019-10-13 06:11] markthink commented on #3086
/confirm

[2019-10-13 06:11] markthink commented on #3087
/confirm

[2019-10-13 06:11] markthink commented on #3088
/confirm

[2019-10-13 06:11] markthink commented on #3089
/confirm

[2019-10-13 06:11] markthink commented on #3090
/confirm

[2019-10-13 06:11] markthink commented on #3091
/confirm

[2019-10-13 06:11] markthink commented on #3092
/confirm

[2019-10-13 06:11] markthink commented on #3093
/confirm

[2019-10-13 06:11] markthink commented on #3094
/confirm

[2019-10-13 06:12] markthink commented on #3287
/confirm

[2019-10-13 06:12] markthink commented on #3288
/confirm

[2019-10-13 06:12] markthink commented on #3289
/confirm

[2019-10-13 06:12] markthink commented on #3290
/confirm

[2019-10-13 06:12] markthink commented on #3291
/confirm

[2019-10-13 06:12] markthink commented on #3292
/confirm

[2019-10-13 06:12] markthink commented on #3293
/confirm

[2019-10-13 06:12] markthink commented on #3294
/confirm

[2019-10-13 06:12] markthink commented on #3295
/confirm

[2019-10-13 06:12] markthink commented on #3296
/confirm

[2019-10-13 06:12] markthink commented on #3297
/confirm

[2019-10-13 06:12] markthink commented on #3298
/confirm

[2019-10-13 06:12] markthink commented on #3299
/confirm

[2019-10-13 06:12] markthink commented on #3300
/confirm

[2019-10-13 06:12] markthink commented on #3301
/confirm

[2019-10-13 06:12] markthink commented on #3302
/confirm

[2019-10-13 06:12] markthink commented on #3303
/confirm

[2019-10-13 06:12] markthink commented on #3304
/confirm

[2019-10-13 06:12] markthink commented on #3305
/confirm

[2019-10-13 06:12] markthink commented on #3306
/confirm

[2019-10-13 06:12] markthink commented on #3307
/confirm

[2019-10-13 06:12] markthink commented on #3308
/confirm

[2019-10-13 06:12] markthink commented on #3309
/confirm

[2019-10-13 06:12] markthink commented on #3310
/confirm

[2019-10-13 06:12] markthink commented on #3311
/confirm

[2019-10-13 06:12] markthink commented on #3312
/confirm

[2019-10-13 06:12] markthink commented on #3313
/confirm

[2019-10-13 06:12] markthink commented on #3314
/confirm

[2019-10-13 06:12] markthink commented on #3315
/confirm

[2019-10-13 06:12] markthink commented on #3316
/confirm

[2019-10-13 06:12] markthink commented on #3317
/confirm

[2019-10-13 06:12] markthink commented on #3318
/confirm

[2019-10-13 06:12] markthink commented on #3319
/confirm

[2019-10-13 06:12] markthink commented on #3320
/confirm

[2019-10-13 06:12] markthink commented on #3321
/confirm

[2019-10-13 06:12] markthink commented on #3322
/confirm

[2019-10-13 06:12] markthink commented on #3323
/confirm

[2019-10-13 06:12] markthink commented on #3324
/confirm

[2019-10-13 06:12] markthink commented on #3325
/confirm

[2019-10-13 06:12] markthink commented on #3326
/confirm

[2019-10-13 06:12] markthink commented on #3327
/confirm

[2019-10-13 06:12] markthink commented on #3328
/confirm

[2019-10-13 06:12] markthink commented on #3329
/confirm

[2019-10-13 06:12] markthink commented on #3330
/confirm

[2019-10-13 06:12] markthink commented on #3331
/confirm

[2019-10-13 06:12] markthink commented on #3332
/confirm

[2019-10-13 06:12] markthink commented on #3333
/confirm

[2019-10-13 06:12] markthink commented on #3334
/confirm

[2019-10-13 06:12] markthink commented on #3335
/confirm

[2019-10-13 06:12] markthink commented on #3336
/confirm

[2019-10-13 06:12] markthink commented on #3337
/confirm

[2019-10-13 06:12] markthink commented on #3338
/confirm

[2019-10-13 06:12] markthink commented on #3339
/confirm

[2019-10-13 06:12] markthink commented on #3340
/confirm

[2019-10-13 06:12] markthink commented on #3341
/confirm

[2019-10-13 06:12] markthink commented on #3342
/confirm

[2019-10-13 06:12] markthink commented on #3343
/confirm

[2019-10-13 06:12] markthink commented on #3344
/confirm

[2019-10-13 06:12] markthink commented on #3345
/confirm

[2019-10-13 06:12] markthink commented on #3346
/confirm

[2019-10-13 06:12] markthink commented on #3347
/confirm

[2019-10-13 06:12] markthink commented on #3348
/confirm

[2019-10-13 06:12] markthink commented on #3349
/confirm

[2019-10-13 06:12] markthink commented on #3350
/confirm

[2019-10-13 06:12] markthink commented on #3351
/confirm

[2019-10-13 06:12] markthink commented on #3352
/confirm

[2019-10-13 06:12] markthink commented on #3353
/confirm

[2019-10-13 06:12] markthink commented on #3354
/confirm

[2019-10-13 06:12] markthink commented on #3355
/confirm

[2019-10-13 06:12] markthink commented on #3356
/confirm

[2019-10-13 06:12] markthink commented on #3357
/confirm

[2019-10-13 06:12] markthink commented on #3358
/confirm

[2019-10-13 06:12] markthink commented on #3359
/confirm

[2019-10-13 06:12] markthink commented on #3360
/confirm

[2019-10-13 06:12] markthink commented on #3361
/confirm

[2019-10-13 06:12] markthink commented on #3362
/confirm

[2019-10-13 06:12] markthink commented on #3363
/confirm

[2019-10-13 06:12] markthink commented on #3364
/confirm

[2019-10-13 06:12] markthink commented on #3365
/confirm

[2019-10-13 06:12] markthink commented on #3366
/confirm

[2019-10-13 06:13] markthink commented on #3554
/confirm

[2019-10-13 06:13] markthink commented on #3555
/confirm

[2019-10-13 06:13] markthink commented on #3556
/confirm

[2019-10-13 06:13] markthink commented on #3557
/confirm

[2019-10-13 06:13] markthink commented on #3558
/confirm

[2019-10-13 06:14] markthink commented on #3559
/confirm

[2019-10-13 06:14] markthink commented on #3560
/confirm

[2019-10-13 06:14] markthink commented on #3561
/confirm

[2019-10-13 06:14] markthink commented on #3562
/confirm

[2019-10-13 06:14] markthink commented on #3563
/confirm

[2019-10-13 06:14] markthink commented on #3564
/confirm

[2019-10-13 06:14] markthink commented on #3565
/confirm

[2019-10-13 06:14] markthink commented on #3566
/confirm

[2019-10-13 06:14] markthink commented on #3567
/confirm

[2019-10-13 06:14] markthink commented on #3568
/confirm

[2019-10-13 06:14] markthink commented on #3569
/confirm

[2019-10-13 06:14] markthink commented on #3570
/confirm

[2019-10-13 06:14] markthink commented on #3571
/confirm

[2019-10-13 06:14] markthink commented on #3572
/confirm

[2019-10-13 06:14] markthink commented on #3573
/confirm

[2019-10-13 06:14] markthink commented on #3574
/confirm

[2019-10-13 06:14] markthink commented on #3575
/confirm

[2019-10-13 06:14] markthink commented on #3576
/confirm

[2019-10-13 06:14] markthink commented on #3577
/confirm

[2019-10-13 06:14] markthink commented on #3578
/confirm

[2019-10-13 06:14] markthink commented on #3579
/confirm

[2019-10-13 06:14] markthink commented on #3580
/confirm

[2019-10-13 06:14] markthink commented on #3581
/confirm

[2019-10-13 06:14] markthink commented on #3582
/confirm

[2019-10-13 06:14] markthink commented on #3583
/confirm

[2019-10-13 06:14] markthink commented on #3584
/confirm

[2019-10-13 06:14] markthink commented on #3585
/confirm

[2019-10-13 06:14] markthink commented on #3586
/confirm

[2019-10-13 06:14] markthink commented on #3587
/confirm

[2019-10-13 06:14] markthink commented on #3588
/confirm

[2019-10-13 06:14] markthink commented on #3589
/confirm

[2019-10-13 06:14] markthink commented on #3590
/confirm

[2019-10-13 06:14] markthink commented on #3591
/confirm

[2019-10-13 06:14] markthink commented on #3592
/confirm

[2019-10-13 06:14] markthink commented on #3593
/confirm

[2019-10-13 06:14] markthink commented on #3594
/confirm

[2019-10-13 06:14] markthink commented on #3595
/confirm

[2019-10-13 06:14] markthink commented on #3596
/confirm

[2019-10-13 06:14] markthink commented on #3597
/confirm

[2019-10-13 06:14] markthink commented on #3598
/confirm

[2019-10-13 06:14] markthink commented on #3599
/confirm

[2019-10-13 06:14] markthink commented on #3600
/confirm

[2019-10-13 06:14] markthink commented on #3601
/confirm

[2019-10-13 06:14] markthink commented on #3602
/confirm

[2019-10-13 06:14] markthink commented on #3603
/confirm

[2019-10-13 06:14] markthink commented on #3604
/confirm

[2019-10-13 06:14] markthink commented on #3605
/confirm

[2019-10-13 06:14] markthink commented on #3606
/confirm

[2019-10-13 06:14] markthink commented on #3607
/confirm

[2019-10-13 06:14] markthink commented on #3608
/confirm

[2019-10-13 06:14] markthink commented on #3609
/confirm

[2019-10-13 06:14] markthink commented on #3610
/confirm

[2019-10-13 06:14] markthink commented on #3611
/confirm

[2019-10-13 06:14] markthink commented on #3612
/confirm

[2019-10-13 06:14] markthink commented on #3613
/confirm

[2019-10-13 06:14] markthink commented on #3614
/confirm

[2019-10-13 06:14] markthink commented on #3615
/confirm

[2019-10-13 06:14] markthink commented on #3616
/confirm

[2019-10-13 06:14] markthink commented on #3617
/confirm

[2019-10-13 06:14] markthink commented on #3618
/confirm

[2019-10-13 06:14] markthink commented on #3619
/confirm

[2019-10-13 06:14] markthink commented on #3620
/confirm

[2019-10-13 06:14] markthink commented on #3621
/confirm

[2019-10-13 06:14] markthink commented on #3622
/confirm

[2019-10-13 06:14] markthink commented on #3623
/confirm

[2019-10-13 06:14] markthink commented on #3624
/confirm

[2019-10-13 06:14] markthink commented on #3625
/confirm

[2019-10-13 06:14] markthink commented on #3626
/confirm

[2019-10-13 06:14] markthink commented on #3627
/confirm

[2019-10-13 06:14] markthink commented on #3628
/confirm

[2019-10-13 06:14] markthink commented on #3629
/confirm

[2019-10-13 06:14] markthink commented on #3630
/confirm

[2019-10-13 06:14] markthink commented on #3631
/confirm

[2019-10-13 06:14] markthink commented on #3632
/confirm

[2019-10-13 06:14] markthink commented on #3633
/confirm

[2019-10-13 06:18] markthink commented on #3624
/confirm

[2019-10-13 06:19] markthink commented on #3648
/confirm

[2019-10-13 06:19] markthink commented on #3647
/confirm

[2019-10-13 06:19] markthink commented on #3646
/confirm

[2019-10-13 06:19] markthink commented on #3645
/confirm

[2019-10-13 06:19] markthink commented on #3644
/confirm

[2019-10-13 06:20] markthink commented on #3643
/confirm

[2019-10-13 06:20] markthink commented on #3642
/confirm

[2019-10-13 06:20] markthink commented on #3641
/confirm

[2019-10-13 06:20] markthink commented on #3640
/confirm

[2019-10-13 06:20] markthink commented on #3639
/confirm

[2019-10-13 06:20] markthink commented on #3638
/confirm

[2019-10-13 06:20] markthink commented on #3637
/confirm

[2019-10-13 06:20] markthink commented on #3636
/confirm

[2019-10-13 06:20] markthink commented on #3635
/confirm

[2019-10-13 06:20] markthink commented on #3634
/confirm

[2019-10-13 06:20] markthink commented on #3633
/confirm

[2019-10-13 06:20] markthink commented on #3632
/confirm

[2019-10-13 06:20] markthink commented on #3631
/confirm

[2019-10-13 06:20] markthink commented on #3630
/confirm

[2019-10-13 06:20] markthink commented on #3629
/confirm

[2019-10-13 06:20] markthink commented on #3628
/confirm

[2019-10-13 06:20] markthink commented on #3627
/confirm

[2019-10-13 06:20] markthink commented on #3626
/confirm

[2019-10-13 06:20] markthink commented on #3625
/confirm

[2019-10-13 06:20] markthink commented on #3623
/confirm

[2019-10-13 06:20] markthink commented on #3622
/confirm

[2019-10-13 06:20] markthink commented on #3621
/confirm

[2019-10-13 06:20] markthink commented on #3620
/confirm

[2019-10-13 06:20] markthink commented on #3619
/confirm

[2019-10-13 06:20] markthink commented on #3553
/confirm

[2019-10-13 06:20] markthink commented on #3552
/confirm

[2019-10-13 06:20] markthink commented on #3551
/confirm

[2019-10-13 06:20] markthink commented on #3550
/confirm

[2019-10-13 06:20] markthink commented on #3549
/confirm

[2019-10-13 06:20] markthink commented on #3548
/confirm

[2019-10-13 06:20] markthink commented on #3547
/confirm

[2019-10-13 06:20] markthink commented on #3546
/confirm

[2019-10-13 06:20] markthink commented on #3545
/confirm

[2019-10-13 06:20] markthink commented on #3544
/confirm

[2019-10-13 06:20] markthink commented on #3543
/confirm

[2019-10-13 06:20] markthink commented on #3542
/confirm

[2019-10-13 06:20] markthink commented on #3541
/confirm

[2019-10-13 06:20] markthink commented on #3540
/confirm

[2019-10-13 06:20] markthink commented on #3538
/confirm

[2019-10-13 06:20] markthink commented on #3539
/confirm

[2019-10-13 06:20] markthink commented on #3537
/confirm

[2019-10-13 06:20] markthink commented on #3536
/confirm

[2019-10-13 06:20] markthink commented on #3535
/confirm

[2019-10-13 06:20] markthink commented on #3534
/confirm

[2019-10-13 06:20] markthink commented on #3533
/confirm

[2019-10-13 06:20] markthink commented on #3531
/confirm

[2019-10-13 06:20] markthink commented on #3532
/confirm

[2019-10-13 06:20] markthink commented on #3530
/confirm

[2019-10-13 06:20] markthink commented on #3529
/confirm

[2019-10-13 06:20] markthink commented on #3528
/confirm

[2019-10-13 06:20] markthink commented on #3527
/confirm

[2019-10-13 06:20] markthink commented on #3526
/confirm

[2019-10-13 06:20] markthink commented on #3525
/confirm

[2019-10-13 06:20] markthink commented on #3524
/confirm

[2019-10-13 06:20] markthink commented on #3523
/confirm

[2019-10-13 06:20] markthink commented on #3522
/confirm

[2019-10-13 06:20] markthink commented on #3521
/confirm

[2019-10-13 06:20] markthink commented on #3520
/confirm

[2019-10-13 06:20] markthink commented on #3519
/confirm

[2019-10-13 06:21] markthink commented on #3518
/confirm

[2019-10-13 06:21] markthink commented on #3517
/confirm

[2019-10-13 06:21] markthink commented on #3516
/confirm

[2019-10-13 06:21] markthink commented on #3515
/confirm

[2019-10-13 06:21] markthink commented on #3514
/confirm

[2019-10-13 06:21] markthink commented on #3513
/confirm

[2019-10-13 06:21] markthink commented on #3512
/confirm

[2019-10-13 06:21] markthink commented on #3511
/confirm

[2019-10-13 06:21] markthink commented on #3510
/confirm

[2019-10-13 06:21] markthink commented on #3509
/confirm

[2019-10-13 06:21] markthink commented on #3508
/confirm

[2019-10-13 06:21] markthink commented on #3507
/confirm

[2019-10-13 06:21] markthink commented on #3506
/confirm

[2019-10-13 06:21] markthink commented on #3505
/confirm

[2019-10-13 06:21] markthink commented on #3504
/confirm

[2019-10-13 06:21] markthink commented on #3503
/confirm

[2019-10-13 06:21] markthink commented on #3502
/confirm

[2019-10-13 06:21] markthink commented on #3501
/confirm

[2019-10-13 06:21] markthink commented on #3500
/confirm

[2019-10-13 06:21] markthink commented on #3499
/confirm

[2019-10-13 06:21] markthink commented on #3498
/confirm

[2019-10-13 06:21] markthink commented on #3497
/confirm

[2019-10-13 06:21] markthink commented on #3496
/confirm

[2019-10-13 06:21] markthink commented on #3495
/confirm

[2019-10-13 06:21] markthink commented on #3494
/confirm

[2019-10-13 06:21] markthink commented on #3493
/confirm

[2019-10-13 06:21] markthink commented on #3492
/confirm

[2019-10-13 06:21] markthink commented on #3491
/confirm

[2019-10-13 06:21] markthink commented on #3490
/confirm

[2019-10-13 06:21] markthink commented on #3489
/confirm

[2019-10-13 06:21] markthink commented on #3488
/confirm

[2019-10-13 06:21] markthink commented on #3487
/confirm

[2019-10-13 06:21] markthink commented on #3486
/confirm

[2019-10-13 06:21] markthink commented on #3485
/confirm

[2019-10-13 06:21] markthink commented on #3484
/confirm

[2019-10-13 06:21] markthink commented on #3483
/confirm

[2019-10-13 06:21] markthink commented on #3482
/confirm

[2019-10-13 06:21] markthink commented on #3481
/confirm

[2019-10-13 06:21] markthink commented on #3480
/confirm

[2019-10-13 06:21] markthink commented on #3479
/confirm

[2019-10-13 06:21] markthink commented on #3478
/confirm

[2019-10-13 06:21] markthink commented on #3477
/confirm

[2019-10-13 06:21] markthink commented on #3476
/confirm

[2019-10-13 06:21] markthink commented on #3475
/confirm

[2019-10-13 06:21] markthink commented on #3474
/confirm

[2019-10-13 06:21] markthink commented on #3473
/confirm

[2019-10-13 06:21] markthink commented on #3472
/confirm

[2019-10-13 06:21] markthink commented on #3471
/confirm

[2019-10-13 06:21] markthink commented on #3469
/confirm

[2019-10-13 06:21] markthink commented on #3470
/confirm

[2019-10-13 06:21] markthink commented on #3468
/confirm

[2019-10-13 06:21] markthink commented on #3467
/confirm

[2019-10-13 06:21] markthink commented on #3466
/confirm

[2019-10-13 06:21] markthink commented on #3465
/confirm

[2019-10-13 06:21] markthink commented on #3464
/confirm

[2019-10-13 06:21] markthink commented on #3463
/confirm

[2019-10-13 06:21] markthink commented on #3461
/confirm

[2019-10-13 06:21] markthink commented on #3462
/confirm

[2019-10-13 06:21] markthink commented on #3460
/confirm

[2019-10-13 06:22] markthink commented on #3459
/confirm

[2019-10-13 06:22] markthink commented on #3458
/confirm

[2019-10-13 06:22] markthink commented on #3457
/confirm

[2019-10-13 06:22] markthink commented on #3456
/confirm

[2019-10-13 06:22] markthink commented on #3455
/confirm

[2019-10-13 06:22] markthink commented on #3454
/confirm

[2019-10-13 06:22] markthink commented on #3452
/confirm

[2019-10-13 06:22] markthink commented on #3453
/confirm

[2019-10-13 06:22] markthink commented on #3451
/confirm

[2019-10-13 06:22] markthink commented on #3450
/confirm

[2019-10-13 06:22] markthink commented on #3449
/confirm

[2019-10-13 06:22] markthink commented on #3447
/confirm

[2019-10-13 06:22] markthink commented on #3448
/confirm

[2019-10-13 06:22] markthink commented on #3446
/confirm

[2019-10-13 06:22] markthink commented on #3445
/confirm

[2019-10-13 06:22] markthink commented on #3444
/confirm

[2019-10-13 06:22] markthink commented on #3443
/confirm

[2019-10-13 06:22] markthink commented on #3442
/confirm

[2019-10-13 06:22] markthink commented on #3441
/confirm

[2019-10-13 06:22] markthink commented on #3440
/confirm

[2019-10-13 06:22] markthink commented on #3439
/confirm

[2019-10-13 06:22] markthink commented on #3438
/confirm

[2019-10-13 06:22] markthink commented on #3437
/confirm

[2019-10-13 06:22] markthink commented on #3436
/confirm

[2019-10-13 06:22] markthink commented on #3435
/confirm

[2019-10-13 06:22] markthink commented on #3434
/confirm

[2019-10-13 06:22] markthink commented on #3433
/confirm

[2019-10-13 06:22] markthink commented on #3432
/confirm

[2019-10-13 06:22] markthink commented on #3431
/confirm

[2019-10-13 06:22] markthink commented on #3430
/confirm

[2019-10-13 06:22] markthink commented on #3429
/confirm

[2019-10-13 06:22] markthink commented on #3428
/confirm

[2019-10-13 06:22] markthink commented on #3427
/confirm

[2019-10-13 06:22] markthink commented on #3425
/confirm

[2019-10-13 06:22] markthink commented on #3426
/confirm

[2019-10-13 06:22] markthink commented on #3424
/confirm

[2019-10-13 06:22] markthink commented on #3423
/confirm

[2019-10-13 06:22] markthink commented on #3422
/confirm

[2019-10-13 06:22] markthink commented on #3421
/confirm

[2019-10-13 06:22] markthink commented on #3419
/confirm

[2019-10-13 06:22] markthink commented on #3420
/confirm

[2019-10-13 06:22] markthink commented on #3418
/confirm

[2019-10-13 06:22] markthink commented on #3417
/confirm

[2019-10-13 06:22] markthink commented on #3416
/confirm

[2019-10-13 06:22] markthink commented on #3415
/confirm

[2019-10-13 06:22] markthink commented on #3414
/confirm

[2019-10-13 06:22] markthink commented on #3413
/confirm

[2019-10-13 06:22] markthink commented on #3412
/confirm

[2019-10-13 06:22] markthink commented on #3411
/confirm

[2019-10-13 06:22] markthink commented on #3410
/confirm

[2019-10-13 06:22] markthink commented on #3409
/confirm

[2019-10-13 06:22] markthink commented on #3408
/confirm

[2019-10-13 06:22] markthink commented on #3407
/confirm

[2019-10-13 06:22] markthink commented on #3405
/confirm

[2019-10-13 06:22] markthink commented on #3406
/confirm

[2019-10-13 06:22] markthink commented on #3404
/confirm

[2019-10-13 06:22] markthink commented on #3403
/confirm

[2019-10-13 06:23] markthink commented on #3402
/confirm

[2019-10-13 06:23] markthink commented on #3401
/confirm

[2019-10-13 06:23] markthink commented on #3400
/confirm

[2019-10-13 06:23] markthink commented on #3399
/confirm

[2019-10-13 06:23] markthink commented on #3398
/confirm

[2019-10-13 06:23] markthink commented on #3397
/confirm

[2019-10-13 06:23] markthink commented on #3396
/confirm

[2019-10-13 06:23] markthink commented on #3395
/confirm

[2019-10-13 06:23] markthink commented on #3394
/confirm

[2019-10-13 06:23] markthink commented on #3393
/confirm

[2019-10-13 06:23] markthink commented on #3392
/confirm

[2019-10-13 06:23] markthink commented on #3390
/confirm

[2019-10-13 06:23] markthink commented on #3391
/confirm

[2019-10-13 06:23] markthink commented on #3389
/confirm

[2019-10-13 06:23] markthink commented on #3388
/confirm

[2019-10-13 06:23] markthink commented on #3387
/confirm

[2019-10-13 06:23] markthink commented on #3386
/confirm

[2019-10-13 06:23] markthink commented on #3385
/confirm

[2019-10-13 06:23] markthink commented on #3384
/confirm

[2019-10-13 06:23] markthink commented on #3383
/confirm

[2019-10-13 06:23] markthink commented on #3382
/confirm

[2019-10-13 06:23] markthink commented on #3381
/confirm

[2019-10-13 06:23] markthink commented on #3380
/confirm

[2019-10-13 06:23] markthink commented on #3379
/confirm

[2019-10-13 06:23] markthink commented on #3378
/confirm

[2019-10-13 06:23] markthink commented on #3377
/confirm

[2019-10-13 06:23] markthink commented on #3376
/confirm

[2019-10-13 06:23] markthink commented on #3375
/confirm

[2019-10-13 06:23] markthink commented on #3374
/confirm

[2019-10-13 06:23] markthink commented on #3373
/confirm

[2019-10-13 06:23] markthink commented on #3372
/confirm

[2019-10-13 06:23] markthink commented on #3371
/confirm

[2019-10-13 06:23] markthink commented on #3370
/confirm

[2019-10-13 06:23] markthink commented on #3369
/confirm

[2019-10-13 06:23] markthink commented on #3368
/confirm

[2019-10-13 06:23] markthink commented on #3367
/confirm

[2019-10-13 06:23] markthink commented on #3366
/confirm

[2019-10-13 06:23] markthink commented on #3365
/confirm

[2019-10-13 06:23] markthink commented on #3364
/confirm

[2019-10-13 06:23] markthink commented on #3363
/confirm

[2019-10-13 06:23] markthink commented on #3362
/confirm

[2019-10-13 06:23] markthink commented on #3361
/confirm

[2019-10-13 06:23] markthink commented on #3360
/confirm

[2019-10-13 06:23] markthink commented on #3359
/confirm

[2019-10-13 06:23] markthink commented on #3358
/confirm

[2019-10-13 06:23] markthink commented on #3357
/confirm

[2019-10-13 07:11] markthink commented on #3084
/confirm

[2019-10-13 07:11] markthink commented on #3085
/confirm

[2019-10-13 07:11] markthink commented on #3086
/confirm

[2019-10-13 07:11] markthink commented on #3087
/confirm

[2019-10-13 07:11] markthink commented on #3088
/confirm

[2019-10-13 07:11] markthink commented on #3089
/confirm

[2019-10-13 07:11] markthink commented on #3090
/confirm

[2019-10-13 07:11] markthink commented on #3091
/confirm

[2019-10-13 07:11] markthink commented on #3092
/confirm

[2019-10-13 07:11] markthink commented on #3093
/confirm

[2019-10-13 07:11] markthink commented on #3094
/confirm

[2019-10-13 07:11] markthink commented on #3095
/confirm

[2019-10-13 07:11] markthink commented on #3096
/confirm

[2019-10-13 07:11] markthink commented on #3097
/confirm

[2019-10-13 07:11] markthink commented on #3098
/confirm

[2019-10-13 07:11] markthink commented on #3099
/confirm

[2019-10-13 07:11] markthink commented on #3100
/confirm

[2019-10-13 07:11] markthink commented on #3101
/confirm

[2019-10-13 07:11] markthink commented on #3102
/confirm

[2019-10-13 07:11] markthink commented on #3103
/confirm

[2019-10-13 07:11] markthink commented on #3104
/confirm

[2019-10-13 07:11] markthink commented on #3105
/confirm

[2019-10-13 07:11] markthink commented on #3106
/confirm

[2019-10-13 07:11] markthink commented on #3107
/confirm

[2019-10-13 07:11] markthink commented on #3108
/confirm

[2019-10-13 07:11] markthink commented on #3109
/confirm

[2019-10-13 07:11] markthink commented on #3110
/confirm

[2019-10-13 07:12] markthink commented on #3111
/confirm

[2019-10-13 07:12] markthink commented on #3112
/confirm

[2019-10-13 07:12] markthink commented on #3113
/confirm

[2019-10-13 07:12] markthink commented on #3114
/confirm

[2019-10-13 07:12] markthink commented on #3115
/confirm

[2019-10-13 07:12] markthink commented on #3116
/confirm

[2019-10-13 07:12] markthink commented on #3117
/confirm

[2019-10-13 07:12] markthink commented on #3118
/confirm

[2019-10-13 07:12] markthink commented on #3119
/confirm

[2019-10-13 07:12] markthink commented on #3120
/confirm

[2019-10-13 07:12] markthink commented on #3121
/confirm

[2019-10-13 07:12] markthink commented on #3122
/confirm

[2019-10-13 07:12] markthink commented on #3123
/confirm

[2019-10-13 07:12] markthink commented on #3124
/confirm

[2019-10-13 07:12] markthink commented on #3125
/confirm

[2019-10-13 07:12] markthink commented on #3126
/confirm

[2019-10-13 07:12] markthink commented on #3127
/confirm

[2019-10-13 07:12] markthink commented on #3128
/confirm

[2019-10-13 07:12] markthink commented on #3129
/confirm

[2019-10-13 07:12] markthink commented on #3130
/confirm

[2019-10-13 07:12] markthink commented on #3131
/confirm

[2019-10-13 07:12] markthink commented on #3132
/confirm

[2019-10-13 07:12] markthink commented on #3133
/confirm

[2019-10-13 07:12] markthink commented on #3134
/confirm

[2019-10-13 07:12] markthink commented on #3135
/confirm

[2019-10-13 07:12] markthink commented on #3136
/confirm

[2019-10-13 07:12] markthink commented on #3137
/confirm

[2019-10-13 07:12] markthink commented on #3138
/confirm

[2019-10-13 07:12] markthink commented on #3139
/confirm

[2019-10-13 07:12] markthink commented on #3140
/confirm

[2019-10-13 07:12] markthink commented on #3141
/confirm

[2019-10-13 07:12] markthink commented on #3142
/confirm

[2019-10-13 07:12] markthink commented on #3143
/confirm

[2019-10-13 07:12] markthink commented on #3144
/confirm

[2019-10-13 07:12] markthink commented on #3145
/confirm

[2019-10-13 07:12] markthink commented on #3146
/confirm

[2019-10-13 07:12] markthink commented on #3147
/confirm

[2019-10-13 07:12] markthink commented on #3148
/confirm

[2019-10-13 07:12] markthink commented on #3149
/confirm

[2019-10-13 07:12] markthink commented on #3150
/confirm

[2019-10-13 07:12] markthink commented on #3151
/confirm

[2019-10-13 07:12] markthink commented on #3152
/confirm

[2019-10-13 07:12] markthink commented on #3153
/confirm

[2019-10-13 07:12] markthink commented on #3154
/confirm

[2019-10-13 07:12] markthink commented on #3155
/confirm

[2019-10-13 07:12] markthink commented on #3156
/confirm

[2019-10-13 07:12] markthink commented on #3157
/confirm

[2019-10-13 07:12] markthink commented on #3158
/confirm

[2019-10-13 07:12] markthink commented on #3159
/confirm

[2019-10-13 07:12] markthink commented on #3160
/confirm

[2019-10-13 07:12] markthink commented on #3161
/confirm

[2019-10-13 07:12] markthink commented on #3162
/confirm

[2019-10-13 07:12] markthink commented on #3163
/confirm

[2019-10-13 07:22] markthink commented on #3106
/confirm

[2019-10-13 07:23] markthink commented on #3084
/confirm

[2019-10-13 07:23] markthink commented on #3085
/confirm

[2019-10-13 07:23] markthink commented on #3086
/confirm

[2019-10-13 07:23] markthink commented on #3087
/confirm

[2019-10-13 07:23] markthink commented on #3088
/confirm

[2019-10-13 07:23] markthink commented on #3089
/confirm

[2019-10-13 07:23] markthink commented on #3090
/confirm

[2019-10-13 07:23] markthink commented on #3091
/confirm

[2019-10-13 07:23] markthink commented on #3092
/confirm

[2019-10-13 07:23] markthink commented on #3093
/confirm

[2019-10-13 07:23] markthink commented on #3094
/confirm

[2019-10-13 07:23] markthink commented on #3095
/confirm

[2019-10-13 07:23] markthink commented on #3096
/confirm

[2019-10-13 07:23] markthink commented on #3097
/confirm

[2019-10-13 07:23] markthink commented on #3098
/confirm

[2019-10-13 07:23] markthink commented on #3099
/confirm

[2019-10-13 07:23] markthink commented on #3100
/confirm

[2019-10-13 07:23] markthink commented on #3101
/confirm

[2019-10-13 07:23] markthink commented on #3102
/confirm

[2019-10-13 07:23] markthink commented on #3103
/confirm

[2019-10-13 07:23] markthink commented on #3104
/confirm

[2019-10-13 07:23] markthink commented on #3105
/confirm

[2019-10-13 07:23] markthink commented on #3107
/confirm

[2019-10-13 07:23] markthink commented on #3108
/confirm

[2019-10-13 07:24] markthink commented on #3109
/confirm

[2019-10-13 07:24] markthink commented on #3110
/confirm

[2019-10-13 07:24] markthink commented on #3111
/confirm

[2019-10-13 07:24] markthink commented on #3112
/confirm

[2019-10-13 07:24] markthink commented on #3113
/confirm

[2019-10-13 07:24] markthink commented on #3114
/confirm

[2019-10-13 07:24] markthink commented on #3115
/confirm

[2019-10-13 07:24] markthink commented on #3116
/confirm

[2019-10-13 07:24] markthink commented on #3117
/confirm

[2019-10-13 07:24] markthink commented on #3118
/confirm

[2019-10-13 07:24] markthink commented on #3119
/confirm

[2019-10-13 07:24] markthink commented on #3120
/confirm

[2019-10-13 07:24] markthink commented on #3121
/confirm

[2019-10-13 07:24] markthink commented on #3122
/confirm

[2019-10-13 07:24] markthink commented on #3123
/confirm

[2019-10-13 07:24] markthink commented on #3124
/confirm

[2019-10-13 07:24] markthink commented on #3125
/confirm

[2019-10-13 07:24] markthink commented on #3126
/confirm

[2019-10-13 07:24] markthink commented on #3127
/confirm

[2019-10-13 07:24] markthink commented on #3128
/confirm

[2019-10-13 07:24] markthink commented on #3129
/confirm

[2019-10-13 07:24] markthink commented on #3130
/confirm

[2019-10-13 07:24] markthink commented on #3131
/confirm

[2019-10-13 07:24] markthink commented on #3132
/confirm

[2019-10-13 07:24] markthink commented on #3133
/confirm

[2019-10-13 07:24] markthink commented on #3134
/confirm

[2019-10-13 07:24] markthink commented on #3135
/confirm

[2019-10-13 07:24] markthink commented on #3164
/confirm

[2019-10-13 07:24] markthink commented on #3165
/confirm

[2019-10-13 07:24] markthink commented on #3166
/confirm

[2019-10-13 07:24] markthink commented on #3167
/confirm

[2019-10-13 07:24] markthink commented on #3168
/confirm

[2019-10-13 07:24] markthink commented on #3169
/confirm

[2019-10-13 07:24] markthink commented on #3170
/confirm

[2019-10-13 07:24] markthink commented on #3171
/confirm

[2019-10-13 07:24] markthink commented on #3172
/confirm

[2019-10-13 07:24] markthink commented on #3173
/confirm

[2019-10-13 07:24] markthink commented on #3174
/confirm

[2019-10-13 07:24] markthink commented on #3175
/confirm

[2019-10-13 07:24] markthink commented on #3176
/confirm

[2019-10-13 07:24] markthink commented on #3177
/confirm

[2019-10-13 07:24] markthink commented on #3178
/confirm

[2019-10-13 07:24] markthink commented on #3179
/confirm

[2019-10-13 07:24] markthink commented on #3180
/confirm

[2019-10-13 07:24] markthink commented on #3181
/confirm

[2019-10-13 07:24] markthink commented on #3182
/confirm

[2019-10-13 07:24] markthink commented on #3183
/confirm

[2019-10-13 07:24] markthink commented on #3184
/confirm

[2019-10-13 07:24] markthink commented on #3185
/confirm

[2019-10-13 07:24] markthink commented on #3186
/confirm

[2019-10-13 07:24] markthink commented on #3187
/confirm

[2019-10-13 07:24] markthink commented on #3188
/confirm

[2019-10-13 07:24] markthink commented on #3189
/confirm

[2019-10-13 07:24] markthink commented on #3190
/confirm

[2019-10-13 07:24] markthink commented on #3191
/confirm

[2019-10-13 07:24] markthink commented on #3192
/confirm

[2019-10-13 07:33] markthink commented on #3178
/confirm

[2019-10-13 07:33] markthink commented on #3179
/confirm

[2019-10-13 07:33] markthink commented on #3180
/confirm

[2019-10-13 07:33] markthink commented on #3181
/confirm

[2019-10-13 07:33] markthink commented on #3182
/confirm

[2019-10-13 07:33] markthink commented on #3183
/confirm

[2019-10-13 07:33] markthink commented on #3184
/confirm

[2019-10-13 07:33] markthink commented on #3185
/confirm

[2019-10-13 07:33] markthink commented on #3186
/confirm

[2019-10-13 07:33] markthink commented on #3187
/confirm

[2019-10-13 07:33] markthink commented on #3188
/confirm

[2019-10-13 07:33] markthink commented on #3189
/confirm

[2019-10-13 07:33] markthink commented on #3190
/confirm

[2019-10-13 07:33] markthink commented on #3191
/confirm

[2019-10-13 07:33] markthink commented on #3192
/confirm

[2019-10-13 07:33] markthink commented on #3193
/confirm

[2019-10-13 07:33] markthink commented on #3194
/confirm

[2019-10-13 07:33] markthink commented on #3195
/confirm

[2019-10-13 07:33] markthink commented on #3196
/confirm

[2019-10-13 07:33] markthink commented on #3197
/confirm

[2019-10-13 07:33] markthink commented on #3198
/confirm

[2019-10-13 07:33] markthink commented on #3199
/confirm

[2019-10-13 07:33] markthink commented on #3200
/confirm

[2019-10-13 07:33] markthink commented on #3201
/confirm

[2019-10-13 07:33] markthink commented on #3202
/confirm

[2019-10-13 07:33] markthink commented on #3203
/confirm

[2019-10-13 07:33] markthink commented on #3204
/confirm

[2019-10-13 07:33] markthink commented on #3205
/confirm

[2019-10-13 07:33] markthink commented on #3206
/confirm

[2019-10-13 07:33] markthink commented on #3207
/confirm

[2019-10-13 07:33] markthink commented on #3208
/confirm

[2019-10-13 07:33] markthink commented on #3209
/confirm

[2019-10-13 07:33] markthink commented on #3210
/confirm

[2019-10-13 07:33] markthink commented on #3211
/confirm

[2019-10-13 07:33] markthink commented on #3212
/confirm

[2019-10-13 07:33] markthink commented on #3213
/confirm

[2019-10-13 07:33] markthink commented on #3214
/confirm

[2019-10-13 07:33] markthink commented on #3215
/confirm

[2019-10-13 07:33] markthink commented on #3216
/confirm

[2019-10-13 07:33] markthink commented on #3217
/confirm

[2019-10-13 07:33] markthink commented on #3218
/confirm

[2019-10-13 07:33] markthink commented on #3219
/confirm

[2019-10-13 07:33] markthink commented on #3220
/confirm

[2019-10-13 07:33] markthink commented on #3221
/confirm

[2019-10-13 07:33] markthink commented on #3222
/confirm

[2019-10-13 07:33] markthink commented on #3223
/confirm

[2019-10-13 07:33] markthink commented on #3224
/confirm

[2019-10-13 07:33] markthink commented on #3225
/confirm

[2019-10-13 07:33] markthink commented on #3226
/confirm

[2019-10-13 07:33] markthink commented on #3227
/confirm

[2019-10-13 07:33] markthink commented on #3228
/confirm

[2019-10-13 07:33] markthink commented on #3229
/confirm

[2019-10-13 07:33] markthink commented on #3230
/confirm

[2019-10-13 07:33] markthink commented on #3231
/confirm

[2019-10-13 07:33] markthink commented on #3232
/confirm

[2019-10-13 07:33] markthink commented on #3233
/confirm

[2019-10-13 07:33] markthink commented on #3234
/confirm

[2019-10-13 07:33] markthink commented on #3235
/confirm

[2019-10-13 07:33] markthink commented on #3236
/confirm

[2019-10-13 07:34] markthink commented on #3237
/confirm

[2019-10-13 07:34] markthink commented on #3238
/confirm

[2019-10-13 07:34] markthink commented on #3239
/confirm

[2019-10-13 07:34] markthink commented on #3240
/confirm

[2019-10-13 07:34] markthink commented on #3241
/confirm

[2019-10-13 07:34] markthink commented on #3242
/confirm

[2019-10-13 07:34] markthink commented on #3243
/confirm

[2019-10-13 07:34] markthink commented on #3244
/confirm

[2019-10-13 07:34] markthink commented on #3245
/confirm

[2019-10-13 07:34] markthink commented on #3246
/confirm

[2019-10-13 07:34] markthink commented on #3247
/confirm

[2019-10-13 07:34] markthink commented on #3248
/confirm

[2019-10-13 07:34] markthink commented on #3249
/confirm

[2019-10-13 07:34] markthink commented on #3250
/confirm

[2019-10-13 07:34] markthink commented on #3251
/confirm

[2019-10-13 07:34] markthink commented on #3252
/confirm

[2019-10-13 07:34] markthink commented on #3253
/confirm

[2019-10-13 07:34] markthink commented on #3254
/confirm

[2019-10-13 07:34] markthink commented on #3255
/confirm

[2019-10-13 07:34] markthink commented on #3256
/confirm

[2019-10-13 07:34] markthink commented on #3257
/confirm

[2019-10-13 07:35] markthink commented on #3240
/confirm

[2019-10-13 07:35] markthink commented on #3241
/confirm

[2019-10-13 07:35] markthink commented on #3242
/confirm

[2019-10-13 07:35] markthink commented on #3243
/confirm

[2019-10-13 07:36] markthink commented on #3244
/confirm

[2019-10-13 07:36] markthink commented on #3245
/confirm

[2019-10-13 07:36] markthink commented on #3246
/confirm

[2019-10-13 07:36] markthink commented on #3247
/confirm

[2019-10-13 07:36] markthink commented on #3248
/confirm

[2019-10-13 07:36] markthink commented on #3249
/confirm

[2019-10-13 07:36] markthink commented on #3250
/confirm

[2019-10-13 07:36] markthink commented on #3251
/confirm

[2019-10-13 07:36] markthink commented on #3252
/confirm

[2019-10-13 07:36] markthink commented on #3253
/confirm

[2019-10-13 07:36] markthink commented on #3254
/confirm

[2019-10-13 07:36] markthink commented on #3255
/confirm

[2019-10-13 07:36] markthink commented on #3256
/confirm

[2019-10-13 07:36] markthink commented on #3257
/confirm

[2019-10-13 07:36] markthink commented on #3258
/confirm

[2019-10-13 07:36] markthink commented on #3259
/confirm

[2019-10-13 07:36] markthink commented on #3260
/confirm

[2019-10-13 07:36] markthink commented on #3261
/confirm

[2019-10-13 07:36] markthink commented on #3262
/confirm

[2019-10-13 07:36] markthink commented on #3263
/confirm

[2019-10-13 07:36] markthink commented on #3264
/confirm

[2019-10-13 07:36] markthink commented on #3265
/confirm

[2019-10-13 07:36] markthink commented on #3266
/confirm

[2019-10-13 07:36] markthink commented on #3267
/confirm

[2019-10-13 07:36] markthink commented on #3268
/confirm

[2019-10-13 07:36] markthink commented on #3269
/confirm

[2019-10-13 07:36] markthink commented on #3270
/confirm

[2019-10-13 07:36] markthink commented on #3271
/confirm

[2019-10-13 07:36] markthink commented on #3272
/confirm

[2019-10-13 07:36] markthink commented on #3273
/confirm

[2019-10-13 07:36] markthink commented on #3274
/confirm

[2019-10-13 07:36] markthink commented on #3275
/confirm

[2019-10-13 07:36] markthink commented on #3276
/confirm

[2019-10-13 07:36] markthink commented on #3277
/confirm

[2019-10-13 07:36] markthink commented on #3278
/confirm

[2019-10-13 07:36] markthink commented on #3279
/confirm

[2019-10-13 07:36] markthink commented on #3280
/confirm

[2019-10-13 07:36] markthink commented on #3281
/confirm

[2019-10-13 07:36] markthink commented on #3282
/confirm

[2019-10-13 07:36] markthink commented on #3283
/confirm

[2019-10-13 07:36] markthink commented on #3284
/confirm

[2019-10-13 07:36] markthink commented on #3285
/confirm

[2019-10-13 07:36] markthink commented on #3286
/confirm

[2019-10-13 07:36] markthink commented on #3353
/confirm

[2019-10-13 07:36] markthink commented on #3354
/confirm

[2019-10-13 07:36] markthink commented on #3355
/confirm

[2019-10-13 07:36] markthink commented on #3356
/confirm

[2019-10-13 07:36] markthink commented on #3357
/confirm

[2019-10-13 07:36] markthink commented on #3358
/confirm

[2019-10-13 07:36] markthink commented on #3359
/confirm

[2019-10-13 07:46] tanjunchen commented on #3547
/accept

[2019-10-13 07:46] markthink commented on #3547
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-13 07:49] tanjunchen commented on #3535
/accept

[2019-10-13 07:49] markthink commented on #3535
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-13 07:50] tanjunchen commented on #3549
/accept

[2019-10-13 07:50] markthink commented on #3549
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-13 09:58] jiaj12 commented on #3649
/accept

[2019-10-13 09:58] markthink commented on #3649
Thank you @jiaj12, this issue had been assigned to you.

[2019-10-13 09:59] jiaj12 commented on #3648
/accept

[2019-10-13 09:59] markthink commented on #3648
Thank you @jiaj12, this issue had been assigned to you.

[2019-10-13 10:00] jiaj12 commented on #3646
/accept

[2019-10-13 10:00] markthink commented on #3646
Thank you @jiaj12, this issue had been assigned to you.

[2019-10-13 10:01] jiaj12 commented on #3643
/accept

[2019-10-13 10:01] markthink commented on #3643
Thank you @jiaj12, this issue had been assigned to you.

[2019-10-13 10:02] jiaj12 commented on #3640
/accept

[2019-10-13 10:02] markthink commented on #3640
Thank you @jiaj12, this issue had been assigned to you.

[2019-10-13 10:03] jiaj12 commented on #3629
/accept

[2019-10-13 10:04] markthink commented on #3629
Thank you @jiaj12, this issue had been assigned to you.

[2019-10-13 10:04] jiaj12 commented on #3628
/accept

[2019-10-13 10:04] markthink commented on #3628
Thank you @jiaj12, this issue had been assigned to you.

[2019-10-13 10:06] jiaj12 commented on #3627
/accept

[2019-10-13 10:06] markthink commented on #3627
Thank you @jiaj12, this issue had been assigned to you.

[2019-10-13 10:09] zhangx501 commented on #3644
/accept

[2019-10-13 10:09] markthink commented on #3644
Thank you @zhangx501, this issue had been assigned to you.

[2019-10-13 10:13] zhangx501 commented on #3630
/accept

[2019-10-13 10:13] markthink commented on #3630
Thank you @zhangx501, this issue had been assigned to you.

[2019-10-13 10:16] zhangx501 commented on #3623
/accept

[2019-10-13 10:16] markthink commented on #3623
Thank you @zhangx501, this issue had been assigned to you.

[2019-10-13 10:17] zhangx501 commented on #3620
/accept

[2019-10-13 10:17] markthink commented on #3620
Thank you @zhangx501, this issue had been assigned to you.

[2019-10-13 10:18] zhangx501 commented on #3621
/accept

[2019-10-13 10:18] markthink commented on #3621
Thank you @zhangx501, this issue had been assigned to you.

[2019-10-13 10:20] tanjunchen commented on #3549
/pushed

[2019-10-13 10:20] tanjunchen commented on #3547
/pushed

[2019-10-13 10:22] zhangx501 commented on #3607
/accept

[2019-10-13 10:22] markthink commented on #3607
Thank you @zhangx501, this issue had been assigned to you.

[2019-10-13 10:23] zhangx501 commented on #3605
/accept

[2019-10-13 10:23] markthink commented on #3605
Thank you @zhangx501, this issue had been assigned to you.

[2019-10-13 10:24] zhangx501 commented on #3602
/accept

[2019-10-13 10:24] markthink commented on #3602
Thank you @zhangx501, this issue had been assigned to you.

[2019-10-13 10:26] zhangx501 commented on #3601
/accept

[2019-10-13 10:26] markthink commented on #3601
Sorry @zhangx501, only 8 issues can be accepted by the same user.

[2019-10-13 12:19] tanjunchen commented on #3535
/pushed

[2019-10-13 12:28] tanjunchen commented on #3546
/accept

[2019-10-13 12:29] markthink commented on #3546
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-13 12:29] tanjunchen commented on #3545
/accept

[2019-10-13 12:29] markthink commented on #3545
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-13 12:29] tanjunchen commented on #3544
/accept

[2019-10-13 12:29] markthink commented on #3544
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-13 12:29] tanjunchen commented on #3543
/accept

[2019-10-13 12:30] markthink commented on #3543
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-13 12:30] tanjunchen commented on #3542
/accept

[2019-10-13 12:30] markthink commented on #3542
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-13 12:30] tanjunchen commented on #3548
/accept

[2019-10-13 12:31] markthink commented on #3548
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-13 12:31] tanjunchen commented on #3552
/accept

[2019-10-13 12:31] markthink commented on #3552
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-13 12:32] tanjunchen commented on #3551
/accept

[2019-10-13 12:32] markthink commented on #3551
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-13 12:32] tanjunchen commented on #3550
/accept

[2019-10-13 12:32] markthink commented on #3550
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-10-13 12:32] markthink commented on #3550
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-10-13 15:07] tanjunchen commented on #3552
/pushed

[2019-10-13 15:08] tanjunchen commented on #3551
/pushed

[2019-10-13 15:08] tanjunchen commented on #3550
/accept

[2019-10-13 15:09] markthink commented on #3550
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-13 15:09] tanjunchen commented on #3550
/pushed

[2019-10-13 16:46] tanjunchen commented on #3548
/pushed

[2019-10-13 17:02] tanjunchen commented on #3546
/pushed

[2019-10-13 17:03] tanjunchen commented on #3541
/accept

[2019-10-13 17:03] markthink commented on #3541
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-13 17:03] tanjunchen commented on #3540
/accept

[2019-10-13 17:03] markthink commented on #3540
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-14 00:49] congfairy commented on #3639
/accept

[2019-10-14 00:49] markthink commented on #3639
Thank you @congfairy, this issue had been assigned to you.

[2019-10-14 00:50] congfairy commented on #3638
/accept

[2019-10-14 00:50] markthink commented on #3638
Thank you @congfairy, this issue had been assigned to you.

[2019-10-14 00:51] congfairy commented on #3637
/accept

[2019-10-14 00:51] congfairy commented on #3636
/accept

[2019-10-14 00:51] markthink commented on #3637
Thank you @congfairy, this issue had been assigned to you.

[2019-10-14 00:51] congfairy commented on #3635
/accept

[2019-10-14 00:51] markthink commented on #3636
Thank you @congfairy, this issue had been assigned to you.

[2019-10-14 00:51] markthink commented on #3635
Thank you @congfairy, this issue had been assigned to you.

[2019-10-14 00:51] congfairy commented on #3634
/accept

[2019-10-14 00:52] markthink commented on #3634
Thank you @congfairy, this issue had been assigned to you.

[2019-10-14 00:52] congfairy commented on #3633
/accept

[2019-10-14 00:52] markthink commented on #3633
Thank you @congfairy, this issue had been assigned to you.

[2019-10-14 01:14] TongHan0389 commented on #3641
/accept

[2019-10-14 01:14] markthink commented on #3641
Thank you @ten2ton, this issue had been assigned to you.

[2019-10-14 06:29] jiazxjason commented on #3536
/accept

[2019-10-14 06:29] markthink commented on #3536
Thank you @jiazxjason, this issue had been assigned to you.

[2019-10-14 07:13] jiazxjason commented on #3536
/pushed

[2019-10-14 07:19] congfairy commented on #3625
/accept

[2019-10-14 07:19] markthink commented on #3625
Thank you @congfairy, this issue had been assigned to you.

[2019-10-14 07:26] jiaj12 commented on #3649
/pushed

[2019-10-14 07:28] jiaj12 commented on #3648
/pushed

[2019-10-14 07:29] jiaj12 commented on #3648
1.14 1.16 原文没有区别

[2019-10-14 07:34] jiaj12 commented on #3646
1.14 1.16没有区别，译文已有其他人上传

[2019-10-14 07:34] jiaj12 commented on #3646
/pushed

[2019-10-14 07:35] jiazxjason commented on #3569
/accept

[2019-10-14 07:35] markthink commented on #3569
Thank you @jiazxjason, this issue had been assigned to you.

[2019-10-14 08:16] zhangx501 commented on #3644
/pushed

[2019-10-14 08:18] xichengliudui commented on #3574
/pushed

[2019-10-14 08:18] #3574 closed, assigned to nobody

[2019-10-14 08:18] markthink commented on #3574
Sorry @xichengliudui, only issues with special values ('translating') can be accepted.

[2019-10-14 08:36] xichengliudui commented on #3573
pushed

[2019-10-14 08:36] #3573 closed, assigned to nobody

[2019-10-14 08:51] xichengliudui commented on #3642
pushed

[2019-10-14 09:03] xichengliudui commented on #3624
/pushed

[2019-10-14 09:03] #3624 closed, assigned to nobody

[2019-10-14 09:03] markthink commented on #3624
Sorry @xichengliudui, only issues with special values ('translating') can be accepted.

[2019-10-14 09:08] xichengliudui commented on #3622
pushed

[2019-10-14 09:08] #3622 closed, assigned to nobody

[2019-10-14 09:09] xichengliudui commented on #3619
/pushed

[2019-10-14 09:09] #3619 closed, assigned to nobody

[2019-10-14 09:09] markthink commented on #3619
Sorry @xichengliudui, only issues with special values ('translating') can be accepted.

[2019-10-14 09:22] xichengliudui commented on #3613
pushed

[2019-10-14 09:22] #3613 closed, assigned to nobody

[2019-10-14 09:29] tanjunchen commented on #3547
/merged

[2019-10-14 09:29] #3547 closed, assigned to tanjunchen

[2019-10-14 09:29] tanjunchen commented on #3546
/merged

[2019-10-14 09:29] #3546 closed, assigned to tanjunchen

[2019-10-14 09:30] tanjunchen commented on #3552
/merged

[2019-10-14 09:30] xichengliudui commented on #3585
pushed

[2019-10-14 09:30] #3585 closed, assigned to nobody

[2019-10-14 09:32] tanjunchen commented on #3552
/merged

[2019-10-14 09:33] #3552 closed, assigned to tanjunchen

[2019-10-14 09:33] tanjunchen commented on #3559
/accept

[2019-10-14 09:33] markthink commented on #3559
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-14 09:34] tanjunchen commented on #3558
/accept

[2019-10-14 09:34] markthink commented on #3558
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-14 09:34] tanjunchen commented on #3557
/accept

[2019-10-14 09:34] markthink commented on #3557
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-10-14 09:47] #3642 closed, assigned to nobody

[2019-10-14 10:01] tanjunchen commented on #3554
/accept

[2019-10-14 10:01] markthink commented on #3554
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-10-14 10:03] yuxiaobo96 commented on #3616
/accept

[2019-10-14 10:03] markthink commented on #3616
Thank you @yuxiaobo96, this issue had been assigned to you.

[2019-10-14 10:05] yuxiaobo96 commented on #3598
/accept

[2019-10-14 10:05] markthink commented on #3598
Thank you @yuxiaobo96, this issue had been assigned to you.

[2019-10-14 10:05] yuxiaobo96 commented on #3597
/accept

[2019-10-14 10:05] markthink commented on #3597
Thank you @yuxiaobo96, this issue had been assigned to you.

[2019-10-14 10:17] tanjunchen commented on #3542
/pushed

[2019-10-14 13:08] tanjunchen commented on #3543
/pushed

[2019-10-14 13:28] tanjunchen commented on #3544
/pushed

[2019-10-14 13:28] tanjunchen commented on #3545
/pushed

[2019-10-14 13:33] zhangx501 commented on #3623
/pushed

[2019-10-14 14:01] zhangx501 commented on #3621
/pushed

[2019-10-14 14:29] zhangx501 commented on #3620
/pushed

[2019-10-14 14:49] tanjunchen commented on #3557
/accept

[2019-10-14 14:49] markthink commented on #3557
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-14 14:49] tanjunchen commented on #3556
/accept

[2019-10-14 14:49] markthink commented on #3556
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-14 14:50] tanjunchen commented on #3555
/accept

[2019-10-14 14:50] markthink commented on #3555
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-14 14:51] tanjunchen commented on #3554
/accept

[2019-10-14 14:51] markthink commented on #3554
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-14 14:51] tanjunchen commented on #3553
/accept

[2019-10-14 14:51] markthink commented on #3553
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-10-14 15:36] tanjunchen commented on #3557
/pushed

[2019-10-14 16:00] tanjunchen commented on #3558
/pushed

[2019-10-14 16:23] tanjunchen commented on #3556
/pushed

[2019-10-15 01:26] tanjunchen commented on #3593
/accept

[2019-10-15 01:26] markthink commented on #3593
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-15 01:26] tanjunchen commented on #3592
/accept

[2019-10-15 01:26] markthink commented on #3592
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-15 01:26] tanjunchen commented on #3591
/accept

[2019-10-15 01:26] markthink commented on #3591
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-15 03:10] jiazxjason commented on #3569
/pushed

[2019-10-15 03:14] yuxiaobo96 commented on #3616
/cc @markthink

I found that these documents have been translated.
 #3616 #3598 #3597

[2019-10-15 03:20] yuxiaobo96 commented on #3457
/accept

[2019-10-15 03:21] markthink commented on #3457
Thank you @yuxiaobo96, this issue had been assigned to you.

[2019-10-15 03:22] yuxiaobo96 commented on #3423
/accept

[2019-10-15 03:22] markthink commented on #3423
Thank you @yuxiaobo96, this issue had been assigned to you.

[2019-10-15 03:23] yuxiaobo96 commented on #3408
/accept

[2019-10-15 03:23] markthink commented on #3408
Thank you @yuxiaobo96, this issue had been assigned to you.

[2019-10-15 03:39] zhangx501 commented on #3630
/pushed

[2019-10-15 06:40] TongHan0389 commented on #3506
/accept

[2019-10-15 06:40] markthink commented on #3506
Thank you @ten2ton, this issue had been assigned to you.

[2019-10-15 06:48] TongHan0389 commented on #3506
Lucky!This task has been translated.

[2019-10-15 06:49] ten2ton commented on #3506
/merged

[2019-10-15 06:49] markthink commented on #3506
Sorry @ten2ton, only issues with special values ('pushed') can be accepted.

[2019-10-15 06:51] markthink commented on #3506
Sorry @ten2ton, only issues with special values ('pushed') can be accepted.

[2019-10-15 06:51] TongHan0389 commented on #3506
/pushed

[2019-10-15 06:51] TongHan0389 commented on #3506
/merged

[2019-10-15 06:51] #3506 closed, assigned to ten2ton

[2019-10-15 06:53] TongHan0389 commented on #3505
This task has been translated.

[2019-10-15 06:54] TongHan0389 commented on #3503
This task has been translated.

[2019-10-15 06:55] TongHan0389 commented on #3513
This task has been translated.

[2019-10-15 06:56] TongHan0389 commented on #3514
This task has been translated.

[2019-10-15 06:57] TongHan0389 commented on #3504
/accept

[2019-10-15 06:57] markthink commented on #3504
Thank you @ten2ton, this issue had been assigned to you.

[2019-10-15 07:31] jiaj12 commented on #3643
/pushed

[2019-10-15 07:41] jiaj12 commented on #3629
/pushed

[2019-10-15 07:57] jiaj12 commented on #3628
/pushed

[2019-10-15 08:03] jiaj12 commented on #3627
/pushed

[2019-10-15 08:41] zhangx501 commented on #3607
/pushed

[2019-10-15 08:56] zhangx501 commented on #3605
/pushed

[2019-10-15 08:57] jiaj12 commented on #3649
/merged

[2019-10-15 08:57] #3649 closed, assigned to jiaj12

[2019-10-15 08:58] jiaj12 commented on #3643
/merged

[2019-10-15 08:58] #3643 closed, assigned to jiaj12

[2019-10-15 08:58] jiaj12 commented on #3640
/merged

[2019-10-15 08:58] markthink commented on #3640
Sorry @jiaj12, only issues with special values ('pushed') can be accepted.

[2019-10-15 08:59] jiaj12 commented on #3629
/merged

[2019-10-15 08:59] jiaj12 commented on #3628
/merged

[2019-10-15 08:59] #3629 closed, assigned to jiaj12

[2019-10-15 08:59] #3628 closed, assigned to jiaj12

[2019-10-15 08:59] jiaj12 commented on #3627
/merged

[2019-10-15 09:00] #3627 closed, assigned to jiaj12

[2019-10-15 10:29] tanjunchen commented on #3544
/merged

[2019-10-15 10:29] #3544 closed, assigned to tanjunchen

[2019-10-15 10:31] tanjunchen commented on #3540
/merged

[2019-10-15 10:31] markthink commented on #3540
Sorry @tanjunchen, only issues with special values ('pushed') can be accepted.

[2019-10-15 10:37] tanjunchen commented on #3542
/merged

[2019-10-15 10:37] #3542 closed, assigned to tanjunchen

[2019-10-15 10:38] tanjunchen commented on #3545
/merged

[2019-10-15 10:38] #3545 closed, assigned to tanjunchen

[2019-10-15 10:38] tanjunchen commented on #3548
/merged

[2019-10-15 10:39] #3548 closed, assigned to tanjunchen

[2019-10-15 10:39] tanjunchen commented on #3549
/merged

[2019-10-15 10:39] #3549 closed, assigned to tanjunchen

[2019-10-15 10:40] tanjunchen commented on #3549
/merged

[2019-10-15 10:40] markthink commented on #3549
Sorry @tanjunchen, only issues with special values ('pushed') can be accepted.

[2019-10-15 10:44] tanjunchen commented on #3558
/merged

[2019-10-15 10:44] tanjunchen commented on #3557
/merged

[2019-10-15 10:44] #3557 closed, assigned to tanjunchen

[2019-10-15 10:44] tanjunchen commented on #3556
/merged

[2019-10-15 10:45] #3556 closed, assigned to tanjunchen

[2019-10-15 10:45] tanjunchen commented on #3543
/merged

[2019-10-15 10:45] #3543 closed, assigned to tanjunchen

[2019-10-15 10:51] tanjunchen commented on #3558
/merged

[2019-10-15 10:51] markthink commented on #3558
Sorry @tanjunchen, only issues with special values ('pushed') can be accepted.

[2019-10-15 10:52] tanjunchen commented on #3558
/pushed

[2019-10-15 10:52] markthink commented on #3558
Sorry @tanjunchen, only issues with special values ('translating') can be accepted.

[2019-10-15 10:54] tanjunchen commented on #3558
/accept

[2019-10-15 10:54] markthink commented on #3558
Sorry @tanjunchen, only issues with special values ('pending') can be accepted.

[2019-10-15 10:54] tanjunchen commented on #3558
/merged

[2019-10-15 10:55] markthink commented on #3558
Sorry @tanjunchen, only issues with special values ('pushed') can be accepted.

[2019-10-15 10:55] tanjunchen commented on #3558
/pushed

[2019-10-15 10:55] markthink commented on #3558
Sorry @tanjunchen, only issues with special values ('translating') can be accepted.

[2019-10-15 12:18] zhangx501 commented on #3644
/merged

[2019-10-15 12:18] #3644 closed, assigned to zhangx501

[2019-10-15 12:19] zhangx501 commented on #3630
/merged

[2019-10-15 12:19] #3630 closed, assigned to zhangx501

[2019-10-15 12:20] zhangx501 commented on #3623
/merged

[2019-10-15 12:20] #3623 closed, assigned to zhangx501

[2019-10-15 12:20] zhangx501 commented on #3621
/pushed

[2019-10-15 12:20] markthink commented on #3621
Sorry @zhangx501, only issues with special values ('translating') can be accepted.

[2019-10-15 12:21] zhangx501 commented on #3621
/merged

[2019-10-15 12:21] #3621 closed, assigned to zhangx501

[2019-10-15 12:21] zhangx501 commented on #3620
/merged

[2019-10-15 12:21] #3620 closed, assigned to zhangx501

[2019-10-15 12:22] zhangx501 commented on #3607
/merged

[2019-10-15 12:22] #3607 closed, assigned to zhangx501

[2019-10-15 12:23] zhangx501 commented on #3605
/merged

[2019-10-15 12:23] #3605 closed, assigned to zhangx501

[2019-10-15 12:57] markthink commented on #3558
/close

[2019-10-15 12:59] #3558 closed, assigned to tanjunchen

[2019-10-16 09:56] yuxiaobo96 commented on #3457
/pushed

[2019-10-17 01:52] hwdef commented on #3610
/accept

[2019-10-17 01:52] markthink commented on #3610
Thank you @hwdef, this issue had been assigned to you.

[2019-10-17 02:03] hwdef commented on #3610
/pushed

[2019-10-17 02:08] hwdef commented on #3611
/accept

[2019-10-17 02:08] markthink commented on #3611
Thank you @hwdef, this issue had been assigned to you.

[2019-10-17 03:14] Sophy417 commented on #2260
/merged

[2019-10-17 03:14] markthink commented on #2260
Sorry @Sophy417, only active issues can be accepted.

[2019-10-17 06:52] zhangx501 commented on #3121
/accept

[2019-10-17 06:52] markthink commented on #3121
Thank you @zhangx501, this issue had been assigned to you.

[2019-10-17 07:38] tanjunchen commented on #3593
/pushed

[2019-10-17 07:40] tanjunchen commented on #3591
/pushed

[2019-10-17 07:40] tanjunchen commented on #3592
/pushed

[2019-10-17 13:58] markthink commented on #3540
Sorry @tanjunchen, only issues with special values ('pushed') can be accepted.

[2019-10-17 16:31] tanjunchen commented on #3540
/pushed

[2019-10-18 01:57] yuxiaobo96 commented on #3597
/pushed

[2019-10-18 01:58] yuxiaobo96 commented on #3597
/merged

[2019-10-18 01:58] #3597 closed, assigned to yuxiaobo96

[2019-10-18 01:59] yuxiaobo96 commented on #3616
/push

[2019-10-18 02:00] yuxiaobo96 commented on #3616
/pushed

[2019-10-18 02:00] yuxiaobo96 commented on #3616
/merged

[2019-10-18 02:00] #3616 closed, assigned to yuxiaobo96

[2019-10-18 02:01] yuxiaobo96 commented on #3598
/pushed

[2019-10-18 02:01] yuxiaobo96 commented on #3598
/merged

[2019-10-18 02:01] yuxiaobo96 commented on #3598
/merged

[2019-10-18 02:02] #3598 closed, assigned to yuxiaobo96

[2019-10-18 02:03] markthink commented on #3598
Sorry @yuxiaobo96, only issues with special values ('pushed') can be accepted.

[2019-10-18 02:34] hwdef commented on #3610
/merged

[2019-10-18 02:34] #3610 closed, assigned to hwdef

[2019-10-19 12:26] tanjunchen commented on #3592
/merged

[2019-10-19 12:27] #3592 closed, assigned to tanjunchen

[2019-10-19 12:27] tanjunchen commented on #3593
/merged

[2019-10-19 12:27] #3593 closed, assigned to tanjunchen

[2019-10-19 12:30] tanjunchen commented on #3535
/merged

[2019-10-19 12:30] #3535 closed, assigned to tanjunchen

[2019-10-19 12:31] tanjunchen commented on #3591
/merged

[2019-10-19 12:31] #3591 closed, assigned to tanjunchen

[2019-10-19 13:05] tanjunchen commented on #3554
/pushed

[2019-10-19 13:42] tanjunchen commented on #3559
/pushed

[2019-10-19 14:29] tanjunchen commented on #3555
/pushed

[2019-10-19 14:34] tanjunchen commented on #3528
/accept

[2019-10-19 14:34] markthink commented on #3528
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-19 14:34] tanjunchen commented on #3527
/accept

[2019-10-19 14:35] markthink commented on #3527
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-19 14:35] tanjunchen commented on #3526
/accept

[2019-10-19 14:35] markthink commented on #3526
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-19 14:35] tanjunchen commented on #3525
/accept

[2019-10-19 14:35] markthink commented on #3525
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-19 14:35] tanjunchen commented on #3524
/accept

[2019-10-19 14:35] markthink commented on #3524
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-19 14:36] tanjunchen commented on #3523
/accept

[2019-10-19 14:36] markthink commented on #3523
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-19 14:36] tanjunchen commented on #3522
/accept

[2019-10-19 14:36] markthink commented on #3522
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-19 14:36] tanjunchen commented on #3522
/accept

[2019-10-19 14:36] markthink commented on #3522
Sorry @tanjunchen, only issues with special values ('pending') can be accepted.

[2019-10-19 14:37] markthink commented on #3522
Sorry @tanjunchen, only issues with special values ('pending') can be accepted.

[2019-10-19 14:37] tanjunchen commented on #3521
/accept

[2019-10-19 14:37] markthink commented on #3521
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-10-19 17:12] tanjunchen commented on #3527
/pushed

[2019-10-19 17:22] tanjunchen commented on #3521
/accept

[2019-10-19 17:22] markthink commented on #3521
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-20 05:04] tanjunchen commented on #3526
/pushed

[2019-10-20 08:52] tanjunchen commented on #3524
/pushed

[2019-10-20 12:10] tanjunchen commented on #3521
/pushed

[2019-10-20 14:36] tanjunchen commented on #3525
/pushed

[2019-10-20 14:51] tanjunchen commented on #3551
/merged

[2019-10-20 14:51] #3551 closed, assigned to tanjunchen

[2019-10-20 14:51] tanjunchen commented on #3550
/merged

[2019-10-20 14:51] #3550 closed, assigned to tanjunchen

[2019-10-20 14:51] tanjunchen commented on #3540
/merged

[2019-10-20 14:51] #3540 closed, assigned to tanjunchen

[2019-10-20 14:53] tanjunchen commented on #3555
/merged

[2019-10-20 14:53] #3555 closed, assigned to tanjunchen

[2019-10-20 14:55] tanjunchen commented on #3526
/merged

[2019-10-20 14:55] #3526 closed, assigned to tanjunchen

[2019-10-20 14:55] tanjunchen commented on #3559
/merged

[2019-10-20 14:55] #3559 closed, assigned to tanjunchen

[2019-10-20 14:55] tanjunchen commented on #3554
/merged

[2019-10-20 14:56] #3554 closed, assigned to tanjunchen

[2019-10-20 15:00] tanjunchen commented on #3579
/accept

[2019-10-20 15:00] markthink commented on #3579
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-20 15:00] tanjunchen commented on #3579
/accept

[2019-10-20 15:00] markthink commented on #3579
Sorry @tanjunchen, only issues with special values ('pending') can be accepted.

[2019-10-20 15:01] tanjunchen commented on #3576
/accept

[2019-10-20 15:01] markthink commented on #3576
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-20 15:02] tanjunchen commented on #3584
/accept

[2019-10-20 15:02] markthink commented on #3584
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-20 15:03] tanjunchen commented on #3583
/accept

[2019-10-20 15:03] markthink commented on #3583
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-20 15:18] tanjunchen commented on #3584
/pushed

[2019-10-20 15:18] tanjunchen commented on #3582
/accept

[2019-10-20 15:19] markthink commented on #3582
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-20 15:34] tanjunchen commented on #3583
/pushed

[2019-10-20 15:52] tanjunchen commented on #3582
/pushed

[2019-10-20 15:53] tanjunchen commented on #3581
/accept

[2019-10-20 15:53] markthink commented on #3581
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-20 16:03] tanjunchen commented on #3580
/accept

[2019-10-20 16:03] markthink commented on #3580
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-20 16:05] tanjunchen commented on #3578
/accept

[2019-10-20 16:05] markthink commented on #3578
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-10-20 16:21] tanjunchen commented on #3581
/pushed

[2019-10-20 16:36] tanjunchen commented on #3578
/accept

[2019-10-20 16:36] markthink commented on #3578
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-20 16:36] tanjunchen commented on #3577
/accept

[2019-10-20 16:36] markthink commented on #3577
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-10-21 01:23] tanjunchen commented on #3580
/pushed

[2019-10-21 03:06] tanjunchen commented on #3579
/pushed

[2019-10-21 03:12] tanjunchen commented on #3577
/accept

[2019-10-21 03:12] markthink commented on #3577
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-21 03:12] tanjunchen commented on #3575
/accept

[2019-10-21 03:13] markthink commented on #3575
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-21 03:17] jiaj12 commented on #3640
/pushed

[2019-10-21 03:27] tanjunchen commented on #3583
/merged

[2019-10-21 03:27] #3583 closed, assigned to tanjunchen

[2019-10-21 06:37] tanjunchen commented on #3577
/pushed

[2019-10-21 06:51] tanjunchen commented on #3578
/pushed

[2019-10-21 08:02] tanjunchen commented on #3576
/pushed

[2019-10-21 08:22] yuxiaobo96 commented on #3457
/merged

[2019-10-21 08:22] #3457 closed, assigned to yuxiaobo96

[2019-10-21 08:23] yuxiaobo96 commented on #3423
/pushed

[2019-10-21 08:25] yuxiaobo96 commented on #3631
/accept

[2019-10-21 08:25] markthink commented on #3631
Thank you @yuxiaobo96, this issue had been assigned to you.

[2019-10-21 08:27] tanjunchen commented on #3575
/pushed

[2019-10-21 08:38] tanjunchen commented on #3572
/accept

[2019-10-21 08:38] markthink commented on #3572
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-21 08:39] tanjunchen commented on #3571
/accept

[2019-10-21 08:39] markthink commented on #3571
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-21 08:39] tanjunchen commented on #3570
/accept

[2019-10-21 08:39] markthink commented on #3570
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-21 08:40] tanjunchen commented on #3568
/accept

[2019-10-21 08:40] markthink commented on #3568
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-21 08:43] yuxiaobo96 commented on #3612
/accept

[2019-10-21 08:43] markthink commented on #3612
Thank you @yuxiaobo96, this issue had been assigned to you.

[2019-10-21 08:59] tanjunchen commented on #3572
/pushed

[2019-10-21 09:30] tanjunchen commented on #3571
/pushed

[2019-10-21 12:51] tanjunchen commented on #3579
/merged

[2019-10-21 12:52] #3579 closed, assigned to tanjunchen

[2019-10-21 12:52] tanjunchen commented on #3580
/merged

[2019-10-21 12:52] #3580 closed, assigned to tanjunchen

[2019-10-21 12:53] tanjunchen commented on #3581
/merged

[2019-10-21 12:53] #3581 closed, assigned to tanjunchen

[2019-10-21 12:54] tanjunchen commented on #3584
/merged

[2019-10-21 12:54] #3584 closed, assigned to tanjunchen

[2019-10-21 12:55] tanjunchen commented on #3582
/merged

[2019-10-21 12:55] #3582 closed, assigned to tanjunchen

[2019-10-21 13:44] tanjunchen commented on #3570
/pushed

[2019-10-21 14:41] tanjunchen commented on #3568
/pushed

[2019-10-21 14:57] tanjunchen commented on #3567
/accept

[2019-10-21 14:58] markthink commented on #3567
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-21 14:58] tanjunchen commented on #3566
/accept

[2019-10-21 14:58] markthink commented on #3566
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-21 14:58] tanjunchen commented on #3565
/accept

[2019-10-21 14:58] markthink commented on #3565
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-21 14:59] tanjunchen commented on #3564
/accept

[2019-10-21 14:59] markthink commented on #3564
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-21 14:59] tanjunchen commented on #3563
/accept

[2019-10-21 14:59] markthink commented on #3563
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-10-21 16:07] tanjunchen commented on #3567
/pushed

[2019-10-21 16:29] tanjunchen commented on #3566
/pushed

[2019-10-21 16:31] tanjunchen commented on #3563
/accept

[2019-10-21 16:32] markthink commented on #3563
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-21 16:32] tanjunchen commented on #3562
/accept

[2019-10-21 16:32] markthink commented on #3562
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-22 01:42] jiazxjason commented on #3589
/accept

[2019-10-22 01:42] markthink commented on #3589
Thank you @jiazxjason, this issue had been assigned to you.

[2019-10-22 01:46] jiazxjason commented on #3587
/accept

[2019-10-22 01:46] markthink commented on #3587
Thank you @jiazxjason, this issue had been assigned to you.

[2019-10-22 01:47] yuxiaobo96 commented on #3631
/pushed

[2019-10-22 02:10] hwdef commented on #3611
/pushed

[2019-10-22 02:19] jiaj12 commented on #3617
已经被 @yguo0905 翻译

[2019-10-22 02:44] tanjunchen commented on #3565
/pushed

[2019-10-22 03:10] tanjunchen commented on #3564
/pushed

[2019-10-22 03:16] jiaj12 commented on #3608
/accept

[2019-10-22 03:16] markthink commented on #3608
Thank you @jiaj12, this issue had been assigned to you.

[2019-10-22 03:26] tanjunchen commented on #3563
/pushed

[2019-10-22 03:34] tanjunchen commented on #3562
/pushed

[2019-10-22 03:47] tanjunchen commented on #3561
/accept

[2019-10-22 03:47] markthink commented on #3561
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-22 03:48] tanjunchen commented on #3560
/accept

[2019-10-22 03:48] markthink commented on #3560
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-22 03:48] tanjunchen commented on #3553
/accept

[2019-10-22 03:48] markthink commented on #3553
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-22 03:49] tanjunchen commented on #3539
/accept

[2019-10-22 03:49] markthink commented on #3539
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-22 05:15] tanjunchen commented on #3561
/pushed

[2019-10-22 05:15] tanjunchen commented on #3560
/pushed

[2019-10-22 05:17] tanjunchen commented on #3529
/accept

[2019-10-22 05:17] markthink commented on #3529
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-22 08:08] tanjunchen commented on #3563
/merged

[2019-10-22 08:08] #3563 closed, assigned to tanjunchen

[2019-10-22 08:10] tanjunchen commented on #3568
/merged

[2019-10-22 08:10] #3568 closed, assigned to tanjunchen

[2019-10-22 10:00] tanjunchen commented on #3553
/pushed

[2019-10-22 10:00] tanjunchen commented on #3553
/merged

[2019-10-22 10:00] #3553 closed, assigned to tanjunchen

[2019-10-22 10:00] tanjunchen commented on #3539
/pushed

[2019-10-22 10:09] tanjunchen commented on #3601
/accept

[2019-10-22 10:09] markthink commented on #3601
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-22 10:10] tanjunchen commented on #3600
/accept

[2019-10-22 10:10] markthink commented on #3600
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-22 10:10] tanjunchen commented on #3599
/accept

[2019-10-22 10:11] markthink commented on #3599
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-22 10:14] tanjunchen commented on #3596
/accept

[2019-10-22 10:14] markthink commented on #3596
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-10-22 10:30] RainbowMango commented on #3487
/accept

[2019-10-22 10:30] markthink commented on #3487
Thank you @RainbowMango, this issue had been assigned to you.

[2019-10-22 13:47] RainbowMango commented on #3487
/pushed

[2019-10-22 14:21] Dingshujie commented on #3647
/accept

[2019-10-22 14:21] markthink commented on #3647
Sorry @Dingshujie, you are not allowed member of this issue.

[2019-10-22 14:31] Dingshujie commented on #3645
/accept

[2019-10-22 14:31] markthink commented on #3645
Sorry @Dingshujie, you are not allowed member of this issue.

[2019-10-22 14:37] tanjunchen commented on #3596
/pushed

[2019-10-22 14:37] markthink commented on #3596
Sorry @tanjunchen, only issues with special values ('translating') can be accepted.

[2019-10-22 14:38] lpf7551321 commented on #3645
/accept

[2019-10-22 14:38] markthink commented on #3645
Sorry @lpf7551321, you are not allowed member of this issue.

[2019-10-22 14:59] tanjunchen commented on #3601
/pushed

[2019-10-22 14:59] tanjunchen commented on #3600
/accept

[2019-10-22 14:59] markthink commented on #3600
Sorry @tanjunchen, only issues with special values ('pending') can be accepted.

[2019-10-22 15:00] tanjunchen commented on #3600
/pushed

[2019-10-22 15:02] tanjunchen commented on #3596
/accept

[2019-10-22 15:02] markthink commented on #3596
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-22 15:03] tanjunchen commented on #3596
/pushed

[2019-10-22 16:19] tanjunchen commented on #3599
/pushed

[2019-10-22 16:21] tanjunchen commented on #3595
/accept

[2019-10-22 16:22] markthink commented on #3595
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-22 16:22] tanjunchen commented on #3594
/accept

[2019-10-22 16:22] markthink commented on #3594
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-22 16:23] tanjunchen commented on #3590
/accept

[2019-10-22 16:23] markthink commented on #3590
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-23 01:11] liufangwai commented on #3615
/accept

[2019-10-23 01:11] markthink commented on #3615
Sorry @liufangwai, you are not allowed member of this issue.

[2019-10-23 01:12] liufangwai commented on #3618
/accept

[2019-10-23 01:12] markthink commented on #3618
Sorry @liufangwai, only issues with special values ('pending') can be accepted.

[2019-10-23 01:17] lichuqiang commented on #3647
/accept

[2019-10-23 01:17] markthink commented on #3647
Sorry @lichuqiang, you are not allowed member of this issue.

[2019-10-23 01:17] markthink commented on #3647
Sorry @lichuqiang, you are not allowed member of this issue.

[2019-10-23 01:22] liufangwai commented on #3501
/accept

[2019-10-23 01:22] XuefeiWang2 commented on #3104
/accept

[2019-10-23 01:22] markthink commented on #3501
Sorry @liufangwai, you are not allowed member of this issue.

[2019-10-23 01:22] markthink commented on #3104
Sorry @XuefeiWang2, you are not allowed member of this issue.

[2019-10-23 01:42] wuyafang commented on #3518
/accept

[2019-10-23 01:42] markthink commented on #3518
Sorry @wuyafang, you are not allowed member of this issue.

[2019-10-23 01:55] yuxiaobo96 commented on #3612
/pushed

[2019-10-23 01:58] lichuqiang commented on #3609
/accept

[2019-10-23 01:59] markthink commented on #3609
Thank you @lichuqiang, this issue had been assigned to you.

[2019-10-23 02:02] lichuqiang commented on #3588
/accept

[2019-10-23 02:02] markthink commented on #3588
Thank you @lichuqiang, this issue had been assigned to you.

[2019-10-23 02:03] lichuqiang commented on #3632
/accept

[2019-10-23 02:03] markthink commented on #3632
Thank you @lichuqiang, this issue had been assigned to you.

[2019-10-23 02:25] IreneByron commented on #3507
/accept

[2019-10-23 02:25] markthink commented on #3507
Thank you @IreneByron, this issue had been assigned to you.

[2019-10-23 02:30] IreneByron commented on #3100
/accept

[2019-10-23 02:30] markthink commented on #3100
Thank you @IreneByron, this issue had been assigned to you.

[2019-10-23 02:53] lpf7551321 commented on #3645
/accept

[2019-10-23 02:53] markthink commented on #3645
Thank you @lpf7551321, this issue had been assigned to you.

[2019-10-23 02:54] lpf7551321 commented on #3615
/accept

[2019-10-23 02:54] markthink commented on #3615
Thank you @lpf7551321, this issue had been assigned to you.

[2019-10-23 02:55] lpf7551321 commented on #3614
/accept

[2019-10-23 02:55] markthink commented on #3614
Thank you @lpf7551321, this issue had been assigned to you.

[2019-10-23 02:55] lpf7551321 commented on #3604
/accept

[2019-10-23 02:55] markthink commented on #3604
Thank you @lpf7551321, this issue had been assigned to you.

[2019-10-23 02:56] lpf7551321 commented on #3618
/accept

[2019-10-23 02:56] markthink commented on #3618
Sorry @lpf7551321, only issues with special values ('pending') can be accepted.

[2019-10-23 02:57] lpf7551321 commented on #3647
/accept

[2019-10-23 02:57] markthink commented on #3647
Thank you @lpf7551321, this issue had been assigned to you.

[2019-10-23 02:57] lpf7551321 commented on #3626
/accept

[2019-10-23 02:57] markthink commented on #3626
Thank you @lpf7551321, this issue had been assigned to you.

[2019-10-23 02:57] lpf7551321 commented on #3603
/accept

[2019-10-23 02:57] markthink commented on #3603
Thank you @lpf7551321, this issue had been assigned to you.

[2019-10-23 02:57] lpf7551321 commented on #3534
/accept

[2019-10-23 02:57] lpf7551321 commented on #3538
/accept

[2019-10-23 02:57] markthink commented on #3534
Thank you @lpf7551321, this issue had been assigned to you.

[2019-10-23 02:57] markthink commented on #3538
Sorry @lpf7551321, only 8 issues can be accepted by the same user.

[2019-10-23 02:58] lpf7551321 commented on #3537
/accept

[2019-10-23 02:58] markthink commented on #3537
Sorry @lpf7551321, only 8 issues can be accepted by the same user.

[2019-10-23 03:30] lichuqiang commented on #3588
/pushed

[2019-10-23 03:44] RainbowMango commented on #3396
/accept

[2019-10-23 03:44] markthink commented on #3396
Thank you @RainbowMango, this issue had been assigned to you.

[2019-10-23 07:41] tanjunchen commented on #3595
/pushed

[2019-10-23 07:54] tanjunchen commented on #3594
/pushed

[2019-10-23 08:18] tanjunchen commented on #3590
/pushed

[2019-10-23 08:43] tanjunchen commented on #3529
/pushed

[2019-10-23 11:09] liufangwai commented on #3519
i will translate this later

[2019-10-23 12:19] liufangwai commented on #3516
I will translate this  later

[2019-10-23 15:02] tanjunchen commented on #3596
/merged

[2019-10-23 15:03] #3596 closed, assigned to tanjunchen

[2019-10-23 15:38] tanjunchen commented on #3520
/accept

[2019-10-23 15:39] markthink commented on #3520
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-23 15:39] tanjunchen commented on #3520
/accept

[2019-10-23 15:39] markthink commented on #3520
Sorry @tanjunchen, only issues with special values ('pending') can be accepted.

[2019-10-23 15:46] tanjunchen commented on #3517
/accept

[2019-10-23 15:46] markthink commented on #3517
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-23 15:55] tanjunchen commented on #3517
/accept

[2019-10-23 15:55] markthink commented on #3517
Sorry @tanjunchen, only issues with special values ('pending') can be accepted.

[2019-10-23 15:56] tanjunchen commented on #3500
/accept

[2019-10-23 15:56] markthink commented on #3500
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-24 01:28] RainbowMango commented on #3396
/pushed

[2019-10-24 03:13] lichuqiang commented on #3632
/pushed

[2019-10-24 03:13] lichuqiang commented on #3588
/merged

[2019-10-24 03:13] #3588 closed, assigned to lichuqiang

[2019-10-24 05:29] tanjunchen commented on #3595
/merged

[2019-10-24 05:30] #3595 closed, assigned to tanjunchen

[2019-10-24 05:30] tanjunchen commented on #3594
/merged

[2019-10-24 05:30] #3594 closed, assigned to tanjunchen

[2019-10-24 05:31] tanjunchen commented on #3600
/merged

[2019-10-24 05:32] #3600 closed, assigned to tanjunchen

[2019-10-24 05:32] tanjunchen commented on #3590
/merged

[2019-10-24 05:32] #3590 closed, assigned to tanjunchen

[2019-10-24 05:39] tanjunchen commented on #3529
/merged

[2019-10-24 05:39] #3529 closed, assigned to tanjunchen

[2019-10-24 05:40] tanjunchen commented on #3525
/merged

[2019-10-24 05:40] #3525 closed, assigned to tanjunchen

[2019-10-24 05:41] tanjunchen commented on #3565
/merged

[2019-10-24 05:41] #3565 closed, assigned to tanjunchen

[2019-10-24 06:02] hwdef commented on #3606
/accept

[2019-10-24 06:02] markthink commented on #3606
Thank you @hwdef, this issue had been assigned to you.

[2019-10-24 06:03] hwdef commented on #3586
/accept

[2019-10-24 06:03] markthink commented on #3586
Thank you @hwdef, this issue had been assigned to you.

[2019-10-24 06:04] hwdef commented on #3533
/accept

[2019-10-24 06:04] markthink commented on #3533
Thank you @hwdef, this issue had been assigned to you.

[2019-10-24 06:11] hwdef commented on #3533
/pushed

[2019-10-24 06:11] hwdef commented on #3533
/merged

[2019-10-24 06:12] #3533 closed, assigned to hwdef

[2019-10-24 06:27] tanjunchen commented on #3528
/pushed

[2019-10-24 06:40] hwdef commented on #3586
/pushed

[2019-10-24 07:00] hwdef commented on #3606
/pushed

[2019-10-24 08:06] tanjunchen commented on #3523
/merged

[2019-10-24 08:06] markthink commented on #3523
Sorry @tanjunchen, only issues with special values ('pushed') can be accepted.

[2019-10-24 08:06] tanjunchen commented on #3523
/pushed

[2019-10-24 09:54] tanjunchen commented on #3522
/pushed

[2019-10-25 01:44] tanjunchen commented on #3522
/merged

[2019-10-25 01:44] #3522 closed, assigned to tanjunchen

[2019-10-25 02:15] tanjunchen commented on #3539
/merged

[2019-10-25 02:15] #3539 closed, assigned to tanjunchen

[2019-10-25 04:00] pigletfly commented on #3051
/assgin

[2019-10-25 04:01] pigletfly commented on #3051
/assign

[2019-10-25 04:02] pigletfly commented on #3051
/accept

[2019-10-25 04:02] markthink commented on #3051
Thank you @pigletfly, this issue had been assigned to you.

[2019-10-25 06:11] tanjunchen commented on #3500
/pushed

[2019-10-25 06:43] tanjunchen commented on #3602
/accept

[2019-10-25 06:43] markthink commented on #3602
Sorry @tanjunchen, only issues with special values ('pending') can be accepted.

[2019-10-25 06:49] lichuqiang commented on #3609
/pushed

[2019-10-25 06:54] tanjunchen commented on #3492
/accept

[2019-10-25 06:54] markthink commented on #3492
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-25 06:56] tanjunchen commented on #3493
/accept

[2019-10-25 06:56] markthink commented on #3493
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-25 06:56] tanjunchen commented on #3495
/accept

[2019-10-25 06:56] markthink commented on #3495
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-25 07:05] tanjunchen commented on #3494
/accept

[2019-10-25 07:06] markthink commented on #3494
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-25 07:09] tanjunchen commented on #3491
/accept

[2019-10-25 07:09] markthink commented on #3491
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-25 07:15] tanjunchen commented on #3490
/accept

[2019-10-25 07:15] markthink commented on #3490
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-10-25 07:25] tanjunchen commented on #3492
/pushed

[2019-10-25 07:25] tanjunchen commented on #3491
/pushed

[2019-10-25 07:25] tanjunchen commented on #3490
/accept

[2019-10-25 07:26] markthink commented on #3490
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-25 07:26] tanjunchen commented on #3489
/accept

[2019-10-25 07:26] markthink commented on #3489
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-25 07:32] tanjunchen commented on #3494
/pushed

[2019-10-25 07:33] tanjunchen commented on #3493
/pushed

[2019-10-25 07:33] tanjunchen commented on #3488
/accept

[2019-10-25 07:33] markthink commented on #3488
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-25 07:34] tanjunchen commented on #3486
/accept

[2019-10-25 07:34] markthink commented on #3486
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-25 13:52] tanjunchen commented on #3577
/merged

[2019-10-25 13:52] #3577 closed, assigned to tanjunchen

[2019-10-25 13:59] tanjunchen commented on #3575
/merged

[2019-10-25 13:59] #3575 closed, assigned to tanjunchen

[2019-10-25 13:59] tanjunchen commented on #3571
/merged

[2019-10-25 14:00] #3571 closed, assigned to tanjunchen

[2019-10-25 14:17] tanjunchen commented on #3570
/merged

[2019-10-25 14:18] #3570 closed, assigned to tanjunchen

[2019-10-25 14:18] tanjunchen commented on #3601
/merged

[2019-10-25 14:19] #3601 closed, assigned to tanjunchen

[2019-10-25 14:19] tanjunchen commented on #3578
/merged

[2019-10-25 14:19] #3578 closed, assigned to tanjunchen

[2019-10-26 02:43] liufangwai commented on #3501
i will translate this later

[2019-10-26 04:41] tanjunchen commented on #3495
/pushed

[2019-10-26 04:55] tanjunchen commented on #3490
/pushed

[2019-10-26 08:11] lichuqiang commented on #3609
/merged

[2019-10-26 08:11] #3609 closed, assigned to lichuqiang

[2019-10-26 08:12] lichuqiang commented on #3632
/merged

[2019-10-26 08:12] #3632 closed, assigned to lichuqiang

[2019-10-26 08:22] liufangwai commented on #3519
/accept

[2019-10-26 08:22] liufangwai commented on #3516
/accept

[2019-10-26 08:22] markthink commented on #3519
Thank you @liufangwai, this issue had been assigned to you.

[2019-10-26 08:22] markthink commented on #3516
Thank you @liufangwai, this issue had been assigned to you.

[2019-10-26 08:49] IreneByron commented on #3507
/pushed

[2019-10-26 08:52] IreneByron commented on #3061
/accept

[2019-10-26 08:53] markthink commented on #3061
Thank you @IreneByron, this issue had been assigned to you.

[2019-10-26 08:54] IreneByron commented on #3053
/accept

[2019-10-26 08:54] markthink commented on #3053
Thank you @IreneByron, this issue had been assigned to you.

[2019-10-26 08:55] IreneByron commented on #3049
/accept

[2019-10-26 08:55] markthink commented on #3049
Thank you @IreneByron, this issue had been assigned to you.

[2019-10-26 08:58] RainbowMango commented on #3396
/merged

[2019-10-26 08:58] #3396 closed, assigned to RainbowMango

[2019-10-26 09:27] liufangwai commented on #3499
/accept

[2019-10-26 09:27] markthink commented on #3499
Thank you @liufangwai, this issue had been assigned to you.

[2019-10-26 09:28] liufangwai commented on #3471
/accept

[2019-10-26 09:28] markthink commented on #3471
Thank you @liufangwai, this issue had been assigned to you.

[2019-10-26 09:30] liufangwai commented on #3501
/accept

[2019-10-26 09:30] markthink commented on #3501
Thank you @liufangwai, this issue had been assigned to you.

[2019-10-26 09:31] liufangwai commented on #3438
/accept

[2019-10-26 09:31] markthink commented on #3438
Thank you @liufangwai, this issue had been assigned to you.

[2019-10-26 09:31] liufangwai commented on #3430
/accept

[2019-10-26 09:32] markthink commented on #3430
Thank you @liufangwai, this issue had been assigned to you.

[2019-10-26 09:32] liufangwai commented on #3427
/accept

[2019-10-26 09:32] markthink commented on #3427
Thank you @liufangwai, this issue had been assigned to you.

[2019-10-26 12:35] tanjunchen commented on #3524
/merged

[2019-10-26 12:35] #3524 closed, assigned to tanjunchen

[2019-10-26 12:36] tanjunchen commented on #3493
/merged

[2019-10-26 12:36] #3493 closed, assigned to tanjunchen

[2019-10-26 12:36] tanjunchen commented on #3523
/merged

[2019-10-26 12:36] #3523 closed, assigned to tanjunchen

[2019-10-26 12:37] tanjunchen commented on #3599
/merged

[2019-10-26 12:37] #3599 closed, assigned to tanjunchen

[2019-10-26 12:38] tanjunchen commented on #3494
/merged

[2019-10-26 12:38] #3494 closed, assigned to tanjunchen

[2019-10-26 12:38] tanjunchen commented on #3492
/merged

[2019-10-26 12:39] #3492 closed, assigned to tanjunchen

[2019-10-26 12:39] tanjunchen commented on #3495
/merged

[2019-10-26 12:39] #3495 closed, assigned to tanjunchen

[2019-10-26 13:59] pigletfly commented on #3020
/accept

[2019-10-26 13:59] markthink commented on #3020
Thank you @pigletfly, this issue had been assigned to you.

[2019-10-26 14:27] tanjunchen commented on #3488
/pushed

[2019-10-26 14:56] xichengliudui commented on #3116
/pushed

[2019-10-26 14:56] markthink commented on #3116
Sorry @xichengliudui, only issues with special values ('translating') can be accepted.

[2019-10-26 15:00] tanjunchen commented on #3489
/accept

[2019-10-26 15:00] markthink commented on #3489
Sorry @tanjunchen, only issues with special values ('pending') can be accepted.

[2019-10-26 15:01] tanjunchen commented on #3469
/accept

[2019-10-26 15:01] markthink commented on #3469
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-26 15:02] tanjunchen commented on #3466
/accept

[2019-10-26 15:02] markthink commented on #3466
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-26 15:03] tanjunchen commented on #3464
/accept

[2019-10-26 15:03] markthink commented on #3464
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-26 15:03] #3116 closed, assigned to nobody

[2019-10-26 15:04] tanjunchen commented on #3459
/accept

[2019-10-26 15:04] markthink commented on #3459
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-10-26 15:05] tanjunchen commented on #3486
/pushed

[2019-10-26 15:06] tanjunchen commented on #3459
/accept

[2019-10-26 15:06] markthink commented on #3459
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-26 15:08] xichengliudui commented on #3119
/pushed

[2019-10-26 15:08] markthink commented on #3119
Sorry @xichengliudui, only issues with special values ('translating') can be accepted.

[2019-10-26 15:12] xichengliudui commented on #3107
/pushed

[2019-10-26 15:12] markthink commented on #3107
Sorry @xichengliudui, only issues with special values ('translating') can be accepted.

[2019-10-26 15:13] #3107 closed, assigned to nobody

[2019-10-26 15:19] xichengliudui commented on #3198
/pushed

[2019-10-26 15:19] markthink commented on #3198
Sorry @xichengliudui, only issues with special values ('translating') can be accepted.

[2019-10-26 15:19] #3198 closed, assigned to nobody

[2019-10-26 15:24] xichengliudui commented on #3239
/pushed

[2019-10-26 15:24] markthink commented on #3239
Sorry @xichengliudui, only issues with special values ('translating') can be accepted.

[2019-10-26 15:24] #3239 closed, assigned to nobody

[2019-10-26 15:27] xichengliudui commented on #3285
/pushed

[2019-10-26 15:27] markthink commented on #3285
Sorry @xichengliudui, only issues with special values ('translating') can be accepted.

[2019-10-26 15:27] #3285 closed, assigned to nobody

[2019-10-26 15:31] xichengliudui commented on #3368
/pushed

[2019-10-26 15:31] markthink commented on #3368
Sorry @xichengliudui, only issues with special values ('translating') can be accepted.

[2019-10-26 15:31] #3368 closed, assigned to nobody

[2019-10-26 15:38] xichengliudui commented on #3367
/pushed

[2019-10-26 15:38] markthink commented on #3367
Sorry @xichengliudui, only issues with special values ('translating') can be accepted.

[2019-10-26 15:38] #3367 closed, assigned to nobody

[2019-10-26 15:41] xichengliudui commented on #3161
/pushed

[2019-10-26 15:41] markthink commented on #3161
Sorry @xichengliudui, only issues with special values ('translating') can be accepted.

[2019-10-26 15:41] #3161 closed, assigned to nobody

[2019-10-26 15:42] xichengliudui commented on #3131
/pushed

[2019-10-26 15:42] markthink commented on #3131
Sorry @xichengliudui, only issues with special values ('translating') can be accepted.

[2019-10-26 15:43] #3131 closed, assigned to nobody

[2019-10-26 15:43] xichengliudui commented on #3120
/pushed

[2019-10-26 15:43] markthink commented on #3120
Sorry @xichengliudui, only issues with special values ('translating') can be accepted.

[2019-10-26 15:43] #3120 closed, assigned to nobody

[2019-10-27 04:34] tanjunchen commented on #3490
/merged

[2019-10-27 04:34] #3490 closed, assigned to tanjunchen

[2019-10-27 04:35] tanjunchen commented on #3488
/merged

[2019-10-27 04:35] #3488 closed, assigned to tanjunchen

[2019-10-27 06:51] tanjunchen commented on #3464
/merged

[2019-10-27 06:51] markthink commented on #3464
Sorry @tanjunchen, only issues with special values ('pushed') can be accepted.

[2019-10-27 06:52] tanjunchen commented on #3466
/merged

[2019-10-27 06:52] markthink commented on #3466
Sorry @tanjunchen, only issues with special values ('pushed') can be accepted.

[2019-10-27 06:52] tanjunchen commented on #3464
/pushed

[2019-10-27 06:52] tanjunchen commented on #3466
/pushed

[2019-10-27 07:32] tanjunchen commented on #3455
/accept

[2019-10-27 07:32] markthink commented on #3455
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-27 07:32] tanjunchen commented on #3455
/pushed

[2019-10-27 07:34] tanjunchen commented on #3469
/pushed

[2019-10-27 07:40] hwdef commented on #3606
/merged

[2019-10-27 07:40] #3606 closed, assigned to hwdef

[2019-10-27 07:40] hwdef commented on #3586
/merged

[2019-10-27 07:40] #3586 closed, assigned to hwdef

[2019-10-27 08:33] tanjunchen commented on #3468
/accept

[2019-10-27 08:33] tanjunchen commented on #3467
/accept

[2019-10-27 08:33] markthink commented on #3468
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-27 08:33] tanjunchen commented on #3468
/pushed

[2019-10-27 08:33] markthink commented on #3467
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-27 08:33] tanjunchen commented on #3467
/pushed

[2019-10-27 09:08] tanjunchen commented on #3463
/accept

[2019-10-27 09:08] tanjunchen commented on #3465
/accept

[2019-10-27 09:08] markthink commented on #3463
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-27 09:08] tanjunchen commented on #3463
/pushed

[2019-10-27 09:08] markthink commented on #3465
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-27 09:08] tanjunchen commented on #3465
/pushed

[2019-10-27 09:56] tanjunchen commented on #3462
/accept

[2019-10-27 09:57] markthink commented on #3462
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-27 09:59] tanjunchen commented on #3462
/pushed

[2019-10-27 11:21] pigletfly commented on #3020
/pushed

[2019-10-27 12:38] tanjunchen commented on #3460
/accept

[2019-10-27 12:38] markthink commented on #3460
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-27 12:38] tanjunchen commented on #3461
/accept

[2019-10-27 12:38] markthink commented on #3461
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-27 12:38] tanjunchen commented on #3460
/pushed

[2019-10-27 12:38] tanjunchen commented on #3461
/pushed

[2019-10-27 13:38] tanjunchen commented on #3459
/pushed

[2019-10-27 13:38] tanjunchen commented on #3454
/pushed

[2019-10-27 13:38] markthink commented on #3454
Sorry @tanjunchen, only issues with special values ('translating') can be accepted.

[2019-10-27 13:38] tanjunchen commented on #3454
/accept

[2019-10-27 13:38] tanjunchen commented on #3454
/pushed

[2019-10-27 13:38] markthink commented on #3454
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-27 13:39] yuxiaobo96 commented on #3472
/accept