[2019-05-05 09:44] markthink opened #2007 "/blog/_posts/2018-05-24-kubernetes-containerd-integration-goes-ga.md"
Source File: [/blog/_posts/2018-05-24-kubernetes-containerd-integration-goes-ga.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-05-24-kubernetes-containerd-integration-goes-ga.md)

[2019-05-05 09:44] markthink opened #2008 "/blog/_posts/2018-05-29-announcing-kustomize.md"
Source File: [/blog/_posts/2018-05-29-announcing-kustomize.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-05-29-announcing-kustomize.md)

[2019-05-05 09:44] markthink opened #2009 "/blog/_posts/2018-06-05-meet-our-contributors-youtube-mentoring-series.md"
Source File: [/blog/_posts/2018-06-05-meet-our-contributors-youtube-mentoring-series.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-06-05-meet-our-contributors-youtube-mentoring-series.md)

[2019-05-05 09:44] markthink opened #2010 "/blog/_posts/2018-06-26-kubernetes-1-11-release-announcement.md"
Source File: [/blog/_posts/2018-06-26-kubernetes-1-11-release-announcement.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-06-26-kubernetes-1-11-release-announcement.md)

[2019-05-05 09:45] markthink opened #2011 "/blog/_posts/2018-07-10-coredns-ga.md"
Source File: [/blog/_posts/2018-07-10-coredns-ga.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-07-10-coredns-ga.md)

[2019-05-05 09:45] markthink opened #2012 "/blog/_posts/2018-07-11-dynamic-kubelet-configuration.md"
Source File: [/blog/_posts/2018-07-11-dynamic-kubelet-configuration.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-07-11-dynamic-kubelet-configuration.md)

[2019-05-05 09:45] markthink opened #2013 "/blog/_posts/2018-07-12-resizing-persistent-volumes-using-kubernetes.md"
Source File: [/blog/_posts/2018-07-12-resizing-persistent-volumes-using-kubernetes.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-07-12-resizing-persistent-volumes-using-kubernetes.md)

[2019-05-05 09:46] markthink opened #2014 "/blog/_posts/2018-07-16-kubernetes-1-11-release-interview.md"
Source File: [/blog/_posts/2018-07-16-kubernetes-1-11-release-interview.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-07-16-kubernetes-1-11-release-interview.md)

[2019-05-05 09:46] markthink opened #2015 "/blog/_posts/2018-07-18-11-ways-not-to-get-hacked.md"
Source File: [/blog/_posts/2018-07-18-11-ways-not-to-get-hacked.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-07-18-11-ways-not-to-get-hacked.md)

[2019-05-05 09:46] markthink opened #2016 "/blog/_posts/2018-07-19-kubernetes-win-2018-oscon-most-impact-award.md"
Source File: [/blog/_posts/2018-07-19-kubernetes-win-2018-oscon-most-impact-award.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-07-19-kubernetes-win-2018-oscon-most-impact-award.md)

[2019-05-05 09:47] markthink opened #2017 "/blog/_posts/2018-07-20-history-kubernetes-community.md"
Source File: [/blog/_posts/2018-07-20-history-kubernetes-community.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-07-20-history-kubernetes-community.md)

[2019-05-05 09:47] markthink opened #2018 "/blog/_posts/2018-07-24-cpu-manager.md"
Source File: [/blog/_posts/2018-07-24-cpu-manager.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-07-24-cpu-manager.md)

[2019-05-05 09:47] markthink opened #2019 "/blog/_posts/2018-07-27-kubevirt-crds-for-virtualization.md"
Source File: [/blog/_posts/2018-07-27-kubevirt-crds-for-virtualization.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-07-27-kubevirt-crds-for-virtualization.md)

[2019-05-05 09:48] markthink opened #2020 "/blog/_posts/2018-08-02-dynamically-expand-volume-csi.md"
Source File: [/blog/_posts/2018-08-02-dynamically-expand-volume-csi.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-08-02-dynamically-expand-volume-csi.md)

[2019-05-05 09:48] markthink opened #2021 "/blog/_posts/2018-08-03-make-kubernetes-production-grade-anywhere.md"
Source File: [/blog/_posts/2018-08-03-make-kubernetes-production-grade-anywhere.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-08-03-make-kubernetes-production-grade-anywhere.md)

[2019-05-05 09:49] markthink opened #2022 "/blog/_posts/2018-08-10-introducing-kubebuilder.md"
Source File: [/blog/_posts/2018-08-10-introducing-kubebuilder.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-08-10-introducing-kubebuilder.md)

[2019-05-05 09:49] markthink opened #2023 "/blog/_posts/2018-09-06-2018-steering-committee-election-cycle-kicks-off.md"
Source File: [/blog/_posts/2018-09-06-2018-steering-committee-election-cycle-kicks-off.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-09-06-2018-steering-committee-election-cycle-kicks-off.md)

[2019-05-05 09:49] markthink opened #2024 "/blog/_posts/2018-09-18-2018-linkerd-2-0.md"
Source File: [/blog/_posts/2018-09-18-2018-linkerd-2-0.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-09-18-2018-linkerd-2-0.md)

[2019-05-05 09:50] markthink opened #2025 "/blog/_posts/2018-09-27-kubernetes-1-12-release-announcement.md"
Source File: [/blog/_posts/2018-09-27-kubernetes-1-12-release-announcement.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-09-27-kubernetes-1-12-release-announcement.md)

[2019-05-05 09:50] markthink opened #2026 "/blog/_posts/2018-10-01-health-checking-grpc.md"
Source File: [/blog/_posts/2018-10-01-health-checking-grpc.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-10-01-health-checking-grpc.md)

[2019-05-05 09:51] markthink opened #2027 "/blog/_posts/2018-10-02-network-bootable-farm-with-ltsp.md"
Source File: [/blog/_posts/2018-10-02-network-bootable-farm-with-ltsp.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-10-02-network-bootable-farm-with-ltsp.md)

[2019-05-05 09:51] markthink opened #2028 "/blog/_posts/2018-10-04-non-code-contributors-guide.md"
Source File: [/blog/_posts/2018-10-04-non-code-contributors-guide.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-10-04-non-code-contributors-guide.md)

[2019-05-05 09:52] markthink opened #2029 "/blog/_posts/2018-10-08-support-for-azure-vmss.md"
Source File: [/blog/_posts/2018-10-08-support-for-azure-vmss.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-10-08-support-for-azure-vmss.md)

[2019-05-05 09:52] markthink opened #2030 "/blog/_posts/2018-10-09-volume-snapshot-alpha.md"
Source File: [/blog/_posts/2018-10-09-volume-snapshot-alpha.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-10-09-volume-snapshot-alpha.md)

[2019-05-05 09:53] markthink opened #2031 "/blog/_posts/2018-10-10-runtimeclass.md"
Source File: [/blog/_posts/2018-10-10-runtimeclass.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-10-10-runtimeclass.md)

[2019-05-05 09:53] markthink opened #2032 "/blog/_posts/2018-10-18-tips-for-first-kubecon-presentation-part-1.md"
Source File: [/blog/_posts/2018-10-18-tips-for-first-kubecon-presentation-part-1.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-10-18-tips-for-first-kubecon-presentation-part-1.md)

[2019-05-05 09:54] markthink opened #2033 "/blog/_posts/2018-10-26-tips-for-first-kubecon-presentation-part-2.md"
Source File: [/blog/_posts/2018-10-26-tips-for-first-kubecon-presentation-part-2.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-10-26-tips-for-first-kubecon-presentation-part-2.md)

[2019-05-05 09:55] markthink opened #2034 "/blog/_posts/2018-11-07-grpc-load-balancing-with-linkerd.md"
Source File: [/blog/_posts/2018-11-07-grpc-load-balancing-with-linkerd.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-11-07-grpc-load-balancing-with-linkerd.md)

[2019-05-05 09:55] markthink opened #2035 "/blog/_posts/2018-12-03-kubernetes-1-13-release-announcement.md"
Source File: [/blog/_posts/2018-12-03-kubernetes-1-13-release-announcement.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-12-03-kubernetes-1-13-release-announcement.md)

[2019-05-05 09:56] markthink opened #2036 "/blog/_posts/2018-12-04-kubeadm-ga-release.md"
Source File: [/blog/_posts/2018-12-04-kubeadm-ga-release.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-12-04-kubeadm-ga-release.md)

[2019-05-05 09:57] markthink opened #2037 "/blog/_posts/2018-12-11-Kubernetes-Federation-Evolution.md"
Source File: [/blog/_posts/2018-12-11-Kubernetes-Federation-Evolution.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-12-11-Kubernetes-Federation-Evolution.md)

[2019-05-05 09:57] markthink opened #2038 "/blog/_posts/2018-12-11-current-status-and-future-roadmap.md"
Source File: [/blog/_posts/2018-12-11-current-status-and-future-roadmap.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-12-11-current-status-and-future-roadmap.md)

[2019-05-05 09:58] markthink opened #2039 "/blog/_posts/2019-01-14-apiserver-dry-run-and-kubectl-diff.md"
Source File: [/blog/_posts/2019-01-14-apiserver-dry-run-and-kubectl-diff.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2019-01-14-apiserver-dry-run-and-kubectl-diff.md)

[2019-05-05 09:59] markthink opened #2040 "/blog/_posts/2019-01-15-container-storage-interface-ga.md"
Source File: [/blog/_posts/2019-01-15-container-storage-interface-ga.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2019-01-15-container-storage-interface-ga.md)

[2019-05-05 09:59] markthink opened #2041 "/blog/_posts/2019-01-17-update-volume-snapshot-alpha.md"
Source File: [/blog/_posts/2019-01-17-update-volume-snapshot-alpha.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2019-01-17-update-volume-snapshot-alpha.md)

[2019-05-05 10:00] markthink opened #2042 "/blog/_posts/2019-02-06-poseidon-firmament-scheduler-announcement.md"
Source File: [/blog/_posts/2019-02-06-poseidon-firmament-scheduler-announcement.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2019-02-06-poseidon-firmament-scheduler-announcement.md)

[2019-05-05 10:01] markthink opened #2043 "/blog/_posts/2019-02-11-runc-CVE-2019-5736.md"
Source File: [/blog/_posts/2019-02-11-runc-CVE-2019-5736.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2019-02-11-runc-CVE-2019-5736.md)

[2019-05-05 10:02] markthink opened #2044 "/blog/_posts/2019-02-12-building-a-kubernetes-edge-control-plane-for-envoy-v2.md"
Source File: [/blog/_posts/2019-02-12-building-a-kubernetes-edge-control-plane-for-envoy-v2.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2019-02-12-building-a-kubernetes-edge-control-plane-for-envoy-v2.md)

[2019-05-05 10:02] markthink opened #2045 "/blog/_posts/2019-02-28-automate-operations-on-your-cluster-with-operatorhub.md"
Source File: [/blog/_posts/2019-02-28-automate-operations-on-your-cluster-with-operatorhub.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2019-02-28-automate-operations-on-your-cluster-with-operatorhub.md)

[2019-05-05 10:03] markthink opened #2046 "/blog/_posts/2019-03-07-raw-block-volume-support-to-beta.md"
Source File: [/blog/_posts/2019-03-07-raw-block-volume-support-to-beta.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2019-03-07-raw-block-volume-support-to-beta.md)

[2019-05-05 10:04] markthink opened #2047 "/blog/_posts/2019-03-19-kubeedge-k8s-based-edge-intro.md"
Source File: [/blog/_posts/2019-03-19-kubeedge-k8s-based-edge-intro.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2019-03-19-kubeedge-k8s-based-edge-intro.md)

[2019-05-05 10:05] markthink opened #2048 "/blog/_posts/2019-03-20-A-Look-Back-And-Whats-In-Store-For-Kubernetes-Contributor-Summits.md"
Source File: [/blog/_posts/2019-03-20-A-Look-Back-And-Whats-In-Store-For-Kubernetes-Contributor-Summits.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2019-03-20-A-Look-Back-And-Whats-In-Store-For-Kubernetes-Contributor-Summits.md)

[2019-05-05 10:06] markthink opened #2049 "/blog/_posts/2019-03-21-a-guide-to-kubernetes-admission-controllers.md"
Source File: [/blog/_posts/2019-03-21-a-guide-to-kubernetes-admission-controllers.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2019-03-21-a-guide-to-kubernetes-admission-controllers.md)

[2019-05-05 10:06] markthink opened #2050 "/blog/_posts/2019-03-22-e2e-testing-for-everyone.md"
Source File: [/blog/_posts/2019-03-22-e2e-testing-for-everyone.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2019-03-22-e2e-testing-for-everyone.md)

[2019-05-05 10:07] markthink opened #2051 "/blog/_posts/2019-03-25-1-14-release-announcement.md"
Source File: [/blog/_posts/2019-03-25-1-14-release-announcement.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2019-03-25-1-14-release-announcement.md)

[2019-05-05 10:33] markthink opened #2052 "/blog/_posts/2019-03-25-1-14-release-announcement.md"
Source File: [/blog/_posts/2019-03-25-1-14-release-announcement.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2019-03-25-1-14-release-announcement.md)

[2019-05-05 10:33] markthink opened #2053 "/blog/_posts/Kubernetes-setup-using-Ansible-and-Vagrant.md"
Source File: [/blog/_posts/Kubernetes-setup-using-Ansible-and-Vagrant.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/Kubernetes-setup-using-Ansible-and-Vagrant.md)

[2019-05-05 10:33] markthink opened #2054 "/case-studies/adform/index.html"
Source File: [/case-studies/adform/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/adform/index.html)

[2019-05-05 10:33] markthink opened #2055 "/case-studies/amadeus/index.html"
Source File: [/case-studies/amadeus/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/amadeus/index.html)

[2019-05-05 10:33] markthink opened #2056 "/case-studies/ancestry/index.html"
Source File: [/case-studies/ancestry/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/ancestry/index.html)

[2019-05-05 10:33] markthink opened #2057 "/case-studies/appdirect/index.html"
Source File: [/case-studies/appdirect/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/appdirect/index.html)

[2019-05-05 10:33] markthink opened #2058 "/case-studies/blablacar/index.html"
Source File: [/case-studies/blablacar/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/blablacar/index.html)

[2019-05-05 10:33] markthink opened #2059 "/case-studies/capital-one/index.html"
Source File: [/case-studies/capital-one/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/capital-one/index.html)

[2019-05-05 10:33] markthink opened #2060 "/case-studies/crowdfire/index.html"
Source File: [/case-studies/crowdfire/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/crowdfire/index.html)

[2019-05-05 10:34] markthink opened #2061 "/case-studies/golfnow/index.html"
Source File: [/case-studies/golfnow/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/golfnow/index.html)

[2019-05-05 10:34] markthink opened #2062 "/case-studies/haufegroup/index.html"
Source File: [/case-studies/haufegroup/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/haufegroup/index.html)

[2019-05-05 10:34] markthink opened #2063 "/case-studies/ibm/index.html"
Source File: [/case-studies/ibm/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/ibm/index.html)

[2019-05-05 10:34] markthink opened #2064 "/case-studies/ing/index.html"
Source File: [/case-studies/ing/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/ing/index.html)

[2019-05-05 10:34] markthink opened #2065 "/case-studies/naic/index.html"
Source File: [/case-studies/naic/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/naic/index.html)

[2019-05-05 10:35] markthink opened #2066 "/case-studies/nav/index.html"
Source File: [/case-studies/nav/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/nav/index.html)

[2019-05-05 10:35] markthink opened #2067 "/case-studies/netease/index.html"
Source File: [/case-studies/netease/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/netease/index.html)

[2019-05-05 10:35] markthink opened #2068 "/case-studies/newyorktimes/index.html"
Source File: [/case-studies/newyorktimes/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/newyorktimes/index.html)

[2019-05-05 10:35] markthink opened #2069 "/case-studies/northwestern-mutual/index.html"
Source File: [/case-studies/northwestern-mutual/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/northwestern-mutual/index.html)

[2019-05-05 10:36] markthink opened #2070 "/case-studies/ocado/index.html"
Source File: [/case-studies/ocado/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/ocado/index.html)

[2019-05-05 10:36] markthink opened #2071 "/case-studies/openAI/index.html"
Source File: [/case-studies/openAI/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/openAI/index.html)

[2019-05-05 10:36] markthink opened #2072 "/case-studies/peardeck/index.html"
Source File: [/case-studies/peardeck/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/peardeck/index.html)

[2019-05-05 10:37] markthink opened #2073 "/case-studies/pearson/index.html"
Source File: [/case-studies/pearson/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/pearson/index.html)

[2019-05-05 10:37] markthink opened #2074 "/case-studies/pinterest/index.html"
Source File: [/case-studies/pinterest/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/pinterest/index.html)

[2019-05-05 10:37] markthink opened #2075 "/case-studies/slingtv/index.html"
Source File: [/case-studies/slingtv/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/slingtv/index.html)

[2019-05-05 10:38] markthink opened #2076 "/case-studies/wikimedia/index.html"
Source File: [/case-studies/wikimedia/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/wikimedia/index.html)

[2019-05-05 10:38] markthink opened #2077 "/case-studies/wink/index.html"
Source File: [/case-studies/wink/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/wink/index.html)

[2019-05-05 10:38] markthink opened #2078 "/case-studies/workiva/index.html"
Source File: [/case-studies/workiva/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/workiva/index.html)

[2019-05-05 10:39] markthink opened #2079 "/case-studies/ygrene/index.html"
Source File: [/case-studies/ygrene/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/ygrene/index.html)

[2019-05-05 10:39] markthink opened #2080 "/case-studies/zalando/index.html"
Source File: [/case-studies/zalando/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/zalando/index.html)

[2019-05-05 10:40] markthink opened #2081 "/docs/concepts/cluster-administration/networking.md"
Source File: [/docs/concepts/cluster-administration/networking.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/concepts/cluster-administration/networking.md)

[2019-05-05 10:40] markthink opened #2082 "/docs/concepts/configuration/assign-pod-node.md"
Source File: [/docs/concepts/configuration/assign-pod-node.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/concepts/configuration/assign-pod-node.md)

[2019-05-05 10:41] markthink opened #2083 "/docs/concepts/configuration/overview.md"
Source File: [/docs/concepts/configuration/overview.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/concepts/configuration/overview.md)

[2019-05-05 10:41] markthink opened #2084 "/docs/concepts/configuration/pod-priority-preemption.md"
Source File: [/docs/concepts/configuration/pod-priority-preemption.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/concepts/configuration/pod-priority-preemption.md)

[2019-05-05 10:42] markthink opened #2085 "/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md"
Source File: [/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md)

[2019-05-05 10:42] markthink opened #2086 "/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md"
Source File: [/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md)

[2019-05-05 10:43] markthink opened #2087 "/docs/concepts/extend-kubernetes/extend-cluster.md"
Source File: [/docs/concepts/extend-kubernetes/extend-cluster.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/concepts/extend-kubernetes/extend-cluster.md)

[2019-05-05 10:44] markthink opened #2088 "/docs/concepts/extend-kubernetes/poseidon-firmament-alternate-scheduler.md"
Source File: [/docs/concepts/extend-kubernetes/poseidon-firmament-alternate-scheduler.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/concepts/extend-kubernetes/poseidon-firmament-alternate-scheduler.md)

[2019-05-05 10:44] markthink opened #2089 "/docs/concepts/extend-kubernetes/service-catalog.md"
Source File: [/docs/concepts/extend-kubernetes/service-catalog.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/concepts/extend-kubernetes/service-catalog.md)

[2019-05-05 10:45] markthink opened #2090 "/docs/concepts/overview/object-management-kubectl/declarative-config.md"
Source File: [/docs/concepts/overview/object-management-kubectl/declarative-config.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/concepts/overview/object-management-kubectl/declarative-config.md)

[2019-05-05 10:45] markthink opened #2091 "/docs/concepts/overview/object-management-kubectl/imperative-command.md"
Source File: [/docs/concepts/overview/object-management-kubectl/imperative-command.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/concepts/overview/object-management-kubectl/imperative-command.md)

[2019-05-05 10:46] markthink opened #2092 "/docs/concepts/overview/object-management-kubectl/kustomization.md"
Source File: [/docs/concepts/overview/object-management-kubectl/kustomization.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/concepts/overview/object-management-kubectl/kustomization.md)

[2019-05-05 10:47] markthink opened #2093 "/docs/concepts/overview/object-management-kubectl/overview.md"
Source File: [/docs/concepts/overview/object-management-kubectl/overview.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/concepts/overview/object-management-kubectl/overview.md)

[2019-05-05 10:47] markthink opened #2094 "/docs/concepts/overview/working-with-objects/common-labels.md"
Source File: [/docs/concepts/overview/working-with-objects/common-labels.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/concepts/overview/working-with-objects/common-labels.md)

[2019-05-05 10:48] markthink opened #2095 "/docs/concepts/services-networking/ingress-controllers.md"
Source File: [/docs/concepts/services-networking/ingress-controllers.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/concepts/services-networking/ingress-controllers.md)

[2019-05-05 10:49] markthink opened #2096 "/docs/concepts/storage/persistent-volumes.md"
Source File: [/docs/concepts/storage/persistent-volumes.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/concepts/storage/persistent-volumes.md)

[2019-05-05 10:49] markthink opened #2097 "/docs/concepts/storage/volume-snapshots.md"
Source File: [/docs/concepts/storage/volume-snapshots.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/concepts/storage/volume-snapshots.md)

[2019-05-05 10:50] markthink opened #2098 "/docs/concepts/workloads/controllers/jobs-run-to-completion.md"
Source File: [/docs/concepts/workloads/controllers/jobs-run-to-completion.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/concepts/workloads/controllers/jobs-run-to-completion.md)

[2019-05-05 10:51] markthink opened #2099 "/docs/concepts/workloads/controllers/replicationcontroller.md"
Source File: [/docs/concepts/workloads/controllers/replicationcontroller.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/concepts/workloads/controllers/replicationcontroller.md)

[2019-05-05 10:52] markthink opened #2100 "/docs/concepts/workloads/controllers/ttlafterfinished.md"
Source File: [/docs/concepts/workloads/controllers/ttlafterfinished.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/concepts/workloads/controllers/ttlafterfinished.md)

[2019-05-05 10:52] markthink opened #2101 "/docs/concepts/workloads/pods/disruptions.md"
Source File: [/docs/concepts/workloads/pods/disruptions.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/concepts/workloads/pods/disruptions.md)

[2019-05-05 10:53] markthink opened #2102 "/docs/contribute/intermediate.md"
Source File: [/docs/contribute/intermediate.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/contribute/intermediate.md)

[2019-05-05 10:54] markthink opened #2103 "/docs/contribute/participating.md"
Source File: [/docs/contribute/participating.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/contribute/participating.md)

[2019-05-05 10:55] markthink opened #2104 "/docs/contribute/style/style-guide.md"
Source File: [/docs/contribute/style/style-guide.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/contribute/style/style-guide.md)

[2019-05-05 10:56] markthink opened #2105 "/docs/getting-started-guides/ubuntu/validation.md"
Source File: [/docs/getting-started-guides/ubuntu/validation.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/getting-started-guides/ubuntu/validation.md)

[2019-05-05 10:57] markthink opened #2106 "/docs/reference/access-authn-authz/abac.md"
Source File: [/docs/reference/access-authn-authz/abac.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/access-authn-authz/abac.md)

[2019-05-05 10:57] markthink opened #2107 "/docs/reference/access-authn-authz/authentication.md"
Source File: [/docs/reference/access-authn-authz/authentication.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/access-authn-authz/authentication.md)

[2019-05-05 10:58] markthink opened #2108 "/docs/reference/access-authn-authz/controlling-access.md"
Source File: [/docs/reference/access-authn-authz/controlling-access.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/access-authn-authz/controlling-access.md)

[2019-05-05 11:26] markthink opened #2109 "/docs/reference/access-authn-authz/controlling-access.md"
Source File: [/docs/reference/access-authn-authz/controlling-access.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/access-authn-authz/controlling-access.md)

[2019-05-05 11:26] markthink opened #2110 "/docs/reference/access-authn-authz/extensible-admission-controllers.md"
Source File: [/docs/reference/access-authn-authz/extensible-admission-controllers.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md)

[2019-05-05 11:26] markthink opened #2111 "/docs/reference/access-authn-authz/rbac.md"
Source File: [/docs/reference/access-authn-authz/rbac.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/access-authn-authz/rbac.md)

[2019-05-05 11:26] markthink opened #2112 "/docs/reference/command-line-tools-reference/cloud-controller-manager.md"
Source File: [/docs/reference/command-line-tools-reference/cloud-controller-manager.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/command-line-tools-reference/cloud-controller-manager.md)

[2019-05-05 11:26] markthink opened #2113 "/docs/reference/command-line-tools-reference/feature-gates.md"
Source File: [/docs/reference/command-line-tools-reference/feature-gates.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/command-line-tools-reference/feature-gates.md)

[2019-05-05 11:26] markthink opened #2114 "/docs/reference/command-line-tools-reference/federation-apiserver.md"
Source File: [/docs/reference/command-line-tools-reference/federation-apiserver.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/command-line-tools-reference/federation-apiserver.md)

[2019-05-05 11:27] markthink opened #2115 "/docs/reference/command-line-tools-reference/federation-controller-manager.md"
Source File: [/docs/reference/command-line-tools-reference/federation-controller-manager.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/command-line-tools-reference/federation-controller-manager.md)

[2019-05-05 11:27] markthink opened #2116 "/docs/reference/command-line-tools-reference/kube-controller-manager.md"
Source File: [/docs/reference/command-line-tools-reference/kube-controller-manager.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/command-line-tools-reference/kube-controller-manager.md)

[2019-05-05 11:27] markthink opened #2117 "/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping.md"
Source File: [/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping.md)

[2019-05-05 11:27] markthink opened #2118 "/docs/reference/federation/extensions/v1beta1/definitions.html"
Source File: [/docs/reference/federation/extensions/v1beta1/definitions.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/federation/extensions/v1beta1/definitions.html)

[2019-05-05 11:27] markthink opened #2119 "/docs/reference/federation/extensions/v1beta1/operations.html"
Source File: [/docs/reference/federation/extensions/v1beta1/operations.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/federation/extensions/v1beta1/operations.html)

[2019-05-05 11:27] markthink opened #2120 "/docs/reference/federation/federation/v1beta1/operations.html"
Source File: [/docs/reference/federation/federation/v1beta1/operations.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/federation/federation/v1beta1/operations.html)

[2019-05-05 11:27] markthink opened #2121 "/docs/reference/federation/v1/definitions.html"
Source File: [/docs/reference/federation/v1/definitions.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/federation/v1/definitions.html)

[2019-05-05 11:28] markthink opened #2122 "/docs/reference/federation/v1/operations.html"
Source File: [/docs/reference/federation/v1/operations.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/federation/v1/operations.html)

[2019-05-05 11:28] markthink opened #2123 "/docs/reference/glossary/app-container.md"
Source File: [/docs/reference/glossary/app-container.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/glossary/app-container.md)

[2019-05-05 11:28] markthink opened #2124 "/docs/reference/glossary/device-plugin.md"
Source File: [/docs/reference/glossary/device-plugin.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/glossary/device-plugin.md)

[2019-05-05 11:28] markthink opened #2125 "/docs/reference/glossary/extensions.md"
Source File: [/docs/reference/glossary/extensions.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/glossary/extensions.md)

[2019-05-05 11:29] markthink opened #2126 "/docs/reference/glossary/host-aliases.md"
Source File: [/docs/reference/glossary/host-aliases.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/glossary/host-aliases.md)

[2019-05-05 11:29] markthink opened #2127 "/docs/reference/glossary/pod-disruption-budget.md"
Source File: [/docs/reference/glossary/pod-disruption-budget.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/glossary/pod-disruption-budget.md)

[2019-05-05 11:29] markthink opened #2128 "/docs/reference/glossary/pod-lifecycle.md"
Source File: [/docs/reference/glossary/pod-lifecycle.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/glossary/pod-lifecycle.md)

[2019-05-05 11:30] markthink opened #2129 "/docs/reference/glossary/pod-priority.md"
Source File: [/docs/reference/glossary/pod-priority.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/glossary/pod-priority.md)

[2019-05-05 11:30] markthink opened #2130 "/docs/reference/glossary/preemption.md"
Source File: [/docs/reference/glossary/preemption.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/glossary/preemption.md)

[2019-05-05 11:30] markthink opened #2131 "/docs/reference/glossary/rkt.md"
Source File: [/docs/reference/glossary/rkt.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/glossary/rkt.md)

[2019-05-05 11:31] markthink opened #2132 "/docs/reference/glossary/taint.md"
Source File: [/docs/reference/glossary/taint.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/glossary/taint.md)

[2019-05-05 11:31] markthink opened #2133 "/docs/reference/glossary/toleration.md"
Source File: [/docs/reference/glossary/toleration.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/glossary/toleration.md)

[2019-05-05 11:31] markthink opened #2134 "/docs/reference/glossary/workload.md"
Source File: [/docs/reference/glossary/workload.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/glossary/workload.md)

[2019-05-05 11:32] markthink opened #2135 "/docs/reference/kubectl/cheatsheet.md"
Source File: [/docs/reference/kubectl/cheatsheet.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/kubectl/cheatsheet.md)

[2019-05-05 11:32] markthink opened #2136 "/docs/reference/kubectl/overview.md"
Source File: [/docs/reference/kubectl/overview.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/kubectl/overview.md)

[2019-05-05 11:33] markthink opened #2137 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs.md)

[2019-05-05 11:33] markthink opened #2138 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew.md)

[2019-05-05 11:34] markthink opened #2139 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_all.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_all.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_all.md)

[2019-05-05 11:34] markthink opened #2140 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_apiserver-etcd-client.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_apiserver-etcd-client.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_apiserver-etcd-client.md)

[2019-05-05 11:35] markthink opened #2141 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_apiserver.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_apiserver.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_apiserver.md)

[2019-05-05 11:35] markthink opened #2142 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_etcd-healthcheck-client.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_etcd-healthcheck-client.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_etcd-healthcheck-client.md)

[2019-05-05 11:36] markthink opened #2143 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_etcd-peer.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_etcd-peer.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_etcd-peer.md)

[2019-05-05 11:36] markthink opened #2144 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_etcd-server.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_etcd-server.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_etcd-server.md)

[2019-05-05 11:37] markthink opened #2145 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_front-proxy-client.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_front-proxy-client.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_front-proxy-client.md)

[2019-05-05 11:37] markthink opened #2146 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubeconfig.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubeconfig.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubeconfig.md)

[2019-05-05 11:38] markthink opened #2147 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubeconfig_user.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubeconfig_user.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubeconfig_user.md)

[2019-05-05 11:38] markthink opened #2148 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet.md)

[2019-05-05 11:39] markthink opened #2149 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet_config.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet_config.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet_config.md)

[2019-05-05 11:40] markthink opened #2150 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet_config_download.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet_config_download.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet_config_download.md)

[2019-05-05 11:40] markthink opened #2151 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet_config_enable-dynamic.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet_config_enable-dynamic.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_kubelet_config_enable-dynamic.md)

[2019-05-05 11:41] markthink opened #2152 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_selfhosting.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_selfhosting.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_selfhosting.md)

[2019-05-05 11:42] markthink opened #2153 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_selfhosting_pivot.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_selfhosting_pivot.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_selfhosting_pivot.md)

[2019-05-05 11:42] markthink opened #2154 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_print.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_print.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_print.md)

[2019-05-05 11:43] markthink opened #2155 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_print_init-defaults.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_print_init-defaults.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_print_init-defaults.md)

[2019-05-05 11:44] markthink opened #2156 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_print_join-defaults.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_print_join-defaults.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_config_print_join-defaults.md)

[2019-05-05 11:44] markthink opened #2157 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase.md)

[2019-05-05 11:45] markthink opened #2158 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon.md)

[2019-05-05 11:46] markthink opened #2159 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_all.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_all.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_all.md)

[2019-05-05 11:47] markthink opened #2160 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_coredns.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_coredns.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_coredns.md)

[2019-05-05 11:48] markthink opened #2161 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_kube-proxy.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_kube-proxy.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_addon_kube-proxy.md)

[2019-05-05 11:48] markthink opened #2162 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_bootstrap-token.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_bootstrap-token.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_bootstrap-token.md)

[2019-05-05 11:49] markthink opened #2163 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs.md)

[2019-05-05 11:50] markthink opened #2164 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_all.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_all.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_all.md)

[2019-05-05 11:51] markthink opened #2165 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver-etcd-client.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver-etcd-client.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver-etcd-client.md)

[2019-05-05 13:55] markthink opened #2166 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver-etcd-client.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver-etcd-client.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver-etcd-client.md)

[2019-05-05 13:55] markthink opened #2167 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver-kubelet-client.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver-kubelet-client.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver-kubelet-client.md)

[2019-05-05 13:55] markthink opened #2168 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_apiserver.md)

[2019-05-05 13:55] markthink opened #2169 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_ca.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_ca.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_ca.md)

[2019-05-05 13:55] markthink opened #2170 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-ca.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-ca.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-ca.md)

[2019-05-05 13:55] markthink opened #2171 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-healthcheck-client.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-healthcheck-client.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-healthcheck-client.md)

[2019-05-05 13:55] markthink opened #2172 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-peer.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-peer.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-peer.md)

[2019-05-05 13:55] markthink opened #2173 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-server.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-server.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_etcd-server.md)

[2019-05-05 13:56] markthink opened #2174 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_front-proxy-ca.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_front-proxy-ca.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_front-proxy-ca.md)

[2019-05-05 13:56] markthink opened #2175 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_front-proxy-client.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_front-proxy-client.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_front-proxy-client.md)

[2019-05-05 13:56] markthink opened #2176 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_sa.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_sa.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_certs_sa.md)

[2019-05-05 13:56] markthink opened #2177 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane.md)

[2019-05-05 13:56] markthink opened #2178 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_all.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_all.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_all.md)

[2019-05-05 13:57] markthink opened #2179 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_apiserver.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_apiserver.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_apiserver.md)

[2019-05-05 13:57] markthink opened #2180 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_controller-manager.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_controller-manager.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_controller-manager.md)

[2019-05-05 13:57] markthink opened #2181 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_scheduler.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_scheduler.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_control-plane_scheduler.md)

[2019-05-05 13:57] markthink opened #2182 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_etcd.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_etcd.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_etcd.md)

[2019-05-05 13:58] markthink opened #2183 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_etcd_local.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_etcd_local.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_etcd_local.md)

[2019-05-05 13:58] markthink opened #2184 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig.md)

[2019-05-05 13:58] markthink opened #2185 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_all.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_all.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_all.md)

[2019-05-05 13:58] markthink opened #2186 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_kubelet.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_kubelet.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_kubelet.md)

[2019-05-05 13:59] markthink opened #2187 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_scheduler.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_scheduler.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_scheduler.md)

[2019-05-05 13:59] markthink opened #2188 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubelet-start.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubelet-start.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubelet-start.md)

[2019-05-05 14:00] markthink opened #2189 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_preflight.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_preflight.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_preflight.md)

[2019-05-05 14:00] markthink opened #2190 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-certs.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-certs.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-certs.md)

[2019-05-05 14:00] markthink opened #2191 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config.md)

[2019-05-05 14:01] markthink opened #2192 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_all.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_all.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_all.md)

[2019-05-05 14:01] markthink opened #2193 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_kubeadm.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_kubeadm.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_kubeadm.md)

[2019-05-05 14:02] markthink opened #2194 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_kubelet.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_kubelet.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_upload-config_kubelet.md)

[2019-05-05 14:02] markthink opened #2195 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase.md)

[2019-05-05 14:03] markthink opened #2196 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join.md)

[2019-05-05 14:03] markthink opened #2197 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_all.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_all.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_all.md)

[2019-05-05 14:04] markthink opened #2198 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_etcd.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_etcd.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_etcd.md)

[2019-05-05 14:04] markthink opened #2199 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_mark-control-plane.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_mark-control-plane.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_mark-control-plane.md)

[2019-05-05 14:05] markthink opened #2200 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_update-status.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_update-status.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-join_update-status.md)

[2019-05-05 14:05] markthink opened #2201 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare.md)

[2019-05-05 14:06] markthink opened #2202 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_all.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_all.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_all.md)

[2019-05-05 14:07] markthink opened #2203 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_certs.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_certs.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_certs.md)

[2019-05-05 14:07] markthink opened #2204 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_control-plane.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_control-plane.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_control-plane.md)

[2019-05-05 14:08] markthink opened #2205 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_download-certs.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_download-certs.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_download-certs.md)

[2019-05-05 14:08] markthink opened #2206 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_kubeconfig.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_kubeconfig.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_control-plane-prepare_kubeconfig.md)

[2019-05-05 14:09] markthink opened #2207 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_kubelet-start.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_kubelet-start.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_kubelet-start.md)

[2019-05-05 14:10] markthink opened #2208 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_preflight.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_preflight.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_join_phase_preflight.md)

[2019-05-05 14:10] markthink opened #2209 "/docs/reference/setup-tools/kubeadm/implementation-details.md"
Source File: [/docs/reference/setup-tools/kubeadm/implementation-details.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/implementation-details.md)

[2019-05-05 14:11] markthink opened #2210 "/docs/reference/setup-tools/kubeadm/kubeadm-alpha.md"
Source File: [/docs/reference/setup-tools/kubeadm/kubeadm-alpha.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/kubeadm-alpha.md)

[2019-05-05 14:12] markthink opened #2211 "/docs/reference/setup-tools/kubeadm/kubeadm-init-phase.md"
Source File: [/docs/reference/setup-tools/kubeadm/kubeadm-init-phase.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/kubeadm-init-phase.md)

[2019-05-05 14:13] markthink opened #2212 "/docs/reference/setup-tools/kubeadm/kubeadm-join-phase.md"
Source File: [/docs/reference/setup-tools/kubeadm/kubeadm-join-phase.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/kubeadm-join-phase.md)

[2019-05-05 14:13] markthink opened #2213 "/docs/reference/using-api/api-concepts.md"
Source File: [/docs/reference/using-api/api-concepts.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/using-api/api-concepts.md)

[2019-05-05 14:14] markthink opened #2214 "/docs/reference/using-api/api-overview.md"
Source File: [/docs/reference/using-api/api-overview.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/using-api/api-overview.md)

[2019-05-05 14:15] markthink opened #2215 "/docs/reference/using-api/deprecation-policy.md"
Source File: [/docs/reference/using-api/deprecation-policy.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/using-api/deprecation-policy.md)

[2019-05-05 14:16] markthink opened #2216 "/docs/setup/cluster-large.md"
Source File: [/docs/setup/cluster-large.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/setup/cluster-large.md)

[2019-05-05 14:16] markthink opened #2217 "/docs/setup/custom-cloud/kops.md"
Source File: [/docs/setup/custom-cloud/kops.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/setup/custom-cloud/kops.md)

[2019-05-05 14:17] markthink opened #2218 "/docs/setup/custom-cloud/kubespray.md"
Source File: [/docs/setup/custom-cloud/kubespray.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/setup/custom-cloud/kubespray.md)

[2019-05-05 14:18] markthink opened #2219 "/docs/setup/independent/ha-topology.md"
Source File: [/docs/setup/independent/ha-topology.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/setup/independent/ha-topology.md)

[2019-05-05 14:19] markthink opened #2220 "/docs/setup/independent/high-availability.md"
Source File: [/docs/setup/independent/high-availability.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/setup/independent/high-availability.md)

[2019-05-05 14:20] markthink opened #2221 "/docs/setup/independent/kubelet-integration.md"
Source File: [/docs/setup/independent/kubelet-integration.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/setup/independent/kubelet-integration.md)

[2019-05-05 14:21] markthink opened #2222 "/docs/setup/independent/troubleshooting-kubeadm.md"
Source File: [/docs/setup/independent/troubleshooting-kubeadm.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/setup/independent/troubleshooting-kubeadm.md)

[2019-05-05 15:24] markthink opened #2223 "/docs/setup/independent/troubleshooting-kubeadm.md"
Source File: [/docs/setup/independent/troubleshooting-kubeadm.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/setup/independent/troubleshooting-kubeadm.md)

[2019-05-05 15:24] markthink opened #2224 "/docs/setup/minikube.md"
Source File: [/docs/setup/minikube.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/setup/minikube.md)

[2019-05-05 15:24] markthink opened #2225 "/docs/setup/multiple-zones.md"
Source File: [/docs/setup/multiple-zones.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/setup/multiple-zones.md)

[2019-05-05 15:24] markthink opened #2226 "/docs/setup/on-premises-vm/ovirt.md"
Source File: [/docs/setup/on-premises-vm/ovirt.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/setup/on-premises-vm/ovirt.md)

[2019-05-05 15:24] markthink opened #2227 "/docs/setup/pick-right-solution.md"
Source File: [/docs/setup/pick-right-solution.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/setup/pick-right-solution.md)

[2019-05-05 15:25] markthink opened #2228 "/docs/setup/release/notes.md"
Source File: [/docs/setup/release/notes.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/setup/release/notes.md)

[2019-05-05 15:25] markthink opened #2229 "/docs/setup/turnkey/clc.md"
Source File: [/docs/setup/turnkey/clc.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/setup/turnkey/clc.md)

[2019-05-05 15:25] markthink opened #2230 "/docs/setup/turnkey/gce.md"
Source File: [/docs/setup/turnkey/gce.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/setup/turnkey/gce.md)

[2019-05-05 15:25] markthink opened #2231 "/docs/setup/turnkey/icp.md"
Source File: [/docs/setup/turnkey/icp.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/setup/turnkey/icp.md)

[2019-05-05 15:25] markthink opened #2232 "/docs/setup/turnkey/stackpoint.md"
Source File: [/docs/setup/turnkey/stackpoint.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/setup/turnkey/stackpoint.md)

[2019-05-05 15:25] markthink opened #2233 "/docs/setup/version-skew-policy.md"
Source File: [/docs/setup/version-skew-policy.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/setup/version-skew-policy.md)

[2019-05-05 15:25] markthink opened #2234 "/docs/setup/windows/_index.md"
Source File: [/docs/setup/windows/_index.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/setup/windows/_index.md)

[2019-05-05 15:26] markthink opened #2235 "/docs/setup/windows/user-guide-windows-containers.md"
Source File: [/docs/setup/windows/user-guide-windows-containers.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/setup/windows/user-guide-windows-containers.md)

[2019-05-05 15:26] markthink opened #2236 "/docs/setup/windows/user-guide-windows-nodes.md"
Source File: [/docs/setup/windows/user-guide-windows-nodes.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/setup/windows/user-guide-windows-nodes.md)

[2019-05-05 15:26] markthink opened #2237 "/docs/sitemap.md"
Source File: [/docs/sitemap.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/sitemap.md)

[2019-05-05 15:26] markthink opened #2238 "/docs/tasks/access-application-cluster/ingress-minikube.md"
Source File: [/docs/tasks/access-application-cluster/ingress-minikube.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/access-application-cluster/ingress-minikube.md)

[2019-05-05 15:27] markthink opened #2239 "/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning.md"
Source File: [/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning.md)

[2019-05-05 15:27] markthink opened #2240 "/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions.md"
Source File: [/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions.md)

[2019-05-05 15:27] markthink opened #2241 "/docs/tasks/administer-cluster/access-cluster-api.md"
Source File: [/docs/tasks/administer-cluster/access-cluster-api.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/administer-cluster/access-cluster-api.md)

[2019-05-05 15:28] markthink opened #2242 "/docs/tasks/administer-cluster/configure-upgrade-etcd.md"
Source File: [/docs/tasks/administer-cluster/configure-upgrade-etcd.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/administer-cluster/configure-upgrade-etcd.md)

[2019-05-05 15:28] markthink opened #2243 "/docs/tasks/administer-cluster/dns-horizontal-autoscaling.md"
Source File: [/docs/tasks/administer-cluster/dns-horizontal-autoscaling.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/administer-cluster/dns-horizontal-autoscaling.md)

[2019-05-05 15:28] markthink opened #2244 "/docs/tasks/administer-cluster/highly-available-master.md"
Source File: [/docs/tasks/administer-cluster/highly-available-master.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/administer-cluster/highly-available-master.md)

[2019-05-05 15:29] markthink opened #2245 "/docs/tasks/administer-cluster/ip-masq-agent.md"
Source File: [/docs/tasks/administer-cluster/ip-masq-agent.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/administer-cluster/ip-masq-agent.md)

[2019-05-05 15:29] markthink opened #2246 "/docs/tasks/administer-cluster/kms-provider.md"
Source File: [/docs/tasks/administer-cluster/kms-provider.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/administer-cluster/kms-provider.md)

[2019-05-05 15:29] markthink opened #2247 "/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md"
Source File: [/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-certs.md)

[2019-05-05 15:30] markthink opened #2248 "/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-13.md"
Source File: [/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-13.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-13.md)

[2019-05-05 15:30] markthink opened #2249 "/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-14.md"
Source File: [/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-14.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-14.md)

[2019-05-05 15:31] markthink opened #2250 "/blog/_posts/2016-06-00-Bringing-End-To-End-Testing-To-Azure.md"
Source File: [/blog/_posts/2016-06-00-Bringing-End-To-End-Testing-To-Azure.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-06-00-Bringing-End-To-End-Testing-To-Azure.md)

[2019-05-05 15:31] markthink opened #2251 "/docs/tasks/administer-cluster/namespaces-walkthrough.md"
Source File: [/docs/tasks/administer-cluster/namespaces-walkthrough.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/administer-cluster/namespaces-walkthrough.md)

[2019-05-05 15:32] markthink opened #2252 "/docs/tasks/administer-cluster/namespaces.md"
Source File: [/docs/tasks/administer-cluster/namespaces.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/administer-cluster/namespaces.md)

[2019-05-05 15:32] markthink opened #2253 "/docs/tasks/administer-cluster/reconfigure-kubelet.md"
Source File: [/docs/tasks/administer-cluster/reconfigure-kubelet.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/administer-cluster/reconfigure-kubelet.md)

[2019-05-05 15:33] markthink opened #2254 "/docs/tasks/administer-cluster/reserve-compute-resources.md"
Source File: [/docs/tasks/administer-cluster/reserve-compute-resources.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/administer-cluster/reserve-compute-resources.md)

[2019-05-05 15:33] markthink opened #2255 "/docs/tasks/administer-cluster/running-cloud-controller.md"
Source File: [/docs/tasks/administer-cluster/running-cloud-controller.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/administer-cluster/running-cloud-controller.md)

[2019-05-05 15:34] markthink opened #2256 "/docs/tasks/administer-cluster/safely-drain-node.md"
Source File: [/docs/tasks/administer-cluster/safely-drain-node.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/administer-cluster/safely-drain-node.md)

[2019-05-05 15:34] markthink opened #2257 "/docs/tasks/administer-cluster/securing-a-cluster.md"
Source File: [/docs/tasks/administer-cluster/securing-a-cluster.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/administer-cluster/securing-a-cluster.md)

[2019-05-05 15:35] markthink opened #2258 "/docs/tasks/configure-pod-container/assign-cpu-resource.md"
Source File: [/docs/tasks/configure-pod-container/assign-cpu-resource.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/configure-pod-container/assign-cpu-resource.md)

[2019-05-05 15:35] markthink opened #2259 "/docs/tasks/configure-pod-container/assign-memory-resource.md"
Source File: [/docs/tasks/configure-pod-container/assign-memory-resource.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/configure-pod-container/assign-memory-resource.md)

[2019-05-05 15:36] markthink opened #2260 "/docs/tasks/configure-pod-container/configure-gmsa.md"
Source File: [/docs/tasks/configure-pod-container/configure-gmsa.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/configure-pod-container/configure-gmsa.md)

[2019-05-05 15:36] markthink opened #2261 "/docs/tasks/configure-pod-container/configure-pod-configmap.md"
Source File: [/docs/tasks/configure-pod-container/configure-pod-configmap.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/configure-pod-container/configure-pod-configmap.md)

[2019-05-05 15:37] markthink opened #2262 "/docs/tasks/configure-pod-container/security-context.md"
Source File: [/docs/tasks/configure-pod-container/security-context.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/configure-pod-container/security-context.md)

[2019-05-05 15:38] markthink opened #2263 "/docs/tasks/debug-application-cluster/debug-application-introspection.md"
Source File: [/docs/tasks/debug-application-cluster/debug-application-introspection.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/debug-application-cluster/debug-application-introspection.md)

[2019-05-05 15:38] markthink opened #2264 "/docs/tasks/debug-application-cluster/logging-stackdriver.md"
Source File: [/docs/tasks/debug-application-cluster/logging-stackdriver.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/debug-application-cluster/logging-stackdriver.md)

[2019-05-05 15:39] markthink opened #2265 "/docs/tasks/debug-application-cluster/resource-metrics-pipeline.md"
Source File: [/docs/tasks/debug-application-cluster/resource-metrics-pipeline.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/debug-application-cluster/resource-metrics-pipeline.md)

[2019-05-05 15:40] markthink opened #2266 "/docs/tasks/extend-kubectl/kubectl-plugins.md"
Source File: [/docs/tasks/extend-kubectl/kubectl-plugins.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/extend-kubectl/kubectl-plugins.md)

[2019-05-05 15:40] markthink opened #2267 "/docs/tasks/federation/administer-federation/_index.md"
Source File: [/docs/tasks/federation/administer-federation/_index.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/federation/administer-federation/_index.md)

[2019-05-05 15:41] markthink opened #2268 "/docs/tasks/federation/administer-federation/cluster.md"
Source File: [/docs/tasks/federation/administer-federation/cluster.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/federation/administer-federation/cluster.md)

[2019-05-05 15:42] markthink opened #2269 "/docs/tasks/federation/administer-federation/configmap.md"
Source File: [/docs/tasks/federation/administer-federation/configmap.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/federation/administer-federation/configmap.md)

[2019-05-05 15:43] markthink opened #2270 "/docs/tasks/federation/administer-federation/daemonset.md"
Source File: [/docs/tasks/federation/administer-federation/daemonset.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/federation/administer-federation/daemonset.md)

[2019-05-05 15:43] markthink opened #2271 "/docs/tasks/federation/administer-federation/deployment.md"
Source File: [/docs/tasks/federation/administer-federation/deployment.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/federation/administer-federation/deployment.md)

[2019-05-05 15:44] markthink opened #2272 "/docs/tasks/federation/administer-federation/events.md"
Source File: [/docs/tasks/federation/administer-federation/events.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/federation/administer-federation/events.md)

[2019-05-05 15:45] markthink opened #2273 "/docs/tasks/federation/administer-federation/hpa.md"
Source File: [/docs/tasks/federation/administer-federation/hpa.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/federation/administer-federation/hpa.md)

[2019-05-05 15:46] markthink opened #2274 "/docs/tasks/federation/administer-federation/ingress.md"
Source File: [/docs/tasks/federation/administer-federation/ingress.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/federation/administer-federation/ingress.md)

[2019-05-05 15:46] markthink opened #2275 "/docs/tasks/federation/administer-federation/job.md"
Source File: [/docs/tasks/federation/administer-federation/job.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/federation/administer-federation/job.md)

[2019-05-05 15:47] markthink opened #2276 "/docs/tasks/federation/administer-federation/namespaces.md"
Source File: [/docs/tasks/federation/administer-federation/namespaces.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/federation/administer-federation/namespaces.md)

[2019-05-05 15:48] markthink opened #2277 "/docs/tasks/federation/administer-federation/replicaset.md"
Source File: [/docs/tasks/federation/administer-federation/replicaset.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/federation/administer-federation/replicaset.md)

[2019-05-05 15:49] markthink opened #2278 "/docs/tasks/federation/administer-federation/secret.md"
Source File: [/docs/tasks/federation/administer-federation/secret.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/federation/administer-federation/secret.md)

[2019-05-05 15:50] markthink opened #2279 "/docs/tasks/federation/federation-service-discovery.md"
Source File: [/docs/tasks/federation/federation-service-discovery.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/federation/federation-service-discovery.md)

[2019-05-05 16:37] markthink opened #2280 "/docs/tasks/federation/federation-service-discovery.md"
Source File: [/docs/tasks/federation/federation-service-discovery.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/federation/federation-service-discovery.md)

[2019-05-05 16:37] markthink opened #2281 "/docs/tasks/federation/set-up-cluster-federation-kubefed.md"
Source File: [/docs/tasks/federation/set-up-cluster-federation-kubefed.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/federation/set-up-cluster-federation-kubefed.md)

[2019-05-05 16:37] markthink opened #2282 "/docs/tasks/federation/set-up-coredns-provider-federation.md"
Source File: [/docs/tasks/federation/set-up-coredns-provider-federation.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/federation/set-up-coredns-provider-federation.md)

[2019-05-05 16:37] markthink opened #2283 "/docs/tasks/run-application/configure-pdb.md"
Source File: [/docs/tasks/run-application/configure-pdb.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/run-application/configure-pdb.md)

[2019-05-05 16:37] markthink opened #2284 "/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md"
Source File: [/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough.md)

[2019-05-05 16:37] markthink opened #2285 "/docs/tasks/run-application/horizontal-pod-autoscale.md"
Source File: [/docs/tasks/run-application/horizontal-pod-autoscale.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/run-application/horizontal-pod-autoscale.md)

[2019-05-05 16:37] markthink opened #2286 "/docs/tasks/run-application/run-replicated-stateful-application.md"
Source File: [/docs/tasks/run-application/run-replicated-stateful-application.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/run-application/run-replicated-stateful-application.md)

[2019-05-05 16:37] markthink opened #2287 "/docs/tasks/tls/managing-tls-in-a-cluster.md"
Source File: [/docs/tasks/tls/managing-tls-in-a-cluster.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/tls/managing-tls-in-a-cluster.md)

[2019-05-05 16:37] markthink opened #2288 "/docs/test.md"
Source File: [/docs/test.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/test.md)

[2019-05-05 16:38] markthink opened #2289 "/docs/tutorials/clusters/apparmor.md"
Source File: [/docs/tutorials/clusters/apparmor.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tutorials/clusters/apparmor.md)

[2019-05-05 16:38] markthink opened #2290 "/docs/tutorials/hello-minikube.md"
Source File: [/docs/tutorials/hello-minikube.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tutorials/hello-minikube.md)

[2019-05-05 16:38] markthink opened #2291 "/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html"
Source File: [/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tutorials/kubernetes-basics/create-cluster/cluster-intro.html)

[2019-05-05 16:38] markthink opened #2292 "/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html"
Source File: [/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tutorials/kubernetes-basics/deploy-app/deploy-interactive.html)

[2019-05-05 16:38] markthink opened #2293 "/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html"
Source File: [/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro.html)

[2019-05-05 16:39] markthink opened #2294 "/docs/tutorials/kubernetes-basics/explore/explore-intro.html"
Source File: [/docs/tutorials/kubernetes-basics/explore/explore-intro.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tutorials/kubernetes-basics/explore/explore-intro.html)

[2019-05-05 16:39] markthink opened #2295 "/docs/tutorials/kubernetes-basics/scale/scale-interactive.html"
Source File: [/docs/tutorials/kubernetes-basics/scale/scale-interactive.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tutorials/kubernetes-basics/scale/scale-interactive.html)

[2019-05-05 16:39] markthink opened #2296 "/docs/tutorials/kubernetes-basics/update/update-interactive.html"
Source File: [/docs/tutorials/kubernetes-basics/update/update-interactive.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tutorials/kubernetes-basics/update/update-interactive.html)

[2019-05-05 16:39] markthink opened #2297 "/docs/user-journeys/users/application-developer/advanced.md"
Source File: [/docs/user-journeys/users/application-developer/advanced.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/user-journeys/users/application-developer/advanced.md)

[2019-05-05 16:40] markthink opened #2298 "/docs/user-journeys/users/application-developer/foundational.md"
Source File: [/docs/user-journeys/users/application-developer/foundational.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/user-journeys/users/application-developer/foundational.md)

[2019-05-05 16:40] markthink opened #2299 "/docs/user-journeys/users/application-developer/intermediate.md"
Source File: [/docs/user-journeys/users/application-developer/intermediate.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/user-journeys/users/application-developer/intermediate.md)

[2019-05-05 16:40] markthink opened #2300 "/docs/user-journeys/users/cluster-operator/_advanced.md"
Source File: [/docs/user-journeys/users/cluster-operator/_advanced.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/user-journeys/users/cluster-operator/_advanced.md)

[2019-05-05 16:41] markthink opened #2301 "/docs/user-journeys/users/cluster-operator/foundational.md"
Source File: [/docs/user-journeys/users/cluster-operator/foundational.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/user-journeys/users/cluster-operator/foundational.md)

[2019-05-05 16:41] markthink opened #2302 "/docs/user-journeys/users/cluster-operator/intermediate.md"
Source File: [/docs/user-journeys/users/cluster-operator/intermediate.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/user-journeys/users/cluster-operator/intermediate.md)

[2019-05-05 16:42] markthink opened #2303 "/includes/federation-deprecation-warning-note.md"
Source File: [/includes/federation-deprecation-warning-note.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/includes/federation-deprecation-warning-note.md)

[2019-05-05 16:42] markthink opened #2304 "/blog/_posts/2015-06-00-The-Distributed-System-Toolkit-Patterns.md"
Source File: [/blog/_posts/2015-06-00-The-Distributed-System-Toolkit-Patterns.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-06-00-The-Distributed-System-Toolkit-Patterns.md)

[2019-05-05 16:42] markthink opened #2305 "/blog/_posts/2015-06-00-Weekly-Kubernetes-Community-Hangout.md"
Source File: [/blog/_posts/2015-06-00-Weekly-Kubernetes-Community-Hangout.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-06-00-Weekly-Kubernetes-Community-Hangout.md)

[2019-05-05 16:43] markthink opened #2306 "/blog/_posts/2015-07-00-Announcing-First-Kubernetes-Enterprise.md"
Source File: [/blog/_posts/2015-07-00-Announcing-First-Kubernetes-Enterprise.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-07-00-Announcing-First-Kubernetes-Enterprise.md)

[2019-05-05 16:43] markthink opened #2307 "/blog/_posts/2015-07-00-How-Did-Quake-Demo-From-Dockercon-Work.md"
Source File: [/blog/_posts/2015-07-00-How-Did-Quake-Demo-From-Dockercon-Work.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-07-00-How-Did-Quake-Demo-From-Dockercon-Work.md)

[2019-05-05 16:44] markthink opened #2308 "/blog/_posts/2015-07-00-Kubernetes-10-Launch-Party-At-Oscon.md"
Source File: [/blog/_posts/2015-07-00-Kubernetes-10-Launch-Party-At-Oscon.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-07-00-Kubernetes-10-Launch-Party-At-Oscon.md)

[2019-05-05 16:44] markthink opened #2309 "/blog/_posts/2015-07-00-Strong-Simple-Ssl-For-Kubernetes.md"
Source File: [/blog/_posts/2015-07-00-Strong-Simple-Ssl-For-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-07-00-Strong-Simple-Ssl-For-Kubernetes.md)

[2019-05-05 16:45] markthink opened #2310 "/blog/_posts/2015-07-00-The-Growing-Kubernetes-Ecosystem.md"
Source File: [/blog/_posts/2015-07-00-The-Growing-Kubernetes-Ecosystem.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-07-00-The-Growing-Kubernetes-Ecosystem.md)

[2019-05-05 16:45] markthink opened #2311 "/blog/_posts/2015-07-00-Weekly-Kubernetes-Community-Hangout.md"
Source File: [/blog/_posts/2015-07-00-Weekly-Kubernetes-Community-Hangout.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-07-00-Weekly-Kubernetes-Community-Hangout.md)

[2019-05-05 16:46] markthink opened #2312 "/blog/_posts/2015-07-00-Weekly-Kubernetes-Community-Hangout_23.md"
Source File: [/blog/_posts/2015-07-00-Weekly-Kubernetes-Community-Hangout_23.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-07-00-Weekly-Kubernetes-Community-Hangout_23.md)

[2019-05-05 16:46] markthink opened #2313 "/blog/_posts/2015-08-00-Using-Kubernetes-Namespaces-To-Manage.md"
Source File: [/blog/_posts/2015-08-00-Using-Kubernetes-Namespaces-To-Manage.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-08-00-Using-Kubernetes-Namespaces-To-Manage.md)

[2019-05-05 16:47] markthink opened #2314 "/blog/_posts/2015-08-00-Weekly-Kubernetes-Community-Hangout.md"
Source File: [/blog/_posts/2015-08-00-Weekly-Kubernetes-Community-Hangout.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-08-00-Weekly-Kubernetes-Community-Hangout.md)

[2019-05-05 16:47] markthink opened #2315 "/blog/_posts/2015-09-00-Kubernetes-Performance-Measurements-And.md"
Source File: [/blog/_posts/2015-09-00-Kubernetes-Performance-Measurements-And.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-09-00-Kubernetes-Performance-Measurements-And.md)

[2019-05-05 16:48] markthink opened #2316 "/blog/_posts/2015-10-00-Some-Things-You-Didnt-Know-About-Kubectl_28.md"
Source File: [/blog/_posts/2015-10-00-Some-Things-You-Didnt-Know-About-Kubectl_28.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-10-00-Some-Things-You-Didnt-Know-About-Kubectl_28.md)

[2019-05-05 16:48] markthink opened #2317 "/blog/_posts/2015-11-00-Creating-A-Raspberry-Pi-Cluster-Running-Kubernetes-The-Shopping-List-Part-1.md"
Source File: [/blog/_posts/2015-11-00-Creating-A-Raspberry-Pi-Cluster-Running-Kubernetes-The-Shopping-List-Part-1.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-11-00-Creating-A-Raspberry-Pi-Cluster-Running-Kubernetes-The-Shopping-List-Part-1.md)

[2019-05-05 16:49] markthink opened #2318 "/blog/_posts/2015-11-00-Kubernetes-1-1-Performance-Upgrades-Improved-Tooling-And-A-Growing-Community.md"
Source File: [/blog/_posts/2015-11-00-Kubernetes-1-1-Performance-Upgrades-Improved-Tooling-And-A-Growing-Community.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-11-00-Kubernetes-1-1-Performance-Upgrades-Improved-Tooling-And-A-Growing-Community.md)

[2019-05-05 16:50] markthink opened #2319 "/blog/_posts/2015-11-00-Kubernetes-As-Foundation-For-Cloud-Native-Paas.md"
Source File: [/blog/_posts/2015-11-00-Kubernetes-As-Foundation-For-Cloud-Native-Paas.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-11-00-Kubernetes-As-Foundation-For-Cloud-Native-Paas.md)

[2019-05-05 16:50] markthink opened #2320 "/blog/_posts/2015-11-00-Monitoring-Kubernetes-With-Sysdig.md"
Source File: [/blog/_posts/2015-11-00-Monitoring-Kubernetes-With-Sysdig.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-11-00-Monitoring-Kubernetes-With-Sysdig.md)

[2019-05-05 16:51] markthink opened #2321 "/blog/_posts/2015-11-00-One-Million-Requests-Per-Second-Dependable-And-Dynamic-Distributed-Systems-At-Scale.md"
Source File: [/blog/_posts/2015-11-00-One-Million-Requests-Per-Second-Dependable-And-Dynamic-Distributed-Systems-At-Scale.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-11-00-One-Million-Requests-Per-Second-Dependable-And-Dynamic-Distributed-Systems-At-Scale.md)

[2019-05-05 16:52] markthink opened #2322 "/blog/_posts/2015-12-00-Creating-Raspberry-Pi-Cluster-Running.md"
Source File: [/blog/_posts/2015-12-00-Creating-Raspberry-Pi-Cluster-Running.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-12-00-Creating-Raspberry-Pi-Cluster-Running.md)

[2019-05-05 16:52] markthink opened #2323 "/blog/_posts/2015-12-00-How-Weave-Built-A-Multi-Deployment-Solution-For-Scope-Using-Kubernetes.md"
Source File: [/blog/_posts/2015-12-00-How-Weave-Built-A-Multi-Deployment-Solution-For-Scope-Using-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-12-00-How-Weave-Built-A-Multi-Deployment-Solution-For-Scope-Using-Kubernetes.md)

[2019-05-05 16:53] markthink opened #2324 "/blog/_posts/2015-12-00-Managing-Kubernetes-Pods-Services-And-Replication-Controllers-With-Puppet.md"
Source File: [/blog/_posts/2015-12-00-Managing-Kubernetes-Pods-Services-And-Replication-Controllers-With-Puppet.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-12-00-Managing-Kubernetes-Pods-Services-And-Replication-Controllers-With-Puppet.md)

[2019-05-05 16:54] markthink opened #2325 "/blog/_posts/2016-01-00-Kubernetes-Community-Meeting-Notes.md"
Source File: [/blog/_posts/2016-01-00-Kubernetes-Community-Meeting-Notes.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-01-00-Kubernetes-Community-Meeting-Notes.md)

[2019-05-05 16:54] markthink opened #2326 "/blog/_posts/2016-01-00-Kubernetes-Community-Meeting-Notes_28.md"
Source File: [/blog/_posts/2016-01-00-Kubernetes-Community-Meeting-Notes_28.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-01-00-Kubernetes-Community-Meeting-Notes_28.md)

[2019-05-05 16:55] markthink opened #2327 "/blog/_posts/2016-01-00-Simple-Leader-Election-With-Kubernetes.md"
Source File: [/blog/_posts/2016-01-00-Simple-Leader-Election-With-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-01-00-Simple-Leader-Election-With-Kubernetes.md)

[2019-05-05 16:56] markthink opened #2328 "/blog/_posts/2016-01-00-Why-Kubernetes-Doesnt-Use-Libnetwork.md"
Source File: [/blog/_posts/2016-01-00-Why-Kubernetes-Doesnt-Use-Libnetwork.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-01-00-Why-Kubernetes-Doesnt-Use-Libnetwork.md)

[2019-05-05 16:57] markthink opened #2329 "/blog/_posts/2016-02-00-Kubernetes-Community-Meeting-Notes.md"
Source File: [/blog/_posts/2016-02-00-Kubernetes-Community-Meeting-Notes.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-02-00-Kubernetes-Community-Meeting-Notes.md)

[2019-05-05 16:57] markthink opened #2330 "/blog/_posts/2016-02-00-Kubernetes-Community-Meeting-Notes.md"
Source File: [/blog/_posts/2016-02-00-Kubernetes-Community-Meeting-Notes.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-02-00-Kubernetes-Community-Meeting-Notes.md)

[2019-05-05 16:57] markthink opened #2331 "/blog/_posts/2016-02-00-Kubernetes-community-meeting-notes-20160128.md"
Source File: [/blog/_posts/2016-02-00-Kubernetes-community-meeting-notes-20160128.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-02-00-Kubernetes-community-meeting-notes-20160128.md)

[2019-05-05 16:57] markthink opened #2332 "/blog/_posts/2016-02-00-Kubernetes-community-meeting-notes-20160211.md"
Source File: [/blog/_posts/2016-02-00-Kubernetes-community-meeting-notes-20160211.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-02-00-Kubernetes-community-meeting-notes-20160211.md)

[2019-05-05 16:57] markthink opened #2333 "/blog/_posts/2016-02-00-Sharethis-Kubernetes-In-Production.md"
Source File: [/blog/_posts/2016-02-00-Sharethis-Kubernetes-In-Production.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-02-00-Sharethis-Kubernetes-In-Production.md)

[2019-05-05 16:57] markthink opened #2334 "/blog/_posts/2016-02-00-Kubernetes-community-meeting-notes-20160128.md"
Source File: [/blog/_posts/2016-02-00-Kubernetes-community-meeting-notes-20160128.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-02-00-Kubernetes-community-meeting-notes-20160128.md)

[2019-05-05 16:57] markthink opened #2335 "/blog/_posts/2016-02-00-State-Of-Container-World-January-2016.md"
Source File: [/blog/_posts/2016-02-00-State-Of-Container-World-January-2016.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-02-00-State-Of-Container-World-January-2016.md)

[2019-05-05 16:57] markthink opened #2336 "/blog/_posts/2016-02-00-kubernetes-community-meeting-notes_23.md"
Source File: [/blog/_posts/2016-02-00-kubernetes-community-meeting-notes_23.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-02-00-kubernetes-community-meeting-notes_23.md)

[2019-05-05 16:58] markthink opened #2337 "/blog/_posts/2016-03-00-1000-Nodes-And-Beyond-Updates-To-Kubernetes-Performance-And-Scalability-In-12.md"
Source File: [/blog/_posts/2016-03-00-1000-Nodes-And-Beyond-Updates-To-Kubernetes-Performance-And-Scalability-In-12.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-03-00-1000-Nodes-And-Beyond-Updates-To-Kubernetes-Performance-And-Scalability-In-12.md)

[2019-05-05 16:58] markthink opened #2338 "/blog/_posts/2016-03-00-Appformix-Helping-Enterprises.md"
Source File: [/blog/_posts/2016-03-00-Appformix-Helping-Enterprises.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-03-00-Appformix-Helping-Enterprises.md)

[2019-05-05 16:58] markthink opened #2339 "/blog/_posts/2016-03-00-Building-Highly-Available-Applications-Using-Kubernetes-New-Multi-Zone-Clusters-aka-Ubernetes-Lite.md"
Source File: [/blog/_posts/2016-03-00-Building-Highly-Available-Applications-Using-Kubernetes-New-Multi-Zone-Clusters-aka-Ubernetes-Lite.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-03-00-Building-Highly-Available-Applications-Using-Kubernetes-New-Multi-Zone-Clusters-aka-Ubernetes-Lite.md)

[2019-05-05 16:58] markthink opened #2340 "/blog/_posts/2016-03-00-Elasticbox-Introduces-Elastickube-To.md"
Source File: [/blog/_posts/2016-03-00-Elasticbox-Introduces-Elastickube-To.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-03-00-Elasticbox-Introduces-Elastickube-To.md)

[2019-05-05 16:58] markthink opened #2341 "/blog/_posts/2016-03-00-Five-Days-Of-Kubernetes-12.md"
Source File: [/blog/_posts/2016-03-00-Five-Days-Of-Kubernetes-12.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-03-00-Five-Days-Of-Kubernetes-12.md)

[2019-05-05 16:58] markthink opened #2342 "/blog/_posts/2016-02-00-Kubernetes-community-meeting-notes-20160211.md"
Source File: [/blog/_posts/2016-02-00-Kubernetes-community-meeting-notes-20160211.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-02-00-Kubernetes-community-meeting-notes-20160211.md)

[2019-05-05 16:58] markthink opened #2343 "/blog/_posts/2016-03-00-How-Container-Metadata-Changes-Your-Point-Of-View.md"
Source File: [/blog/_posts/2016-03-00-How-Container-Metadata-Changes-Your-Point-Of-View.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-03-00-How-Container-Metadata-Changes-Your-Point-Of-View.md)

[2019-05-05 16:59] markthink opened #2344 "/blog/_posts/2016-03-00-Kubernetes-1-2-And-Simplifying-Advanced-Networking-With-Ingress.md"
Source File: [/blog/_posts/2016-03-00-Kubernetes-1-2-And-Simplifying-Advanced-Networking-With-Ingress.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-03-00-Kubernetes-1-2-And-Simplifying-Advanced-Networking-With-Ingress.md)

[2019-05-05 16:59] markthink opened #2345 "/blog/_posts/2016-03-00-Kubernetes-1-2-Even-More-Performance-Upgrades-Plus-Easier-Application-Deployment-And-Management-.md"
Source File: [/blog/_posts/2016-03-00-Kubernetes-1-2-Even-More-Performance-Upgrades-Plus-Easier-Application-Deployment-And-Management-.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-03-00-Kubernetes-1-2-Even-More-Performance-Upgrades-Plus-Easier-Application-Deployment-And-Management-.md)

[2019-05-05 16:59] markthink opened #2346 "/blog/_posts/2016-03-00-Kubernetes-Community-Meeting-Notes.md"
Source File: [/blog/_posts/2016-03-00-Kubernetes-Community-Meeting-Notes.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-03-00-Kubernetes-Community-Meeting-Notes.md)

[2019-05-05 16:59] markthink opened #2347 "/blog/_posts/2016-02-00-Sharethis-Kubernetes-In-Production.md"
Source File: [/blog/_posts/2016-02-00-Sharethis-Kubernetes-In-Production.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-02-00-Sharethis-Kubernetes-In-Production.md)

[2019-05-05 16:59] markthink opened #2348 "/blog/_posts/2016-03-00-Kubernetes-In-Enterprise-With-Fujitsus.md"
Source File: [/blog/_posts/2016-03-00-Kubernetes-In-Enterprise-With-Fujitsus.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-03-00-Kubernetes-In-Enterprise-With-Fujitsus.md)

[2019-05-05 16:59] markthink opened #2349 "/blog/_posts/2016-03-00-Scaling-Neural-Network-Image-Classification-Using-Kubernetes-With-Tensorflow-Serving.md"
Source File: [/blog/_posts/2016-03-00-Scaling-Neural-Network-Image-Classification-Using-Kubernetes-With-Tensorflow-Serving.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-03-00-Scaling-Neural-Network-Image-Classification-Using-Kubernetes-With-Tensorflow-Serving.md)

[2019-05-05 17:00] markthink opened #2350 "/blog/_posts/2016-03-00-State-Of-Container-World-February-2016.md"
Source File: [/blog/_posts/2016-03-00-State-Of-Container-World-February-2016.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-03-00-State-Of-Container-World-February-2016.md)

[2019-05-05 17:00] markthink opened #2351 "/blog/_posts/2016-02-00-State-Of-Container-World-January-2016.md"
Source File: [/blog/_posts/2016-02-00-State-Of-Container-World-January-2016.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-02-00-State-Of-Container-World-January-2016.md)

[2019-05-06 00:13] markthink opened #2352 "/blog/_posts/2016-03-00-State-Of-Container-World-February-2016.md"
Source File: [/blog/_posts/2016-03-00-State-Of-Container-World-February-2016.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-03-00-State-Of-Container-World-February-2016.md)

[2019-05-06 00:13] markthink opened #2353 "/blog/_posts/2016-03-00-Using-Spark-And-Zeppelin-To-Process-Big-Data-On-Kubernetes.md"
Source File: [/blog/_posts/2016-03-00-Using-Spark-And-Zeppelin-To-Process-Big-Data-On-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-03-00-Using-Spark-And-Zeppelin-To-Process-Big-Data-On-Kubernetes.md)

[2019-05-06 00:13] markthink opened #2354 "/blog/_posts/2016-04-00-Building-Awesome-User-Interfaces-For-Kubernetes.md"
Source File: [/blog/_posts/2016-04-00-Building-Awesome-User-Interfaces-For-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-04-00-Building-Awesome-User-Interfaces-For-Kubernetes.md)

[2019-05-06 00:13] markthink opened #2355 "/blog/_posts/2016-04-00-Configuration-Management-With-Containers.md"
Source File: [/blog/_posts/2016-04-00-Configuration-Management-With-Containers.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-04-00-Configuration-Management-With-Containers.md)

[2019-05-06 00:13] markthink opened #2356 "/blog/_posts/2016-04-00-Container-Survey-Results-March-2016.md"
Source File: [/blog/_posts/2016-04-00-Container-Survey-Results-March-2016.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-04-00-Container-Survey-Results-March-2016.md)

[2019-05-06 00:13] markthink opened #2357 "/blog/_posts/2016-04-00-Introducing-Kubernetes-Openstack-Sig.md"
Source File: [/blog/_posts/2016-04-00-Introducing-Kubernetes-Openstack-Sig.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-04-00-Introducing-Kubernetes-Openstack-Sig.md)

[2019-05-06 00:13] markthink opened #2358 "/blog/_posts/2016-04-00-Kubernetes-Network-Policy-APIs.md"
Source File: [/blog/_posts/2016-04-00-Kubernetes-Network-Policy-APIs.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-04-00-Kubernetes-Network-Policy-APIs.md)

[2019-05-06 00:13] markthink opened #2359 "/blog/_posts/2016-04-00-Kubernetes-On-Aws_15.md"
Source File: [/blog/_posts/2016-04-00-Kubernetes-On-Aws_15.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-04-00-Kubernetes-On-Aws_15.md)

[2019-05-06 00:14] markthink opened #2360 "/blog/_posts/2016-04-00-Sig-Clusterops-Promote-Operability-And-Interoperability-Of-K8S-Clusters.md"
Source File: [/blog/_posts/2016-04-00-Sig-Clusterops-Promote-Operability-And-Interoperability-Of-K8S-Clusters.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-04-00-Sig-Clusterops-Promote-Operability-And-Interoperability-Of-K8S-Clusters.md)

[2019-05-06 00:14] markthink opened #2361 "/blog/_posts/2016-04-00-Using-Deployment-Objects-With.md"
Source File: [/blog/_posts/2016-04-00-Using-Deployment-Objects-With.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-04-00-Using-Deployment-Objects-With.md)

[2019-05-06 00:14] markthink opened #2362 "/blog/_posts/2016-05-00-Coreosfest2016-Kubernetes-Community.md"
Source File: [/blog/_posts/2016-05-00-Coreosfest2016-Kubernetes-Community.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-05-00-Coreosfest2016-Kubernetes-Community.md)

[2019-05-06 00:14] markthink opened #2363 "/blog/_posts/2016-05-00-Hypernetes-Security-And-Multi-Tenancy-In-Kubernetes.md"
Source File: [/blog/_posts/2016-05-00-Hypernetes-Security-And-Multi-Tenancy-In-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-05-00-Hypernetes-Security-And-Multi-Tenancy-In-Kubernetes.md)

[2019-05-06 00:14] markthink opened #2364 "/blog/_posts/2016-06-00-Container-Design-Patterns.md"
Source File: [/blog/_posts/2016-06-00-Container-Design-Patterns.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-06-00-Container-Design-Patterns.md)

[2019-05-06 00:14] markthink opened #2365 "/blog/_posts/2016-06-00-Illustrated-Childrens-Guide-To-Kubernetes.md"
Source File: [/blog/_posts/2016-06-00-Illustrated-Childrens-Guide-To-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-06-00-Illustrated-Childrens-Guide-To-Kubernetes.md)

[2019-05-06 00:15] markthink opened #2366 "/blog/_posts/2016-07-00-Automation-Platform-At-Wercker-With-Kubernetes.md"
Source File: [/blog/_posts/2016-07-00-Automation-Platform-At-Wercker-With-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-07-00-Automation-Platform-At-Wercker-With-Kubernetes.md)

[2019-05-06 00:15] markthink opened #2367 "/blog/_posts/2016-07-00-Autoscaling-In-Kubernetes.md"
Source File: [/blog/_posts/2016-07-00-Autoscaling-In-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-07-00-Autoscaling-In-Kubernetes.md)

[2019-05-06 00:15] markthink opened #2368 "/blog/_posts/2016-07-00-Bringing-End-To-End-Kubernetes-Testing-To-Azure-2.md"
Source File: [/blog/_posts/2016-07-00-Bringing-End-To-End-Kubernetes-Testing-To-Azure-2.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-07-00-Bringing-End-To-End-Kubernetes-Testing-To-Azure-2.md)

[2019-05-06 00:15] markthink opened #2369 "/blog/_posts/2016-07-00-Cross-Cluster-Services.md"
Source File: [/blog/_posts/2016-07-00-Cross-Cluster-Services.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-07-00-Cross-Cluster-Services.md)

[2019-05-06 00:16] markthink opened #2370 "/blog/_posts/2016-07-00-Dashboard-Web-Interface-For-Kubernetes.md"
Source File: [/blog/_posts/2016-07-00-Dashboard-Web-Interface-For-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-07-00-Dashboard-Web-Interface-For-Kubernetes.md)

[2019-05-06 00:16] markthink opened #2371 "/blog/_posts/2016-07-00-Five-Days-Of-Kubernetes-1-3.md"
Source File: [/blog/_posts/2016-07-00-Five-Days-Of-Kubernetes-1-3.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-07-00-Five-Days-Of-Kubernetes-1-3.md)

[2019-05-06 00:16] markthink opened #2372 "/blog/_posts/2016-07-00-Kubernetes-1-3-Bridging-Cloud-Native-And-Enterprise-Workloads.md"
Source File: [/blog/_posts/2016-07-00-Kubernetes-1-3-Bridging-Cloud-Native-And-Enterprise-Workloads.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-07-00-Kubernetes-1-3-Bridging-Cloud-Native-And-Enterprise-Workloads.md)

[2019-05-06 00:17] markthink opened #2373 "/blog/_posts/2016-07-00-Kubernetes-In-Rancher-Further-Evolution.md"
Source File: [/blog/_posts/2016-07-00-Kubernetes-In-Rancher-Further-Evolution.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-07-00-Kubernetes-In-Rancher-Further-Evolution.md)

[2019-05-06 00:17] markthink opened #2374 "/blog/_posts/2016-07-00-Minikube-Easily-Run-Kubernetes-Locally.md"
Source File: [/blog/_posts/2016-07-00-Minikube-Easily-Run-Kubernetes-Locally.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-07-00-Minikube-Easily-Run-Kubernetes-Locally.md)

[2019-05-06 00:17] markthink opened #2375 "/blog/_posts/2016-07-00-Oh-The-Places-You-Will-Go.md"
Source File: [/blog/_posts/2016-07-00-Oh-The-Places-You-Will-Go.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-07-00-Oh-The-Places-You-Will-Go.md)

[2019-05-06 00:18] markthink opened #2376 "/blog/_posts/2016-07-00-Rktnetes-Brings-Rkt-Container-Engine-To-Kubernetes.md"
Source File: [/blog/_posts/2016-07-00-Rktnetes-Brings-Rkt-Container-Engine-To-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-07-00-Rktnetes-Brings-Rkt-Container-Engine-To-Kubernetes.md)

[2019-05-06 00:18] markthink opened #2377 "/blog/_posts/2016-07-00-The-Bet-On-Kubernetes.md"
Source File: [/blog/_posts/2016-07-00-The-Bet-On-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2016-07-00-The-Bet-On-Kubernetes.md)

[2019-05-06 00:19] markthink opened #2378 "/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout.md"
Source File: [/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout.md)

[2019-05-06 00:19] markthink opened #2379 "/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_11.md"
Source File: [/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_11.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_11.md)

[2019-05-06 00:19] markthink opened #2380 "/blog/_posts/2015-05-00-Appc-Support-For-Kubernetes-Through-Rkt.md"
Source File: [/blog/_posts/2015-05-00-Appc-Support-For-Kubernetes-Through-Rkt.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-05-00-Appc-Support-For-Kubernetes-Through-Rkt.md)

[2019-05-06 00:20] markthink opened #2381 "/blog/_posts/2015-05-00-Kubernetes-Release-0160.md"
Source File: [/blog/_posts/2015-05-00-Kubernetes-Release-0160.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-05-00-Kubernetes-Release-0160.md)

[2019-05-06 00:20] markthink opened #2382 "/blog/_posts/2015-05-00-Kubernetes-Release-0170.md"
Source File: [/blog/_posts/2015-05-00-Kubernetes-Release-0170.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-05-00-Kubernetes-Release-0170.md)

[2019-05-06 00:21] markthink opened #2383 "/blog/_posts/2015-05-00-Resource-Usage-Monitoring-Kubernetes.md"
Source File: [/blog/_posts/2015-05-00-Resource-Usage-Monitoring-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-05-00-Resource-Usage-Monitoring-Kubernetes.md)

[2019-05-06 00:21] markthink opened #2384 "/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout_18.md"
Source File: [/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout_18.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout_18.md)

[2019-05-06 00:22] markthink opened #2385 "/blog/_posts/2017-10-00-It-Takes-Village-To-Raise-Kubernetes.md"
Source File: [/blog/_posts/2017-10-00-It-Takes-Village-To-Raise-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2017-10-00-It-Takes-Village-To-Raise-Kubernetes.md)

[2019-05-06 00:22] markthink opened #2386 "/blog/_posts/2017-10-00-It-Takes-Village-To-Raise-Kubernetes.md"
Source File: [/blog/_posts/2017-10-00-It-Takes-Village-To-Raise-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2017-10-00-It-Takes-Village-To-Raise-Kubernetes.md)

[2019-05-06 00:23] markthink opened #2387 "/case-studies/blackrock/index.html"
Source File: [/case-studies/blackrock/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/blackrock/index.html)

[2019-05-06 00:24] markthink opened #2388 "/case-studies/box/index.html"
Source File: [/case-studies/box/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/box/index.html)

[2019-05-06 00:24] markthink opened #2389 "/blog/_posts/2017-01-00-Running-Mongodb-On-Kubernetes-With-Statefulsets.md"
Source File: [/blog/_posts/2017-01-00-Running-Mongodb-On-Kubernetes-With-Statefulsets.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2017-01-00-Running-Mongodb-On-Kubernetes-With-Statefulsets.md)

[2019-05-06 00:25] markthink opened #2390 "/blog/_posts/2017-10-00-Kubernetes-Community-Steering-Committee-Election-Results.md"
Source File: [/blog/_posts/2017-10-00-Kubernetes-Community-Steering-Committee-Election-Results.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2017-10-00-Kubernetes-Community-Steering-Committee-Election-Results.md)

[2019-05-06 00:25] markthink opened #2391 "/blog/_posts/2018-03-00-First-Beta-Version-Of-Kubernetes-1-10.md"
Source File: [/blog/_posts/2018-03-00-First-Beta-Version-Of-Kubernetes-1-10.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-03-00-First-Beta-Version-Of-Kubernetes-1-10.md)

[2019-05-06 00:26] markthink opened #2392 "/blog/_posts/2018-03-00-How-To-Integrate-Rollingupdate-Strategy.md"
Source File: [/blog/_posts/2018-03-00-How-To-Integrate-Rollingupdate-Strategy.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-03-00-How-To-Integrate-Rollingupdate-Strategy.md)

[2019-05-06 00:26] markthink opened #2393 "/blog/_posts/2018-08-29-kubernetes-testing-ci-automating-contributor-experience.md"
Source File: [/blog/_posts/2018-08-29-kubernetes-testing-ci-automating-contributor-experience.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/blog/_posts/2018-08-29-kubernetes-testing-ci-automating-contributor-experience.md)

[2019-05-06 00:27] markthink opened #2394 "/case-studies/buffer/index.html"
Source File: [/case-studies/buffer/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/buffer/index.html)

[2019-05-06 00:28] markthink opened #2395 "/case-studies/nordstrom/index.html"
Source File: [/case-studies/nordstrom/index.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/case-studies/nordstrom/index.html)

[2019-05-06 00:28] markthink opened #2396 "/docs/concepts/extend-kubernetes/api-extension/custom-resources.md"
Source File: [/docs/concepts/extend-kubernetes/api-extension/custom-resources.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/concepts/extend-kubernetes/api-extension/custom-resources.md)

[2019-05-06 00:29] markthink opened #2397 "/docs/reference/federation/federation/v1beta1/definitions.html"
Source File: [/docs/reference/federation/federation/v1beta1/definitions.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/federation/federation/v1beta1/definitions.html)

[2019-05-06 00:30] markthink opened #2398 "/docs/reference/glossary/sysctl.md"
Source File: [/docs/reference/glossary/sysctl.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/glossary/sysctl.md)

[2019-05-06 00:31] markthink opened #2399 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_apiserver-kubelet-client.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_apiserver-kubelet-client.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs_renew_apiserver-kubelet-client.md)

[2019-05-06 00:31] markthink opened #2400 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_admin.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_admin.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_admin.md)

[2019-05-06 00:32] markthink opened #2401 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_controller-manager.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_controller-manager.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_kubeconfig_controller-manager.md)

[2019-05-06 00:33] markthink opened #2402 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_mark-control-plane.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_mark-control-plane.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_init_phase_mark-control-plane.md)

[2019-05-06 00:34] markthink opened #2403 "/docs/setup/windows/intro-windows-in-kubernetes.md"
Source File: [/docs/setup/windows/intro-windows-in-kubernetes.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/setup/windows/intro-windows-in-kubernetes.md)

[2019-05-06 00:35] markthink opened #2404 "/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-ha-1-13.md"
Source File: [/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-ha-1-13.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-ha-1-13.md)

[2019-05-06 00:35] markthink opened #2405 "/docs/tasks/configure-pod-container/configure-liveness-readiness-probes.md"
Source File: [/docs/tasks/configure-pod-container/configure-liveness-readiness-probes.md](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-probes.md)

[2019-05-06 00:36] markthink opened #2406 "/docs/tutorials/kubernetes-basics/expose/expose-intro.html"
Source File: [/docs/tutorials/kubernetes-basics/expose/expose-intro.html](https://github.com/kubernetes/website/blob/release-1.14/content/en/docs/tutorials/kubernetes-basics/expose/expose-intro.html)

[2019-05-06 04:35] markthink commented on #2406
/confirm

[2019-05-06 04:35] markthink commented on #2405
/confirm

[2019-05-06 04:35] markthink commented on #2404
/confirm

[2019-05-06 04:35] markthink commented on #2403
/confirm

[2019-05-06 04:35] markthink commented on #2402
/confirm

[2019-05-06 04:35] markthink commented on #2401
/confirm

[2019-05-06 04:35] markthink commented on #2400
/confirm

[2019-05-06 04:35] markthink commented on #2399
/confirm

[2019-05-06 04:36] markthink commented on #2398
/confirm

[2019-05-06 04:36] markthink commented on #2397
/confirm

[2019-05-06 04:36] markthink commented on #2396
/confirm

[2019-05-06 04:36] markthink commented on #2395
/confirm

[2019-05-06 04:36] markthink commented on #2394
/confirm

[2019-05-06 04:36] markthink commented on #2393
/confirm

[2019-05-06 04:36] markthink commented on #2392
/confirm

[2019-05-06 04:36] markthink commented on #2391
/confirm

[2019-05-06 04:36] markthink commented on #2390
/confirm

[2019-05-06 04:36] markthink commented on #2389
/confirm

[2019-05-06 04:36] markthink commented on #2384
/confirm

[2019-05-06 04:36] markthink commented on #2383
/confirm

[2019-05-06 04:36] markthink commented on #2382
/confirm

[2019-05-06 04:36] markthink commented on #2381
/confirm

[2019-05-06 04:37] markthink commented on #2380
/confirm

[2019-05-06 04:37] markthink commented on #2379
/confirm

[2019-05-06 04:37] markthink commented on #2378
/confirm

[2019-05-06 04:37] markthink commented on #2377
/confirm

[2019-05-06 04:37] markthink commented on #2376
/confirm

[2019-05-06 04:37] markthink commented on #2375
/confirm

[2019-05-06 04:37] markthink commented on #2374
/confirm

[2019-05-06 04:37] markthink commented on #2373
/confirm

[2019-05-06 04:37] markthink commented on #2372
/confirm

[2019-05-06 04:37] markthink commented on #2371
/confirm

[2019-05-06 04:37] markthink commented on #2370
/confirm

[2019-05-06 04:37] markthink commented on #2369
/confirm

[2019-05-06 04:37] markthink commented on #2368
/confirm

[2019-05-06 04:37] markthink commented on #2367
/confirm

[2019-05-06 04:37] markthink commented on #2366
/confirm

[2019-05-06 04:37] markthink commented on #2365
/confirm

[2019-05-06 04:37] markthink commented on #2364
/confirm

[2019-05-06 04:37] markthink commented on #2363
/confirm

[2019-05-06 04:38] markthink commented on #2362
/confirm

[2019-05-06 04:38] markthink commented on #2361
/confirm

[2019-05-06 04:38] markthink commented on #2360
/confirm

[2019-05-06 04:38] markthink commented on #2359
/confirm

[2019-05-06 04:38] markthink commented on #2358
/confirm

[2019-05-06 04:38] markthink commented on #2357
/confirm

[2019-05-06 04:38] markthink commented on #2356
/confirm

[2019-05-06 04:38] markthink commented on #2355
/confirm

[2019-05-06 04:38] markthink commented on #2354
/confirm

[2019-05-06 04:38] markthink commented on #2353
/confirm

[2019-05-06 04:38] markthink commented on #2350
/confirm

[2019-05-06 04:39] markthink commented on #2349
/confirm

[2019-05-06 04:40] markthink commented on #2348
/confirm

[2019-05-06 04:40] markthink commented on #2346
/confirm

[2019-05-06 04:40] markthink commented on #2345
/confirm

[2019-05-06 04:40] markthink commented on #2344
/confirm

[2019-05-06 04:40] markthink commented on #2343
/confirm

[2019-05-06 04:40] markthink commented on #2341
/confirm

[2019-05-06 04:40] markthink commented on #2340
/confirm

[2019-05-06 04:40] markthink commented on #2339
/confirm

[2019-05-06 04:40] markthink commented on #2338
/confirm

[2019-05-06 04:40] markthink commented on #2337
/confirm

[2019-05-06 04:40] markthink commented on #2336
/confirm

[2019-05-06 04:40] markthink commented on #2335
/confirm

[2019-05-06 04:40] markthink commented on #2333
/confirm

[2019-05-06 04:41] markthink commented on #2332
/confirm

[2019-05-06 04:41] markthink commented on #2331
/confirm

[2019-05-06 04:41] markthink commented on #2329
/confirm

[2019-05-06 04:41] markthink commented on #2328
/confirm

[2019-05-06 04:41] markthink commented on #2327
/confirm

[2019-05-06 04:41] markthink commented on #2326
/confirm

[2019-05-06 04:41] markthink commented on #2325
/confirm

[2019-05-06 04:41] markthink commented on #2324
/confirm

[2019-05-06 04:41] markthink commented on #2323
/confirm

[2019-05-06 04:41] markthink commented on #2322
/confirm

[2019-05-06 04:41] markthink commented on #2321
/confirm

[2019-05-06 04:41] markthink commented on #2320
/confirm

[2019-05-06 04:41] markthink commented on #2319
/confirm

[2019-05-06 04:41] markthink commented on #2318
/confirm

[2019-05-06 04:43] markthink commented on #2406
/confirm

[2019-05-06 04:43] markthink commented on #2405
/confirm

[2019-05-06 04:44] markthink commented on #2404
/confirm

[2019-05-06 04:44] markthink commented on #2403
/confirm

[2019-05-06 04:44] markthink commented on #2402
/confirm

[2019-05-06 04:44] markthink commented on #2401
/confirm

[2019-05-06 04:44] markthink commented on #2400
/confirm

[2019-05-06 04:44] markthink commented on #2399
/confirm

[2019-05-06 04:44] markthink commented on #2398
/confirm

[2019-05-06 04:45] markthink commented on #2397
/confirm

[2019-05-06 04:45] markthink commented on #2396
/confirm

[2019-05-06 04:45] markthink commented on #2395
/confirm

[2019-05-06 04:45] markthink commented on #2394
/confirm

[2019-05-06 04:45] markthink commented on #2393
/confirm

[2019-05-06 04:45] markthink commented on #2392
/confirm

[2019-05-06 04:45] markthink commented on #2391
/confirm

[2019-05-06 04:45] markthink commented on #2390
/confirm

[2019-05-06 04:45] markthink commented on #2389
/confirm

[2019-05-06 04:45] markthink commented on #2384
/confirm

[2019-05-06 04:45] markthink commented on #2383
/confirm

[2019-05-06 04:45] markthink commented on #2382
/confirm

[2019-05-06 04:45] markthink commented on #2381
/confirm

[2019-05-06 04:45] markthink commented on #2380
/confirm

[2019-05-06 04:46] markthink commented on #2379
/confirm

[2019-05-06 04:46] markthink commented on #2378
/confirm

[2019-05-06 04:46] markthink commented on #2377
/confirm

[2019-05-06 04:46] markthink commented on #2376
/confirm

[2019-05-06 04:46] markthink commented on #2375
/confirm

[2019-05-06 04:46] markthink commented on #2374
/confirm

[2019-05-06 04:46] markthink commented on #2373
/confirm

[2019-05-06 04:46] markthink commented on #2372
/confirm

[2019-05-06 04:46] markthink commented on #2371
/confirm

[2019-05-06 04:46] markthink commented on #2370
/confirm

[2019-05-06 04:46] markthink commented on #2369
/confirm

[2019-05-06 04:46] markthink commented on #2368
/confirm

[2019-05-06 04:46] markthink commented on #2367
/confirm

[2019-05-06 04:46] markthink commented on #2366
/confirm

[2019-05-06 04:46] markthink commented on #2365
/confirm

[2019-05-06 04:47] markthink commented on #2364
/confirm

[2019-05-06 04:47] markthink commented on #2363
/confirm

[2019-05-06 04:47] markthink commented on #2362
/confirm

[2019-05-06 04:47] markthink commented on #2361
/confirm

[2019-05-06 04:47] markthink commented on #2360
/confirm

[2019-05-06 04:47] markthink commented on #2359
/confirm

[2019-05-06 04:47] markthink commented on #2358
/confirm

[2019-05-06 04:47] markthink commented on #2357
/confirm

[2019-05-06 04:47] markthink commented on #2356
/confirm

[2019-05-06 04:47] markthink commented on #2355
/confirm

[2019-05-06 04:47] markthink commented on #2354
/confirm

[2019-05-06 04:47] markthink commented on #2353
/confirm

[2019-05-06 04:47] markthink commented on #2350
/confirm

[2019-05-06 04:47] markthink commented on #2349
/confirm

[2019-05-06 04:47] markthink commented on #2348
/confirm

[2019-05-06 04:47] markthink commented on #2346
/confirm

[2019-05-06 04:48] markthink commented on #2345
/confirm

[2019-05-06 04:48] markthink commented on #2344
/confirm

[2019-05-06 04:48] markthink commented on #2343
/confirm

[2019-05-06 04:48] markthink commented on #2341
/confirm

[2019-05-06 04:48] markthink commented on #2340
/confirm

[2019-05-06 04:48] markthink commented on #2339
/confirm

[2019-05-06 04:48] markthink commented on #2338
/confirm

[2019-05-06 04:48] markthink commented on #2337
/confirm

[2019-05-06 04:48] markthink commented on #2336
/confirm

[2019-05-06 04:48] markthink commented on #2335
/confirm

[2019-05-06 04:48] markthink commented on #2333
/confirm

[2019-05-06 04:48] markthink commented on #2332
/confirm

[2019-05-06 04:48] markthink commented on #2331
/confirm

[2019-05-06 04:48] markthink commented on #2329
/confirm

[2019-05-06 04:49] markthink commented on #2328
/confirm

[2019-05-06 04:49] markthink commented on #2327
/confirm

[2019-05-06 04:49] markthink commented on #2326
/confirm

[2019-05-06 04:49] markthink commented on #2325
/confirm

[2019-05-06 04:49] markthink commented on #2324
/confirm

[2019-05-06 04:49] markthink commented on #2323
/confirm

[2019-05-06 04:49] markthink commented on #2322
/confirm

[2019-05-06 04:49] markthink commented on #2317
/confirm

[2019-05-06 04:49] markthink commented on #2316
/confirm

[2019-05-06 04:49] markthink commented on #2315
/confirm

[2019-05-06 04:49] markthink commented on #2314
/confirm

[2019-05-06 04:49] markthink commented on #2313
/confirm

[2019-05-06 04:49] markthink commented on #2312
/confirm

[2019-05-06 04:49] markthink commented on #2311
/confirm

[2019-05-06 04:49] markthink commented on #2310
/confirm

[2019-05-06 04:49] markthink commented on #2309
/confirm

[2019-05-06 04:49] markthink commented on #2308
/confirm

[2019-05-06 04:49] markthink commented on #2307
/confirm

[2019-05-06 04:49] markthink commented on #2306
/confirm

[2019-05-06 04:50] markthink commented on #2305
/confirm

[2019-05-06 04:50] markthink commented on #2304
/confirm

[2019-05-06 04:50] markthink commented on #2303
/confirm

[2019-05-06 04:50] markthink commented on #2302
/confirm

[2019-05-06 04:50] markthink commented on #2301
/confirm

[2019-05-06 04:50] markthink commented on #2300
/confirm

[2019-05-06 04:50] markthink commented on #2299
/confirm

[2019-05-06 04:50] markthink commented on #2298
/confirm

[2019-05-06 04:50] markthink commented on #2297
/confirm

[2019-05-06 04:50] markthink commented on #2296
/confirm

[2019-05-06 04:50] markthink commented on #2295
/confirm

[2019-05-06 04:50] markthink commented on #2294
/confirm

[2019-05-06 04:50] markthink commented on #2293
/confirm

[2019-05-06 04:50] markthink commented on #2292
/confirm

[2019-05-06 04:50] markthink commented on #2291
/confirm

[2019-05-06 04:50] markthink commented on #2290
/confirm

[2019-05-06 04:50] markthink commented on #2289
/confirm

[2019-05-06 04:51] markthink commented on #2288
/confirm

[2019-05-06 04:51] markthink commented on #2287
/confirm

[2019-05-06 04:51] markthink commented on #2286
/confirm

[2019-05-06 04:51] markthink commented on #2285
/confirm

[2019-05-06 04:51] markthink commented on #2284
/confirm

[2019-05-06 04:51] markthink commented on #2283
/confirm

[2019-05-06 04:51] markthink commented on #2282
/confirm

[2019-05-06 04:51] markthink commented on #2281
/confirm

[2019-05-06 04:51] markthink commented on #2279
/confirm

[2019-05-06 04:51] markthink commented on #2278
/confirm

[2019-05-06 04:51] markthink commented on #2277
/confirm

[2019-05-06 04:51] markthink commented on #2276
/confirm

[2019-05-06 04:51] markthink commented on #2275
/confirm

[2019-05-06 04:51] markthink commented on #2274
/confirm

[2019-05-06 04:51] markthink commented on #2273
/confirm

[2019-05-06 04:52] markthink commented on #2272
/confirm

[2019-05-06 04:52] markthink commented on #2271
/confirm

[2019-05-06 04:52] markthink commented on #2270
/confirm

[2019-05-06 04:52] markthink commented on #2269
/confirm

[2019-05-06 04:52] markthink commented on #2268
/confirm

[2019-05-06 04:52] markthink commented on #2267
/confirm

[2019-05-06 04:52] markthink commented on #2266
/confirm

[2019-05-06 04:52] markthink commented on #2265
/confirm

[2019-05-06 04:52] markthink commented on #2264
/confirm

[2019-05-06 04:52] markthink commented on #2263
/confirm

[2019-05-06 04:52] markthink commented on #2262
/confirm

[2019-05-06 04:53] markthink commented on #2261
/confirm

[2019-05-06 04:53] markthink commented on #2260
/confirm

[2019-05-06 04:53] markthink commented on #2259
/confirm

[2019-05-06 04:53] markthink commented on #2258
/confirm

[2019-05-06 04:53] markthink commented on #2257
/confirm

[2019-05-06 04:53] markthink commented on #2256
/confirm

[2019-05-06 04:53] markthink commented on #2255
/confirm

[2019-05-06 04:53] markthink commented on #2254
/confirm

[2019-05-06 04:53] markthink commented on #2253
/confirm

[2019-05-06 04:53] markthink commented on #2252
/confirm

[2019-05-06 04:53] markthink commented on #2251
/confirm

[2019-05-06 04:53] markthink commented on #2250
/confirm

[2019-05-06 04:53] markthink commented on #2249
/confirm

[2019-05-06 04:53] markthink commented on #2248
/confirm

[2019-05-06 04:53] markthink commented on #2247
/confirm

[2019-05-06 04:54] markthink commented on #2246
/confirm

[2019-05-06 04:54] markthink commented on #2245
/confirm

[2019-05-06 04:54] markthink commented on #2244
/confirm

[2019-05-06 04:54] markthink commented on #2243
/confirm

[2019-05-06 04:54] markthink commented on #2242
/confirm

[2019-05-06 04:54] markthink commented on #2241
/confirm

[2019-05-06 04:54] markthink commented on #2240
/confirm

[2019-05-06 04:54] markthink commented on #2239
/confirm

[2019-05-06 04:54] markthink commented on #2238
/confirm

[2019-05-06 04:54] markthink commented on #2237
/confirm

[2019-05-06 04:54] markthink commented on #2236
/confirm

[2019-05-06 04:55] markthink commented on #2235
/confirm

[2019-05-06 04:55] markthink commented on #2234
/confirm

[2019-05-06 04:55] markthink commented on #2233
/confirm

[2019-05-06 04:55] markthink commented on #2232
/confirm

[2019-05-06 04:55] markthink commented on #2231
/confirm

[2019-05-06 04:55] markthink commented on #2230
/confirm

[2019-05-06 04:55] markthink commented on #2229
/confirm

[2019-05-06 04:55] markthink commented on #2228
/confirm

[2019-05-06 04:55] markthink commented on #2227
/confirm

[2019-05-06 04:55] markthink commented on #2226
/confirm

[2019-05-06 04:55] markthink commented on #2225
/confirm

[2019-05-06 04:55] markthink commented on #2224
/confirm

[2019-05-06 04:55] markthink commented on #2222
/confirm

[2019-05-06 04:56] markthink commented on #2221
/confirm

[2019-05-06 04:56] markthink commented on #2220
/confirm

[2019-05-06 04:56] markthink commented on #2219
/confirm

[2019-05-06 04:56] markthink commented on #2218
/confirm

[2019-05-06 04:56] markthink commented on #2217
/confirm

[2019-05-06 04:56] markthink commented on #2216
/confirm

[2019-05-06 04:56] markthink commented on #2215
/confirm

[2019-05-06 04:56] markthink commented on #2214
/confirm

[2019-05-06 04:56] markthink commented on #2213
/confirm

[2019-05-06 04:56] markthink commented on #2212
/confirm

[2019-05-06 04:56] markthink commented on #2211
/confirm

[2019-05-06 04:56] markthink commented on #2210
/confirm

[2019-05-06 04:57] markthink commented on #2209
/confirm

[2019-05-06 04:57] markthink commented on #2208
/confirm

[2019-05-06 04:57] markthink commented on #2207
/confirm

[2019-05-06 04:57] markthink commented on #2206
/confirm

[2019-05-06 04:57] markthink commented on #2205
/confirm

[2019-05-06 04:57] markthink commented on #2204
/confirm

[2019-05-06 04:57] markthink commented on #2203
/confirm

[2019-05-06 04:57] markthink commented on #2202
/confirm

[2019-05-06 04:57] markthink commented on #2201
/confirm

[2019-05-06 04:57] markthink commented on #2200
/confirm

[2019-05-06 04:57] markthink commented on #2199
/confirm

[2019-05-06 04:58] markthink commented on #2198
/confirm

[2019-05-06 04:58] markthink commented on #2197
/confirm

[2019-05-06 04:58] markthink commented on #2196
/confirm

[2019-05-06 04:58] markthink commented on #2195
/confirm

[2019-05-06 04:58] markthink commented on #2194
/confirm

[2019-05-06 04:58] markthink commented on #2193
/confirm

[2019-05-06 04:58] markthink commented on #2192
/confirm

[2019-05-06 04:58] markthink commented on #2191
/confirm

[2019-05-06 04:58] markthink commented on #2190
/confirm

[2019-05-06 04:58] markthink commented on #2189
/confirm

[2019-05-06 04:58] markthink commented on #2188
/confirm

[2019-05-06 04:58] markthink commented on #2187
/confirm

[2019-05-06 04:59] markthink commented on #2186
/confirm

[2019-05-06 04:59] markthink commented on #2185
/confirm

[2019-05-06 04:59] markthink commented on #2184
/confirm

[2019-05-06 04:59] markthink commented on #2183
/confirm

[2019-05-06 04:59] markthink commented on #2182
/confirm

[2019-05-06 04:59] markthink commented on #2181
/confirm

[2019-05-06 04:59] markthink commented on #2180
/confirm

[2019-05-06 04:59] markthink commented on #2179
/confirm

[2019-05-06 04:59] markthink commented on #2178
/confirm

[2019-05-06 04:59] markthink commented on #2177
/confirm

[2019-05-06 04:59] markthink commented on #2176
/confirm

[2019-05-06 04:59] markthink commented on #2175
/confirm

[2019-05-06 04:59] markthink commented on #2174
/confirm

[2019-05-06 05:00] markthink commented on #2173
/confirm

[2019-05-06 05:00] markthink commented on #2172
/confirm

[2019-05-06 05:00] markthink commented on #2171
/confirm

[2019-05-06 05:00] markthink commented on #2170
/confirm

[2019-05-06 05:00] markthink commented on #2169
/confirm

[2019-05-06 05:00] markthink commented on #2168
/confirm

[2019-05-06 05:00] markthink commented on #2167
/confirm

[2019-05-06 05:00] markthink commented on #2166
/confirm

[2019-05-06 05:00] markthink commented on #2165
/confirm

[2019-05-06 05:00] markthink commented on #2164
/confirm

[2019-05-06 05:00] markthink commented on #2163
/confirm

[2019-05-06 05:00] markthink commented on #2162
/confirm

[2019-05-06 05:01] markthink commented on #2161
/confirm

[2019-05-06 05:01] markthink commented on #2160
/confirm

[2019-05-06 05:01] markthink commented on #2159
/confirm

[2019-05-06 05:01] markthink commented on #2158
/confirm

[2019-05-06 05:01] markthink commented on #2157
/confirm

[2019-05-06 05:01] markthink commented on #2156
/confirm

[2019-05-06 05:01] markthink commented on #2155
/confirm

[2019-05-06 05:01] markthink commented on #2154
/confirm

[2019-05-06 05:01] markthink commented on #2153
/confirm

[2019-05-06 05:01] markthink commented on #2152
/confirm

[2019-05-06 05:01] markthink commented on #2151
/confirm

[2019-05-06 05:01] markthink commented on #2150
/confirm

[2019-05-06 05:01] markthink commented on #2149
/confirm

[2019-05-06 05:02] markthink commented on #2148
/confirm

[2019-05-06 05:02] markthink commented on #2147
/confirm

[2019-05-06 05:02] markthink commented on #2146
/confirm

[2019-05-06 05:02] markthink commented on #2145
/confirm

[2019-05-06 05:02] markthink commented on #2144
/confirm

[2019-05-06 05:02] markthink commented on #2143
/confirm

[2019-05-06 05:02] markthink commented on #2142
/confirm

[2019-05-06 05:02] markthink commented on #2141
/confirm

[2019-05-06 05:02] markthink commented on #2140
/confirm

[2019-05-06 05:02] markthink commented on #2139
/confirm

[2019-05-06 05:02] markthink commented on #2138
/confirm

[2019-05-06 05:02] markthink commented on #2137
/confirm

[2019-05-06 05:02] markthink commented on #2136
/confirm

[2019-05-06 05:03] markthink commented on #2135
/confirm

[2019-05-06 05:03] markthink commented on #2134
/confirm

[2019-05-06 05:03] markthink commented on #2133
/confirm

[2019-05-06 05:03] markthink commented on #2132
/confirm

[2019-05-06 05:03] markthink commented on #2131
/confirm

[2019-05-06 05:03] markthink commented on #2130
/confirm

[2019-05-06 05:03] markthink commented on #2129
/confirm

[2019-05-06 05:03] markthink commented on #2128
/confirm

[2019-05-06 05:03] markthink commented on #2127
/confirm

[2019-05-06 05:03] markthink commented on #2126
/confirm

[2019-05-06 05:03] markthink commented on #2125
/confirm

[2019-05-06 05:03] markthink commented on #2124
/confirm

[2019-05-06 05:03] markthink commented on #2123
/confirm

[2019-05-06 05:04] markthink commented on #2122
/confirm

[2019-05-06 05:04] markthink commented on #2121
/confirm

[2019-05-06 05:04] markthink commented on #2120
/confirm

[2019-05-06 05:04] markthink commented on #2119
/confirm

[2019-05-06 05:04] markthink commented on #2118
/confirm

[2019-05-06 05:04] markthink commented on #2117
/confirm

[2019-05-06 05:04] markthink commented on #2116
/confirm

[2019-05-06 05:04] markthink commented on #2115
/confirm

[2019-05-06 05:04] markthink commented on #2114
/confirm

[2019-05-06 05:04] markthink commented on #2113
/confirm

[2019-05-06 05:04] markthink commented on #2112
/confirm

[2019-05-06 05:04] markthink commented on #2111
/confirm

[2019-05-06 05:04] markthink commented on #2110
/confirm

[2019-05-06 05:04] markthink commented on #2108
/confirm

[2019-05-06 05:05] markthink commented on #2107
/confirm

[2019-05-06 05:05] markthink commented on #2106
/confirm

[2019-05-06 05:05] markthink commented on #2105
/confirm

[2019-05-06 05:05] markthink commented on #2104
/confirm

[2019-05-06 05:05] markthink commented on #2103
/confirm

[2019-05-06 05:05] markthink commented on #2102
/confirm

[2019-05-06 05:05] markthink commented on #2101
/confirm

[2019-05-06 05:05] markthink commented on #2100
/confirm

[2019-05-06 05:05] markthink commented on #2099
/confirm

[2019-05-06 05:05] markthink commented on #2098
/confirm

[2019-05-06 05:05] markthink commented on #2097
/confirm

[2019-05-06 05:05] markthink commented on #2096
/confirm

[2019-05-06 05:05] markthink commented on #2095
/confirm

[2019-05-06 05:06] markthink commented on #2094
/confirm

[2019-05-06 05:06] markthink commented on #2093
/confirm

[2019-05-06 05:06] markthink commented on #2092
/confirm

[2019-05-06 05:06] markthink commented on #2091
/confirm

[2019-05-06 05:06] markthink commented on #2090
/confirm

[2019-05-06 05:06] markthink commented on #2089
/confirm

[2019-05-06 05:58] markthink commented on #2089
/confirm

[2019-05-06 05:58] markthink commented on #2088
/confirm

[2019-05-06 05:58] markthink commented on #2087
/confirm

[2019-05-06 05:58] markthink commented on #2086
/confirm

[2019-05-06 05:58] markthink commented on #2085
/confirm

[2019-05-06 05:58] markthink commented on #2084
/confirm

[2019-05-06 05:58] markthink commented on #2083
/confirm

[2019-05-06 05:58] markthink commented on #2082
/confirm

[2019-05-06 05:58] markthink commented on #2081
/confirm

[2019-05-06 05:58] markthink commented on #2080
/confirm

[2019-05-06 05:59] markthink commented on #2079
/confirm

[2019-05-06 05:59] markthink commented on #2078
/confirm

[2019-05-06 05:59] markthink commented on #2077
/confirm

[2019-05-06 05:59] markthink commented on #2076
/confirm

[2019-05-06 05:59] markthink commented on #2075
/confirm

[2019-05-06 05:59] markthink commented on #2074
/confirm

[2019-05-06 05:59] markthink commented on #2073
/confirm

[2019-05-06 05:59] markthink commented on #2072
/confirm

[2019-05-06 05:59] markthink commented on #2071
/confirm

[2019-05-06 05:59] markthink commented on #2070
/confirm

[2019-05-06 05:59] markthink commented on #2069
/confirm

[2019-05-06 05:59] markthink commented on #2068
/confirm

[2019-05-06 05:59] markthink commented on #2067
/confirm

[2019-05-06 05:59] markthink commented on #2066
/confirm

[2019-05-06 05:59] markthink commented on #2065
/confirm

[2019-05-06 05:59] markthink commented on #2064
/confirm

[2019-05-06 05:59] markthink commented on #2063
/confirm

[2019-05-06 05:59] markthink commented on #2062
/confirm

[2019-05-06 05:59] markthink commented on #2061
/confirm

[2019-05-06 05:59] markthink commented on #2060
/confirm

[2019-05-06 05:59] markthink commented on #2059
/confirm

[2019-05-06 05:59] markthink commented on #2058
/confirm

[2019-05-06 05:59] markthink commented on #2057
/confirm

[2019-05-06 05:59] markthink commented on #2056
/confirm

[2019-05-06 05:59] markthink commented on #2055
/confirm

[2019-05-06 05:59] markthink commented on #2054
/confirm

[2019-05-06 05:59] markthink commented on #2053
/confirm

[2019-05-06 06:00] markthink commented on #2052
/confirm

[2019-05-06 06:00] markthink commented on #2051
/confirm

[2019-05-06 06:00] markthink commented on #2050
/confirm

[2019-05-06 06:00] markthink commented on #2049
/confirm

[2019-05-06 06:00] markthink commented on #2048
/confirm

[2019-05-06 06:00] markthink commented on #2047
/confirm

[2019-05-06 06:00] markthink commented on #2046
/confirm

[2019-05-06 06:00] markthink commented on #2045
/confirm

[2019-05-06 06:00] markthink commented on #2044
/confirm

[2019-05-06 06:00] markthink commented on #2043
/confirm

[2019-05-06 06:00] markthink commented on #2042
/confirm

[2019-05-06 06:00] markthink commented on #2041
/confirm

[2019-05-06 06:00] markthink commented on #2039
/confirm

[2019-05-06 06:00] markthink commented on #2038
/confirm

[2019-05-06 06:00] markthink commented on #2037
/confirm

[2019-05-06 06:00] markthink commented on #2036
/confirm

[2019-05-06 06:00] markthink commented on #2035
/confirm

[2019-05-06 06:00] markthink commented on #2034
/confirm

[2019-05-06 06:00] markthink commented on #2033
/confirm

[2019-05-06 06:00] markthink commented on #2032
/confirm

[2019-05-06 06:00] markthink commented on #2031
/confirm

[2019-05-06 06:01] markthink commented on #2030
/confirm

[2019-05-06 06:01] markthink commented on #2029
/confirm

[2019-05-06 06:01] markthink commented on #2028
/confirm

[2019-05-06 06:01] markthink commented on #2027
/confirm

[2019-05-06 06:01] markthink commented on #2026
/confirm

[2019-05-06 06:01] markthink commented on #2025
/confirm

[2019-05-06 06:01] markthink commented on #2024
/confirm

[2019-05-06 06:01] markthink commented on #2023
/confirm

[2019-05-06 06:01] markthink commented on #2022
/confirm

[2019-05-06 06:01] markthink commented on #2021
/confirm

[2019-05-06 06:01] markthink commented on #2020
/confirm

[2019-05-06 06:01] markthink commented on #2019
/confirm

[2019-05-06 06:01] markthink commented on #2018
/confirm

[2019-05-06 06:01] markthink commented on #2017
/confirm

[2019-05-06 06:01] markthink commented on #2016
/confirm

[2019-05-06 06:01] markthink commented on #2015
/confirm

[2019-05-06 06:01] markthink commented on #2014
/confirm

[2019-05-06 06:01] markthink commented on #2013
/confirm

[2019-05-06 06:01] markthink commented on #2012
/confirm

[2019-05-06 06:01] markthink commented on #2011
/confirm

[2019-05-06 06:01] markthink commented on #2010
/confirm

[2019-05-06 06:01] markthink commented on #2009
/confirm

[2019-05-06 06:01] markthink commented on #2008
/confirm

[2019-05-06 06:01] markthink commented on #2007
/confirm

[2019-05-06 06:01] markthink commented on #2006
/confirm

[2019-05-06 06:01] markthink commented on #2005
/confirm

[2019-05-06 06:02] markthink commented on #2004
/confirm

[2019-05-06 06:02] markthink commented on #2003
/confirm

[2019-05-06 06:02] markthink commented on #2002
/confirm

[2019-05-06 06:02] markthink commented on #2001
/confirm

[2019-05-06 06:02] markthink commented on #2000
/confirm

[2019-05-06 06:02] markthink commented on #1999
/confirm

[2019-05-06 06:02] markthink commented on #1998
/confirm

[2019-05-06 06:02] markthink commented on #1997
/confirm

[2019-05-06 06:02] markthink commented on #1996
/confirm

[2019-05-06 06:02] markthink commented on #1994
/confirm

[2019-05-06 06:02] markthink commented on #1993
/confirm

[2019-05-06 06:02] markthink commented on #1992
/confirm

[2019-05-06 06:02] markthink commented on #1991
/confirm

[2019-05-06 06:02] markthink commented on #1990
/confirm

[2019-05-06 06:02] markthink commented on #1989
/confirm

[2019-05-06 06:02] markthink commented on #1988
/confirm

[2019-05-06 06:02] markthink commented on #1987
/confirm

[2019-05-06 06:02] markthink commented on #1986
/confirm

[2019-05-06 06:02] markthink commented on #1985
/confirm

[2019-05-06 06:02] markthink commented on #1984
/confirm

[2019-05-06 06:02] markthink commented on #1983
/confirm

[2019-05-06 06:02] markthink commented on #1982
/confirm

[2019-05-06 06:02] markthink commented on #1981
/confirm

[2019-05-06 06:02] markthink commented on #1980
/confirm

[2019-05-06 06:02] markthink commented on #1979
/confirm

[2019-05-06 06:03] markthink commented on #1978
/confirm

[2019-05-06 06:03] markthink commented on #1977
/confirm

[2019-05-06 06:03] markthink commented on #1976
/confirm

[2019-05-06 06:03] markthink commented on #1975
/confirm

[2019-05-06 06:03] markthink commented on #1974
/confirm

[2019-05-06 06:03] markthink commented on #1973
/confirm

[2019-05-06 06:03] markthink commented on #1972
/confirm

[2019-05-06 06:03] markthink commented on #1971
/confirm

[2019-05-06 06:03] markthink commented on #1970
/confirm

[2019-05-06 06:03] markthink commented on #1969
/confirm

[2019-05-06 06:03] markthink commented on #1968
/confirm

[2019-05-06 06:03] markthink commented on #1967
/confirm

[2019-05-06 06:03] markthink commented on #1966
/confirm

[2019-05-06 06:03] markthink commented on #1965
/confirm

[2019-05-06 06:03] markthink commented on #1964
/confirm

[2019-05-06 06:03] markthink commented on #1963
/confirm

[2019-05-06 06:03] markthink commented on #1962
/confirm

[2019-05-06 06:03] markthink commented on #1961
/confirm

[2019-05-06 06:03] markthink commented on #1960
/confirm

[2019-05-06 06:03] markthink commented on #1959
/confirm

[2019-05-06 06:03] markthink commented on #1958
/confirm

[2019-05-06 06:03] markthink commented on #1957
/confirm

[2019-05-06 06:03] markthink commented on #1956
/confirm

[2019-05-06 06:03] markthink commented on #1955
/confirm

[2019-05-06 06:03] markthink commented on #1954
/confirm

[2019-05-06 06:04] markthink commented on #1953
/confirm

[2019-05-06 06:04] markthink commented on #1952
/confirm

[2019-05-06 06:04] markthink commented on #1951
/confirm

[2019-05-06 06:04] markthink commented on #1950
/confirm

[2019-05-06 06:04] markthink commented on #1949
/confirm

[2019-05-06 06:04] markthink commented on #1948
/confirm

[2019-05-06 06:04] markthink commented on #1947
/confirm

[2019-05-06 06:04] markthink commented on #1946
/confirm

[2019-05-06 06:04] markthink commented on #1945
/confirm

[2019-05-06 06:04] markthink commented on #1944
/confirm

[2019-05-06 06:04] markthink commented on #1943
/confirm

[2019-05-06 06:04] markthink commented on #1942
/confirm

[2019-05-06 06:04] markthink commented on #1941
/confirm

[2019-05-06 06:04] markthink commented on #1940
/confirm

[2019-05-06 06:04] markthink commented on #1939
/confirm

[2019-05-06 06:04] markthink commented on #1937
/confirm

[2019-05-06 06:04] markthink commented on #1935
/confirm

[2019-05-06 06:04] markthink commented on #1933
/confirm

[2019-05-06 06:04] markthink commented on #1931
/confirm

[2019-05-06 06:04] markthink commented on #1929
/confirm

[2019-05-06 06:04] markthink commented on #1928
/confirm

[2019-05-06 06:04] markthink commented on #1926
/confirm

[2019-05-06 06:04] markthink commented on #1924
/confirm

[2019-05-06 06:04] markthink commented on #1922
/confirm

[2019-05-06 06:04] markthink commented on #1920
/confirm

[2019-05-06 06:05] markthink commented on #1918
/confirm

[2019-05-06 06:05] markthink commented on #1916
/confirm

[2019-05-06 06:05] markthink commented on #1915
/confirm

[2019-05-06 06:05] markthink commented on #1913
/confirm

[2019-05-06 06:05] markthink commented on #1911
/confirm

[2019-05-06 06:05] markthink commented on #1909
/confirm

[2019-05-06 06:05] markthink commented on #1907
/confirm

[2019-05-06 06:05] markthink commented on #1906
/confirm

[2019-05-06 06:05] markthink commented on #1904
/confirm

[2019-05-06 06:05] markthink commented on #1902
/confirm

[2019-05-06 06:05] markthink commented on #1900
/confirm

[2019-05-06 06:05] markthink commented on #1899
/confirm

[2019-05-06 06:05] markthink commented on #1897
/confirm

[2019-05-06 06:05] markthink commented on #1896
/confirm

[2019-05-06 06:05] markthink commented on #1894
/confirm

[2019-05-06 06:05] markthink commented on #1892
/confirm

[2019-05-06 06:05] markthink commented on #1891
/confirm

[2019-05-06 06:05] markthink commented on #1889
/confirm

[2019-05-06 06:05] markthink commented on #1888
/confirm

[2019-05-06 06:05] markthink commented on #1886
/confirm

[2019-05-06 06:05] markthink commented on #1885
/confirm

[2019-05-06 06:05] markthink commented on #1883
/confirm

[2019-05-06 06:05] markthink commented on #1882
/confirm

[2019-05-06 06:05] markthink commented on #1881
/confirm

[2019-05-06 06:05] markthink commented on #1879
/confirm

[2019-05-06 06:06] markthink commented on #1878
/confirm

[2019-05-06 06:06] markthink commented on #1877
/confirm

[2019-05-06 06:06] markthink commented on #1875
/confirm

[2019-05-06 06:06] markthink commented on #1874
/confirm

[2019-05-06 06:06] markthink commented on #1873
/confirm

[2019-05-06 06:06] markthink commented on #1872
/confirm

[2019-05-06 06:06] markthink commented on #1871
/confirm

[2019-05-06 06:06] markthink commented on #1870
/confirm

[2019-05-06 06:06] markthink commented on #1869
/confirm

[2019-05-06 06:06] markthink commented on #1868
/confirm

[2019-05-06 06:06] markthink commented on #1867
/confirm

[2019-05-06 06:06] markthink commented on #1866
/confirm

[2019-05-06 06:06] markthink commented on #1865
/confirm

[2019-05-06 06:06] markthink commented on #1864
/confirm

[2019-05-06 06:06] markthink commented on #1863
/confirm

[2019-05-06 06:06] markthink commented on #1862
/confirm

[2019-05-06 06:06] markthink commented on #1861
/confirm

[2019-05-06 06:06] markthink commented on #1860
/confirm

[2019-05-06 06:06] markthink commented on #1859
/confirm

[2019-05-06 06:06] markthink commented on #1858
/confirm

[2019-05-06 06:09] xichengliudui commented on #2406
/accept

[2019-05-06 06:09] markthink commented on #2406
Thank you @xichengliudui, this issue had been assigned to you.

[2019-05-06 06:10] xichengliudui commented on #2404
/accept

[2019-05-06 06:10] markthink commented on #2404
Thank you @xichengliudui, this issue had been assigned to you.

[2019-05-06 06:13] xichengliudui commented on #2275
/accept

[2019-05-06 06:13] markthink commented on #2275
Thank you @xichengliudui, this issue had been assigned to you.

[2019-05-06 07:07] guohenghaha commented on #2285
/accept

[2019-05-06 07:08] markthink commented on #2285
Thank you @guohenghaha, this issue had been assigned to you.

[2019-05-18 07:57] ChongmingDu commented on #2291
/accept

[2019-05-18 07:57] markthink commented on #2291
Thank you @ChongmingDu, this issue had been assigned to you.

[2019-05-18 20:23] ChongmingDu commented on #2291
/pushed

[2019-05-19 13:43] zhangqx2010 commented on #551
/unassign

[2019-05-20 10:03] ChongmingDu commented on #2398
/accept

[2019-05-20 10:03] markthink commented on #2398
Thank you @ChongmingDu, this issue had been assigned to you.

[2019-05-20 14:10] cnfatal commented on #2110
/accept

[2019-05-20 14:10] markthink commented on #2110
Thank you @fatalc, this issue had been assigned to you.

[2019-05-20 14:59] ChongmingDu commented on #2398
/pushed

[2019-05-21 05:45] ChongmingDu commented on #2291
/merged

[2019-05-21 05:46] #2291 closed, assigned to ChongmingDu

[2019-05-21 09:15] ChongmingDu commented on #2402
/accept

[2019-05-21 09:15] markthink commented on #2402
Thank you @ChongmingDu, this issue had been assigned to you.

[2019-05-21 09:17] ChongmingDu commented on #2401
/pushed

[2019-05-21 09:17] markthink commented on #2401
Sorry @ChongmingDu, only issues with special values ('translating') can be accepted.

[2019-05-21 09:19] ChongmingDu commented on #2401
/pushed

[2019-05-21 09:19] markthink commented on #2401
Sorry @ChongmingDu, only issues with special values ('translating') can be accepted.

[2019-05-21 13:51] ChongmingDu commented on #2398
/merged

[2019-05-21 13:51] #2398 closed, assigned to ChongmingDu

[2019-05-21 15:10] cnfatal commented on #2110
/pushed

[2019-05-22 07:33] ChongmingDu commented on #2401
/accept

[2019-05-22 07:33] markthink commented on #2401
Thank you @ChongmingDu, this issue had been assigned to you.

[2019-05-22 08:03] ChongmingDu commented on #2401
/pushed

[2019-05-22 08:04] ChongmingDu commented on #2402
/pushed

[2019-05-29 08:24] cnfatal commented on #2110
/merged

[2019-05-29 08:24] #2110 closed, assigned to cnfatal

[2019-05-29 08:32] ChongmingDu commented on #2402
/merged

[2019-05-29 08:32] #2402 closed, assigned to ChongmingDu

[2019-05-29 08:32] ChongmingDu commented on #2401
/merged

[2019-05-29 08:32] #2401 closed, assigned to ChongmingDu

[2019-05-30 03:56] ChongmingDu commented on #2292
/accept

[2019-05-30 03:56] markthink commented on #2292
Thank you @ChongmingDu, this issue had been assigned to you.

[2019-05-30 03:57] ChongmingDu commented on #2293
/accept

[2019-05-30 03:58] markthink commented on #2293
Thank you @ChongmingDu, this issue had been assigned to you.

[2019-05-30 06:05] MJ-CJM commented on #2268
/accept

[2019-05-30 06:05] markthink commented on #2268
Thank you @MJ-CJM, this issue had been assigned to you.

[2019-05-31 07:40] MJ-CJM commented on #2268
/pushed

[2019-05-31 07:57] MJ-CJM commented on #2303
/accept

[2019-05-31 07:57] markthink commented on #2303
Thank you @MJ-CJM, this issue had been assigned to you.

[2019-05-31 08:08] MJ-CJM commented on #2303
/pushed

[2019-05-31 10:00] liushaobo05 commented on #2400
/accept

[2019-05-31 10:01] markthink commented on #2400
Thank you @liushaobo05, this issue had been assigned to you.

[2019-06-03 03:32] liushaobo05 commented on #2399
/accept

[2019-06-03 03:32] markthink commented on #2399
Thank you @liushaobo05, this issue had been assigned to you.

[2019-06-03 04:12] liushaobo05 commented on #2313
/aeecpt

[2019-06-03 04:13] liushaobo05 commented on #2313
/accept

[2019-06-03 04:13] markthink commented on #2313
Thank you @liushaobo05, this issue had been assigned to you.

[2019-06-04 02:06] liushaobo05 commented on #2405
/accept

[2019-06-04 02:06] markthink commented on #2405
Thank you @liushaobo05, this issue had been assigned to you.

[2019-06-04 08:48] MJ-CJM commented on #2303
/merged

[2019-06-04 08:49] #2303 closed, assigned to MJ-CJM

[2019-06-04 08:49] MJ-CJM commented on #2268
/merged

[2019-06-04 08:49] #2268 closed, assigned to MJ-CJM

[2019-06-04 10:46] MJ-CJM commented on #2290
/accept

[2019-06-04 10:46] markthink commented on #2290
Thank you @MJ-CJM, this issue had been assigned to you.

[2019-06-05 08:52] zhangqx2010 commented on #905
/pushed

[2019-06-06 01:38] zhangqx2010 commented on #905
/merged

[2019-06-06 01:38] #905 closed, assigned to zhangqx2010

[2019-06-08 20:30] ChongmingDu commented on #2292
/pushed

[2019-06-08 20:30] ChongmingDu commented on #2293
/pushed

[2019-06-10 02:39] MJ-CJM commented on #2290
/pushed

[2019-06-12 10:49] ChongmingDu commented on #2294
/accept

[2019-06-12 10:49] markthink commented on #2294
Thank you @ChongmingDu, this issue had been assigned to you.

[2019-06-12 15:58] ChongmingDu commented on #2293
/merged

[2019-06-12 15:58] #2293 closed, assigned to ChongmingDu

[2019-06-12 15:59] ChongmingDu commented on #2292
/merged

[2019-06-12 15:59] #2292 closed, assigned to ChongmingDu

[2019-06-13 16:13] ChongmingDu commented on #2294
/pushed

[2019-06-16 02:34] yyqqing commented on #2244
/accept

[2019-06-16 02:34] markthink commented on #2244
Thank you @yyqqing, this issue had been assigned to you.

[2019-06-16 04:01] yyqqing commented on #2252
/accept

[2019-06-16 04:02] markthink commented on #2252
Thank you @yyqqing, this issue had been assigned to you.

[2019-06-16 04:02] yyqqing commented on #2251
/accept

[2019-06-16 04:03] markthink commented on #2251
Thank you @yyqqing, this issue had been assigned to you.

[2019-06-16 04:03] yyqqing commented on #2246
/accept

[2019-06-16 04:04] markthink commented on #2246
Thank you @yyqqing, this issue had been assigned to you.

[2019-06-16 04:04] yyqqing commented on #2241
/accept

[2019-06-16 04:04] markthink commented on #2241
Thank you @yyqqing, this issue had been assigned to you.

[2019-06-16 06:24] yyqqing commented on #2241
/pushed

[2019-06-16 06:51] yyqqing commented on #752
/pushed

[2019-06-16 18:00] ChongmingDu commented on #2188
/accept

[2019-06-16 18:01] markthink commented on #2188
Thank you @ChongmingDu, this issue had been assigned to you.

[2019-06-16 18:01] ChongmingDu commented on #2186
/accept

[2019-06-16 18:01] markthink commented on #2186
Thank you @ChongmingDu, this issue had been assigned to you.

[2019-06-17 04:03] yyqqing commented on #2251
/pushed

[2019-06-17 06:04] yyqqing commented on #2252
/pushed

[2019-06-17 08:30] yyqqing commented on #2246
/pushed

[2019-06-18 23:12] ChongmingDu commented on #2294
/merged

[2019-06-18 23:12] #2294 closed, assigned to ChongmingDu

[2019-06-19 14:28] pigletfly commented on #105
/merged

[2019-06-19 14:28] #105 closed, assigned to pigletfly

[2019-06-19 14:28] pigletfly commented on #422
/merged

[2019-06-19 14:28] #422 closed, assigned to pigletfly

[2019-06-19 14:29] pigletfly commented on #626
/merged

[2019-06-19 14:29] #626 closed, assigned to pigletfly

[2019-06-20 14:37] pigletfly commented on #369
close this issue due to duplicate of #2113, will work on 1.14 branch

[2019-06-20 14:37] #369 closed, assigned to pigletfly

[2019-06-20 14:37] pigletfly commented on #2113
/accept

[2019-06-20 14:37] markthink commented on #2113
Thank you @pigletfly, this issue had been assigned to you.

[2019-06-20 14:39] pigletfly commented on #683
close this due to #2101

[2019-06-20 14:39] #683 closed, assigned to pigletfly

[2019-06-20 14:40] pigletfly commented on #2101
/accept

[2019-06-20 14:40] markthink commented on #2101
Thank you @pigletfly, this issue had been assigned to you.

[2019-06-20 14:41] pigletfly commented on #443
close this due to #2256

[2019-06-20 14:41] #443 closed, assigned to pigletfly

[2019-06-20 14:41] pigletfly commented on #2256
/accept

[2019-06-20 14:42] markthink commented on #2256
Thank you @pigletfly, this issue had been assigned to you.

[2019-06-24 01:17] MJ-CJM commented on #2290
/merged

[2019-06-24 01:17] #2290 closed, assigned to MJ-CJM

[2019-06-24 01:28] Mr-Linus commented on #2273
/accept

[2019-06-24 01:28] markthink commented on #2273
Thank you @Mr-Linus, this issue had been assigned to you.

[2019-06-28 14:01] shinji3887 commented on #2392
/accept

[2019-06-28 14:01] markthink commented on #2392
Thank you @shinji3887, this issue had been assigned to you.

[2019-07-04 06:24] MJ-CJM commented on #2287
/approve

[2019-07-04 06:25] MJ-CJM commented on #2287
/aprove

[2019-07-04 06:32] MJ-CJM commented on #2287
/accept

[2019-07-04 06:32] markthink commented on #2287
Thank you @MJ-CJM, this issue had been assigned to you.

[2019-07-09 05:10] MJ-CJM commented on #2255
/accept

[2019-07-09 05:10] markthink commented on #2255
Thank you @MJ-CJM, this issue had been assigned to you.

[2019-07-09 05:54] MJ-CJM commented on #2287
/pushed

[2019-07-09 14:44] MJ-CJM commented on #2287
/merged

[2019-07-09 14:44] #2287 closed, assigned to MJ-CJM

[2019-07-13 02:52] MJ-CJM commented on #2255
/pushed

[2019-07-13 06:21] donhui commented on #2099
/accept

[2019-07-13 06:21] markthink commented on #2099
Thank you @donhui, this issue had been assigned to you.

[2019-07-14 08:06] MJ-CJM commented on #2255
/merged

[2019-07-14 08:09] MJ-CJM commented on #2255
/merged

[2019-07-14 14:58] donhui commented on #2099
/pushed

[2019-07-15 01:27] MJ-CJM commented on #2271
/accept

[2019-07-15 01:27] MJ-CJM commented on #2271
/accept

[2019-07-15 03:38] markthink commented on #2397
/accept

[2019-07-15 03:40] markthink commented on #2397
/accept

[2019-07-15 03:45] MJ-CJM commented on #2255
/merged

[2019-07-15 03:46] markthink commented on #2397
/accept

[2019-07-15 03:46] MJ-CJM commented on #2271
/accept

[2019-07-15 03:50] markthink commented on #2397
/accept

[2019-07-15 03:50] markthink commented on #2397
Thank you @markthink, this issue had been assigned to you.

[2019-07-15 04:17] MJ-CJM commented on #2255
/merged

[2019-07-15 04:17] #2255 closed, assigned to MJ-CJM

[2019-07-15 04:19] MJ-CJM commented on #2271
/accept

[2019-07-15 04:19] markthink commented on #2271
Thank you @MJ-CJM, this issue had been assigned to you.

[2019-07-15 13:52] donhui commented on #2099
/pushed

[2019-07-15 14:20] donhui commented on #2086
/accept

[2019-07-15 14:20] markthink commented on #2086
Thank you @donhui, this issue had been assigned to you.

[2019-07-19 06:39] zhangx501 commented on #2396
/accept

[2019-07-19 06:39] markthink commented on #2396
Thank you @zhangx501, this issue had been assigned to you.

[2019-07-20 23:57] donhui commented on #2086
/pushed

[2019-07-22 09:02] donhui commented on #2099
merged

[2019-07-22 09:02] donhui commented on #2099
/merged

[2019-07-22 09:03] #2099 closed, assigned to donhui

[2019-07-22 09:47] donhui commented on #2086
/merged

[2019-07-22 09:47] #2086 closed, assigned to donhui

[2019-07-27 02:48] donhui commented on #2095
/accept

[2019-07-27 02:49] markthink commented on #2095
Thank you @donhui, this issue had been assigned to you.

[2019-07-27 09:29] donhui commented on #2095
/pushed

[2019-07-29 09:44] donhui commented on #2095
/merged

[2019-07-29 09:44] #2095 closed, assigned to donhui

[2019-07-31 08:22] TongHan0389 commented on #2403
/accept

[2019-07-31 08:23] markthink commented on #2403
Thank you @ten2ton, this issue had been assigned to you.

[2019-08-01 02:22] TongHan0389 commented on #2403
There is no source file.

[2019-08-01 02:23] TongHan0389 commented on #2395
/accept

[2019-08-01 02:23] markthink commented on #2395
Thank you @ten2ton, this issue had been assigned to you.

[2019-08-01 07:27] #2235 closed, assigned to nobody

[2019-08-01 07:28] #2236 closed, assigned to nobody

[2019-08-01 14:19] TongHan0389 commented on #2394
/accept

[2019-08-01 14:20] markthink commented on #2394
Thank you @ten2ton, this issue had been assigned to you.

[2019-08-03 01:49] MJ-CJM commented on #707
/merged

[2019-08-03 01:49] #707 closed, assigned to MJ-CJM

[2019-08-03 09:25] MJ-CJM commented on #2271
/pushed

[2019-08-04 02:16] MJ-CJM commented on #2257
/accept

[2019-08-04 02:17] markthink commented on #2257
Thank you @MJ-CJM, this issue had been assigned to you.

[2019-08-05 06:38] zhangx501 commented on #2329
/accept

[2019-08-05 06:38] markthink commented on #2329
Thank you @zhangx501, this issue had been assigned to you.

[2019-08-06 03:16] MJ-CJM commented on #2271
/merged

[2019-08-06 03:16] #2271 closed, assigned to MJ-CJM

[2019-08-06 06:31] MJ-CJM commented on #2257
/pushed

[2019-08-06 06:37] MJ-CJM commented on #2254
/accept

[2019-08-06 06:37] markthink commented on #2254
Thank you @MJ-CJM, this issue had been assigned to you.

[2019-08-07 03:53] TongHan0389 commented on #2395
/pushed

[2019-08-07 03:53] TongHan0389 commented on #2403
/pushed

[2019-08-09 09:33] zhangx501 commented on #2326
/accept

[2019-08-09 09:33] markthink commented on #2326
Thank you @zhangx501, this issue had been assigned to you.

[2019-08-09 09:40] zhangx501 commented on #2314
/accept

[2019-08-09 09:41] markthink commented on #2314
Thank you @zhangx501, this issue had been assigned to you.

[2019-08-10 04:01] SataQiu commented on #2100
/accept

[2019-08-10 04:02] markthink commented on #2100
Thank you @SataQiu, this issue had been assigned to you.

[2019-08-10 08:31] xichengliudui commented on #2272
/accept

[2019-08-10 08:31] markthink commented on #2272
Thank you @xichengliudui, this issue had been assigned to you.

[2019-08-10 08:41] xichengliudui commented on #2272
pushed

[2019-08-10 08:47] xichengliudui commented on #2276
/accept

[2019-08-10 08:47] markthink commented on #2276
Thank you @xichengliudui, this issue had been assigned to you.

[2019-08-10 09:18] SataQiu commented on #2100
/pushed

[2019-08-10 09:20] xichengliudui commented on #2276
/pushed

[2019-08-10 09:22] SataQiu commented on #2106
/accept

[2019-08-10 09:23] markthink commented on #2106
Thank you @SataQiu, this issue had been assigned to you.

[2019-08-10 10:20] SataQiu commented on #2106
/pushed

[2019-08-10 15:49] xichengliudui commented on #2122
page 404

[2019-08-10 15:49] #2122 closed, assigned to nobody

[2019-08-10 15:49] xichengliudui commented on #2120
page 404

[2019-08-10 15:49] #2120 closed, assigned to nobody

[2019-08-10 15:49] xichengliudui commented on #2119
page 404

[2019-08-10 15:49] #2119 closed, assigned to nobody

[2019-08-10 15:50] xichengliudui commented on #2090
page 404

[2019-08-10 15:50] #2090 closed, assigned to nobody

[2019-08-10 15:51] xichengliudui commented on #2118
page 404

[2019-08-10 15:51] #2118 closed, assigned to nobody

[2019-08-10 16:16] xichengliudui commented on #2175
/accept

[2019-08-10 16:16] markthink commented on #2175
Thank you @xichengliudui, this issue had been assigned to you.

[2019-08-12 01:43] MJ-CJM commented on #2257
/merged

[2019-08-12 01:43] #2257 closed, assigned to MJ-CJM

[2019-08-12 02:42] xichengliudui commented on #2175
/merged

[2019-08-12 02:42] markthink commented on #2175
Sorry @xichengliudui, only issues with special values ('pushed') can be accepted.

[2019-08-12 02:42] xichengliudui commented on #2175
/pushed

[2019-08-12 02:42] xichengliudui commented on #2175
/merged

[2019-08-12 02:42] #2175 closed, assigned to xichengliudui

[2019-08-12 02:42] xichengliudui commented on #2276
/merged

[2019-08-12 02:42] xichengliudui commented on #2272
/merged

[2019-08-12 02:42] #2276 closed, assigned to xichengliudui

[2019-08-12 02:42] markthink commented on #2272
Sorry @xichengliudui, only issues with special values ('pushed') can be accepted.

[2019-08-12 02:43] xichengliudui commented on #2272
/pushed

[2019-08-12 02:43] xichengliudui commented on #2272
/merged

[2019-08-12 02:43] #2272 closed, assigned to xichengliudui

[2019-08-12 08:50] MJ-CJM commented on #2242
/accept

[2019-08-12 08:51] markthink commented on #2242
Thank you @MJ-CJM, this issue had been assigned to you.

[2019-08-12 08:55] MJ-CJM commented on #2270
/accept

[2019-08-12 08:55] markthink commented on #2270
Thank you @MJ-CJM, this issue had been assigned to you.

[2019-08-13 07:34] zhangx501 commented on #2326
/merged

[2019-08-13 07:34] markthink commented on #2326
Sorry @zhangx501, only issues with special values ('pushed') can be accepted.

[2019-08-13 07:49] zhangx501 commented on #2302
/accept

[2019-08-13 07:49] markthink commented on #2302
Thank you @zhangx501, this issue had been assigned to you.

[2019-08-13 07:50] zhangx501 commented on #2326
/cancel

[2019-08-13 07:51] zhangx501 commented on #2326
/pushed

[2019-08-13 07:51] zhangx501 commented on #2326
/merged

[2019-08-13 07:51] #2326 closed, assigned to zhangx501

[2019-08-13 07:59] zhangx501 commented on #2314
/cancel

[2019-08-13 07:59] zhangx501 commented on #2314
/pushed

[2019-08-13 07:59] zhangx501 commented on #2314
merged

[2019-08-13 08:00] zhangx501 commented on #2314
/merged

[2019-08-13 08:00] #2314 closed, assigned to zhangx501

[2019-08-13 08:21] zhangx501 commented on #2396
/pushed

[2019-08-13 08:22] zhangx501 commented on #2396
/merged

[2019-08-13 08:22] #2396 closed, assigned to zhangx501

[2019-08-13 09:06] MJ-CJM commented on #2269
/accept

[2019-08-13 09:06] markthink commented on #2269
Thank you @MJ-CJM, this issue had been assigned to you.

[2019-08-13 09:06] MJ-CJM commented on #2270
/pushed

[2019-08-13 09:07] MJ-CJM commented on #2277
/accept

[2019-08-13 09:08] markthink commented on #2277
Thank you @MJ-CJM, this issue had been assigned to you.

[2019-08-13 09:43] MJ-CJM commented on #2277
/pushed

[2019-08-13 10:10] MJ-CJM commented on #2269
/pushed

[2019-08-14 16:36] #2275 closed, assigned to xichengliudui

[2019-08-14 16:36] #2269 closed, assigned to MJ-CJM

[2019-08-14 17:03] xichengliudui commented on #2212
/accept

[2019-08-14 17:03] markthink commented on #2212
Thank you @xichengliudui, this issue had been assigned to you.

[2019-08-15 02:38] zhangx501 commented on #2296
/accept

[2019-08-15 02:39] markthink commented on #2296
Thank you @zhangx501, this issue had been assigned to you.

[2019-08-16 01:47] zhangx501 commented on #2282
/accept

[2019-08-16 01:48] markthink commented on #2282
Thank you @zhangx501, this issue had been assigned to you.

[2019-08-16 08:55] TongHan0389 commented on #2403
/merged

[2019-08-16 08:55] #2403 closed, assigned to ten2ton

[2019-08-16 09:00] MJ-CJM commented on #2277
/merged

[2019-08-16 09:00] #2277 closed, assigned to MJ-CJM

[2019-08-16 09:01] MJ-CJM commented on #2254
/pushed

[2019-08-16 21:19] xichengliudui commented on #2267
/accept
/pushed
/merged

[2019-08-16 21:19] markthink commented on #2267
Thank you @xichengliudui, this issue had been assigned to you.

[2019-08-16 21:20] xichengliudui commented on #2267
/pushed

[2019-08-16 21:21] xichengliudui commented on #2267
/merged

[2019-08-16 21:21] #2267 closed, assigned to xichengliudui

[2019-08-16 21:22] xichengliudui commented on #2252
/merged

[2019-08-16 21:22] markthink commented on #2252
Sorry @xichengliudui, you are not allowed to merge this issue.

[2019-08-16 21:22] #2252 closed, assigned to yyqqing

[2019-08-18 04:17] yyqqing commented on #2252
and ...... what is the issue's status ?

[2019-08-18 12:41] MJ-CJM commented on #2270
/merged

[2019-08-18 12:41] #2270 closed, assigned to MJ-CJM

[2019-08-18 12:41] MJ-CJM commented on #2254
/merged

[2019-08-18 12:41] #2254 closed, assigned to MJ-CJM

[2019-08-20 13:51] MJ-CJM commented on #2242
/pushed

[2019-08-20 13:56] MJ-CJM commented on #2278
/accept

[2019-08-20 13:56] markthink commented on #2278
Thank you @MJ-CJM, this issue had been assigned to you.

[2019-08-20 14:09] MJ-CJM commented on #2243
/accept

[2019-08-20 14:09] markthink commented on #2243
Thank you @MJ-CJM, this issue had been assigned to you.

[2019-08-20 15:12] TongHan0389 commented on #2395
/merged

[2019-08-20 15:12] #2395 closed, assigned to ten2ton

[2019-08-20 15:13] TongHan0389 commented on #2080
/accept

[2019-08-20 15:13] markthink commented on #2080
Thank you @ten2ton, this issue had been assigned to you.

[2019-08-20 15:14] TongHan0389 commented on #2079
/accept

[2019-08-20 15:14] markthink commented on #2079
Thank you @ten2ton, this issue had been assigned to you.

[2019-08-20 18:04] TongHan0389 commented on #2394
/pushed

[2019-08-21 07:42] zhangx501 commented on #2301
/accept

[2019-08-21 07:42] markthink commented on #2301
Thank you @zhangx501, this issue had been assigned to you.

[2019-08-22 07:03] zhangx501 commented on #2295
/accept

[2019-08-22 07:03] markthink commented on #2295
Sorry @zhangx501, only 8 issues can be accepted by the same user.

[2019-08-23 12:51] MJ-CJM commented on #2243
/pushed

[2019-08-25 02:49] ahanabi commented on #2371
/accept

[2019-08-25 02:49] markthink commented on #2371
Sorry @ahanabi, you are not allowed member of this issue.

[2019-08-25 12:20] TongHan0389 commented on #2394
/merged

[2019-08-25 12:20] #2394 closed, assigned to ten2ton

[2019-08-25 12:23] TongHan0389 commented on #2080
/pushed

[2019-08-25 12:24] TongHan0389 commented on #2080
/merged

[2019-08-25 12:24] #2080 closed, assigned to ten2ton

[2019-08-25 12:24] TongHan0389 commented on #2078
/accept

[2019-08-25 12:25] markthink commented on #2078
Thank you @ten2ton, this issue had been assigned to you.

[2019-08-25 12:25] TongHan0389 commented on #2077
/accept

[2019-08-25 12:25] markthink commented on #2077
Thank you @ten2ton, this issue had been assigned to you.

[2019-08-26 01:46] MJ-CJM commented on #2242
/merged

[2019-08-26 01:46] #2242 closed, assigned to MJ-CJM

[2019-08-26 02:11] zhangx501 commented on #2329
/pushed

[2019-08-26 02:11] zhangx501 commented on #2329
/merged

[2019-08-26 02:11] #2329 closed, assigned to zhangx501

[2019-08-26 02:14] zhangx501 commented on #2296
/pushed

[2019-08-26 02:15] zhangx501 commented on #2296
/merged

[2019-08-26 02:15] #2296 closed, assigned to zhangx501

[2019-08-26 02:17] zhangx501 commented on #2302
/pushed

[2019-08-26 02:17] zhangx501 commented on #2302
/merged

[2019-08-26 02:17] #2302 closed, assigned to zhangx501

[2019-08-26 02:20] zhangx501 commented on #2282
/pushed

[2019-08-26 02:21] zhangx501 commented on #2282
/merged

[2019-08-26 02:21] #2282 closed, assigned to zhangx501

[2019-08-26 02:22] zhangx501 commented on #2295
/accept

[2019-08-26 02:22] markthink commented on #2295
Thank you @zhangx501, this issue had been assigned to you.

[2019-08-26 02:28] MJ-CJM commented on #2278
@markthink 小龙哥，这篇文章已经翻译过了。release-1.14里面已经有了，是需要修改，还是重新翻译下。

[2019-08-26 02:35] zhangx501 commented on #2265
/accept

[2019-08-26 02:36] markthink commented on #2265
Thank you @zhangx501, this issue had been assigned to you.

[2019-08-26 06:29] SataQiu commented on #2238
/accept

[2019-08-26 06:30] markthink commented on #2238
Thank you @SataQiu, this issue had been assigned to you.

[2019-08-26 08:12] SataQiu commented on #2238
/pushed

[2019-08-27 01:56] zhangx501 commented on #2211
/accept

[2019-08-27 01:56] markthink commented on #2211
Thank you @zhangx501, this issue had been assigned to you.

[2019-08-27 01:58] zhangx501 commented on #2210
/accept

[2019-08-27 01:58] markthink commented on #2210
Thank you @zhangx501, this issue had been assigned to you.

[2019-08-27 12:01] ahanabi commented on #2393
/accept

[2019-08-27 12:02] markthink commented on #2393
Sorry @ahanabi, you are not allowed member of this issue.

[2019-08-27 12:31] xichengliudui commented on #2217
404 not found

[2019-08-27 12:31] #2217 closed, assigned to nobody

[2019-08-28 07:46] zhangx501 commented on #2211
/pushed

[2019-08-28 07:47] zhangx501 commented on #2211
/merged

[2019-08-28 07:47] #2211 closed, assigned to zhangx501

[2019-08-28 07:51] zhangx501 commented on #2297
/accept

[2019-08-28 07:51] markthink commented on #2297
Thank you @zhangx501, this issue had been assigned to you.

[2019-08-28 10:36] RainbowMango commented on #2285
Maybe @guohenghaha is busy these days. I'd like to take this task.
@markthink
/accept

[2019-08-28 10:36] RainbowMango commented on #2284
/accept

[2019-08-28 10:36] markthink commented on #2284
Thank you @RainbowMango, this issue had been assigned to you.

[2019-08-28 13:43] markthink commented on #2285
/confirm

[2019-08-28 13:43] markthink commented on #2285
Sorry @markthink, only issues with label `welcome` can be confirmed.

[2019-08-28 13:47] markthink commented on #2285
Sorry @markthink, only issues with special values ('pending') can be accepted.

[2019-08-28 13:47] markthink commented on #2285
Sorry @markthink, only issues with label `welcome` can be confirmed.

[2019-08-28 13:53] ahanabi commented on #2393
/confirm

[2019-08-28 13:53] markthink commented on #2393
Sorry @ahanabi, only issues with label `welcome` can be confirmed.

[2019-09-01 14:33] MJ-CJM commented on #2243
/merged

[2019-09-01 14:33] #2243 closed, assigned to MJ-CJM

[2019-09-02 02:33] yuxiaobo96 commented on #2306
/accept

[2019-09-02 02:33] markthink commented on #2306
Sorry @yuxiaobo96, you are not allowed member of this issue.

[2019-09-02 14:10] xichengliudui commented on #2224
404

[2019-09-02 14:10] #2224 closed, assigned to nobody

[2019-09-02 14:10] xichengliudui commented on #2218
404

[2019-09-02 14:10] #2218 closed, assigned to nobody

[2019-09-02 14:12] xichengliudui commented on #2232
404

[2019-09-02 14:12] #2232 closed, assigned to nobody

[2019-09-02 14:38] xichengliudui commented on #2230
404

[2019-09-02 14:38] #2230 closed, assigned to nobody

[2019-09-03 03:52] ahanabi commented on #2393
/accept

[2019-09-03 03:53] markthink commented on #2393
Thank you @ahanabi, this issue had been assigned to you.

[2019-09-03 07:37] MJ-CJM commented on #2089
/accept

[2019-09-03 07:37] markthink commented on #2089
Thank you @MJ-CJM, this issue had been assigned to you.

[2019-09-03 09:11] Sophy417 commented on #2299
/accept

[2019-09-03 09:11] markthink commented on #2299
Sorry @Sophy417, you are not allowed member of this issue.

[2019-09-03 12:50] RainbowMango commented on #2284
/pushed
Refer: https://github.com/kubernetes/website/pull/16200

[2019-09-04 01:44] hwdef commented on #2328
/accept

[2019-09-04 01:44] markthink commented on #2328
Thank you @hwdef, this issue had been assigned to you.

[2019-09-04 09:15] yuxiaobo96 commented on #2306
/accept

[2019-09-04 09:15] markthink commented on #2306
Thank you @yuxiaobo96, this issue had been assigned to you.

[2019-09-04 10:09] RainbowMango commented on #2285
/pushed
Refer: https://github.com/kubernetes/website/pull/16216

[2019-09-04 10:20] hwdef commented on #2283
/accept

[2019-09-04 10:20] markthink commented on #2283
Thank you @hwdef, this issue had been assigned to you.

[2019-09-05 03:20] yuxiaobo96 commented on #2300
/accept

[2019-09-05 03:20] markthink commented on #2300
Thank you @yuxiaobo96, this issue had been assigned to you.

[2019-09-05 03:25] yuxiaobo96 commented on #2253
/accept

[2019-09-05 03:25] markthink commented on #2253
Thank you @yuxiaobo96, this issue had been assigned to you.

[2019-09-05 03:31] yuxiaobo96 commented on #2306
/pushed

[2019-09-05 05:50] Sophy417 commented on #2260
/accept

[2019-09-05 05:50] markthink commented on #2260
Sorry @Sophy417, you are not allowed member of this issue.

[2019-09-05 13:20] MJ-CJM commented on #2089
/pushed

[2019-09-06 01:23] hwdef commented on #2328
/pushed

[2019-09-06 03:31] hwdef commented on #2283
/pushed

[2019-09-06 14:55] zhangx501 commented on #2247
/accept

[2019-09-06 14:55] markthink commented on #2247
Sorry @zhangx501, only 8 issues can be accepted by the same user.

[2019-09-06 14:57] zhangx501 commented on #2265
/push

[2019-09-06 14:58] zhangx501 commented on #2265
/merged

[2019-09-06 14:58] markthink commented on #2265
Sorry @zhangx501, only issues with special values ('pushed') can be accepted.

[2019-09-06 14:58] zhangx501 commented on #2265
/pushed

[2019-09-06 14:58] zhangx501 commented on #2265
/merged

[2019-09-06 14:58] #2265 closed, assigned to zhangx501

[2019-09-06 14:59] zhangx501 commented on #2301
/pushed

[2019-09-06 14:59] zhangx501 commented on #2301
/merged

[2019-09-06 15:00] #2301 closed, assigned to zhangx501

[2019-09-06 15:07] zhangx501 commented on #2295
/pushed

[2019-09-06 15:08] zhangx501 commented on #2295
/merged

[2019-09-06 15:08] #2295 closed, assigned to zhangx501

[2019-09-06 15:09] zhangx501 commented on #2247
/accept

[2019-09-06 15:10] markthink commented on #2247
Thank you @zhangx501, this issue had been assigned to you.

[2019-09-08 05:42] ahanabi commented on #2393
/pushed

[2019-09-09 01:21] tanjunchen commented on #2299
/accept

[2019-09-09 01:21] markthink commented on #2299
Thank you @tanjunchen, this issue had been assigned to you.

[2019-09-09 02:15] yuxiaobo96 commented on #2306
/pushed

[2019-09-09 02:15] markthink commented on #2306
Sorry @yuxiaobo96, only issues with special values ('translating') can be accepted.

[2019-09-09 02:27] yuxiaobo96 commented on #2306
This is the translation task I have claimed.
I submitted it to the master before.
I have to resubmit it once.

I submitted it to the master before.
I want to resubmit it once.

[2019-09-09 03:53] TongHan0389 commented on #2079
/pushed

[2019-09-09 03:53] TongHan0389 commented on #2079
/merged

[2019-09-09 03:53] #2079 closed, assigned to ten2ton

[2019-09-09 03:54] TongHan0389 commented on #2078
/pushed

[2019-09-09 03:54] TongHan0389 commented on #2078
/merged

[2019-09-09 03:54] #2078 closed, assigned to ten2ton

[2019-09-09 03:54] TongHan0389 commented on #2077
/pushed

[2019-09-09 03:54] TongHan0389 commented on #2077
/merged

[2019-09-09 03:54] #2077 closed, assigned to ten2ton

[2019-09-09 03:55] TongHan0389 commented on #2076
/accept

[2019-09-09 03:55] markthink commented on #2076
Thank you @ten2ton, this issue had been assigned to you.

[2019-09-09 03:57] TongHan0389 commented on #2063
/accept

[2019-09-09 03:57] markthink commented on #2063
Thank you @ten2ton, this issue had been assigned to you.

[2019-09-09 03:58] TongHan0389 commented on #2067
/accept

[2019-09-09 03:59] markthink commented on #2067
Thank you @ten2ton, this issue had been assigned to you.

[2019-09-09 11:58] RainbowMango commented on #2285
/merged

[2019-09-09 11:58] #2285 closed, assigned to RainbowMango

[2019-09-09 11:59] RainbowMango commented on #2284
/merged

[2019-09-09 11:59] #2284 closed, assigned to RainbowMango

[2019-09-09 12:22] RainbowMango commented on #2288
@markthink
Which web page using this file?  I can't find it from docs.k8s.io

[2019-09-09 12:28] RainbowMango commented on #2102
/accept

[2019-09-09 12:28] markthink commented on #2102
Thank you @RainbowMango, this issue had been assigned to you.

[2019-09-09 12:29] RainbowMango commented on #2103
/accept

[2019-09-09 12:29] markthink commented on #2103
Thank you @RainbowMango, this issue had been assigned to you.

[2019-09-09 12:32] RainbowMango commented on #2263
/accept

[2019-09-09 12:33] markthink commented on #2263
Thank you @RainbowMango, this issue had been assigned to you.

[2019-09-10 03:11] zhangx501 commented on #2260
/accpet

[2019-09-10 03:14] zhangx501 commented on #2239
/accept

[2019-09-10 03:14] markthink commented on #2239
Thank you @zhangx501, this issue had been assigned to you.

[2019-09-11 02:28] tanjunchen commented on #2299
/pushed

[2019-09-11 05:05] yuxiaobo96 commented on #2253
/pushed

[2019-09-11 05:05] yuxiaobo96 commented on #2306
/pushed

[2019-09-11 05:05] markthink commented on #2306
Sorry @yuxiaobo96, only issues with special values ('translating') can be accepted.

[2019-09-11 08:10] jiaj12 commented on #2196
/accept

[2019-09-11 08:10] markthink commented on #2196
Thank you @jiaj12, this issue had been assigned to you.

[2019-09-11 08:11] jiaj12 commented on #2194
/accept

[2019-09-11 08:11] markthink commented on #2194
Thank you @jiaj12, this issue had been assigned to you.

[2019-09-11 08:17] jiaj12 commented on #2136
/accept

[2019-09-11 08:18] markthink commented on #2136
Thank you @jiaj12, this issue had been assigned to you.

[2019-09-11 08:18] jiaj12 commented on #2135
/accept

[2019-09-11 08:18] markthink commented on #2135
Thank you @jiaj12, this issue had been assigned to you.

[2019-09-11 08:24] jiaj12 commented on #2133
/accept

[2019-09-11 08:24] markthink commented on #2133
Thank you @jiaj12, this issue had been assigned to you.

[2019-09-11 08:29] congfairy commented on #2134
/accept

[2019-09-11 08:29] markthink commented on #2134
Thank you @congfairy, this issue had been assigned to you.

[2019-09-11 08:30] congfairy commented on #2131
/accept

[2019-09-11 08:30] markthink commented on #2131
Thank you @congfairy, this issue had been assigned to you.

[2019-09-11 08:31] congfairy commented on #2130
/accept

[2019-09-11 08:31] markthink commented on #2130
Thank you @congfairy, this issue had been assigned to you.

[2019-09-11 08:31] congfairy commented on #2129
/accept

[2019-09-11 08:31] markthink commented on #2129
Thank you @congfairy, this issue had been assigned to you.

[2019-09-11 08:32] congfairy commented on #2128
/accept

[2019-09-11 08:32] markthink commented on #2128
Thank you @congfairy, this issue had been assigned to you.

[2019-09-11 08:32] congfairy commented on #2127
/accept

[2019-09-11 08:32] markthink commented on #2127
Thank you @congfairy, this issue had been assigned to you.

[2019-09-11 08:33] congfairy commented on #2126
/accept

[2019-09-11 08:33] markthink commented on #2126
Thank you @congfairy, this issue had been assigned to you.

[2019-09-11 08:33] congfairy commented on #2126
/accept

[2019-09-11 08:33] markthink commented on #2126
Sorry @congfairy, only issues with special values ('pending') can be accepted.

[2019-09-11 08:33] congfairy commented on #2125
/accept

[2019-09-11 08:33] markthink commented on #2125
Thank you @congfairy, this issue had been assigned to you.

[2019-09-11 08:36] congfairy commented on #2132
/accept

[2019-09-11 08:36] markthink commented on #2132
Sorry @congfairy, only 8 issues can be accepted by the same user.

[2019-09-11 08:36] congfairy commented on #2124
/accept

[2019-09-11 08:36] markthink commented on #2124
Sorry @congfairy, only 8 issues can be accepted by the same user.

[2019-09-11 08:43] zhangx501 commented on #2297
/accept

[2019-09-11 08:43] markthink commented on #2297
Sorry @zhangx501, only issues with special values ('pending') can be accepted.

[2019-09-11 09:01] zhangx501 commented on #2297
/pushed

[2019-09-11 09:01] markthink commented on #2297
Sorry @zhangx501, only issues had been assigned can be accepted.

[2019-09-11 10:15] RainbowMango commented on #2297
/welcome

[2019-09-11 10:15] RainbowMango commented on #2297
/pending

[2019-09-11 10:29] jiaj12 commented on #2136
/pushed

[2019-09-11 10:29] jiaj12 commented on #2194
/pushed

[2019-09-12 01:24] congfairy commented on #2134
/pushed

[2019-09-12 01:32] congfairy commented on #2131
/pushed

[2019-09-12 12:40] ahanabi commented on #2324
/accept

[2019-09-12 12:40] markthink commented on #2324
Thank you @ahanabi, this issue had been assigned to you.

[2019-09-15 01:29] ahanabi commented on #2324
/pushed

[2019-09-15 04:03] it2911 commented on #1918
请问我想做翻译认领如何做，我已经修改了container目录下的几篇文档，我是否在website做提交就可以了？

[2019-09-15 04:05] ahanabi commented on #2327
/accept

[2019-09-15 04:06] markthink commented on #2327
Thank you @ahanabi, this issue had been assigned to you.

[2019-09-15 12:59] MJ-CJM commented on #2089
/merged

[2019-09-15 12:59] #2089 closed, assigned to MJ-CJM

[2019-09-15 13:13] ahanabi commented on #2393
/merged

[2019-09-15 13:13] #2393 closed, assigned to ahanabi

[2019-09-15 14:15] hwdef commented on #2328
/merged

[2019-09-15 14:15] #2328 closed, assigned to hwdef

[2019-09-16 02:44] tanjunchen commented on #2274
/accpet

[2019-09-16 02:46] tanjunchen commented on #2237
/accept

[2019-09-16 02:46] markthink commented on #2237
Thank you @tanjunchen, this issue had been assigned to you.

[2019-09-16 03:14] tanjunchen commented on #2289
/accept

[2019-09-16 03:14] markthink commented on #2289
Thank you @tanjunchen, this issue had been assigned to you.

[2019-09-16 03:54] tanjunchen commented on #2237
/pushed

[2019-09-16 06:49] guanyuding commented on #2266
/accept

[2019-09-16 06:49] markthink commented on #2266
Thank you @guanyuding, this issue had been assigned to you.

[2019-09-16 08:09] jiazxjason commented on #2382
/accept

[2019-09-16 08:09] markthink commented on #2382
Sorry @jiazxjason, you are not allowed member of this issue.

[2019-09-16 09:05] RainbowMango commented on #2263
/pushed

[2019-09-16 09:06] RainbowMango commented on #2263
/merged

[2019-09-16 09:06] #2263 closed, assigned to RainbowMango

[2019-09-16 09:48] tanjunchen commented on #2289
/pushed

[2019-09-16 13:08] TongHan0389 commented on #2076
pushed

[2019-09-16 13:08] TongHan0389 commented on #2076
/pushed

[2019-09-16 13:08] TongHan0389 commented on #2076
/merged

[2019-09-16 13:08] #2076 closed, assigned to ten2ton

[2019-09-16 13:08] TongHan0389 commented on #2067
/pushed

[2019-09-16 13:09] TongHan0389 commented on #2067
/merged

[2019-09-16 13:09] #2067 closed, assigned to ten2ton

[2019-09-16 13:09] TongHan0389 commented on #2063
/pushed

[2019-09-16 13:09] TongHan0389 commented on #2063
/merged

[2019-09-16 13:09] #2063 closed, assigned to ten2ton

[2019-09-16 13:10] TongHan0389 commented on #2075
/accept

[2019-09-16 13:10] markthink commented on #2075
Thank you @ten2ton, this issue had been assigned to you.

[2019-09-16 13:11] TongHan0389 commented on #2074
/accept

[2019-09-16 13:11] markthink commented on #2074
Thank you @ten2ton, this issue had been assigned to you.

[2019-09-16 13:11] TongHan0389 commented on #2073
/accept

[2019-09-16 13:11] markthink commented on #2073
Thank you @ten2ton, this issue had been assigned to you.

[2019-09-16 13:54] guanyuding commented on #2266
Someone has already completed this task and has been  merged into upstream. So I decided to close this task. @markthink

[2019-09-16 13:55] guanyuding commented on #2266
/close

[2019-09-16 14:05] guanyuding commented on #2266
/pushed
/merged

[2019-09-16 14:10] markthink commented on #2266
/pushed
/merged

[2019-09-16 14:10] markthink commented on #2266
/merged

[2019-09-16 14:10] #2266 closed, assigned to guanyuding

[2019-09-16 14:15] markthink commented on #2266
Sorry @guanyuding, only issues with special values ('translating') can be accepted.

[2019-09-16 15:51] tanjunchen commented on #2261
/accpet

[2019-09-16 15:52] tanjunchen commented on #2249
/accept

[2019-09-16 15:52] markthink commented on #2249
Thank you @tanjunchen, this issue had been assigned to you.

[2019-09-16 15:54] tanjunchen commented on #2179
/accept

[2019-09-16 15:54] markthink commented on #2179
Thank you @tanjunchen, this issue had been assigned to you.

[2019-09-17 01:26] MJ-CJM commented on #2087
/accept

[2019-09-17 01:26] markthink commented on #2087
Thank you @MJ-CJM, this issue had been assigned to you.

[2019-09-17 01:33] jiazxjason commented on #2135
/accept

[2019-09-17 01:33] markthink commented on #2135
Sorry @jiazxjason, only issues with special values ('pending') can be accepted.

[2019-09-17 02:03] markthink commented on #2135
/confirm

[2019-09-17 02:03] markthink commented on #2135
Sorry @markthink, only issues with label `welcome` can be confirmed.

[2019-09-17 02:30] tanjunchen commented on #2179
/pushed

[2019-09-17 02:34] RainbowMango commented on #2103
/pushed

[2019-09-17 02:47] jiaj12 commented on #2245
/accept

[2019-09-17 02:47] jiazxjason commented on #2245
/accept

[2019-09-17 02:47] jiaj12 commented on #2240
/accept

[2019-09-17 02:47] markthink commented on #2245
Sorry @jiazxjason, only issues with special values ('pending') can be accepted.

[2019-09-17 02:47] markthink commented on #2245
Thank you @jiaj12, this issue had been assigned to you.

[2019-09-17 02:47] markthink commented on #2240
Thank you @jiaj12, this issue had been assigned to you.

[2019-09-17 02:49] jiaj12 commented on #2215
/accept

[2019-09-17 02:49] jiazxjason commented on #2214
/accept

[2019-09-17 02:49] markthink commented on #2215
Thank you @jiaj12, this issue had been assigned to you.

[2019-09-17 02:49] markthink commented on #2214
Thank you @jiazxjason, this issue had been assigned to you.