[2019-10-27 13:39] markthink commented on #3472
Thank you @yuxiaobo96, this issue had been assigned to you.

[2019-10-27 13:40] yuxiaobo96 commented on #3470
/accept

[2019-10-27 13:40] markthink commented on #3470
Thank you @yuxiaobo96, this issue had been assigned to you.

[2019-10-27 13:41] yuxiaobo96 commented on #3446
/accept

[2019-10-27 13:41] markthink commented on #3446
Thank you @yuxiaobo96, this issue had been assigned to you.

[2019-10-27 13:43] yuxiaobo96 commented on #3440
/accept

[2019-10-27 13:43] markthink commented on #3440
Thank you @yuxiaobo96, this issue had been assigned to you.

[2019-10-27 13:43] yuxiaobo96 commented on #3439
/accept

[2019-10-27 13:43] markthink commented on #3439
Thank you @yuxiaobo96, this issue had been assigned to you.

[2019-10-27 13:44] yuxiaobo96 commented on #3424
/accept

[2019-10-27 13:44] markthink commented on #3424
Thank you @yuxiaobo96, this issue had been assigned to you.

[2019-10-27 13:44] yuxiaobo96 commented on #3436
/accept

[2019-10-27 13:45] markthink commented on #3436
Thank you @yuxiaobo96, this issue had been assigned to you.

[2019-10-27 14:14] yuxiaobo96 commented on #3472
/pushed

[2019-10-27 14:45] yuxiaobo96 commented on #3446
/pushed

[2019-10-27 14:50] tanjunchen commented on #3452
/accept

[2019-10-27 14:50] tanjunchen commented on #3453
/accept

[2019-10-27 14:50] markthink commented on #3452
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-27 14:50] markthink commented on #3453
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-27 14:54] tanjunchen commented on #3453
/pushed

[2019-10-27 15:03] tanjunchen commented on #3452
/pushed

[2019-10-27 15:05] tanjunchen commented on #3451
/accept

[2019-10-27 15:05] markthink commented on #3451
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-27 15:06] tanjunchen commented on #3447
/accept

[2019-10-27 15:06] markthink commented on #3447
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-27 15:07] tanjunchen commented on #3448
/accept

[2019-10-27 15:07] markthink commented on #3448
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-27 15:07] tanjunchen commented on #3449
/accept

[2019-10-27 15:07] markthink commented on #3449
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-27 15:09] tanjunchen commented on #3450
/accept

[2019-10-27 15:09] markthink commented on #3450
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-10-27 15:18] tanjunchen commented on #3448
/pushed

[2019-10-27 15:19] tanjunchen commented on #3449
/pushed

[2019-10-27 15:21] tanjunchen commented on #3450
/accept

[2019-10-27 15:21] markthink commented on #3450
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-27 15:21] tanjunchen commented on #3450
/pushed

[2019-10-27 15:24] tanjunchen commented on #3437
/accept

[2019-10-27 15:24] markthink commented on #3437
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-27 15:25] tanjunchen commented on #3435
/accept

[2019-10-27 15:25] markthink commented on #3435
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-27 15:26] tanjunchen commented on #3435
/accept

[2019-10-27 15:27] markthink commented on #3435
Sorry @tanjunchen, only issues with special values ('pending') can be accepted.

[2019-10-28 01:01] tanjunchen commented on #3566
/merged

[2019-10-28 01:01] #3566 closed, assigned to tanjunchen

[2019-10-28 01:01] tanjunchen commented on #3576
/merged

[2019-10-28 01:02] #3576 closed, assigned to tanjunchen

[2019-10-28 01:04] tanjunchen commented on #3459
/merged

[2019-10-28 01:04] #3459 closed, assigned to tanjunchen

[2019-10-28 01:05] tanjunchen commented on #3454
/merged

[2019-10-28 01:05] #3454 closed, assigned to tanjunchen

[2019-10-28 01:05] tanjunchen commented on #3461
/accept

[2019-10-28 01:05] markthink commented on #3461
Sorry @tanjunchen, only issues with special values ('pending') can be accepted.

[2019-10-28 01:06] tanjunchen commented on #3460
/merged

[2019-10-28 01:06] #3460 closed, assigned to tanjunchen

[2019-10-28 01:07] tanjunchen commented on #3560
/merged

[2019-10-28 01:07] #3560 closed, assigned to tanjunchen

[2019-10-28 01:08] tanjunchen commented on #3561
/merged

[2019-10-28 01:08] #3561 closed, assigned to tanjunchen

[2019-10-28 01:09] tanjunchen commented on #3500
/merged

[2019-10-28 01:09] #3500 closed, assigned to tanjunchen

[2019-10-28 01:09] tanjunchen commented on #3462
/merged

[2019-10-28 01:09] #3462 closed, assigned to tanjunchen

[2019-10-28 01:10] tanjunchen commented on #3467
/merged

[2019-10-28 01:10] #3467 closed, assigned to tanjunchen

[2019-10-28 01:10] tanjunchen commented on #3468
/merged

[2019-10-28 01:10] #3468 closed, assigned to tanjunchen

[2019-10-28 01:11] tanjunchen commented on #3463
/merged

[2019-10-28 01:11] #3463 closed, assigned to tanjunchen

[2019-10-28 01:11] tanjunchen commented on #3465
/merged

[2019-10-28 01:11] #3465 closed, assigned to tanjunchen

[2019-10-28 01:12] tanjunchen commented on #3562
/merged

[2019-10-28 01:12] #3562 closed, assigned to tanjunchen

[2019-10-28 01:13] tanjunchen commented on #3564
/merged

[2019-10-28 01:13] #3564 closed, assigned to tanjunchen

[2019-10-28 01:14] tanjunchen commented on #3486
/merged

[2019-10-28 01:14] #3486 closed, assigned to tanjunchen

[2019-10-28 01:15] tanjunchen commented on #3464
/merged

[2019-10-28 01:15] #3464 closed, assigned to tanjunchen

[2019-10-28 01:15] tanjunchen commented on #3466
/merged

[2019-10-28 01:15] #3466 closed, assigned to tanjunchen

[2019-10-28 01:16] tanjunchen commented on #3469
/merged

[2019-10-28 01:16] #3469 closed, assigned to tanjunchen

[2019-10-28 01:17] tanjunchen commented on #3455
/merged

[2019-10-28 01:17] #3455 closed, assigned to tanjunchen

[2019-10-28 01:18] yuxiaobo96 commented on #3423
/merged

[2019-10-28 01:18] #3423 closed, assigned to yuxiaobo96

[2019-10-28 01:19] yuxiaobo96 commented on #3612
/merged

[2019-10-28 01:19] #3612 closed, assigned to yuxiaobo96

[2019-10-28 01:20] yuxiaobo96 commented on #3631
/merged

[2019-10-28 01:20] #3631 closed, assigned to yuxiaobo96

[2019-10-28 01:48] RainbowMango commented on #3487
/merged

[2019-10-28 01:48] #3487 closed, assigned to RainbowMango

[2019-10-28 02:11] lichuqiang commented on #3618
/accept

[2019-10-28 02:11] markthink commented on #3618
Sorry @lichuqiang, only issues with special values ('pending') can be accepted.

[2019-10-28 02:13] lichuqiang commented on #3538
/accept

[2019-10-28 02:13] markthink commented on #3538
Thank you @lichuqiang, this issue had been assigned to you.

[2019-10-28 02:14] lichuqiang commented on #3537
/accept

[2019-10-28 02:14] markthink commented on #3537
Thank you @lichuqiang, this issue had been assigned to you.

[2019-10-28 02:15] lichuqiang commented on #3518
/accept

[2019-10-28 02:15] tanjunchen commented on #3461
/merged

[2019-10-28 02:15] markthink commented on #3518
Thank you @lichuqiang, this issue had been assigned to you.

[2019-10-28 02:15] #3461 closed, assigned to tanjunchen

[2019-10-28 02:15] lichuqiang commented on #3515
/confirm

[2019-10-28 02:15] markthink commented on #3515
Sorry @lichuqiang, only issues with label `welcome` can be confirmed.

[2019-10-28 02:15] markthink commented on #3515
Sorry @lichuqiang, only issues with label `welcome` can be confirmed.

[2019-10-28 02:16] lichuqiang commented on #3515
/accept

[2019-10-28 02:16] markthink commented on #3515
Thank you @lichuqiang, this issue had been assigned to you.

[2019-10-28 02:17] lichuqiang commented on #3512
/accept

[2019-10-28 02:17] markthink commented on #3512
Thank you @lichuqiang, this issue had been assigned to you.

[2019-10-28 02:20] lpf7551321 commented on #3647
/pushed

[2019-10-28 02:20] lpf7551321 commented on #3645
/pushed

[2019-10-28 02:20] lpf7551321 commented on #3626
/pushed

[2019-10-28 02:20] lpf7551321 commented on #3615
/pushed

[2019-10-28 02:21] lpf7551321 commented on #3614
/pushed

[2019-10-28 02:21] lpf7551321 commented on #3604
/pushed

[2019-10-28 02:21] lpf7551321 commented on #3603
/pushed

[2019-10-28 02:21] lpf7551321 commented on #3534
/pushed

[2019-10-28 02:22] lpf7551321 commented on #3647
/merged

[2019-10-28 02:22] #3647 closed, assigned to lpf7551321

[2019-10-28 02:22] lpf7551321 commented on #3645
/merged

[2019-10-28 02:22] #3645 closed, assigned to lpf7551321

[2019-10-28 02:22] lpf7551321 commented on #3626
/merged

[2019-10-28 02:22] #3626 closed, assigned to lpf7551321

[2019-10-28 02:22] lpf7551321 commented on #3615
/merged

[2019-10-28 02:22] #3615 closed, assigned to lpf7551321

[2019-10-28 02:22] lpf7551321 commented on #3604
/merged

[2019-10-28 02:22] #3604 closed, assigned to lpf7551321

[2019-10-28 02:23] lpf7551321 commented on #3603
/merged

[2019-10-28 02:23] #3603 closed, assigned to lpf7551321

[2019-10-28 02:23] markthink commented on #3603
Sorry @lpf7551321, only issues with special values ('pushed') can be accepted.

[2019-10-28 02:27] yuxiaobo96 commented on #3440
/pushed

[2019-10-28 02:28] yuxiaobo96 commented on #3439
/pushed

[2019-10-28 02:32] lichuqiang commented on #3515
经确认，该文档已按最新内容完成翻译

[2019-10-28 02:33] lichuqiang commented on #3515
/merged

[2019-10-28 02:33] markthink commented on #3515
Sorry @lichuqiang, only issues with special values ('pushed') can be accepted.

[2019-10-28 02:34] markthink commented on #3515
Sorry @lichuqiang, only issues with special values ('pushed') can be accepted.

[2019-10-28 02:34] lichuqiang commented on #3515
/pushed

[2019-10-28 02:34] lichuqiang commented on #3515
/merged

[2019-10-28 02:34] #3515 closed, assigned to lichuqiang

[2019-10-28 02:47] lichuqiang commented on #3518
/pushed

[2019-10-28 06:17] IreneByron commented on #3100
/pushed

[2019-10-28 06:18] IreneByron commented on #3100
/merged

[2019-10-28 06:18] #3100 closed, assigned to IreneByron

[2019-10-28 06:23] lichuqiang commented on #3482
/accept

[2019-10-28 06:23] markthink commented on #3482
Thank you @lichuqiang, this issue had been assigned to you.

[2019-10-28 06:46] lichuqiang commented on #3482
/pushed

[2019-10-28 07:42] yuxiaobo96 commented on #3436
/pushed

[2019-10-28 08:46] yuxiaobo96 commented on #3424
/pushed

[2019-10-28 08:47] yuxiaobo96 commented on #3424
/merged

[2019-10-28 08:47] #3424 closed, assigned to yuxiaobo96

[2019-10-29 01:32] lichuqiang commented on #3477
/accept

[2019-10-29 01:32] markthink commented on #3477
Thank you @lichuqiang, this issue had been assigned to you.

[2019-10-29 02:03] lichuqiang commented on #3477
/pushed

[2019-10-29 02:23] tanjunchen commented on #3527
/merged

[2019-10-29 02:23] #3527 closed, assigned to tanjunchen

[2019-10-29 06:22] tanjunchen commented on #3437
/pushed

[2019-10-29 06:23] tanjunchen commented on #3435
/pushed

[2019-10-29 06:52] tanjunchen commented on #3447
/pushed

[2019-10-29 07:10] tanjunchen commented on #3421
/accept

[2019-10-29 07:10] markthink commented on #3421
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-29 07:50] tanjunchen commented on #3421
/pushed

[2019-10-29 07:50] tanjunchen commented on #3451
/pushed

[2019-10-29 07:53] tanjunchen commented on #3420
/accept

[2019-10-29 07:53] markthink commented on #3420
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-29 07:56] tanjunchen commented on #3567
/merged

[2019-10-29 07:56] #3567 closed, assigned to tanjunchen

[2019-10-29 07:57] yuxiaobo96 commented on #3470
/pushed

[2019-10-29 07:57] tanjunchen commented on #3491
/merged

[2019-10-29 07:57] #3491 closed, assigned to tanjunchen

[2019-10-29 07:58] tanjunchen commented on #3449
/merged

[2019-10-29 07:58] #3449 closed, assigned to tanjunchen

[2019-10-29 07:59] tanjunchen commented on #3450
/merged

[2019-10-29 07:59] yuxiaobo96 commented on #3472
/merged

[2019-10-29 07:59] #3450 closed, assigned to tanjunchen

[2019-10-29 07:59] yuxiaobo96 commented on #3446
/merged

[2019-10-29 07:59] #3472 closed, assigned to yuxiaobo96

[2019-10-29 07:59] yuxiaobo96 commented on #3440
/merged

[2019-10-29 07:59] #3446 closed, assigned to yuxiaobo96

[2019-10-29 07:59] yuxiaobo96 commented on #3439
/merged

[2019-10-29 07:59] #3440 closed, assigned to yuxiaobo96

[2019-10-29 07:59] tanjunchen commented on #3452
/merged

[2019-10-29 07:59] #3439 closed, assigned to yuxiaobo96

[2019-10-29 07:59] yuxiaobo96 commented on #3436
/merged

[2019-10-29 07:59] #3452 closed, assigned to tanjunchen

[2019-10-29 07:59] #3436 closed, assigned to yuxiaobo96

[2019-10-29 08:00] tanjunchen commented on #3453
/merged

[2019-10-29 08:00] #3453 closed, assigned to tanjunchen

[2019-10-29 08:03] tanjunchen commented on #3451
/merged

[2019-10-29 08:03] #3451 closed, assigned to tanjunchen

[2019-10-29 08:03] tanjunchen commented on #3448
/merged

[2019-10-29 08:03] #3448 closed, assigned to tanjunchen

[2019-10-29 08:03] tanjunchen commented on #3437
/merged

[2019-10-29 08:03] #3437 closed, assigned to tanjunchen

[2019-10-29 08:04] tanjunchen commented on #3447
/merged

[2019-10-29 08:04] #3447 closed, assigned to tanjunchen

[2019-10-29 08:04] tanjunchen commented on #3421
/merged

[2019-10-29 08:04] #3421 closed, assigned to tanjunchen

[2019-10-29 08:04] tanjunchen commented on #3435
/merged

[2019-10-29 08:04] #3435 closed, assigned to tanjunchen

[2019-10-29 08:04] tanjunchen commented on #3421
/merged

[2019-10-29 08:04] markthink commented on #3421
Sorry @tanjunchen, only issues with special values ('pushed') can be accepted.

[2019-10-29 08:05] tanjunchen commented on #3572
/merged

[2019-10-29 08:05] #3572 closed, assigned to tanjunchen

[2019-10-29 08:07] tanjunchen commented on #3419
/accept

[2019-10-29 08:07] markthink commented on #3419
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-29 08:08] tanjunchen commented on #3413
/accept

[2019-10-29 08:08] markthink commented on #3413
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-29 08:08] tanjunchen commented on #3418
/accept

[2019-10-29 08:08] markthink commented on #3418
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-29 08:09] yuxiaobo96 commented on #3508
/pushed

[2019-10-29 08:09] markthink commented on #3508
Sorry @yuxiaobo96, only issues with special values ('translating') can be accepted.

[2019-10-29 08:12] yuxiaobo96 commented on #3480
/accept

[2019-10-29 08:12] markthink commented on #3480
Thank you @yuxiaobo96, this issue had been assigned to you.

[2019-10-29 08:16] yuxiaobo96 commented on #3478
/accept

[2019-10-29 08:16] markthink commented on #3478
Thank you @yuxiaobo96, this issue had been assigned to you.

[2019-10-29 08:22] yuxiaobo96 commented on #3395
/accept

[2019-10-29 08:22] markthink commented on #3395
Thank you @yuxiaobo96, this issue had been assigned to you.

[2019-10-29 08:23] yuxiaobo96 commented on #3380
/accept

[2019-10-29 08:24] yuxiaobo96 commented on #3381
/accept

[2019-10-29 08:24] markthink commented on #3380
Thank you @yuxiaobo96, this issue had been assigned to you.

[2019-10-29 08:24] markthink commented on #3381
Thank you @yuxiaobo96, this issue had been assigned to you.

[2019-10-29 09:09] tanjunchen commented on #3521
/merged

[2019-10-29 09:10] #3521 closed, assigned to tanjunchen

[2019-10-29 09:38] tanjunchen commented on #3420
/pushed

[2019-10-29 09:38] tanjunchen commented on #3419
/pushed

[2019-10-29 10:10] tanjunchen commented on #3420
/merged

[2019-10-29 10:10] tanjunchen commented on #3419
/merged

[2019-10-29 10:10] #3420 closed, assigned to tanjunchen

[2019-10-29 10:10] #3419 closed, assigned to tanjunchen

[2019-10-29 10:10] tanjunchen commented on #3418
/pushed

[2019-10-29 10:10] tanjunchen commented on #3413
/pushed

[2019-10-29 10:10] tanjunchen commented on #3418
/merged

[2019-10-29 10:11] tanjunchen commented on #3413
/merged

[2019-10-29 10:11] #3418 closed, assigned to tanjunchen

[2019-10-29 10:11] #3413 closed, assigned to tanjunchen

[2019-10-29 10:13] tanjunchen commented on #3422
/accept

[2019-10-29 10:13] markthink commented on #3422
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-29 10:14] tanjunchen commented on #3414
/accept

[2019-10-29 10:14] markthink commented on #3414
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-29 10:15] tanjunchen commented on #3406
/accept

[2019-10-29 10:15] markthink commented on #3406
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-29 10:15] tanjunchen commented on #3398
/accept

[2019-10-29 10:15] markthink commented on #3398
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-29 13:03] tanjunchen commented on #3405
/accept

[2019-10-29 13:03] tanjunchen commented on #3404
/accept

[2019-10-29 13:03] markthink commented on #3405
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-10-29 13:03] markthink commented on #3404
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-10-29 13:39] tanjunchen commented on #3422
/pushed

[2019-10-29 13:39] tanjunchen commented on #3405
/accept

[2019-10-29 13:39] tanjunchen commented on #3405
/pushed

[2019-10-29 13:39] markthink commented on #3405
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-29 13:39] tanjunchen commented on #3404
/accept

[2019-10-29 13:39] tanjunchen commented on #3404
/pushed

[2019-10-29 13:39] markthink commented on #3404
Sorry @tanjunchen, only issues with special values ('translating') can be accepted.

[2019-10-29 13:39] markthink commented on #3404
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-29 13:40] tanjunchen commented on #3404
/pushed

[2019-10-29 13:44] tanjunchen commented on #3401
/accept

[2019-10-29 13:44] markthink commented on #3401
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-29 13:44] tanjunchen commented on #3401
/pushed

[2019-10-29 14:11] tanjunchen commented on #3417
/accept

[2019-10-29 14:11] tanjunchen commented on #3416
/accept

[2019-10-29 14:11] markthink commented on #3416
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-10-29 14:11] markthink commented on #3417
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-29 14:11] tanjunchen commented on #3417
/pushed

[2019-10-29 14:12] tanjunchen commented on #3416
/accept

[2019-10-29 14:12] markthink commented on #3416
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-29 14:12] tanjunchen commented on #3416
/pushed

[2019-10-29 15:49] tanjunchen commented on #3415
/accept

[2019-10-29 15:49] markthink commented on #3415
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-29 15:50] tanjunchen commented on #3415
/pushed

[2019-10-29 15:50] tanjunchen commented on #3414
/accept

[2019-10-29 15:50] markthink commented on #3414
Sorry @tanjunchen, only issues with special values ('pending') can be accepted.

[2019-10-29 15:50] tanjunchen commented on #3414
/pushed

[2019-10-29 15:53] tanjunchen commented on #3403
/accept

[2019-10-29 15:53] markthink commented on #3403
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-29 16:15] tanjunchen commented on #3406
/pushed

[2019-10-29 16:16] tanjunchen commented on #3403
/pushed

[2019-10-29 16:20] tanjunchen commented on #3392
/accept

[2019-10-29 16:20] markthink commented on #3392
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-29 16:21] tanjunchen commented on #3389
/accept

[2019-10-29 16:21] markthink commented on #3389
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-29 16:22] tanjunchen commented on #3378
/accept

[2019-10-29 16:22] markthink commented on #3378
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-29 16:46] tanjunchen commented on #3400
/accept

[2019-10-29 16:46] markthink commented on #3400
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-10-29 16:46] tanjunchen commented on #3402
/accept

[2019-10-29 16:46] markthink commented on #3402
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-10-29 16:48] tanjunchen commented on #3378
/pushed

[2019-10-29 16:48] tanjunchen commented on #3402
/accept

[2019-10-29 16:48] markthink commented on #3402
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-29 16:49] tanjunchen commented on #3402
/pushed

[2019-10-29 16:49] tanjunchen commented on #3400
/accept

[2019-10-29 16:49] markthink commented on #3400
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-29 16:49] tanjunchen commented on #3400
/pushed

[2019-10-30 01:16] lichuqiang commented on #3477
/merged

[2019-10-30 01:16] #3477 closed, assigned to lichuqiang

[2019-10-30 01:16] lichuqiang commented on #3482
/merged

[2019-10-30 01:16] #3482 closed, assigned to lichuqiang

[2019-10-30 01:17] lichuqiang commented on #3518
/merged

[2019-10-30 01:17] #3518 closed, assigned to lichuqiang

[2019-10-30 01:43] lichuqiang commented on #3194
/accept

[2019-10-30 01:43] markthink commented on #3194
Thank you @lichuqiang, this issue had been assigned to you.

[2019-10-30 02:03] lichuqiang commented on #3194
/pushed

[2019-10-30 02:29] XuefeiWang2 commented on #3104
/accept

[2019-10-30 02:29] markthink commented on #3104
Thank you @XuefeiWang2, this issue had been assigned to you.

[2019-10-30 06:48] tanjunchen commented on #3400
/merged

[2019-10-30 06:49] #3400 closed, assigned to tanjunchen

[2019-10-30 06:49] tanjunchen commented on #3401
/merged

[2019-10-30 06:49] #3401 closed, assigned to tanjunchen

[2019-10-30 06:49] tanjunchen commented on #3401
/merged

[2019-10-30 06:49] markthink commented on #3401
Sorry @tanjunchen, only issues with special values ('pushed') can be accepted.

[2019-10-30 06:49] tanjunchen commented on #3402
/merged

[2019-10-30 06:49] #3402 closed, assigned to tanjunchen

[2019-10-30 06:50] tanjunchen commented on #3403
/merged

[2019-10-30 06:50] #3403 closed, assigned to tanjunchen

[2019-10-30 06:50] tanjunchen commented on #3405
/merged

[2019-10-30 06:50] #3405 closed, assigned to tanjunchen

[2019-10-30 06:50] tanjunchen commented on #3404
/merged

[2019-10-30 06:50] #3404 closed, assigned to tanjunchen

[2019-10-30 06:51] tanjunchen commented on #3422
/merged

[2019-10-30 06:51] #3422 closed, assigned to tanjunchen

[2019-10-30 06:51] tanjunchen commented on #3416
/merged

[2019-10-30 06:51] #3416 closed, assigned to tanjunchen

[2019-10-30 06:51] tanjunchen commented on #3417
/merged

[2019-10-30 06:51] #3417 closed, assigned to tanjunchen

[2019-10-30 06:51] tanjunchen commented on #3414
/merged

[2019-10-30 06:51] #3414 closed, assigned to tanjunchen

[2019-10-30 06:51] tanjunchen commented on #3415
/merged

[2019-10-30 06:51] #3415 closed, assigned to tanjunchen

[2019-10-30 06:52] tanjunchen commented on #3406
/merged

[2019-10-30 06:52] #3406 closed, assigned to tanjunchen

[2019-10-30 07:24] spursy commented on #3532
/accept

[2019-10-30 07:24] markthink commented on #3532
Thank you @spursy, this issue had been assigned to you.

[2019-10-30 07:34] spursy commented on #3483
/accept

[2019-10-30 07:34] markthink commented on #3483
Thank you @spursy, this issue had been assigned to you.

[2019-10-30 08:34] lichuqiang commented on #3141
/accept

[2019-10-30 08:34] markthink commented on #3141
Thank you @lichuqiang, this issue had been assigned to you.

[2019-10-30 08:52] lichuqiang commented on #3141
/pushed

[2019-10-30 08:53] lichuqiang commented on #3194
/merged

[2019-10-30 08:53] #3194 closed, assigned to lichuqiang

[2019-10-30 10:17] tanjunchen commented on #3399
/accept

[2019-10-30 10:17] markthink commented on #3399
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-30 10:18] tanjunchen commented on #3370
/accept

[2019-10-30 10:18] markthink commented on #3370
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-10-30 10:42] yuxiaobo96 commented on #3470
/merged

[2019-10-30 10:42] #3470 closed, assigned to yuxiaobo96

[2019-10-30 11:52] spursy commented on #3273
/accept

[2019-10-30 11:52] markthink commented on #3273
Thank you @spursy, this issue had been assigned to you.

[2019-10-30 14:50] tanjunchen commented on #3399
/pushed

[2019-10-30 14:50] tanjunchen commented on #3398
/pushed

[2019-10-30 14:50] tanjunchen commented on #3389
/pushed

[2019-10-30 14:57] tanjunchen commented on #3370
/accept

[2019-10-30 14:57] markthink commented on #3370
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-30 15:02] tanjunchen commented on #3479
/accept

[2019-10-30 15:03] markthink commented on #3479
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-30 15:14] tanjunchen commented on #3498
/accept

[2019-10-30 15:15] markthink commented on #3498
Thank you @tanjunchen, this issue had been assigned to you.

[2019-10-30 15:18] tanjunchen commented on #3497
/accept

[2019-10-30 15:18] markthink commented on #3497
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-10-31 02:47] XuefeiWang2 commented on #3104
/pushed

[2019-10-31 02:48] IreneByron commented on #3061
/pushed

[2019-10-31 02:54] IreneByron commented on #3284
/accept

[2019-10-31 02:54] markthink commented on #3284
Thank you @IreneByron, this issue had been assigned to you.

[2019-10-31 07:57] lichuqiang commented on #3195
/accept

[2019-10-31 07:57] markthink commented on #3195
Thank you @lichuqiang, this issue had been assigned to you.

[2019-10-31 08:15] lichuqiang commented on #3195
/pushed

[2019-11-01 03:25] lichuqiang commented on #3228
/accept

[2019-11-01 03:25] markthink commented on #3228
Thank you @lichuqiang, this issue had been assigned to you.

[2019-11-01 06:52] lichuqiang commented on #3228
/pushed

[2019-11-02 04:12] RainbowMango commented on #3636
@congfairy
你已经开始处理这篇文章了吗？如果没有，我愿意处理一下。

PS：我最近在上游做这部分特性，想借助文档加深一下认识。1.14我翻过这篇，1.16上只需要同步一下。

[2019-11-02 07:17] TongHan0389 commented on #3641
/pushed

[2019-11-02 11:17] tanjunchen commented on #3389
/merged

[2019-11-02 11:17] #3389 closed, assigned to tanjunchen

[2019-11-02 11:17] tanjunchen commented on #3398
/merged

[2019-11-02 11:17] tanjunchen commented on #3399
/merged

[2019-11-02 11:17] #3398 closed, assigned to tanjunchen

[2019-11-02 11:17] #3399 closed, assigned to tanjunchen

[2019-11-02 14:39] pigletfly commented on #3020
/merged

[2019-11-02 14:39] #3020 closed, assigned to pigletfly

[2019-11-03 07:49] tanjunchen commented on #3541
/pushed

[2019-11-03 09:15] tanjunchen commented on #3391
/accept

[2019-11-03 09:15] markthink commented on #3391
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-03 09:15] tanjunchen commented on #3391
/pushed

[2019-11-03 09:16] tanjunchen commented on #3390
/accept

[2019-11-03 09:17] markthink commented on #3390
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-03 09:17] tanjunchen commented on #3390
/pushed

[2019-11-03 09:33] tanjunchen commented on #3392
/pushed

[2019-11-03 09:33] tanjunchen commented on #3370
/pushed

[2019-11-03 09:45] tanjunchen commented on #3377
/accept

[2019-11-03 09:45] tanjunchen commented on #3377
/pushed

[2019-11-03 09:45] markthink commented on #3377
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-03 09:46] tanjunchen commented on #3376
/accept

[2019-11-03 09:46] tanjunchen commented on #3376
/pushed

[2019-11-03 09:46] markthink commented on #3376
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-03 11:37] tanjunchen commented on #3373
/accept

[2019-11-03 11:37] markthink commented on #3373
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-03 11:37] tanjunchen commented on #3373
/pushed

[2019-11-03 11:40] tanjunchen commented on #3374
/accept

[2019-11-03 11:40] tanjunchen commented on #3374
/pushed

[2019-11-03 11:40] markthink commented on #3374
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-03 11:41] tanjunchen commented on #3375
/accept

[2019-11-03 11:41] markthink commented on #3375
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-03 11:41] tanjunchen commented on #3375
/pushed

[2019-11-03 12:34] tanjunchen commented on #3371
/accept

[2019-11-03 12:34] markthink commented on #3371
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-03 12:34] tanjunchen commented on #3372
/accept

[2019-11-03 12:34] markthink commented on #3372
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-03 12:34] tanjunchen commented on #3371
/pushed

[2019-11-03 12:34] tanjunchen commented on #3372
/pushed

[2019-11-03 12:36] tanjunchen commented on #3330
/accept

[2019-11-03 12:36] markthink commented on #3330
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-03 12:37] tanjunchen commented on #3271
/accept

[2019-11-03 12:37] markthink commented on #3271
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-03 12:38] tanjunchen commented on #3224
/accept

[2019-11-03 12:38] markthink commented on #3224
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-03 12:39] tanjunchen commented on #3170
/accept

[2019-11-03 12:39] markthink commented on #3170
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-11-03 13:37] tanjunchen commented on #3330
/pushed

[2019-11-03 13:38] tanjunchen commented on #3271
/pushed

[2019-11-03 13:38] tanjunchen commented on #3224
/pushed

[2019-11-03 13:40] tanjunchen commented on #3170
/accept

[2019-11-03 13:40] markthink commented on #3170
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-03 13:41] tanjunchen commented on #3168
/accept

[2019-11-03 13:41] markthink commented on #3168
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-03 13:41] tanjunchen commented on #3164
/accept

[2019-11-03 13:41] markthink commented on #3164
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-11-03 13:42] tanjunchen commented on #3164
/accept

[2019-11-03 13:42] markthink commented on #3164
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-11-03 14:20] tanjunchen commented on #3168
/pushed

[2019-11-03 14:21] tanjunchen commented on #3170
/pushed

[2019-11-03 14:32] tanjunchen commented on #3164
/accept

[2019-11-03 14:32] markthink commented on #3164
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-03 14:32] tanjunchen commented on #3164
/pushed

[2019-11-03 14:33] tanjunchen commented on #3164
/pushed

[2019-11-03 14:33] markthink commented on #3164
Sorry @tanjunchen, only issues with special values ('translating') can be accepted.

[2019-11-03 15:08] tanjunchen commented on #3110
/accept

[2019-11-03 15:08] markthink commented on #3110
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-03 15:11] tanjunchen commented on #3095
/accept

[2019-11-03 15:11] markthink commented on #3095
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-03 15:12] tanjunchen commented on #3041
/accept

[2019-11-03 15:12] markthink commented on #3041
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-11-03 15:53] tanjunchen commented on #3110
/pushed

[2019-11-03 15:53] tanjunchen commented on #3095
/pushed

[2019-11-03 15:55] tanjunchen commented on #3041
/accept

[2019-11-03 15:55] markthink commented on #3041
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-03 15:55] tanjunchen commented on #3041
/pushed

[2019-11-03 15:59] tanjunchen commented on #3271
/pushed

[2019-11-04 02:21] IreneByron commented on #3061
/merged

[2019-11-04 02:21] #3061 closed, assigned to IreneByron

[2019-11-04 02:39] jiazxjason commented on #3587
/pushed

[2019-11-04 07:46] jiazxjason commented on #3589
/pushed

[2019-11-04 13:56] tanjunchen commented on #3164
/merged

[2019-11-04 13:56] #3164 closed, assigned to tanjunchen

[2019-11-04 13:57] tanjunchen commented on #3168
/merged

[2019-11-04 13:57] #3168 closed, assigned to tanjunchen

[2019-11-04 13:57] tanjunchen commented on #3095
/merged

[2019-11-04 13:57] #3095 closed, assigned to tanjunchen

[2019-11-04 13:57] tanjunchen commented on #3041
/merged

[2019-11-04 13:58] #3041 closed, assigned to tanjunchen

[2019-11-04 13:58] tanjunchen commented on #3110
/merged

[2019-11-04 13:58] #3110 closed, assigned to tanjunchen

[2019-11-04 13:58] tanjunchen commented on #3170
/merged

[2019-11-04 13:58] #3170 closed, assigned to tanjunchen

[2019-11-04 13:58] tanjunchen commented on #3170
/merged

[2019-11-04 13:58] markthink commented on #3170
Sorry @tanjunchen, only issues with special values ('pushed') can be accepted.

[2019-11-04 13:58] tanjunchen commented on #3224
/merged

[2019-11-04 13:59] #3224 closed, assigned to tanjunchen

[2019-11-04 13:59] tanjunchen commented on #3271
/merged

[2019-11-04 13:59] #3271 closed, assigned to tanjunchen

[2019-11-04 13:59] tanjunchen commented on #3370
/merged

[2019-11-04 13:59] #3370 closed, assigned to tanjunchen

[2019-11-04 13:59] tanjunchen commented on #3330
/merged

[2019-11-04 13:59] #3330 closed, assigned to tanjunchen

[2019-11-04 14:00] tanjunchen commented on #3371
/merged

[2019-11-04 14:00] #3371 closed, assigned to tanjunchen

[2019-11-04 14:02] tanjunchen commented on #3372
/merged

[2019-11-04 14:02] #3372 closed, assigned to tanjunchen

[2019-11-04 14:02] tanjunchen commented on #3373
/merged

[2019-11-04 14:02] #3373 closed, assigned to tanjunchen

[2019-11-04 14:03] tanjunchen commented on #3374
/merged

[2019-11-04 14:03] #3374 closed, assigned to tanjunchen

[2019-11-04 14:03] tanjunchen commented on #3375
/merged

[2019-11-04 14:03] #3375 closed, assigned to tanjunchen

[2019-11-04 14:04] tanjunchen commented on #3377
/merged

[2019-11-04 14:04] #3377 closed, assigned to tanjunchen

[2019-11-04 14:05] tanjunchen commented on #3378
/merged

[2019-11-04 14:05] #3378 closed, assigned to tanjunchen

[2019-11-04 14:05] tanjunchen commented on #3390
/merged

[2019-11-04 14:05] #3390 closed, assigned to tanjunchen

[2019-11-04 14:06] tanjunchen commented on #3391
/merged

[2019-11-04 14:06] #3391 closed, assigned to tanjunchen

[2019-11-04 14:06] tanjunchen commented on #3376
/merged

[2019-11-04 14:06] #3376 closed, assigned to tanjunchen

[2019-11-04 14:06] tanjunchen commented on #3392
/merged

[2019-11-04 14:06] #3392 closed, assigned to tanjunchen

[2019-11-04 14:07] tanjunchen commented on #3541
/merged

[2019-11-04 14:07] #3541 closed, assigned to tanjunchen

[2019-11-04 14:12] tanjunchen commented on #3407
/accept

[2019-11-04 14:12] markthink commented on #3407
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-04 14:15] tanjunchen commented on #3509
/accept

[2019-11-04 14:15] markthink commented on #3509
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-04 14:16] tanjunchen commented on #3508
/accept

[2019-11-04 14:16] markthink commented on #3508
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-04 14:16] tanjunchen commented on #3508
/pushed

[2019-11-04 14:16] markthink commented on #3508
Sorry @tanjunchen, only issues with special values ('translating') can be accepted.

[2019-11-04 15:33] tanjunchen commented on #3509
/pushed

[2019-11-04 15:33] tanjunchen commented on #3407
/pushed

[2019-11-04 15:34] tanjunchen commented on #3407
/merged

[2019-11-04 15:34] tanjunchen commented on #3407
/merged

[2019-11-04 15:34] markthink commented on #3407
Sorry @tanjunchen, only issues with special values ('pushed') can be accepted.

[2019-11-04 15:34] #3407 closed, assigned to tanjunchen

[2019-11-04 15:35] tanjunchen commented on #3508
/pushed

[2019-11-04 15:35] markthink commented on #3508
Sorry @tanjunchen, only issues with special values ('translating') can be accepted.

[2019-11-04 15:35] tanjunchen commented on #3508
/merged

[2019-11-04 15:35] #3508 closed, assigned to tanjunchen

[2019-11-04 15:35] tanjunchen commented on #3509
/merged

[2019-11-04 15:35] #3509 closed, assigned to tanjunchen

[2019-11-04 15:50] tanjunchen commented on #3393
/accept

[2019-11-04 15:50] markthink commented on #3393
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-04 15:51] tanjunchen commented on #3337
/accept

[2019-11-04 15:52] markthink commented on #3337
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-04 15:52] tanjunchen commented on #3241
/accept

[2019-11-04 15:52] markthink commented on #3241
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-04 15:54] tanjunchen commented on #3379
/accept

[2019-11-04 15:54] markthink commented on #3379
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-11-04 15:56] tanjunchen commented on #3393
/pushed

[2019-11-04 15:56] tanjunchen commented on #3337
/pushed

[2019-11-04 15:56] tanjunchen commented on #3241
/pushed

[2019-11-04 15:57] tanjunchen commented on #3379
/accept

[2019-11-04 15:57] markthink commented on #3379
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-04 15:59] tanjunchen commented on #3441
/accept

[2019-11-04 16:00] markthink commented on #3441
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-04 16:03] tanjunchen commented on #3412
/accept

[2019-11-04 16:03] markthink commented on #3412
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-05 01:07] XuefeiWang2 commented on #3104
/merged

[2019-11-05 01:07] #3104 closed, assigned to XuefeiWang2

[2019-11-05 02:31] lichuqiang commented on #3228
/merged

[2019-11-05 02:32] #3228 closed, assigned to lichuqiang

[2019-11-05 02:32] lichuqiang commented on #3195
/merged

[2019-11-05 02:32] #3195 closed, assigned to lichuqiang

[2019-11-05 02:33] lichuqiang commented on #3434
/accept

[2019-11-05 02:33] markthink commented on #3434
Thank you @lichuqiang, this issue had been assigned to you.

[2019-11-05 02:39] lpf7551321 commented on #3614
/ merged

[2019-11-05 02:41] lpf7551321 commented on #3614
/merged

[2019-11-05 02:41] #3614 closed, assigned to lpf7551321

[2019-11-05 02:41] lpf7551321 commented on #3534
/merged

[2019-11-05 02:41] #3534 closed, assigned to lpf7551321

[2019-11-05 02:43] lichuqiang commented on #3434
/pushed

[2019-11-05 02:44] lichuqiang commented on #3433
/accept

[2019-11-05 02:45] markthink commented on #3433
Thank you @lichuqiang, this issue had been assigned to you.

[2019-11-05 02:51] lichuqiang commented on #3433
/pushed

[2019-11-05 03:18] lpf7551321 commented on #3530
/accept

[2019-11-05 03:18] markthink commented on #3530
Thank you @lpf7551321, this issue had been assigned to you.

[2019-11-05 03:30] lpf7551321 commented on #3513
/accept

[2019-11-05 03:30] markthink commented on #3513
Thank you @lpf7551321, this issue had been assigned to you.

[2019-11-05 03:32] lpf7551321 commented on #3505
/accept

[2019-11-05 03:32] markthink commented on #3505
Thank you @lpf7551321, this issue had been assigned to you.

[2019-11-05 03:34] lpf7551321 commented on #3503
/accept

[2019-11-05 03:34] markthink commented on #3503
Thank you @lpf7551321, this issue had been assigned to you.

[2019-11-05 03:36] lpf7551321 commented on #3388
/accept

[2019-11-05 03:37] markthink commented on #3388
Thank you @lpf7551321, this issue had been assigned to you.

[2019-11-05 04:29] lpf7551321 commented on #3394
/accept

[2019-11-05 04:29] markthink commented on #3394
Thank you @lpf7551321, this issue had been assigned to you.

[2019-11-05 04:33] lpf7551321 commented on #3307
/accept

[2019-11-05 04:34] markthink commented on #3307
Thank you @lpf7551321, this issue had been assigned to you.

[2019-11-05 04:38] lpf7551321 commented on #3243
/accept

[2019-11-05 04:38] markthink commented on #3243
Thank you @lpf7551321, this issue had been assigned to you.

[2019-11-05 06:27] lichuqiang commented on #3315
/accept

[2019-11-05 06:28] markthink commented on #3315
Thank you @lichuqiang, this issue had been assigned to you.

[2019-11-05 06:40] lichuqiang commented on #3315
/pushed

[2019-11-05 06:40] lichuqiang commented on #3433
/merged

[2019-11-05 06:41] #3433 closed, assigned to lichuqiang

[2019-11-05 06:41] lichuqiang commented on #3141
/merged

[2019-11-05 06:41] #3141 closed, assigned to lichuqiang

[2019-11-05 07:00] lichuqiang commented on #3306
/accept

[2019-11-05 07:00] markthink commented on #3306
Thank you @lichuqiang, this issue had been assigned to you.

[2019-11-05 07:02] lichuqiang commented on #3306
经比对，该文档中文翻译已存在

[2019-11-05 07:02] lichuqiang commented on #3306
/pushed

[2019-11-05 07:02] lichuqiang commented on #3306
/merged

[2019-11-05 07:02] #3306 closed, assigned to lichuqiang

[2019-11-05 07:04] lichuqiang commented on #3266
/accept

[2019-11-05 07:04] markthink commented on #3266
Thank you @lichuqiang, this issue had been assigned to you.

[2019-11-05 07:20] lichuqiang commented on #3266
/pushed

[2019-11-05 07:25] lichuqiang commented on #3257
/accept

[2019-11-05 07:25] markthink commented on #3257
Thank you @lichuqiang, this issue had been assigned to you.

[2019-11-05 07:32] lichuqiang commented on #3257
/pushed

[2019-11-05 07:34] lichuqiang commented on #3256
/accept

[2019-11-05 07:34] markthink commented on #3256
Thank you @lichuqiang, this issue had been assigned to you.

[2019-11-05 07:42] lichuqiang commented on #3256
/pushed

[2019-11-05 07:43] lichuqiang commented on #3434
/merged

[2019-11-05 07:43] #3434 closed, assigned to lichuqiang

[2019-11-05 08:34] lichuqiang commented on #3315
/merged

[2019-11-05 08:35] #3315 closed, assigned to lichuqiang

[2019-11-05 08:35] lichuqiang commented on #3266
/merged

[2019-11-05 08:35] #3266 closed, assigned to lichuqiang

[2019-11-05 08:35] lichuqiang commented on #3256
/merged

[2019-11-05 08:35] #3256 closed, assigned to lichuqiang

[2019-11-07 06:30] lpf7551321 commented on #3505
/pushed

[2019-11-07 06:31] lpf7551321 commented on #3505
/merged

[2019-11-07 06:31] #3505 closed, assigned to lpf7551321

[2019-11-07 06:32] lpf7551321 commented on #3394
/pushed

[2019-11-07 06:32] lpf7551321 commented on #3394
/merged

[2019-11-07 06:32] #3394 closed, assigned to lpf7551321

[2019-11-07 06:32] lpf7551321 commented on #3388
/pushed

[2019-11-07 06:32] lpf7551321 commented on #3388
/merged

[2019-11-07 06:32] #3388 closed, assigned to lpf7551321

[2019-11-07 06:33] lpf7551321 commented on #3503
/pushed

[2019-11-07 06:33] lpf7551321 commented on #3503
/merged

[2019-11-07 06:33] #3503 closed, assigned to lpf7551321

[2019-11-07 06:36] lpf7551321 commented on #3305
/accept

[2019-11-07 06:36] markthink commented on #3305
Thank you @lpf7551321, this issue had been assigned to you.

[2019-11-07 06:36] lpf7551321 commented on #3343
/accept

[2019-11-07 06:36] markthink commented on #3343
Thank you @lpf7551321, this issue had been assigned to you.

[2019-11-07 06:36] lpf7551321 commented on #3262
/accept

[2019-11-07 06:37] markthink commented on #3262
Thank you @lpf7551321, this issue had been assigned to you.

[2019-11-07 06:37] lpf7551321 commented on #3249
/accept

[2019-11-07 06:37] markthink commented on #3249
Thank you @lpf7551321, this issue had been assigned to you.

[2019-11-07 07:42] lichuqiang commented on #3257
/merged

[2019-11-07 07:42] #3257 closed, assigned to lichuqiang

[2019-11-08 08:22] IreneByron commented on #3284
/pushed

[2019-11-08 08:23] IreneByron commented on #3284
/merged

[2019-11-08 08:23] #3284 closed, assigned to IreneByron

[2019-11-08 08:27] lpf7551321 commented on #3530
/pushed

[2019-11-08 08:27] lpf7551321 commented on #3530
/merged

[2019-11-08 08:27] #3530 closed, assigned to lpf7551321

[2019-11-08 08:28] lpf7551321 commented on #3513
/pushed

[2019-11-08 08:28] lpf7551321 commented on #3513
/merged

[2019-11-08 08:28] #3513 closed, assigned to lpf7551321

[2019-11-08 08:28] lpf7551321 commented on #3343
/pushed

[2019-11-08 08:28] lpf7551321 commented on #3343
/merged

[2019-11-08 08:28] #3343 closed, assigned to lpf7551321

[2019-11-08 08:28] lpf7551321 commented on #3307
/pushed

[2019-11-08 08:28] lpf7551321 commented on #3307
/merged

[2019-11-08 08:28] #3307 closed, assigned to lpf7551321

[2019-11-08 08:29] lpf7551321 commented on #3307
/pushed

[2019-11-08 08:29] markthink commented on #3307
Sorry @lpf7551321, only issues with special values ('translating') can be accepted.

[2019-11-08 08:29] lpf7551321 commented on #3307
/merged

[2019-11-08 08:29] markthink commented on #3307
Sorry @lpf7551321, only issues with special values ('pushed') can be accepted.

[2019-11-08 08:29] lpf7551321 commented on #3305
/pushed

[2019-11-08 08:29] lpf7551321 commented on #3305
/merged

[2019-11-08 08:29] #3305 closed, assigned to lpf7551321

[2019-11-08 08:29] lpf7551321 commented on #3262
/pushed

[2019-11-08 08:29] lpf7551321 commented on #3262
/merged

[2019-11-08 08:29] #3262 closed, assigned to lpf7551321

[2019-11-08 08:30] lpf7551321 commented on #3249
/pushed

[2019-11-08 08:30] lpf7551321 commented on #3249
/merged

[2019-11-08 08:30] #3249 closed, assigned to lpf7551321

[2019-11-08 08:30] lpf7551321 commented on #3243
/pushed

[2019-11-08 08:30] lpf7551321 commented on #3243
/merged

[2019-11-08 08:30] #3243 closed, assigned to lpf7551321

[2019-11-08 08:31] lpf7551321 commented on #3250
/accept

[2019-11-08 08:31] markthink commented on #3250
Thank you @lpf7551321, this issue had been assigned to you.

[2019-11-08 08:31] lpf7551321 commented on #3237
/accept

[2019-11-08 08:31] markthink commented on #3237
Thank you @lpf7551321, this issue had been assigned to you.

[2019-11-08 08:31] lpf7551321 commented on #3151
/accept

[2019-11-08 08:31] markthink commented on #3151
Thank you @lpf7551321, this issue had been assigned to you.

[2019-11-08 08:31] lpf7551321 commented on #3092
/accept

[2019-11-08 08:32] markthink commented on #3092
Thank you @lpf7551321, this issue had been assigned to you.

[2019-11-08 08:32] lpf7551321 commented on #3088
/accept

[2019-11-08 08:32] markthink commented on #3088
Thank you @lpf7551321, this issue had been assigned to you.

[2019-11-08 08:32] lpf7551321 commented on #3075
/accept

[2019-11-08 08:32] markthink commented on #3075
Thank you @lpf7551321, this issue had been assigned to you.

[2019-11-08 08:33] lpf7551321 commented on #3209
/accept

[2019-11-08 08:34] markthink commented on #3209
Thank you @lpf7551321, this issue had been assigned to you.

[2019-11-08 08:34] lpf7551321 commented on #3222
/accept

[2019-11-08 08:34] markthink commented on #3222
Thank you @lpf7551321, this issue had been assigned to you.

[2019-11-08 09:02] tanjunchen commented on #3520
/pushed

[2019-11-08 09:31] tanjunchen commented on #3171
/accept

[2019-11-08 09:31] markthink commented on #3171
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-09 02:20] tanjunchen commented on #3241
/merged

[2019-11-09 02:20] #3241 closed, assigned to tanjunchen

[2019-11-09 03:03] lpf7551321 commented on #3222
/close

[2019-11-09 03:04] lpf7551321 commented on #3222
/merged

[2019-11-09 03:04] markthink commented on #3222
Sorry @lpf7551321, only issues with special values ('pushed') can be accepted.

[2019-11-09 03:05] lpf7551321 commented on #3222
/pushed

[2019-11-09 03:05] lpf7551321 commented on #3222
/merged

[2019-11-09 03:05] #3222 closed, assigned to lpf7551321

[2019-11-09 03:33] lpf7551321 commented on #3186
/accept

[2019-11-09 03:33] markthink commented on #3186
Thank you @lpf7551321, this issue had been assigned to you.

[2019-11-11 01:03] lpf7551321 commented on #3250
/pushed

[2019-11-11 01:03] lpf7551321 commented on #3250
/merged

[2019-11-11 01:03] #3250 closed, assigned to lpf7551321

[2019-11-11 01:04] lpf7551321 commented on #3237
/pushed

[2019-11-11 01:04] lpf7551321 commented on #3237
/merged

[2019-11-11 01:04] lpf7551321 commented on #3209
/pushed

[2019-11-11 01:04] #3237 closed, assigned to lpf7551321

[2019-11-11 01:04] lpf7551321 commented on #3209
/merged

[2019-11-11 01:04] #3209 closed, assigned to lpf7551321

[2019-11-11 01:04] lpf7551321 commented on #3186
/pushed

[2019-11-11 01:04] lpf7551321 commented on #3186
/merged

[2019-11-11 01:05] #3186 closed, assigned to lpf7551321

[2019-11-11 01:05] lpf7551321 commented on #3151
/pushed

[2019-11-11 01:05] lpf7551321 commented on #3151
/merged

[2019-11-11 01:05] #3151 closed, assigned to lpf7551321

[2019-11-11 01:05] lpf7551321 commented on #3092
/pushed

[2019-11-11 01:05] lpf7551321 commented on #3092
/merged

[2019-11-11 01:05] #3092 closed, assigned to lpf7551321

[2019-11-11 01:05] lpf7551321 commented on #3088
/pushed

[2019-11-11 01:05] lpf7551321 commented on #3088
/merged

[2019-11-11 01:06] #3088 closed, assigned to lpf7551321

[2019-11-11 01:06] lpf7551321 commented on #3088
/pushed

[2019-11-11 01:06] markthink commented on #3088
Sorry @lpf7551321, only issues with special values ('translating') can be accepted.

[2019-11-11 01:06] lpf7551321 commented on #3088
/merged

[2019-11-11 01:06] markthink commented on #3088
Sorry @lpf7551321, only issues with special values ('pushed') can be accepted.

[2019-11-11 01:06] lpf7551321 commented on #3075
/pushed

[2019-11-11 01:06] lpf7551321 commented on #3075
/merged

[2019-11-11 01:06] #3075 closed, assigned to lpf7551321

[2019-11-12 01:29] IreneByron commented on #3049
/merged

[2019-11-12 01:29] markthink commented on #3049
Sorry @IreneByron, only issues with special values ('pushed') can be accepted.

[2019-11-12 01:30] IreneByron commented on #3049
/pushed

[2019-11-12 01:30] IreneByron commented on #3049
/merged

[2019-11-12 01:30] #3049 closed, assigned to IreneByron

[2019-11-12 23:55] IreneByron commented on #3442
/accept

[2019-11-12 23:55] markthink commented on #3442
Thank you @IreneByron, this issue had been assigned to you.

[2019-11-12 23:57] IreneByron commented on #3382
/accept

[2019-11-12 23:57] markthink commented on #3382
Thank you @IreneByron, this issue had been assigned to you.

[2019-11-12 23:58] IreneByron commented on #3366
/accept

[2019-11-12 23:59] markthink commented on #3366
Thank you @IreneByron, this issue had been assigned to you.

[2019-11-13 00:01] IreneByron commented on #3348
/accept

[2019-11-13 00:01] markthink commented on #3348
Thank you @IreneByron, this issue had been assigned to you.

[2019-11-13 00:02] IreneByron commented on #3334
/accept

[2019-11-13 00:02] markthink commented on #3334
Thank you @IreneByron, this issue had been assigned to you.

[2019-11-13 00:03] IreneByron commented on #3295
/accept

[2019-11-13 00:03] markthink commented on #3295
Thank you @IreneByron, this issue had been assigned to you.

[2019-11-15 03:57] yuxiaobo96 commented on #3478
/pushed

[2019-11-15 03:57] yuxiaobo96 commented on #3478
/merged

[2019-11-15 03:57] #3478 closed, assigned to yuxiaobo96

[2019-11-15 04:01] yuxiaobo96 commented on #3480
/pushed

[2019-11-15 04:01] yuxiaobo96 commented on #3480
/merged

[2019-11-15 04:01] #3480 closed, assigned to yuxiaobo96

[2019-11-15 06:34] tanjunchen commented on #3441
/pushed

[2019-11-15 06:37] tanjunchen commented on #3441
/merged

[2019-11-15 06:37] #3441 closed, assigned to tanjunchen

[2019-11-16 06:18] coffiney commented on #3481
/accept

[2019-11-16 06:18] markthink commented on #3481
Sorry @coffiney, you are not allowed member of this issue.

[2019-11-16 14:57] tanjunchen commented on #3479
/pushed

[2019-11-16 14:57] tanjunchen commented on #3479
/merged

[2019-11-16 14:58] #3479 closed, assigned to tanjunchen

[2019-11-17 06:41] coffiney commented on #3481
/accept

[2019-11-17 06:41] markthink commented on #3481
Sorry @coffiney, you are not allowed member of this issue.

[2019-11-18 08:53] yuxiaobo96 commented on #3380
/pushed

[2019-11-18 08:53] yuxiaobo96 commented on #3380
/merged

[2019-11-18 08:53] #3380 closed, assigned to yuxiaobo96

[2019-11-19 01:05] coffiney commented on #3481
/accept

[2019-11-19 01:05] markthink commented on #3481
Thank you @coffiney, this issue had been assigned to you.

[2019-11-19 01:20] yuxiaobo96 commented on #3381
/pushed

[2019-11-20 02:23] hwdef commented on #3611
/merged

[2019-11-20 02:23] #3611 closed, assigned to hwdef

[2019-11-20 15:15] tanjunchen commented on #3412
/pushed

[2019-11-21 01:24] IreneByron commented on #3053
/pushed

[2019-11-21 01:24] IreneByron commented on #3053
/merged

[2019-11-21 01:25] #3053 closed, assigned to IreneByron

[2019-11-23 04:07] coffiney commented on #3481
/pushed

[2019-11-23 04:18] coffiney commented on #3514
/accept

[2019-11-23 04:19] markthink commented on #3514
Thank you @coffiney, this issue had been assigned to you.

[2019-11-23 04:20] coffiney commented on #3309
/accept

[2019-11-23 04:21] markthink commented on #3309
Thank you @coffiney, this issue had been assigned to you.

[2019-11-25 05:25] coffiney commented on #3514
/pushed

[2019-11-27 03:00] zhangx501 commented on #3602
/pushed

[2019-11-27 03:01] zhangx501 commented on #3602
/merged

[2019-11-27 03:01] #3602 closed, assigned to zhangx501

[2019-11-27 03:03] zhangx501 commented on #3121
/pushed

[2019-11-27 03:03] zhangx501 commented on #3121
/merged

[2019-11-27 03:03] #3121 closed, assigned to zhangx501

[2019-11-27 03:09] zhangx501 commented on #3387
/accept

[2019-11-27 03:09] markthink commented on #3387
Thank you @zhangx501, this issue had been assigned to you.

[2019-11-27 03:11] zhangx501 commented on #3358
/accept

[2019-11-27 03:11] markthink commented on #3358
Thank you @zhangx501, this issue had been assigned to you.

[2019-11-27 03:13] zhangx501 commented on #3303
/accept

[2019-11-27 03:13] markthink commented on #3303
Thank you @zhangx501, this issue had been assigned to you.

[2019-11-27 03:14] zhangx501 commented on #3300
/accept

[2019-11-27 03:14] markthink commented on #3300
Thank you @zhangx501, this issue had been assigned to you.

[2019-11-27 06:44] zhangx501 commented on #3387
/pushed

[2019-11-27 06:56] zhangx501 commented on #3358
/pushed

[2019-11-27 07:58] zhangx501 commented on #3300
/pushed

[2019-11-27 08:01] zhangx501 commented on #3282
/accept

[2019-11-27 08:01] markthink commented on #3282
Thank you @zhangx501, this issue had been assigned to you.

[2019-11-27 08:52] zhangx501 commented on #3282
/pushed

[2019-11-27 08:55] zhangx501 commented on #3358
/merged

[2019-11-27 08:56] #3358 closed, assigned to zhangx501

[2019-11-27 09:02] zhangx501 commented on #3215
/accept

[2019-11-27 09:02] markthink commented on #3215
Thank you @zhangx501, this issue had been assigned to you.

[2019-11-28 06:53] zhangx501 commented on #3215
/pushed

[2019-11-29 09:18] coffiney commented on #3252
/accept

[2019-11-29 09:18] markthink commented on #3252
Thank you @coffiney, this issue had been assigned to you.

[2019-11-29 16:07] IreneByron commented on #3382
/pushed

[2019-11-30 07:05] tanjunchen commented on #3393
/merged

[2019-11-30 07:05] #3393 closed, assigned to tanjunchen

[2019-11-30 07:05] tanjunchen commented on #3337
/merged

[2019-11-30 07:05] #3337 closed, assigned to tanjunchen

[2019-11-30 07:06] tanjunchen commented on #3412
/merged

[2019-11-30 07:06] #3412 closed, assigned to tanjunchen

[2019-11-30 08:38] tanjunchen commented on #3171
/pushed

[2019-11-30 08:39] tanjunchen commented on #3171
/merged

[2019-11-30 08:39] #3171 closed, assigned to tanjunchen

[2019-11-30 08:47] tanjunchen commented on #3369
/accept

[2019-11-30 08:48] markthink commented on #3369
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-30 08:49] tanjunchen commented on #3245
/accept

[2019-11-30 08:49] markthink commented on #3245
Thank you @tanjunchen, this issue had been assigned to you.

[2019-11-30 11:50] coffiney commented on #3309
/pushed

[2019-12-01 03:42] coffiney commented on #3514
/merged

[2019-12-01 03:42] #3514 closed, assigned to coffiney

[2019-12-01 03:43] coffiney commented on #3481
/merged

[2019-12-01 03:43] #3481 closed, assigned to coffiney

[2019-12-02 00:47] coffiney commented on #3309
/merged

[2019-12-02 00:48] #3309 closed, assigned to coffiney

[2019-12-02 06:45] zhangx501 commented on #3303
/pushed

[2019-12-02 06:46] zhangx501 commented on #3387
/merged

[2019-12-02 06:47] #3387 closed, assigned to zhangx501

[2019-12-02 06:47] zhangx501 commented on #3300
/merged

[2019-12-02 06:47] #3300 closed, assigned to zhangx501

[2019-12-02 06:48] zhangx501 commented on #3282
/merged

[2019-12-02 06:48] #3282 closed, assigned to zhangx501

[2019-12-02 06:48] zhangx501 commented on #3215
/merged

[2019-12-02 06:48] #3215 closed, assigned to zhangx501

[2019-12-04 01:11] zhangx501 commented on #3303
/merged

[2019-12-04 01:12] #3303 closed, assigned to zhangx501

[2019-12-04 01:31] IreneByron commented on #3382
/merged

[2019-12-04 01:31] #3382 closed, assigned to IreneByron

[2019-12-04 02:38] zhangx501 commented on #3234
/accept

[2019-12-04 02:39] markthink commented on #3234
Thank you @zhangx501, this issue had been assigned to you.

[2019-12-04 02:41] zhangx501 commented on #3156
/accept

[2019-12-04 02:42] markthink commented on #3156
Thank you @zhangx501, this issue had been assigned to you.

[2019-12-04 02:43] zhangx501 commented on #3152
/accept

[2019-12-04 02:43] markthink commented on #3152
Thank you @zhangx501, this issue had been assigned to you.

[2019-12-04 02:46] zhangx501 commented on #3148
/accept

[2019-12-04 02:46] markthink commented on #3148
Thank you @zhangx501, this issue had been assigned to you.

[2019-12-04 02:49] zhangx501 commented on #3137
/accept

[2019-12-04 02:49] markthink commented on #3137
Thank you @zhangx501, this issue had been assigned to you.

[2019-12-04 02:50] zhangx501 commented on #3128
/accept

[2019-12-04 02:50] markthink commented on #3128
Thank you @zhangx501, this issue had been assigned to you.

[2019-12-04 02:55] zhangx501 commented on #3073
/accept

[2019-12-04 02:55] markthink commented on #3073
Thank you @zhangx501, this issue had been assigned to you.

[2019-12-04 03:11] zhangx501 commented on #3073
/pushed

[2019-12-04 03:29] zhangx501 commented on #3128
/pushed

[2019-12-04 03:51] zhangx501 commented on #3148
/pushed

[2019-12-04 07:27] zhangx501 commented on #3152
/pushed

[2019-12-04 07:52] zhangx501 commented on #3156
/pushed

[2019-12-04 09:18] zhangx501 commented on #3137
/pushed

[2019-12-04 09:20] zhangx501 commented on #3068
/accept

[2019-12-04 09:20] markthink commented on #3068
Thank you @zhangx501, this issue had been assigned to you.

[2019-12-05 03:06] zhangx501 commented on #3068
/pushed

[2019-12-05 03:09] zhangx501 commented on #3073
/merged

[2019-12-05 03:09] #3073 closed, assigned to zhangx501

[2019-12-05 03:10] zhangx501 commented on #3148
/merged

[2019-12-05 03:10] #3148 closed, assigned to zhangx501

[2019-12-05 08:03] zhangx501 commented on #3234
/pushed

[2019-12-05 08:04] zhangx501 commented on #3128
/merged

[2019-12-05 08:04] #3128 closed, assigned to zhangx501

[2019-12-05 09:21] jiazxjason commented on #3034
/accept

[2019-12-05 09:21] markthink commented on #3034
Thank you @jiazxjason, this issue had been assigned to you.

[2019-12-06 07:53] zhangx501 commented on #3156
/merged

[2019-12-06 07:53] #3156 closed, assigned to zhangx501

[2019-12-06 09:03] yuxiaobo96 commented on #3381
/merged

[2019-12-06 09:03] #3381 closed, assigned to yuxiaobo96

[2019-12-08 05:38] tanjunchen commented on #3245
/pushed

[2019-12-08 05:38] tanjunchen commented on #3245
/merged

[2019-12-08 05:38] #3245 closed, assigned to tanjunchen

[2019-12-08 12:23] smarkm commented on #3059
/accept

[2019-12-08 12:23] markthink commented on #3059
Sorry @smarkm, you are not allowed member of this issue.

[2019-12-13 15:32] smarkm commented on #3059
/accept

[2019-12-13 15:51] smarkm commented on #3263
/accept

[2019-12-16 03:06] markthink commented on #3648
/confirm

[2019-12-16 03:06] markthink commented on #3648
Sorry @markthink, only issues with label `welcome` can be confirmed.

[2019-12-16 04:17] smarkm commented on #3059
/accept

[2019-12-16 04:17] markthink commented on #3059
Sorry @smarkm, only issues with special values ('pending') can be accepted.

[2019-12-16 04:17] markthink commented on #3059
Thank you @smarkm, this issue had been assigned to you.

[2019-12-16 04:19] smarkm commented on #3263
/accept

[2019-12-16 04:19] markthink commented on #3263
Sorry @smarkm, only issues with special values ('pending') can be accepted.

[2019-12-16 04:19] markthink commented on #3263
Thank you @smarkm, this issue had been assigned to you.

[2019-12-16 06:47] helight commented on #3018
/accept

[2019-12-16 06:47] markthink commented on #3018
Sorry @helight, you are not allowed member of this issue.

[2019-12-20 15:32] smarkm commented on #3445
/accept

[2019-12-20 15:32] markthink commented on #3445
Thank you @smarkm, this issue had been assigned to you.

[2019-12-25 01:55] helight commented on #3018
/accept

[2019-12-25 01:56] markthink commented on #3018
Thank you @helight, this issue had been assigned to you.

[2019-12-25 08:45] markthink opened #3650 "/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md"
Source File: [/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md)

[2019-12-25 11:20] markthink opened #3651 "/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md"
Source File: [/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes.md)

[2019-12-25 11:23] markthink opened #3652 "/blog/_posts/2019-10-10-contributor-summit-san-diego-schedule.md"
Source File: [/blog/_posts/2019-10-10-contributor-summit-san-diego-schedule.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/blog/_posts/2019-10-10-contributor-summit-san-diego-schedule.md)

[2019-12-25 11:23] markthink opened #3653 "/blog/_posts/2019-09-24-san-diego-contributor-summit.md"
Source File: [/blog/_posts/2019-09-24-san-diego-contributor-summit.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/blog/_posts/2019-09-24-san-diego-contributor-summit.md)

[2019-12-25 11:23] markthink opened #3654 "/docs/concepts/architecture/controller.md"
Source File: [/docs/concepts/architecture/controller.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/architecture/controller.md)

[2019-12-25 11:24] markthink opened #3655 "/blog/_posts/2019-12-02-gardener-project-update.md"
Source File: [/blog/_posts/2019-12-02-gardener-project-update.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/blog/_posts/2019-12-02-gardener-project-update.md)

[2019-12-25 11:24] markthink opened #3656 "/docs/reference/glossary/cidr.md"
Source File: [/docs/reference/glossary/cidr.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/glossary/cidr.md)

[2019-12-25 11:25] markthink opened #3657 "/docs/reference/glossary/proxy.md"
Source File: [/docs/reference/glossary/proxy.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/glossary/proxy.md)

[2019-12-25 11:25] markthink opened #3658 "/blog/_posts/2019-10-03-2019-Steering-Committee-Election-Results.md"
Source File: [/blog/_posts/2019-10-03-2019-Steering-Committee-Election-Results.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/blog/_posts/2019-10-03-2019-Steering-Committee-Election-Results.md)

[2019-12-25 11:25] markthink opened #3659 "/docs/reference/glossary/rkt.md"
Source File: [/docs/reference/glossary/rkt.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/glossary/rkt.md)

[2019-12-25 11:25] markthink opened #3660 "/docs/reference/glossary/manifest.md"
Source File: [/docs/reference/glossary/manifest.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/glossary/manifest.md)

[2019-12-25 11:27] markthink opened #3661 "/docs/reference/glossary/api-group.md"
Source File: [/docs/reference/glossary/api-group.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/glossary/api-group.md)

[2019-12-25 11:27] markthink opened #3662 "/blog/_posts/2019-10-29-2019-sig-docs-survey.md"
Source File: [/blog/_posts/2019-10-29-2019-sig-docs-survey.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/blog/_posts/2019-10-29-2019-sig-docs-survey.md)

[2019-12-25 11:27] markthink opened #3663 "/docs/concepts/services-networking/service-topology.md"
Source File: [/docs/concepts/services-networking/service-topology.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/services-networking/service-topology.md)

[2019-12-25 11:27] markthink opened #3664 "/blog/_posts/2019-12-09-volume-snapshot-beta.md"
Source File: [/blog/_posts/2019-12-09-volume-snapshot-beta.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/blog/_posts/2019-12-09-volume-snapshot-beta.md)

[2019-12-25 11:27] markthink opened #3665 "/docs/reference/glossary/disruption.md"
Source File: [/docs/reference/glossary/disruption.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/glossary/disruption.md)

[2019-12-25 11:28] markthink opened #3666 "/blog/_posts/2019-11-26-cloud-native-java-controller-sdk.md"
Source File: [/blog/_posts/2019-11-26-cloud-native-java-controller-sdk.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/blog/_posts/2019-11-26-cloud-native-java-controller-sdk.md)

[2019-12-25 11:28] markthink opened #3667 "/blog/_posts/2019-11-05-grokkin-the-docs.md"
Source File: [/blog/_posts/2019-11-05-grokkin-the-docs.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/blog/_posts/2019-11-05-grokkin-the-docs.md)

[2019-12-25 11:28] markthink opened #3668 "/docs/user-journeys/users/application-developer/advanced.md"
Source File: [/docs/user-journeys/users/application-developer/advanced.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/user-journeys/users/application-developer/advanced.md)

[2019-12-25 11:28] markthink opened #3669 "/blog/_posts/2019-12-06-kubernetes-1-16-release-interview.md"
Source File: [/blog/_posts/2019-12-06-kubernetes-1-16-release-interview.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/blog/_posts/2019-12-06-kubernetes-1-16-release-interview.md)

[2019-12-25 11:29] markthink opened #3670 "/blog/_posts/2019-11-05-kubernetes-with-microk8s.md"
Source File: [/blog/_posts/2019-11-05-kubernetes-with-microk8s.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/blog/_posts/2019-11-05-kubernetes-with-microk8s.md)

[2019-12-25 11:29] markthink opened #3671 "/blog/_posts/2019-12-09-csi-volume-migration-beta.md"
Source File: [/blog/_posts/2019-12-09-csi-volume-migration-beta.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/blog/_posts/2019-12-09-csi-volume-migration-beta.md)

[2019-12-25 11:29] markthink opened #3672 "/blog/_posts/2019-12-09-kubernetes-1.17-release-announcement.md"
Source File: [/blog/_posts/2019-12-09-kubernetes-1.17-release-announcement.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/blog/_posts/2019-12-09-kubernetes-1.17-release-announcement.md)

[2019-12-25 11:32] markthink opened #3673 "/docs/concepts/architecture/nodes.md"
Source File: [/docs/concepts/architecture/nodes.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/architecture/nodes.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:32] markthink opened #3674 "/docs/concepts/configuration/taint-and-toleration.md"
Source File: [/docs/concepts/configuration/taint-and-toleration.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/configuration/taint-and-toleration.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:32] markthink opened #3675 "/docs/concepts/services-networking/dual-stack.md"
Source File: [/docs/concepts/services-networking/dual-stack.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/services-networking/dual-stack.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:32] markthink opened #3676 "/docs/concepts/services-networking/endpoint-slices.md"
Source File: [/docs/concepts/services-networking/endpoint-slices.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/services-networking/endpoint-slices.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:32] markthink opened #3677 "/docs/concepts/storage/storage-limits.md"
Source File: [/docs/concepts/storage/storage-limits.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/storage/storage-limits.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:32] markthink opened #3678 "/docs/concepts/storage/volume-snapshot-classes.md"
Source File: [/docs/concepts/storage/volume-snapshot-classes.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/storage/volume-snapshot-classes.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:32] markthink opened #3679 "/docs/concepts/storage/volume-snapshots.md"
Source File: [/docs/concepts/storage/volume-snapshots.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/storage/volume-snapshots.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:32] markthink opened #3680 "/docs/concepts/workloads/controllers/daemonset.md"
Source File: [/docs/concepts/workloads/controllers/daemonset.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/concepts/workloads/controllers/daemonset.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:32] markthink opened #3681 "/docs/contribute/generate-ref-docs/kubernetes-components.md"
Source File: [/docs/contribute/generate-ref-docs/kubernetes-components.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/contribute/generate-ref-docs/kubernetes-components.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:32] markthink opened #3682 "/docs/reference/_index.md"
Source File: [/docs/reference/_index.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/_index.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:32] markthink opened #3683 "/docs/reference/access-authn-authz/extensible-admission-controllers.md"
Source File: [/docs/reference/access-authn-authz/extensible-admission-controllers.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:32] markthink opened #3684 "/docs/reference/command-line-tools-reference/feature-gates.md"
Source File: [/docs/reference/command-line-tools-reference/feature-gates.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/command-line-tools-reference/feature-gates.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:32] markthink opened #3685 "/docs/reference/command-line-tools-reference/kube-proxy.md"
Source File: [/docs/reference/command-line-tools-reference/kube-proxy.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/command-line-tools-reference/kube-proxy.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:32] markthink opened #3686 "/docs/reference/command-line-tools-reference/kube-scheduler.md"
Source File: [/docs/reference/command-line-tools-reference/kube-scheduler.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/command-line-tools-reference/kube-scheduler.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:33] markthink opened #3687 "/docs/reference/command-line-tools-reference/kubelet.md"
Source File: [/docs/reference/command-line-tools-reference/kubelet.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/command-line-tools-reference/kubelet.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:33] markthink opened #3688 "/docs/reference/kubectl/conventions.md"
Source File: [/docs/reference/kubectl/conventions.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/kubectl/conventions.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:33] markthink opened #3689 "/docs/reference/kubectl/kubectl.md"
Source File: [/docs/reference/kubectl/kubectl.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/kubectl/kubectl.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:33] markthink opened #3690 "/docs/reference/kubernetes-api/api-index.md"
Source File: [/docs/reference/kubernetes-api/api-index.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/kubernetes-api/api-index.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:33] markthink opened #3691 "/docs/reference/kubernetes-api/labels-annotations-taints.md"
Source File: [/docs/reference/kubernetes-api/labels-annotations-taints.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/kubernetes-api/labels-annotations-taints.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:33] markthink opened #3692 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_node.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_node.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_node.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:33] markthink opened #3693 "/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_node_phase_control-plane.md"
Source File: [/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_node_phase_control-plane.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_upgrade_node_phase_control-plane.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:33] markthink opened #3694 "/docs/setup/production-environment/container-runtimes.md"
Source File: [/docs/setup/production-environment/container-runtimes.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/setup/production-environment/container-runtimes.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:33] markthink opened #3695 "/docs/setup/production-environment/windows/user-guide-windows-containers.md"
Source File: [/docs/setup/production-environment/windows/user-guide-windows-containers.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/setup/production-environment/windows/user-guide-windows-containers.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:33] markthink opened #3696 "/docs/tasks/access-application-cluster/create-external-load-balancer.md"
Source File: [/docs/tasks/access-application-cluster/create-external-load-balancer.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/access-application-cluster/create-external-load-balancer.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:33] markthink opened #3697 "/docs/tasks/administer-cluster/cpu-management-policies.md"
Source File: [/docs/tasks/administer-cluster/cpu-management-policies.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/administer-cluster/cpu-management-policies.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:33] markthink opened #3698 "/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md"
Source File: [/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:33] markthink opened #3699 "/docs/tasks/administer-cluster/reserve-compute-resources.md"
Source File: [/docs/tasks/administer-cluster/reserve-compute-resources.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/administer-cluster/reserve-compute-resources.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:33] markthink opened #3700 "/docs/tasks/administer-cluster/topology-manager.md"
Source File: [/docs/tasks/administer-cluster/topology-manager.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/administer-cluster/topology-manager.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:33] markthink opened #3701 "/docs/tasks/configure-pod-container/share-process-namespace.md"
Source File: [/docs/tasks/configure-pod-container/share-process-namespace.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/configure-pod-container/share-process-namespace.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 11:33] markthink opened #3702 "/docs/tasks/network/validate-dual-stack.md"
Source File: [/docs/tasks/network/validate-dual-stack.md](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/network/validate-dual-stack.md)

Diff 查看原始文档更新差异命令:
[code]

[2019-12-25 12:11] markthink commented on #3651
/confirm

[2019-12-25 12:11] markthink commented on #3652
/confirm

[2019-12-25 12:11] markthink commented on #3653
/confirm

[2019-12-25 12:11] markthink commented on #3654
/confirm

[2019-12-25 12:11] markthink commented on #3655
/confirm

[2019-12-25 12:11] markthink commented on #3656
/confirm

[2019-12-25 12:11] markthink commented on #3657
/confirm

[2019-12-25 12:11] markthink commented on #3658
/confirm

[2019-12-25 12:11] markthink commented on #3659
/confirm

[2019-12-25 12:11] markthink commented on #3660
/confirm

[2019-12-25 12:11] markthink commented on #3661
/confirm

[2019-12-25 12:11] markthink commented on #3662
/confirm

[2019-12-25 12:11] markthink commented on #3663
/confirm

[2019-12-25 12:11] markthink commented on #3664
/confirm

[2019-12-25 12:11] markthink commented on #3665
/confirm

[2019-12-25 12:11] markthink commented on #3666
/confirm

[2019-12-25 12:11] markthink commented on #3667
/confirm

[2019-12-25 12:11] markthink commented on #3668
/confirm

[2019-12-25 12:11] markthink commented on #3669
/confirm

[2019-12-25 12:11] markthink commented on #3670
/confirm

[2019-12-25 12:11] markthink commented on #3671
/confirm

[2019-12-25 12:11] markthink commented on #3672
/confirm

[2019-12-25 12:11] markthink commented on #3673
/confirm

[2019-12-25 12:11] markthink commented on #3674
/confirm

[2019-12-25 12:11] markthink commented on #3675
/confirm

[2019-12-25 12:11] markthink commented on #3676
/confirm

[2019-12-25 12:11] markthink commented on #3677
/confirm

[2019-12-25 12:11] markthink commented on #3678
/confirm

[2019-12-25 12:12] markthink commented on #3679
/confirm

[2019-12-25 12:12] markthink commented on #3680
/confirm

[2019-12-25 12:12] markthink commented on #3681
/confirm

[2019-12-25 12:12] markthink commented on #3682
/confirm

[2019-12-25 12:12] markthink commented on #3683
/confirm

[2019-12-25 12:12] markthink commented on #3684
/confirm

[2019-12-25 12:12] markthink commented on #3685
/confirm

[2019-12-25 12:12] markthink commented on #3686
/confirm

[2019-12-25 12:12] markthink commented on #3687
/confirm

[2019-12-25 12:12] markthink commented on #3688
/confirm

[2019-12-25 12:12] markthink commented on #3689
/confirm

[2019-12-25 12:12] markthink commented on #3690
/confirm

[2019-12-25 12:12] markthink commented on #3691
/confirm

[2019-12-25 12:12] markthink commented on #3692
/confirm

[2019-12-25 12:12] markthink commented on #3693
/confirm

[2019-12-25 12:12] markthink commented on #3694
/confirm

[2019-12-25 12:12] markthink commented on #3695
/confirm

[2019-12-25 12:12] markthink commented on #3696
/confirm

[2019-12-25 12:12] markthink commented on #3697
/confirm

[2019-12-25 12:12] markthink commented on #3698
/confirm

[2019-12-25 12:12] markthink commented on #3699
/confirm

[2019-12-25 12:12] markthink commented on #3700
/confirm

[2019-12-25 12:12] markthink commented on #3701
/confirm

[2019-12-25 12:12] markthink commented on #3702
/confirm

[2019-12-25 15:09] tanjunchen commented on #3680
/accept

[2019-12-25 15:10] markthink commented on #3680
Thank you @tanjunchen, this issue had been assigned to you.

[2019-12-25 15:11] tanjunchen commented on #3686
/accept

[2019-12-25 15:11] markthink commented on #3686
Thank you @tanjunchen, this issue had been assigned to you.

[2019-12-25 15:13] tanjunchen commented on #3682
/accept

[2019-12-25 15:13] markthink commented on #3682
Thank you @tanjunchen, this issue had been assigned to you.

[2019-12-25 15:21] tanjunchen commented on #3682
/pushed

[2019-12-25 15:21] tanjunchen commented on #3682
/merged

[2019-12-25 15:21] #3682 closed, assigned to tanjunchen

[2019-12-26 03:27] coffiney commented on #3696
/accept

[2019-12-26 03:27] markthink commented on #3696
Thank you @coffiney, this issue had been assigned to you.

[2019-12-26 03:29] coffiney commented on #3659
/accept

[2019-12-26 03:29] markthink commented on #3659
Thank you @coffiney, this issue had been assigned to you.

[2019-12-26 09:56] coffiney commented on #3659
/pushed

[2019-12-26 10:06] tanjunchen commented on #3680
/pushed

[2019-12-26 10:06] tanjunchen commented on #3680
/merged

[2019-12-26 10:06] #3680 closed, assigned to tanjunchen

[2019-12-26 15:05] tanjunchen commented on #3681
/accept

[2019-12-26 15:05] markthink commented on #3681
Thank you @tanjunchen, this issue had been assigned to you.

[2019-12-26 15:17] tanjunchen commented on #3676
/accept

[2019-12-26 15:17] markthink commented on #3676
Thank you @tanjunchen, this issue had been assigned to you.

[2019-12-26 15:26] tanjunchen commented on #3675
/accept

[2019-12-26 15:26] markthink commented on #3675
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-12-26 16:06] tanjunchen commented on #3673
/accept

[2019-12-26 16:06] markthink commented on #3673
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-12-27 06:51] rudy2steiner commented on #3699
/accept

[2019-12-27 06:51] markthink commented on #3699
Thank you @rudy2steiner, this issue had been assigned to you.

[2019-12-27 06:53] rudy2steiner commented on #3699
sorry, i  got wrong task

[2019-12-27 06:54] rudy2steiner commented on #3697
/accept

[2019-12-27 06:54] markthink commented on #3697
Thank you @rudy2steiner, this issue had been assigned to you.

[2019-12-27 09:41] yuxiaobo96 commented on #3408
/pushed

[2019-12-27 14:15] tanjunchen commented on #3686
/pushed

[2019-12-27 14:15] tanjunchen commented on #3686
/close

[2019-12-27 14:16] tanjunchen commented on #3681
/accept

[2019-12-27 14:16] markthink commented on #3681
Sorry @tanjunchen, only issues with special values ('pending') can be accepted.

[2019-12-27 14:16] tanjunchen commented on #3681
/pushed

[2019-12-27 14:16] tanjunchen commented on #3681
/close

[2019-12-27 14:16] tanjunchen commented on #3676
/pushed

[2019-12-27 14:17] tanjunchen commented on #3676
/close

[2019-12-27 14:17] tanjunchen commented on #3674
/accept

[2019-12-27 14:17] tanjunchen commented on #3674
/pushed

[2019-12-27 14:17] markthink commented on #3674
Thank you @tanjunchen, this issue had been assigned to you.

[2019-12-27 14:17] tanjunchen commented on #3674
/close

[2019-12-27 14:18] tanjunchen commented on #3675
/pushed

[2019-12-27 14:18] markthink commented on #3675
Sorry @tanjunchen, only issues with special values ('translating') can be accepted.

[2019-12-27 14:18] tanjunchen commented on #3674
/pushed

[2019-12-27 14:18] markthink commented on #3674
Sorry @tanjunchen, only issues with special values ('translating') can be accepted.

[2019-12-27 14:19] tanjunchen commented on #3674
/close

[2019-12-27 14:19] tanjunchen commented on #3675
/accept

[2019-12-27 14:20] markthink commented on #3675
Thank you @tanjunchen, this issue had been assigned to you.

[2019-12-27 14:20] tanjunchen commented on #3675
/pushed

[2019-12-27 14:20] tanjunchen commented on #3674
/merged

[2019-12-27 14:20] tanjunchen commented on #3675
/merged

[2019-12-27 14:20] #3674 closed, assigned to tanjunchen

[2019-12-27 14:20] #3675 closed, assigned to tanjunchen

[2019-12-27 14:21] tanjunchen commented on #3673
/accept

[2019-12-27 14:21] markthink commented on #3673
Thank you @tanjunchen, this issue had been assigned to you.

[2019-12-27 14:21] tanjunchen commented on #3673
/pushed

[2019-12-27 14:22] tanjunchen commented on #3673
/merged

[2019-12-27 14:22] #3673 closed, assigned to tanjunchen

[2019-12-27 14:46] tanjunchen commented on #3698
/accept

[2019-12-27 14:46] markthink commented on #3698
Thank you @tanjunchen, this issue had been assigned to you.

[2019-12-27 14:49] tanjunchen commented on #3689
/accept

[2019-12-27 14:49] markthink commented on #3689
Thank you @tanjunchen, this issue had been assigned to you.

[2019-12-27 16:19] tanjunchen commented on #3689
/pushed

[2019-12-27 16:21] tanjunchen commented on #3676
/merged

[2019-12-27 16:21] #3676 closed, assigned to tanjunchen

[2019-12-27 16:29] tanjunchen commented on #3700
/accept

[2019-12-27 16:29] markthink commented on #3700
Thank you @tanjunchen, this issue had been assigned to you.

[2019-12-27 16:32] tanjunchen commented on #3695
/accept

[2019-12-27 16:32] markthink commented on #3695
Thank you @tanjunchen, this issue had been assigned to you.

[2019-12-27 16:32] tanjunchen commented on #3694
/accept

[2019-12-27 16:32] markthink commented on #3694
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-12-27 16:44] tanjunchen commented on #3685
/accept

[2019-12-27 16:44] markthink commented on #3685
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-12-27 16:45] tanjunchen commented on #3681
/merged

[2019-12-27 16:45] #3681 closed, assigned to tanjunchen

[2019-12-27 16:45] tanjunchen commented on #3685
/accept

[2019-12-27 16:45] markthink commented on #3685
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-12-27 16:48] tanjunchen commented on #3686
/merged

[2019-12-27 16:48] #3686 closed, assigned to tanjunchen

[2019-12-27 16:50] tanjunchen commented on #3698
/pushed

[2019-12-27 16:51] tanjunchen commented on #3695
/pushed

[2019-12-27 16:51] tanjunchen commented on #3702
/accept

[2019-12-27 16:51] tanjunchen commented on #3685
/accept

[2019-12-27 16:51] markthink commented on #3702
Thank you @tanjunchen, this issue had been assigned to you.

[2019-12-27 16:52] markthink commented on #3685
Thank you @tanjunchen, this issue had been assigned to you.

[2019-12-27 16:52] tanjunchen commented on #3701
/accept

[2019-12-27 16:52] markthink commented on #3701
Sorry @tanjunchen, only 8 issues can be accepted by the same user.

[2019-12-28 06:19] helight commented on #3018
/pushed

[2019-12-28 06:35] tanjunchen commented on #3700
/pushed

[2019-12-28 06:35] tanjunchen commented on #3700
/merged

[2019-12-28 06:35] #3700 closed, assigned to tanjunchen

[2019-12-28 13:36] tanjunchen commented on #3702
/pushed

[2019-12-28 13:36] tanjunchen commented on #3701
/accept

[2019-12-28 13:36] markthink commented on #3701
Thank you @tanjunchen, this issue had been assigned to you.

[2019-12-28 13:37] tanjunchen commented on #3701
/pushed

[2019-12-28 13:37] tanjunchen commented on #3701
/merged

[2019-12-28 13:37] #3701 closed, assigned to tanjunchen

[2019-12-28 13:38] tanjunchen commented on #3694
/accept

[2019-12-28 13:38] markthink commented on #3694
Thank you @tanjunchen, this issue had been assigned to you.

[2019-12-28 13:39] tanjunchen commented on #3694
/pushed

[2019-12-28 13:39] tanjunchen commented on #3694
/merged

[2019-12-28 13:39] #3694 closed, assigned to tanjunchen

[2019-12-28 13:51] tanjunchen commented on #3690
/accept

[2019-12-28 13:51] tanjunchen commented on #3690
/pushed

[2019-12-28 13:52] markthink commented on #3690
Thank you @tanjunchen, this issue had been assigned to you.

[2019-12-30 08:28] ydcool commented on #3693
/accept

[2019-12-30 08:28] markthink commented on #3693
Thank you @ydcool, this issue had been assigned to you.

[2019-12-31 06:55] ydcool commented on #3693
/pushed

[2019-12-31 08:49] ydcool commented on #3507
Hello @IreneByron , 您能把这个 task 对应的 PR 链接发一下吗？请问下这个 PR 是否尚未合并？我在 release-1.16 以及后面的代码中都没有找到 `content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm_alpha_certs.md` 这个文档， 谢谢~

[2019-12-31 08:55] IreneByron commented on #3507
@ydcool 不好意思 当时这个issue打错了。。 这个文件我还没提pr  要不我明天提一下？

[2019-12-31 08:57] ydcool commented on #3507
@IreneByron  嗯嗯，没关系，你有时间记得提交就可以，我只是确认一下，以免我们提交代码产生冲突。

[2019-12-31 09:12] IreneByron commented on #3507
@ydcool 恩恩好的~

[2020-01-02 03:27] ydcool commented on #3692
/accept

[2020-01-02 03:27] markthink commented on #3692
Thank you @ydcool, this issue had been assigned to you.

[2020-01-02 03:57] ydcool commented on #3692
/pushed

[2020-01-02 06:19] tanjunchen commented on #3689
/merged

[2020-01-02 06:19] #3689 closed, assigned to tanjunchen

[2020-01-02 06:19] tanjunchen commented on #3702
/merged

[2020-01-02 06:19] #3702 closed, assigned to tanjunchen

[2020-01-02 06:20] tanjunchen commented on #3695
/merged

[2020-01-02 06:20] #3695 closed, assigned to tanjunchen

[2020-01-02 06:27] helight commented on #3018
/merged

[2020-01-02 06:28] #3018 closed, assigned to helight

[2020-01-02 06:29] helight commented on #3654
/accept

[2020-01-02 06:29] markthink commented on #3654
Thank you @helight, this issue had been assigned to you.

[2020-01-02 06:34] helight commented on #3663
/accept

[2020-01-02 06:34] markthink commented on #3663
Thank you @helight, this issue had been assigned to you.

[2020-01-02 06:35] helight commented on #3651
/accept

[2020-01-02 06:35] markthink commented on #3651
Thank you @helight, this issue had been assigned to you.

[2020-01-02 06:37] ydcool commented on #3693
/merged

[2020-01-02 06:37] ydcool commented on #3692
/merged

[2020-01-02 06:37] #3693 closed, assigned to ydcool

[2020-01-02 06:37] #3692 closed, assigned to ydcool

[2020-01-03 16:01] tanjunchen commented on #3688
/pushed

[2020-01-03 16:01] markthink commented on #3688
Sorry @tanjunchen, only issues with special values ('translating') can be accepted.

[2020-01-03 16:01] tanjunchen commented on #3688
/accept

[2020-01-03 16:01] tanjunchen commented on #3688
/pushed

[2020-01-03 16:01] markthink commented on #3688
Thank you @tanjunchen, this issue had been assigned to you.

[2020-01-03 16:01] tanjunchen commented on #3688
/merged

[2020-01-03 16:02] #3688 closed, assigned to tanjunchen

[2020-01-03 16:02] tanjunchen commented on #3687
/accept

[2020-01-03 16:03] tanjunchen commented on #3687
/pushed

[2020-01-03 16:03] markthink commented on #3687
Thank you @tanjunchen, this issue had been assigned to you.

[2020-01-03 16:03] tanjunchen commented on #3687
/merged

[2020-01-03 16:03] #3687 closed, assigned to tanjunchen

[2020-01-03 16:05] tanjunchen commented on #3690
/merged

[2020-01-03 16:05] #3690 closed, assigned to tanjunchen

[2020-01-03 16:06] tanjunchen commented on #3677
/accept

[2020-01-03 16:06] markthink commented on #3677
Thank you @tanjunchen, this issue had been assigned to you.

[2020-01-03 16:07] tanjunchen commented on #3677
/pushed

[2020-01-03 16:07] tanjunchen commented on #3677
/merged

[2020-01-03 16:07] #3677 closed, assigned to tanjunchen

[2020-01-03 16:08] tanjunchen commented on #3691
/accept

[2020-01-03 16:08] markthink commented on #3691
Thank you @tanjunchen, this issue had been assigned to you.

[2020-01-04 03:16] tanjunchen commented on #3699
/pushed

[2020-01-04 03:16] markthink commented on #3699
Sorry @tanjunchen, only issues had been assigned can be accepted.

[2020-01-04 05:21] tanjunchen commented on #3685
/pushed

[2020-01-04 05:21] tanjunchen commented on #3685
/merged

[2020-01-04 05:21] #3685 closed, assigned to tanjunchen

[2020-01-05 00:25] helight commented on #3663
/pushed

[2020-01-05 13:29] helight commented on #3654
/pushed

[2020-01-05 13:30] helight commented on #3654
/merged

[2020-01-05 13:30] #3654 closed, assigned to helight

[2020-01-06 07:21] Aresforchina commented on #3666
/accept

[2020-01-06 07:22] markthink commented on #3666
Thank you @Aresforchina, this issue had been assigned to you.

[2020-01-06 07:23] Aresforchina commented on #3658
/accept

[2020-01-06 07:23] markthink commented on #3658
Thank you @Aresforchina, this issue had been assigned to you.

[2020-01-07 05:17] helight commented on #3651
/pushed

[2020-01-08 01:28] helight commented on #3663
/merged

[2020-01-08 01:28] #3663 closed, assigned to helight

[2020-01-08 01:32] helight commented on #3678
/accept

[2020-01-08 01:32] markthink commented on #3678
Thank you @helight, this issue had been assigned to you.

[2020-01-08 01:34] helight commented on #3679
/accept

[2020-01-08 01:34] markthink commented on #3679
Thank you @helight, this issue had been assigned to you.

[2020-01-08 03:45] Aresforchina commented on #3658
/pushed

[2020-01-08 04:07] Aresforchina commented on #3666
/pushed

[2020-01-08 04:55] helight commented on #3678
/pushed

[2020-01-08 08:45] helight commented on #3651
/merged

[2020-01-08 08:46] #3651 closed, assigned to helight

[2020-01-08 13:57] tanjunchen commented on #3691
/pushed

[2020-01-08 13:58] tanjunchen commented on #3691
/merged

[2020-01-08 13:58] #3691 closed, assigned to tanjunchen

[2020-01-09 04:00] ydcool commented on #3501
@liufangwai  ping

[2020-01-09 04:08] ydcool commented on #3496
/accept

[2020-01-09 04:08] markthink commented on #3496
Thank you @ydcool, this issue had been assigned to you.

[2020-01-09 07:36] Aresforchina commented on #3670
/accept

[2020-01-09 07:36] markthink commented on #3670
Thank you @Aresforchina, this issue had been assigned to you.

[2020-01-09 13:20] tanjunchen commented on #3698
/merged

[2020-01-09 13:20] #3698 closed, assigned to tanjunchen

[2020-01-09 14:26] helight commented on #3678
/merged

[2020-01-09 14:26] #3678 closed, assigned to helight

[2020-01-10 08:01] Aresforchina commented on #3670
/pushed

[2020-01-12 17:01] rudy2steiner commented on #3697
/pushed

[2020-01-13 05:59] rudy2steiner commented on #3697
/merged

[2020-01-13 05:59] #3697 closed, assigned to rudy2steiner

[2020-01-13 12:35] helight commented on #3679
/merged

[2020-01-13 12:35] markthink commented on #3679
Sorry @helight, only issues with special values ('pushed') can be accepted.

[2020-01-14 01:11] helight commented on #3679
/pushed

[2020-01-14 10:14] Aresforchina commented on #3666
/merged

[2020-01-14 10:14] #3666 closed, assigned to Aresforchina

[2020-01-14 10:14] Aresforchina commented on #3658
/merged

[2020-01-14 10:14] #3658 closed, assigned to Aresforchina

[2020-01-14 10:14] Aresforchina commented on #3670
/merged

[2020-01-14 10:15] #3670 closed, assigned to Aresforchina

[2020-01-17 15:30] tanjunchen commented on #3699
/merged

[2020-01-17 15:30] markthink commented on #3699
Sorry @tanjunchen, only issues with special values ('pushed') can be accepted.

[2020-01-21 09:56] coffiney commented on #3659
/merged

[2020-01-21 09:56] #3659 closed, assigned to coffiney

[2020-01-25 08:32] helight commented on #3679
/merged

[2020-01-25 08:32] #3679 closed, assigned to helight

[2020-01-25 12:05] tanjunchen commented on #3683
/accept

[2020-01-25 12:05] markthink commented on #3683
Thank you @tanjunchen, this issue had been assigned to you.

[2020-01-25 12:05] tanjunchen commented on #3683
/pushed

[2020-03-02 02:08] Sophy417 commented on #3665
/accept

[2020-03-02 02:08] markthink commented on #3665
Thank you @Sophy417, this issue had been assigned to you.

[2020-03-02 02:10] Sophy417 commented on #3661
/accept

[2020-03-02 02:10] markthink commented on #3661
Thank you @Sophy417, this issue had been assigned to you.

[2020-03-02 02:10] Sophy417 commented on #3660
/accept

[2020-03-02 02:10] markthink commented on #3660
Thank you @Sophy417, this issue had been assigned to you.

[2020-03-02 02:11] Sophy417 commented on #3657
/accept

[2020-03-02 02:11] markthink commented on #3657
Thank you @Sophy417, this issue had been assigned to you.

[2020-03-02 02:11] Sophy417 commented on #3656
/accept

[2020-03-02 02:11] markthink commented on #3656
Thank you @Sophy417, this issue had been assigned to you.

[2020-03-02 09:46] Sophy417 commented on #3665
/pushed

[2020-03-02 09:58] Sophy417 commented on #3660
/pushed

[2020-03-02 10:02] Sophy417 commented on #3661
/pushed

[2020-03-02 11:43] Sophy417 commented on #3657
/pusued

[2020-03-02 11:45] Sophy417 commented on #3657
/pushed

[2020-03-03 12:59] Sophy417 commented on #3656
/pushed

[2020-03-03 16:57] 3ks commented on #3298
/accept

[2020-03-03 16:57] markthink commented on #3298
Thank you @gorda, this issue had been assigned to you.

[2020-03-04 05:18] 3ks commented on #3298
/pushed

[2020-03-04 05:27] 3ks commented on #3296
/accept

[2020-03-04 05:27] markthink commented on #3296
Thank you @gorda, this issue had been assigned to you.

[2020-03-04 10:54] 3ks commented on #3296
该 issue 对应的内容已由 [这个 PR](https://github.com/kubernetes/website/pull/18217) 合入至 [master](https://github.com/kubernetes/website/blob/master/content/zh/docs/concepts/configuration/scheduling-framework.md)。

@markthink，该 issue 可以关闭了，如果一天后您没有处理该 issue，我将尝试使用 `/pushed` `/merged` 指令将该 issue 关闭。

[2020-03-05 01:26] 3ks commented on #3119
@markthink  该 issue 的目标内容看起来已经在 [master](https://github.com/kubernetes/website/blob/master/content/zh/docs/concepts/scheduling/kube-scheduler.md) 中了，如果一天后你没有关闭该 issue，我将尝试通过 `/accept`、`/pushed`、`/merged` 关闭该 issue。

[2020-03-05 01:26] 3ks commented on #3261
/accept

[2020-03-05 01:26] markthink commented on #3261
Thank you @gorda, this issue had been assigned to you.

[2020-03-05 01:36] 3ks commented on #3182
@markthink [source file](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/federation/administer-federation/ingress.md) 在 [master-en](https://github.com/kubernetes/website/blob/master/content/en/docs/tasks/federation/administer-federation/ingress.md) 中已经不存在，目前整个 [master-en-doc](https://github.com/kubernetes/website/tree/master/content/en/docs) 似乎都没有 `Federated Ingress`

[2020-03-05 01:40] 3ks commented on #3111
@markthink [source file](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/federation/set-up-cluster-federation-kubefed.md) 在 [master-en](https://github.com/kubernetes/website/blob/master/content/en/docs/tasks/federation/set-up-cluster-federation-kubefed.md) 中已经不存在，目前整个 [master-en-doc](https://github.com/kubernetes/website/tree/master/content/en/docs) 似乎都没有 `Federated I

[2020-03-05 01:41] 3ks commented on #3070
@markthink [source file](https://github.com/kubernetes/website/blob/release-1.16/content/en/docs/tasks/federation/administer-federation/hpa.md) 在 [master-en](https://github.com/kubernetes/website/blob/master/content/en/docs/tasks/federation/administer-federation/hpa.md) 中已经不存在，目前整个 [master-en-doc](https://github.com/kubernetes/website/tree/master/content/en/docs) 似乎都没有 `Federated Ingress` 相关的内容，不知

[2020-03-05 01:48] 3ks commented on #3149
/accept

[2020-03-05 01:48] markthink commented on #3149
Thank you @gorda, this issue had been assigned to you.

[2020-03-05 13:04] 3ks commented on #3296
/pushed

[2020-03-05 13:05] 3ks commented on #3296
/merged

[2020-03-05 13:05] #3296 closed, assigned to 3ks

[2020-03-05 14:57] 3ks commented on #3261
/pushed

[2020-03-07 03:30] rudy2steiner commented on #3672
/accept

[2020-03-07 03:30] markthink commented on #3672
Thank you @rudy2steiner, this issue had been assigned to you.

[2020-03-07 13:52] 3ks commented on #3149
/pushed

[2020-03-07 13:57] 3ks commented on #3298
/merged

[2020-03-07 13:57] 3ks commented on #3261
/merged

[2020-03-07 13:57] #3298 closed, assigned to 3ks

[2020-03-07 13:57] #3261 closed, assigned to 3ks

[2020-03-07 14:41] Sophy417 commented on #3657
/merged

[2020-03-07 14:42] #3657 closed, assigned to Sophy417

[2020-03-07 14:42] Sophy417 commented on #3660
/merged

[2020-03-07 14:42] #3660 closed, assigned to Sophy417

[2020-03-08 06:10] 3ks commented on #3684
/accept

[2020-03-08 06:11] 3ks commented on #3114
/accept

[2020-03-08 06:11] markthink commented on #3114
Thank you @gorda, this issue had been assigned to you.

[2020-03-08 10:04] 3ks commented on #3684
/accept

[2020-03-08 15:22] 3ks commented on #3114
/pushed

[2020-03-09 01:36] 3ks commented on #3149
/pushed

[2020-03-09 01:37] 3ks commented on #3149
/merged

[2020-03-09 01:37] #3149 closed, assigned to 3ks

[2020-03-09 01:41] 3ks commented on #3684
/accept

[2020-03-09 01:42] markthink commented on #3684
Thank you @gorda, this issue had been assigned to you.

[2020-03-09 01:49] 3ks commented on #3531
/accept

[2020-03-09 01:49] markthink commented on #3531
Thank you @gorda, this issue had been assigned to you.

[2020-03-09 08:54] 3ks commented on #3114
/merged

[2020-03-09 08:54] #3114 closed, assigned to 3ks

[2020-03-09 13:34] 3ks commented on #3684
/pushed

[2020-03-11 04:12] 3ks commented on #3684
/merged

[2020-03-11 04:15] 3ks commented on #3531
/pushed

[2020-03-12 05:04] 3ks commented on #3684
/merged

[2020-03-12 05:04] #3684 closed, assigned to 3ks

[2020-03-15 08:10] rudy2steiner commented on #3672
/pushed

[2020-03-17 14:59] 3ks commented on #3531
/pushed

[2020-03-17 14:59] 3ks commented on #3531
/merged

[2020-03-18 03:44] Sophy417 commented on #3665
/merged

[2020-03-18 03:44] Sophy417 commented on #3661
/merged

[2020-03-18 03:44] Sophy417 commented on #3656
/merged

[2020-03-23 12:54] Sophy417 commented on #3665
/merged

[2020-03-28 08:42] gaoguangze111 commented on #3652
/accept

[2020-03-28 11:27] rudy2steiner commented on #3672
/pushed

[2020-03-28 11:29] rudy2steiner commented on #3672
@markthink  why pushed, but the label not change

[2020-03-29 12:25] gaoguangze111 commented on #3652
/accept

[2020-03-29 12:41] gaoguangze111 commented on #3484
/accept

[2020-03-29 13:24] gaoguangze111 commented on #3510
/accept

[2020-03-29 13:48] gaoguangze111 commented on #3432
/accept

[2020-03-29 14:42] gaoguangze111 commented on #3105
/accept

[2020-03-30 00:46] gaoguangze111 commented on #3475
/accept

[2020-03-30 01:24] gaoguangze111 commented on #3304
/accept

[2020-03-30 04:59] markthink commented on #3484
/accept

[2020-03-30 05:00] markthink commented on #3671
/confirm

[2020-03-30 05:00] markthink commented on #3671
/pushed

[2020-03-30 05:53] gaoguangze111 commented on #3484
/accept

[2020-03-30 05:55] gaoguangze111 commented on #3484
/pushed

[2020-03-30 05:56] gaoguangze111 commented on #3105
/accept

[2020-03-30 06:19] Sophy417 commented on #3665
/merged

[2020-03-30 07:12] Sophy417 commented on #3085
/accept

[2020-03-30 07:18] markthink commented on #3085
/accept

[2020-03-30 07:31] markthink commented on #3085
/accept

[2020-03-30 08:49] markthink commented on #3085
/accept

[2020-03-30 08:55] markthink commented on #3085
/accept

[2020-03-30 08:55] markthink commented on #3085
Thank you @markthink, this issue had been assigned to you.

[2020-03-30 09:31] Sophy417 commented on #3081
/accept

[2020-03-30 09:31] markthink commented on #3081
Thank you @Sophy417, this issue had been assigned to you.

[2020-03-30 09:37] Sophy417 commented on #3668
/accept

[2020-03-30 09:37] markthink commented on #3668
Thank you @Sophy417, this issue had been assigned to you.

[2020-03-30 09:39] Sophy417 commented on #3431
/accept

[2020-03-30 09:39] markthink commented on #3431
Thank you @Sophy417, this issue had been assigned to you.

[2020-03-30 10:05] Sophy417 commented on #3665
/merged

[2020-03-30 10:06] #3665 closed, assigned to Sophy417

[2020-03-30 10:06] Sophy417 commented on #3661
/pushed

[2020-03-30 10:06] markthink commented on #3661
Sorry @Sophy417, only issues with special values ('translating') can be accepted.

[2020-03-30 10:06] Sophy417 commented on #3661
/merged

[2020-03-30 10:06] #3661 closed, assigned to Sophy417

[2020-03-30 10:07] Sophy417 commented on #3656
/merged

[2020-03-30 10:07] #3656 closed, assigned to Sophy417

[2020-03-31 06:47] rudy2steiner commented on #3672
/pushed

[2020-04-01 04:11] ydcool commented on #3496
/pushed

[2020-04-01 14:15] rudy2steiner commented on #3672
/merged

[2020-04-01 14:15] #3672 closed, assigned to rudy2steiner

[2020-04-06 08:54] Sophy417 commented on #3070
/accept

[2020-04-06 08:54] markthink commented on #3070
Thank you @Sophy417, this issue had been assigned to you.

[2020-04-08 02:09] ydcool commented on #3502
/accept

[2020-04-08 02:09] markthink commented on #3502
Thank you @ydcool, this issue had been assigned to you.

[2020-04-08 03:31] ydcool commented on #3502
/pushed

[2020-04-08 10:06] ydcool commented on #3502
/merged

[2020-04-08 10:06] #3502 closed, assigned to ydcool

[2020-04-21 01:21] ydcool commented on #3386
/accept

[2020-04-21 01:21] markthink commented on #3386
Thank you @ydcool, this issue had been assigned to you.

[2020-04-21 12:04] ydcool commented on #3386
/pushed

[2020-04-22 05:18] ydcool commented on #3386
/merged

[2020-04-22 05:18] #3386 closed, assigned to ydcool

[2020-04-27 07:17] gaoguangze111 commented on #3335
/accept

[2020-04-27 07:17] markthink commented on #3335
Thank you @gaoguangze111, this issue had been assigned to you.

[2020-04-27 09:53] gaoguangze111 commented on #3361
/accept

[2020-04-27 09:53] markthink commented on #3361
Thank you @gaoguangze111, this issue had been assigned to you.

[2020-04-28 11:36] gaoguangze111 commented on #3308
/accept

[2020-04-28 11:36] markthink commented on #3308
Thank you @gaoguangze111, this issue had been assigned to you.

[2020-04-29 02:51] gaoguangze111 commented on #3281
/accept

[2020-04-29 02:51] markthink commented on #3281
Thank you @gaoguangze111, this issue had been assigned to you.

[2020-04-29 03:50] gaoguangze111 commented on #3272
/accept

[2020-04-29 03:51] markthink commented on #3272
Thank you @gaoguangze111, this issue had been assigned to you.

[2020-05-25 01:27] Sophy417 commented on #3070
/pushed

[2020-05-25 01:29] Sophy417 commented on #3070
/merged

[2020-05-25 01:29] #3070 closed, assigned to Sophy417

[2020-06-08 02:30] jiazxjason commented on #3105
/accept

[2020-06-08 02:31] markthink commented on #3105
Thank you @jiazxjason, this issue had been assigned to you.

[2020-06-08 07:45] jiazxjason commented on #3105
/pushed

[2020-06-09 02:46] yixin21 commented on #3443
/accept

[2020-06-09 02:46] markthink commented on #3443
Thank you @yixin21, this issue had been assigned to you.

[2020-06-09 14:32] Sophy417 commented on #3085
pushed/

[2020-07-01 03:03] jiazxjason commented on #3087
/accept

[2020-07-01 03:03] markthink commented on #3087
Thank you @jiazxjason, this issue had been assigned to you.

[2020-07-21 12:44] yixin21 commented on #3314
/accept

[2020-07-21 12:44] markthink commented on #3314
Thank you @yixin21, this issue had been assigned to you.

[2020-07-21 12:45] yixin21 commented on #3362
/accept

[2020-07-21 12:45] markthink commented on #3362
Thank you @yixin21, this issue had been assigned to you.

[2020-07-21 12:47] yixin21 commented on #3354
/accept

[2020-07-21 12:47] markthink commented on #3354
Thank you @yixin21, this issue had been assigned to you.

[2020-07-21 12:52] yixin21 commented on #3356
/accept

[2020-07-21 12:52] markthink commented on #3356
Thank you @yixin21, this issue had been assigned to you.

[2020-07-21 13:00] yixin21 commented on #3443
/pushed

[2020-07-21 13:10] yixin21 commented on #3443
/merged

[2020-07-21 13:10] #3443 closed, assigned to yixin21

[2020-07-23 09:46] yixin21 commented on #3314
/pushed

[2020-07-24 12:08] yixin21 commented on #3356
/pushed

[2020-07-30 14:04] yixin21 commented on #3428
/accept

[2020-07-30 14:04] markthink commented on #3428
Thank you @yixin21, this issue had been assigned to you.

[2020-07-30 14:08] yixin21 commented on #3283
/accept

[2020-07-30 14:08] markthink commented on #3283
Thank you @yixin21, this issue had been assigned to you.

[2020-07-31 14:22] yixin21 commented on #3354
/pushed

[2020-08-01 04:50] yixin21 commented on #3283
/pushed

[2020-08-01 11:34] yixin21 commented on #3069
/accept

[2020-08-01 11:34] markthink commented on #3069
Thank you @yixin21, this issue had been assigned to you.

[2020-08-01 11:36] yixin21 commented on #3653
/accept

[2020-08-01 11:36] markthink commented on #3653
Thank you @yixin21, this issue had been assigned to you.

[2020-08-04 04:23] yixin21 commented on #3474
/accept

[2020-08-04 04:23] markthink commented on #3474
Thank you @yixin21, this issue had been assigned to you.

[2020-08-10 11:18] yixin21 commented on #3218
/accept

[2020-08-10 11:18] markthink commented on #3218
Thank you @yixin21, this issue had been assigned to you.

[2020-08-10 11:19] yixin21 commented on #3231
/accept

[2020-08-10 11:19] markthink commented on #3231
Thank you @yixin21, this issue had been assigned to you.

[2020-08-10 11:19] yixin21 commented on #3242
/accept

[2020-08-10 11:20] markthink commented on #3242
Thank you @yixin21, this issue had been assigned to you.

[2020-08-25 06:22] yixin21 commented on #3473
/accept

[2020-08-25 06:22] markthink commented on #3473
Sorry @yixin21, only 8 issues can be accepted by the same user.

[2020-08-25 06:22] yixin21 commented on #3476
/accept

[2020-08-25 06:22] markthink commented on #3476
Sorry @yixin21, only 8 issues can be accepted by the same user.

[2020-08-25 06:23] yixin21 commented on #3218
/pushed

[2020-08-25 06:24] yixin21 commented on #3218
/merged

[2020-08-25 06:24] #3218 closed, assigned to yixin21

[2020-08-25 06:31] yixin21 commented on #3473
/accept

[2020-08-25 06:31] markthink commented on #3473
Thank you @yixin21, this issue had been assigned to you.

[2020-08-25 06:33] yixin21 commented on #3069
/pushed

[2020-08-25 06:33] yixin21 commented on #3476
/accept

[2020-08-25 06:33] markthink commented on #3476
Thank you @yixin21, this issue had been assigned to you.

[2020-08-25 06:42] yixin21 commented on #3474
/pushed

[2020-08-25 06:43] yixin21 commented on #3242
/pushed

[2020-08-25 06:50] yixin21 commented on #3385
/accept

[2020-08-25 06:50] markthink commented on #3385
Thank you @yixin21, this issue had been assigned to you.

[2020-08-25 06:52] yixin21 commented on #3363
/accept

[2020-08-25 06:52] markthink commented on #3363
Thank you @yixin21, this issue had been assigned to you.

[2020-08-31 01:21] yixin21 commented on #3653
/pushed

[2020-09-03 02:05] markthink commented on #3699
/merged

[2020-09-03 02:05] markthink commented on #3699
Sorry @markthink, only issues with special values ('pushed') can be accepted.

[2020-09-03 02:05] markthink commented on #3699
Sorry @markthink, only issues with special values ('pushed') can be accepted.

[2020-09-06 13:01] tanjunchen commented on #3699
/close

[2020-10-29 02:32] yuxiaobo96 commented on #3429
/accept

[2020-10-29 02:32] markthink commented on #3429
Thank you @yuxiaobo96, this issue had been assigned to you.

[2020-12-07 02:26] Sophy417 commented on #3662
accept

[2020-12-07 02:28] Sophy417 commented on #3662
/accept

[2020-12-07 02:28] markthink commented on #3662
Thank you @Sophy417, this issue had been assigned to you.

[2020-12-07 02:50] Sophy417 commented on #3359
/accept

[2020-12-07 02:51] markthink commented on #3359
Thank you @Sophy417, this issue had been assigned to you.

[2020-12-07 02:52] Sophy417 commented on #3350
/accept

[2020-12-07 02:52] markthink commented on #3350
Thank you @Sophy417, this issue had been assigned to you.

[2020-12-07 02:55] Sophy417 commented on #3349
/accept

[2020-12-07 02:55] markthink commented on #3349
Thank you @Sophy417, this issue had been assigned to you.

[2020-12-07 10:59] Sophy417 commented on #3349
/pushed

[2020-12-08 02:32] Sophy417 commented on #3662
/pushed

[2020-12-08 03:16] Sophy417 commented on #3350
/Pushed

[2020-12-08 04:05] markthink commented on #3431
/reopen

[2020-12-08 09:21] Sophy417 commented on #3359
/pushed

[2020-12-08 09:23] Sophy417 commented on #3350
/pushed

[2020-12-08 09:28] Sophy417 commented on #3085
/pushed

[2020-12-08 09:28] Sophy417 commented on #3085
/merged

[2020-12-08 09:28] #3085 closed, assigned to Sophy417

[2020-12-09 07:09] Sophy417 commented on #3346
/accept

[2020-12-09 07:09] markthink commented on #3346
Thank you @Sophy417, this issue had been assigned to you.

[2020-12-10 01:57] Sophy417 commented on #3668
/pushed

[2020-12-10 06:59] yixin21 commented on #3425
/accept

[2020-12-10 06:59] markthink commented on #3425
Thank you @yixin21, this issue had been assigned to you.

[2020-12-10 07:00] yixin21 commented on #3410
/accept

[2020-12-10 07:00] markthink commented on #3410
Sorry @yixin21, only 8 issues can be accepted by the same user.

[2020-12-10 08:52] yixin21 commented on #3363
/pushed

[2020-12-11 02:00] Sophy417 commented on #3355
/accept

[2020-12-11 02:00] markthink commented on #3355
Thank you @Sophy417, this issue had been assigned to you.

[2020-12-11 06:57] Sophy417 commented on #3431
/pushed

[2020-12-11 06:59] Sophy417 commented on #3355
/pushed

[2020-12-11 07:01] Sophy417 commented on #3346
/pushed

[2020-12-11 10:27] Sophy417 commented on #3081
/pushed

[2020-12-12 15:23] Sophy417 commented on #3081
/merged

[2020-12-12 15:23] markthink commented on #3081
Sorry @Sophy417, only issues with special values ('pushed') can be accepted.

[2020-12-12 15:23] Sophy417 commented on #3081
/pushed

[2020-12-12 15:24] Sophy417 commented on #3081
/merged

[2020-12-12 15:25] #3081 closed, assigned to Sophy417

[2020-12-12 15:25] Sophy417 commented on #3355
/merged

[2020-12-12 15:26] #3355 closed, assigned to Sophy417

[2020-12-12 15:32] Sophy417 commented on #3344
/accept

[2020-12-12 15:32] markthink commented on #3344
Thank you @Sophy417, this issue had been assigned to you.

[2020-12-14 02:26] yixin21 commented on #3363
/pushed

[2020-12-14 02:26] markthink commented on #3363
Sorry @yixin21, only issues with special values ('translating') can be accepted.

[2020-12-14 02:27] markthink commented on #3363
Sorry @yixin21, only issues with special values ('translating') can be accepted.

[2020-12-14 07:39] Sophy417 commented on #3344
/pushed

[2020-12-14 10:27] Sophy417 commented on #3331
/accept

[2020-12-14 10:28] markthink commented on #3331
Thank you @Sophy417, this issue had been assigned to you.

[2020-12-15 01:29] Sophy417 commented on #3350
/merged

[2020-12-15 01:29] #3350 closed, assigned to Sophy417

[2020-12-15 01:29] Sophy417 commented on #3349
/pushed

[2020-12-15 01:30] markthink commented on #3349
Sorry @Sophy417, only issues with special values ('translating') can be accepted.

[2020-12-15 01:30] Sophy417 commented on #3349
/merged

[2020-12-15 01:30] #3349 closed, assigned to Sophy417

[2020-12-15 01:31] Sophy417 commented on #3359
/merged

[2020-12-15 01:31] #3359 closed, assigned to Sophy417

[2020-12-15 01:34] Sophy417 commented on #3662
/merged

[2020-12-15 01:40] Sophy417 commented on #3662
/merged

[2020-12-15 01:40] #3662 closed, assigned to Sophy417

[2020-12-15 02:20] #3668 closed, assigned to nobody

[2020-12-15 04:36] Sophy417 commented on #3331
/pushed

[2020-12-15 04:45] Sophy417 commented on #3410
/accept

[2020-12-15 07:34] Sophy417 commented on #3410
/accept

[2020-12-15 07:34] Sophy417 commented on #3410
/pushed

[2020-12-15 07:34] markthink commented on #3410
Thank you @Sophy417, this issue had been assigned to you.

[2020-12-15 07:34] Sophy417 commented on #3410
/pushed

[2020-12-15 07:47] Sophy417 commented on #3299
/accept

[2020-12-15 07:48] markthink commented on #3299
Thank you @Sophy417, this issue had been assigned to you.

[2020-12-15 07:48] Sophy417 commented on #3293
/accept

[2020-12-15 07:49] markthink commented on #3293
Thank you @Sophy417, this issue had been assigned to you.

[2020-12-15 07:49] Sophy417 commented on #3290
/accept

[2020-12-15 07:50] markthink commented on #3290
Thank you @Sophy417, this issue had been assigned to you.

[2020-12-15 08:35] Sophy417 commented on #3290
/pushed

[2020-12-15 08:40] Sophy417 commented on #3289
/accept

[2020-12-15 08:40] markthink commented on #3289
Thank you @Sophy417, this issue had been assigned to you.

[2020-12-16 03:08] Sophy417 commented on #3289
/pushed

[2020-12-16 10:04] Sophy417 commented on #3293
/pushed

[2020-12-17 09:00] Sophy417 commented on #3299
/pushed

[2020-12-17 09:13] Sophy417 commented on #3410
/merged

[2020-12-17 09:14] #3410 closed, assigned to Sophy417

[2020-12-17 09:14] Sophy417 commented on #3293
/merged

[2020-12-17 09:15] Sophy417 commented on #3293
/merged

[2020-12-17 09:16] markthink commented on #3293
Sorry @Sophy417, only issues with special values ('pushed') can be accepted.

[2020-12-17 09:16] #3293 closed, assigned to Sophy417

[2020-12-17 09:16] Sophy417 commented on #3293
/merged

[2020-12-17 09:16] markthink commented on #3293
Sorry @Sophy417, only issues with special values ('pushed') can be accepted.

[2020-12-17 09:17] Sophy417 commented on #3290
/merged

[2020-12-17 09:17] #3290 closed, assigned to Sophy417

[2020-12-17 09:19] Sophy417 commented on #3289
/merged

[2020-12-17 09:19] #3289 closed, assigned to Sophy417

[2020-12-17 09:20] Sophy417 commented on #3323
/accept

[2020-12-17 09:21] markthink commented on #3323
Thank you @Sophy417, this issue had been assigned to you.

[2020-12-18 05:07] Sophy417 commented on #3431
/merged

[2020-12-18 05:07] #3431 closed, assigned to Sophy417

[2020-12-18 05:08] Sophy417 commented on #3299
/merged

[2020-12-18 05:08] #3299 closed, assigned to Sophy417

[2020-12-18 05:09] Sophy417 commented on #3331
/merged

[2020-12-18 05:09] #3331 closed, assigned to Sophy417

[2020-12-18 05:10] Sophy417 commented on #3344
/merged

[2020-12-18 05:10] #3344 closed, assigned to Sophy417

[2020-12-18 05:12] Sophy417 commented on #3322
/accpet

[2020-12-18 08:36] Sophy417 commented on #3322
/accept

[2020-12-18 08:36] markthink commented on #3322
Thank you @Sophy417, this issue had been assigned to you.

[2020-12-18 08:51] Sophy417 commented on #3322
/pushed

[2020-12-21 02:25] Sophy417 commented on #3346
/merged

[2020-12-21 02:25] #3346 closed, assigned to Sophy417

[2020-12-21 02:25] Sophy417 commented on #3323
/pushed

[2020-12-21 02:26] Sophy417 commented on #3323
/merged

[2020-12-21 02:26] #3323 closed, assigned to Sophy417

[2020-12-21 02:27] Sophy417 commented on #3322
/merged

[2020-12-21 02:27] #3322 closed, assigned to Sophy417

[2020-12-23 03:36] markthink opened #3703 "test-issue"
test-issue

[2020-12-23 03:38] markthink opened #3704 "testissue"
testissue

[2020-12-23 03:39] markthink opened #3705 "testisssue"
testissue

[2020-12-23 03:48] markthink opened #3706 "testissue"
testissue

[2020-12-23 03:49] markthink commented on #3706
/confim

[2020-12-23 03:49] markthink commented on #3706
/confirm

[2020-12-23 03:49] markthink commented on #3706
Sorry @markthink, only issues with label `welcome` can be confirmed.

[2020-12-23 03:49] markthink commented on #3706
/confirm

[2020-12-23 03:50] markthink commented on #3706
Sorry @markthink, only issues with label `welcome` can be confirmed.

[2020-12-23 03:52] markthink commented on #3706
/confirm

[2020-12-23 05:31] markthink commented on #3706
/confirm

[2020-12-23 05:31] markthink commented on #3706
Sorry @markthink, only issues with label `welcome` can be confirmed.

[2020-12-23 05:33] markthink commented on #3706
/accept

[2020-12-23 05:33] markthink commented on #3706
Thank you @markthink, this issue had been assigned to you.

[2020-12-23 05:34] markthink commented on #3706
/pushed

[2020-12-23 05:34] markthink commented on #3706
/merged

[2020-12-23 05:34] #3706 closed, assigned to markthink

[2020-12-23 05:35] markthink opened #3707 "testissue"
testissue

[2020-12-23 05:36] brucehex commented on #3707
/confirm

[2020-12-23 05:36] markthink commented on #3707
Sorry @brucehex, you are not allowed to confirm this issue.

[2020-12-23 05:36] markthink commented on #3707
/confirm

[2020-12-23 05:37] brucehex commented on #3707
/accept

[2020-12-23 05:37] brucehex commented on #3707
/accept

[2020-12-23 05:38] markthink commented on #3707
Thank you @brucehex, this issue had been assigned to you.

[2020-12-23 05:38] markthink commented on #3707
Sorry @brucehex, only issues with special values ('pending') can be accepted.

[2020-12-23 05:38] markthink commented on #3707
/pushed

[2020-12-23 05:38] markthink commented on #3707
Sorry @markthink, only issues had been assigned can be accepted.

[2020-12-23 05:38] brucehex commented on #3707
/pushed

[2020-12-23 05:39] brucehex commented on #3707
/pushed

[2020-12-23 05:40] brucehex commented on #3707
/merged

[2020-12-23 05:40] brucehex commented on #3707
/merged

[2020-12-23 05:40] #3707 closed, assigned to brucehex

[2020-12-23 06:10] markthink opened #3708 "testisssue"
testissue

[2020-12-23 06:12] brucehex commented on #3708
/confirm

[2020-12-23 06:12] markthink commented on #3708
Sorry @brucehex, you are not allowed to confirm this issue.

[2020-12-23 06:12] markthink commented on #3708
/confirm

[2020-12-23 06:12] brucehex commented on #3708
/accept

[2020-12-23 06:13] markthink commented on #3708
Thank you @brucehex, this issue had been assigned to you.

[2020-12-23 06:13] brucehex commented on #3708
/pushed

[2020-12-23 06:13] brucehex commented on #3708
/merged

[2020-12-23 06:13] #3708 closed, assigned to brucehex

[2020-12-23 06:14] brucehex opened #3709 "issuetest"
issuetest

[2020-12-23 06:14] markthink commented on #3709
/confirm

[2020-12-23 06:58] liugb1029 commented on #3709
/accept

[2020-12-23 06:58] markthink commented on #3709
Sorry @liugb1029, you are not allowed member of this issue，you need to apply to join the [k8smeetup](https://github.com/k8smeetup) organization

[2020-12-23 07:05] #3709 closed, assigned to nobody

[2020-12-31 08:26] markthink opened #3710 "/docs/concepts/policy/pid-limiting.md"
Source File: [/docs/concepts/policy/pid-limiting.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/policy/pid-limiting.md)

Diff 命令参考:

[code]

[2020-12-31 08:28] markthink opened #3711 "/docs/tasks/kubelet-credential-provider/kubelet-credential-provider.md"
Source File: [/docs/tasks/kubelet-credential-provider/kubelet-credential-provider.md](https://github.com/kubernetes/website/blob/master/content/en/docs/tasks/kubelet-credential-provider/kubelet-credential-provider.md)

Diff 命令参考:

[code]

[2020-12-31 08:29] markthink opened #3712 "/docs/concepts/workloads/pods/podpreset.md"
Source File: [/docs/concepts/workloads/pods/podpreset.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/workloads/pods/podpreset.md)

Diff 命令参考:

[code]

[2020-12-31 08:29] markthink opened #3713 "/docs/contribute/localization_zh.md"
Source File: [/docs/contribute/localization_zh.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/localization_zh.md)

Diff 命令参考:

[code]

[2020-12-31 08:29] markthink opened #3714 "/docs/setup/learning-environment/kind.md"
Source File: [/docs/setup/learning-environment/kind.md](https://github.com/kubernetes/website/blob/master/content/en/docs/setup/learning-environment/kind.md)

Diff 命令参考:

[code]

[2020-12-31 08:29] markthink opened #3715 "/docs/_index.md"
Source File: [/docs/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:29] markthink opened #3716 "/docs/concepts/_index.md"
Source File: [/docs/concepts/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:29] markthink opened #3717 "/docs/concepts/architecture/_index.md"
Source File: [/docs/concepts/architecture/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/architecture/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:29] markthink opened #3718 "/docs/concepts/architecture/cloud-controller.md"
Source File: [/docs/concepts/architecture/cloud-controller.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/architecture/cloud-controller.md)

Diff 命令参考:

[code]

[2020-12-31 08:29] markthink opened #3719 "/docs/concepts/architecture/control-plane-node-communication.md"
Source File: [/docs/concepts/architecture/control-plane-node-communication.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/architecture/control-plane-node-communication.md)

Diff 命令参考:

[code]

[2020-12-31 08:29] markthink opened #3720 "/docs/concepts/architecture/nodes.md"
Source File: [/docs/concepts/architecture/nodes.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/architecture/nodes.md)

Diff 命令参考:

[code]

[2020-12-31 08:29] markthink opened #3721 "/docs/concepts/cluster-administration/_index.md"
Source File: [/docs/concepts/cluster-administration/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/cluster-administration/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:29] markthink opened #3722 "/docs/concepts/cluster-administration/addons.md"
Source File: [/docs/concepts/cluster-administration/addons.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/cluster-administration/addons.md)

Diff 命令参考:

[code]

[2020-12-31 08:29] markthink opened #3723 "/docs/concepts/cluster-administration/certificates.md"
Source File: [/docs/concepts/cluster-administration/certificates.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/cluster-administration/certificates.md)

Diff 命令参考:

[code]

[2020-12-31 08:29] markthink opened #3724 "/docs/concepts/cluster-administration/flow-control.md"
Source File: [/docs/concepts/cluster-administration/flow-control.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/cluster-administration/flow-control.md)

Diff 命令参考:

[code]

[2020-12-31 08:29] markthink opened #3725 "/docs/concepts/cluster-administration/kubelet-garbage-collection.md"
Source File: [/docs/concepts/cluster-administration/kubelet-garbage-collection.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/cluster-administration/kubelet-garbage-collection.md)

Diff 命令参考:

[code]

[2020-12-31 08:29] markthink opened #3726 "/docs/concepts/cluster-administration/logging.md"
Source File: [/docs/concepts/cluster-administration/logging.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/cluster-administration/logging.md)

Diff 命令参考:

[code]

[2020-12-31 08:29] markthink opened #3727 "/docs/concepts/cluster-administration/manage-deployment.md"
Source File: [/docs/concepts/cluster-administration/manage-deployment.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/cluster-administration/manage-deployment.md)

Diff 命令参考:

[code]

[2020-12-31 08:29] markthink opened #3728 "/docs/concepts/cluster-administration/networking.md"
Source File: [/docs/concepts/cluster-administration/networking.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/cluster-administration/networking.md)

Diff 命令参考:

[code]

[2020-12-31 08:29] markthink opened #3729 "/docs/concepts/cluster-administration/proxies.md"
Source File: [/docs/concepts/cluster-administration/proxies.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/cluster-administration/proxies.md)

Diff 命令参考:

[code]

[2020-12-31 08:29] markthink opened #3730 "/docs/concepts/cluster-administration/system-logs.md"
Source File: [/docs/concepts/cluster-administration/system-logs.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/cluster-administration/system-logs.md)

Diff 命令参考:

[code]

[2020-12-31 08:29] markthink opened #3731 "/docs/concepts/cluster-administration/system-metrics.md"
Source File: [/docs/concepts/cluster-administration/system-metrics.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/cluster-administration/system-metrics.md)

Diff 命令参考:

[code]

[2020-12-31 08:29] markthink opened #3732 "/docs/concepts/configuration/_index.md"
Source File: [/docs/concepts/configuration/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/configuration/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:29] markthink opened #3733 "/docs/concepts/policy/_index.md"
Source File: [/docs/concepts/policy/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/policy/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:29] markthink opened #3734 "/docs/concepts/configuration/configmap.md"
Source File: [/docs/concepts/configuration/configmap.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/configuration/configmap.md)

Diff 命令参考:

[code]

[2020-12-31 08:29] markthink opened #3735 "/docs/concepts/configuration/manage-resources-containers.md"
Source File: [/docs/concepts/configuration/manage-resources-containers.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/configuration/manage-resources-containers.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3736 "/docs/concepts/configuration/organize-cluster-access-kubeconfig.md"
Source File: [/docs/concepts/configuration/organize-cluster-access-kubeconfig.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/configuration/organize-cluster-access-kubeconfig.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3737 "/docs/concepts/configuration/overview.md"
Source File: [/docs/concepts/configuration/overview.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/configuration/overview.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3738 "/docs/concepts/configuration/pod-priority-preemption.md"
Source File: [/docs/concepts/configuration/pod-priority-preemption.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/configuration/pod-priority-preemption.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3739 "/docs/concepts/configuration/secret.md"
Source File: [/docs/concepts/configuration/secret.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/configuration/secret.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3740 "/docs/concepts/containers/_index.md"
Source File: [/docs/concepts/containers/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/containers/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3741 "/docs/concepts/containers/container-environment.md"
Source File: [/docs/concepts/containers/container-environment.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/containers/container-environment.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3742 "/docs/concepts/containers/container-lifecycle-hooks.md"
Source File: [/docs/concepts/containers/container-lifecycle-hooks.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/containers/container-lifecycle-hooks.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3743 "/docs/concepts/containers/images.md"
Source File: [/docs/concepts/containers/images.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/containers/images.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3744 "/docs/concepts/containers/runtime-class.md"
Source File: [/docs/concepts/containers/runtime-class.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/containers/runtime-class.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3745 "/docs/concepts/extend-kubernetes/_index.md"
Source File: [/docs/concepts/extend-kubernetes/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/extend-kubernetes/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3746 "/docs/concepts/extend-kubernetes/api-extension/_index.md"
Source File: [/docs/concepts/extend-kubernetes/api-extension/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/extend-kubernetes/api-extension/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3747 "/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md"
Source File: [/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3748 "/docs/concepts/extend-kubernetes/api-extension/custom-resources.md"
Source File: [/docs/concepts/extend-kubernetes/api-extension/custom-resources.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/extend-kubernetes/api-extension/custom-resources.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3749 "/docs/concepts/extend-kubernetes/compute-storage-net/_index.md"
Source File: [/docs/concepts/extend-kubernetes/compute-storage-net/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/extend-kubernetes/compute-storage-net/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3750 "/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md"
Source File: [/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3751 "/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md"
Source File: [/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3752 "/docs/concepts/extend-kubernetes/extend-cluster.md"
Source File: [/docs/concepts/extend-kubernetes/extend-cluster.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/extend-kubernetes/extend-cluster.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3753 "/docs/concepts/extend-kubernetes/operator.md"
Source File: [/docs/concepts/extend-kubernetes/operator.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/extend-kubernetes/operator.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3754 "/docs/concepts/extend-kubernetes/service-catalog.md"
Source File: [/docs/concepts/extend-kubernetes/service-catalog.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/extend-kubernetes/service-catalog.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3755 "/docs/concepts/overview/_index.md"
Source File: [/docs/concepts/overview/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/overview/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3756 "/docs/concepts/overview/components.md"
Source File: [/docs/concepts/overview/components.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/overview/components.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3757 "/docs/concepts/overview/kubernetes-api.md"
Source File: [/docs/concepts/overview/kubernetes-api.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/overview/kubernetes-api.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3758 "/docs/concepts/overview/what-is-kubernetes.md"
Source File: [/docs/concepts/overview/what-is-kubernetes.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/overview/what-is-kubernetes.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3759 "/docs/concepts/overview/working-with-objects/_index.md"
Source File: [/docs/concepts/overview/working-with-objects/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/overview/working-with-objects/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3760 "/docs/concepts/overview/working-with-objects/annotations.md"
Source File: [/docs/concepts/overview/working-with-objects/annotations.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/overview/working-with-objects/annotations.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3761 "/docs/concepts/overview/working-with-objects/common-labels.md"
Source File: [/docs/concepts/overview/working-with-objects/common-labels.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/overview/working-with-objects/common-labels.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3762 "/docs/concepts/overview/working-with-objects/field-selectors.md"
Source File: [/docs/concepts/overview/working-with-objects/field-selectors.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/overview/working-with-objects/field-selectors.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3763 "/docs/concepts/overview/working-with-objects/kubernetes-objects.md"
Source File: [/docs/concepts/overview/working-with-objects/kubernetes-objects.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/overview/working-with-objects/kubernetes-objects.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3764 "/docs/concepts/overview/working-with-objects/names.md"
Source File: [/docs/concepts/overview/working-with-objects/names.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/overview/working-with-objects/names.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3765 "/docs/concepts/overview/working-with-objects/namespaces.md"
Source File: [/docs/concepts/overview/working-with-objects/namespaces.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/overview/working-with-objects/namespaces.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3766 "/docs/concepts/overview/working-with-objects/object-management.md"
Source File: [/docs/concepts/overview/working-with-objects/object-management.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/overview/working-with-objects/object-management.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3767 "/docs/concepts/policy/limit-range.md"
Source File: [/docs/concepts/policy/limit-range.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/policy/limit-range.md)

Diff 命令参考:

[code]

[2020-12-31 08:30] markthink opened #3768 "/docs/concepts/policy/pod-security-policy.md"
Source File: [/docs/concepts/policy/pod-security-policy.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/policy/pod-security-policy.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3769 "/docs/concepts/policy/resource-quotas.md"
Source File: [/docs/concepts/policy/resource-quotas.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/policy/resource-quotas.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3770 "/docs/concepts/scheduling-eviction/_index.md"
Source File: [/docs/concepts/scheduling-eviction/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/scheduling-eviction/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3771 "/docs/concepts/scheduling-eviction/assign-pod-node.md"
Source File: [/docs/concepts/scheduling-eviction/assign-pod-node.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/scheduling-eviction/assign-pod-node.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3772 "/docs/concepts/scheduling-eviction/eviction-policy.md"
Source File: [/docs/concepts/scheduling-eviction/eviction-policy.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/scheduling-eviction/eviction-policy.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3773 "/docs/concepts/scheduling-eviction/kube-scheduler.md"
Source File: [/docs/concepts/scheduling-eviction/kube-scheduler.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/scheduling-eviction/kube-scheduler.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3774 "/docs/concepts/scheduling-eviction/pod-overhead.md"
Source File: [/docs/concepts/scheduling-eviction/pod-overhead.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/scheduling-eviction/pod-overhead.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3775 "/docs/concepts/scheduling-eviction/resource-bin-packing.md"
Source File: [/docs/concepts/scheduling-eviction/resource-bin-packing.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/scheduling-eviction/resource-bin-packing.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3776 "/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md"
Source File: [/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/scheduling-eviction/scheduler-perf-tuning.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3777 "/docs/concepts/scheduling-eviction/scheduling-framework.md"
Source File: [/docs/concepts/scheduling-eviction/scheduling-framework.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/scheduling-eviction/scheduling-framework.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3778 "/docs/concepts/storage/volume-pvc-datasource.md"
Source File: [/docs/concepts/storage/volume-pvc-datasource.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/storage/volume-pvc-datasource.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3779 "/docs/concepts/scheduling-eviction/taint-and-toleration.md"
Source File: [/docs/concepts/scheduling-eviction/taint-and-toleration.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/scheduling-eviction/taint-and-toleration.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3780 "/docs/concepts/security/_index.md"
Source File: [/docs/concepts/security/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/security/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3781 "/docs/concepts/security/controlling-access.md"
Source File: [/docs/concepts/security/controlling-access.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/security/controlling-access.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3782 "/docs/concepts/security/overview.md"
Source File: [/docs/concepts/security/overview.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/security/overview.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3783 "/docs/concepts/security/pod-security-standards.md"
Source File: [/docs/concepts/security/pod-security-standards.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/security/pod-security-standards.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3784 "/docs/concepts/services-networking/_index.md"
Source File: [/docs/concepts/services-networking/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/services-networking/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3785 "/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases.md"
Source File: [/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3786 "/docs/concepts/services-networking/connect-applications-service.md"
Source File: [/docs/concepts/services-networking/connect-applications-service.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/services-networking/connect-applications-service.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3787 "/docs/concepts/services-networking/dns-pod-service.md"
Source File: [/docs/concepts/services-networking/dns-pod-service.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/services-networking/dns-pod-service.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3788 "/docs/concepts/services-networking/dual-stack.md"
Source File: [/docs/concepts/services-networking/dual-stack.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/services-networking/dual-stack.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3789 "/docs/concepts/services-networking/endpoint-slices.md"
Source File: [/docs/concepts/services-networking/endpoint-slices.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/services-networking/endpoint-slices.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3790 "/docs/reference/glossary/docker.md"
Source File: [/docs/reference/glossary/docker.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/docker.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3791 "/docs/concepts/services-networking/ingress-controllers.md"
Source File: [/docs/concepts/services-networking/ingress-controllers.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/services-networking/ingress-controllers.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3792 "/docs/concepts/services-networking/ingress.md"
Source File: [/docs/concepts/services-networking/ingress.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/services-networking/ingress.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3793 "/docs/concepts/services-networking/network-policies.md"
Source File: [/docs/concepts/services-networking/network-policies.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/services-networking/network-policies.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3794 "/docs/concepts/services-networking/service-topology.md"
Source File: [/docs/concepts/services-networking/service-topology.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/services-networking/service-topology.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3795 "/docs/concepts/storage/dynamic-provisioning.md"
Source File: [/docs/concepts/storage/dynamic-provisioning.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/storage/dynamic-provisioning.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3796 "/docs/concepts/storage/ephemeral-volumes.md"
Source File: [/docs/concepts/storage/ephemeral-volumes.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/storage/ephemeral-volumes.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3797 "/docs/concepts/storage/persistent-volumes.md"
Source File: [/docs/concepts/storage/persistent-volumes.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/storage/persistent-volumes.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3798 "/docs/concepts/storage/storage-capacity.md"
Source File: [/docs/concepts/storage/storage-capacity.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/storage/storage-capacity.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3799 "/docs/concepts/storage/storage-classes.md"
Source File: [/docs/concepts/storage/storage-classes.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/storage/storage-classes.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3800 "/docs/concepts/storage/storage-limits.md"
Source File: [/docs/concepts/storage/storage-limits.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/storage/storage-limits.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3801 "/docs/concepts/storage/volume-snapshot-classes.md"
Source File: [/docs/concepts/storage/volume-snapshot-classes.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/storage/volume-snapshot-classes.md)

Diff 命令参考:

[code]

[2020-12-31 08:31] markthink opened #3802 "/docs/concepts/storage/volume-snapshots.md"
Source File: [/docs/concepts/storage/volume-snapshots.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/storage/volume-snapshots.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3803 "/docs/concepts/workloads/_index.md"
Source File: [/docs/concepts/workloads/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/workloads/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3804 "/docs/concepts/workloads/controllers/_index.md"
Source File: [/docs/concepts/workloads/controllers/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/workloads/controllers/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3805 "/docs/concepts/workloads/controllers/cron-jobs.md"
Source File: [/docs/concepts/workloads/controllers/cron-jobs.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/workloads/controllers/cron-jobs.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3806 "/docs/concepts/workloads/controllers/daemonset.md"
Source File: [/docs/concepts/workloads/controllers/daemonset.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/workloads/controllers/daemonset.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3807 "/docs/concepts/workloads/controllers/deployment.md"
Source File: [/docs/concepts/workloads/controllers/deployment.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/workloads/controllers/deployment.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3808 "/docs/concepts/workloads/controllers/garbage-collection.md"
Source File: [/docs/concepts/workloads/controllers/garbage-collection.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/workloads/controllers/garbage-collection.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3809 "/docs/concepts/workloads/controllers/job.md"
Source File: [/docs/concepts/workloads/controllers/job.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/workloads/controllers/job.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3810 "/docs/concepts/workloads/controllers/replicaset.md"
Source File: [/docs/concepts/workloads/controllers/replicaset.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/workloads/controllers/replicaset.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3811 "/docs/concepts/workloads/controllers/replicationcontroller.md"
Source File: [/docs/concepts/workloads/controllers/replicationcontroller.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/workloads/controllers/replicationcontroller.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3812 "/docs/concepts/workloads/controllers/statefulset.md"
Source File: [/docs/concepts/workloads/controllers/statefulset.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/workloads/controllers/statefulset.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3813 "/docs/concepts/workloads/controllers/ttlafterfinished.md"
Source File: [/docs/concepts/workloads/controllers/ttlafterfinished.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/workloads/controllers/ttlafterfinished.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3814 "/docs/concepts/workloads/pods/_index.md"
Source File: [/docs/concepts/workloads/pods/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/workloads/pods/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3815 "/docs/concepts/workloads/pods/disruptions.md"
Source File: [/docs/concepts/workloads/pods/disruptions.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/workloads/pods/disruptions.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3816 "/docs/concepts/workloads/pods/ephemeral-containers.md"
Source File: [/docs/concepts/workloads/pods/ephemeral-containers.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/workloads/pods/ephemeral-containers.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3817 "/docs/concepts/workloads/pods/init-containers.md"
Source File: [/docs/concepts/workloads/pods/init-containers.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/workloads/pods/init-containers.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3818 "/docs/concepts/workloads/pods/pod-lifecycle.md"
Source File: [/docs/concepts/workloads/pods/pod-lifecycle.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/workloads/pods/pod-lifecycle.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3819 "/docs/concepts/workloads/pods/pod-topology-spread-constraints.md"
Source File: [/docs/concepts/workloads/pods/pod-topology-spread-constraints.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/workloads/pods/pod-topology-spread-constraints.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3820 "/docs/contribute/_index.md"
Source File: [/docs/contribute/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3821 "/docs/contribute/advanced.md"
Source File: [/docs/contribute/advanced.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/advanced.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3822 "/docs/contribute/generate-ref-docs/_index.md"
Source File: [/docs/contribute/generate-ref-docs/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/generate-ref-docs/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3823 "/docs/contribute/generate-ref-docs/contribute-upstream.md"
Source File: [/docs/contribute/generate-ref-docs/contribute-upstream.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/generate-ref-docs/contribute-upstream.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3824 "/docs/contribute/generate-ref-docs/kubectl.md"
Source File: [/docs/contribute/generate-ref-docs/kubectl.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/generate-ref-docs/kubectl.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3825 "/docs/contribute/generate-ref-docs/kubernetes-api.md"
Source File: [/docs/contribute/generate-ref-docs/kubernetes-api.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/generate-ref-docs/kubernetes-api.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3826 "/docs/contribute/generate-ref-docs/kubernetes-components.md"
Source File: [/docs/contribute/generate-ref-docs/kubernetes-components.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/generate-ref-docs/kubernetes-components.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3827 "/docs/contribute/generate-ref-docs/prerequisites-ref-docs.md"
Source File: [/docs/contribute/generate-ref-docs/prerequisites-ref-docs.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/generate-ref-docs/prerequisites-ref-docs.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3828 "/docs/contribute/generate-ref-docs/quickstart.md"
Source File: [/docs/contribute/generate-ref-docs/quickstart.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/generate-ref-docs/quickstart.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3829 "/docs/contribute/localization.md"
Source File: [/docs/contribute/localization.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/localization.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3830 "/docs/contribute/new-content/_index.md"
Source File: [/docs/contribute/new-content/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/new-content/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3831 "/docs/contribute/new-content/blogs-case-studies.md"
Source File: [/docs/contribute/new-content/blogs-case-studies.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/new-content/blogs-case-studies.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3832 "/docs/contribute/new-content/new-features.md"
Source File: [/docs/contribute/new-content/new-features.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/new-content/new-features.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3833 "/docs/contribute/new-content/open-a-pr.md"
Source File: [/docs/contribute/new-content/open-a-pr.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/new-content/open-a-pr.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3834 "/docs/contribute/new-content/overview.md"
Source File: [/docs/contribute/new-content/overview.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/new-content/overview.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3835 "/docs/contribute/participate/_index.md"
Source File: [/docs/contribute/participate/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/participate/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:32] markthink opened #3836 "/docs/contribute/participate/pr-wranglers.md"
Source File: [/docs/contribute/participate/pr-wranglers.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/participate/pr-wranglers.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3837 "/docs/contribute/participate/roles-and-responsibilities.md"
Source File: [/docs/contribute/participate/roles-and-responsibilities.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/participate/roles-and-responsibilities.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3838 "/docs/contribute/review/_index.md"
Source File: [/docs/contribute/review/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/review/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3839 "/docs/contribute/review/for-approvers.md"
Source File: [/docs/contribute/review/for-approvers.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/review/for-approvers.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3840 "/docs/contribute/review/reviewing-prs.md"
Source File: [/docs/contribute/review/reviewing-prs.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/review/reviewing-prs.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3841 "/docs/contribute/style/_index.md"
Source File: [/docs/contribute/style/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/style/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3842 "/docs/contribute/style/content-guide.md"
Source File: [/docs/contribute/style/content-guide.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/style/content-guide.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3843 "/docs/contribute/style/content-organization.md"
Source File: [/docs/contribute/style/content-organization.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/style/content-organization.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3844 "/docs/contribute/style/hugo-shortcodes/example1.md"
Source File: [/docs/contribute/style/hugo-shortcodes/example1.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/style/hugo-shortcodes/example1.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3845 "/docs/contribute/style/hugo-shortcodes/example2.md"
Source File: [/docs/contribute/style/hugo-shortcodes/example2.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/style/hugo-shortcodes/example2.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3846 "/docs/contribute/style/hugo-shortcodes/index.md"
Source File: [/docs/contribute/style/hugo-shortcodes/index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/style/hugo-shortcodes/index.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3847 "/docs/contribute/style/page-content-types.md"
Source File: [/docs/contribute/style/page-content-types.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/style/page-content-types.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3848 "/docs/contribute/style/write-new-topic.md"
Source File: [/docs/contribute/style/write-new-topic.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/style/write-new-topic.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3849 "/docs/contribute/suggesting-improvements.md"
Source File: [/docs/contribute/suggesting-improvements.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/suggesting-improvements.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3850 "/docs/doc-contributor-tools/linkchecker/README.md"
Source File: [/docs/doc-contributor-tools/linkchecker/README.md](https://github.com/kubernetes/website/blob/master/content/en/docs/doc-contributor-tools/linkchecker/README.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3851 "/docs/home/_index.md"
Source File: [/docs/home/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/home/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3852 "/docs/home/supported-doc-versions.md"
Source File: [/docs/home/supported-doc-versions.md](https://github.com/kubernetes/website/blob/master/content/en/docs/home/supported-doc-versions.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3853 "/docs/reference/_index.md"
Source File: [/docs/reference/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3854 "/docs/reference/access-authn-authz/_index.md"
Source File: [/docs/reference/access-authn-authz/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/access-authn-authz/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3855 "/docs/reference/access-authn-authz/abac.md"
Source File: [/docs/reference/access-authn-authz/abac.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/access-authn-authz/abac.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3856 "/docs/reference/access-authn-authz/admission-controllers.md"
Source File: [/docs/reference/access-authn-authz/admission-controllers.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/access-authn-authz/admission-controllers.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3857 "/docs/reference/access-authn-authz/authentication.md"
Source File: [/docs/reference/access-authn-authz/authentication.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/access-authn-authz/authentication.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3858 "/docs/reference/access-authn-authz/authorization.md"
Source File: [/docs/reference/access-authn-authz/authorization.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/access-authn-authz/authorization.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3859 "/docs/reference/glossary/downstream.md"
Source File: [/docs/reference/glossary/downstream.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/downstream.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3860 "/docs/reference/access-authn-authz/bootstrap-tokens.md"
Source File: [/docs/reference/access-authn-authz/bootstrap-tokens.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/access-authn-authz/bootstrap-tokens.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3861 "/docs/reference/access-authn-authz/certificate-signing-requests.md"
Source File: [/docs/reference/access-authn-authz/certificate-signing-requests.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/access-authn-authz/certificate-signing-requests.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3862 "/docs/reference/access-authn-authz/extensible-admission-controllers.md"
Source File: [/docs/reference/access-authn-authz/extensible-admission-controllers.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/access-authn-authz/extensible-admission-controllers.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3863 "/docs/reference/access-authn-authz/node.md"
Source File: [/docs/reference/access-authn-authz/node.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/access-authn-authz/node.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3864 "/docs/reference/access-authn-authz/rbac.md"
Source File: [/docs/reference/access-authn-authz/rbac.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/access-authn-authz/rbac.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3865 "/docs/reference/access-authn-authz/service-accounts-admin.md"
Source File: [/docs/reference/access-authn-authz/service-accounts-admin.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/access-authn-authz/service-accounts-admin.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3866 "/docs/reference/access-authn-authz/webhook.md"
Source File: [/docs/reference/access-authn-authz/webhook.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/access-authn-authz/webhook.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3867 "/docs/reference/command-line-tools-reference/_index.md"
Source File: [/docs/reference/command-line-tools-reference/_index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/command-line-tools-reference/_index.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3868 "/docs/reference/command-line-tools-reference/feature-gates.md"
Source File: [/docs/reference/command-line-tools-reference/feature-gates.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/command-line-tools-reference/feature-gates.md)

Diff 命令参考:

[code]

[2020-12-31 08:33] markthink opened #3869 "/docs/reference/command-line-tools-reference/kube-apiserver.md"
Source File: [/docs/reference/command-line-tools-reference/kube-apiserver.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/command-line-tools-reference/kube-apiserver.md)

Diff 命令参考:

[code]

[2020-12-31 08:34] markthink opened #3870 "/docs/reference/command-line-tools-reference/kube-controller-manager.md"
Source File: [/docs/reference/command-line-tools-reference/kube-controller-manager.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/command-line-tools-reference/kube-controller-manager.md)

Diff 命令参考:

[code]

[2020-12-31 08:34] markthink opened #3871 "/docs/reference/command-line-tools-reference/kube-proxy.md"
Source File: [/docs/reference/command-line-tools-reference/kube-proxy.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/command-line-tools-reference/kube-proxy.md)

Diff 命令参考:

[code]

[2020-12-31 08:34] markthink opened #3872 "/docs/reference/command-line-tools-reference/kube-scheduler.md"
Source File: [/docs/reference/command-line-tools-reference/kube-scheduler.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/command-line-tools-reference/kube-scheduler.md)

Diff 命令参考:

[code]

[2020-12-31 08:34] markthink opened #3873 "/docs/reference/command-line-tools-reference/kubelet-authentication-authorization.md"
Source File: [/docs/reference/command-line-tools-reference/kubelet-authentication-authorization.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/command-line-tools-reference/kubelet-authentication-authorization.md)

Diff 命令参考:

[code]

[2020-12-31 08:34] markthink opened #3874 "/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping.md"
Source File: [/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping.md)

Diff 命令参考:

[code]

[2020-12-31 08:34] markthink opened #3875 "/docs/reference/command-line-tools-reference/kubelet.md"
Source File: [/docs/reference/command-line-tools-reference/kubelet.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/command-line-tools-reference/kubelet.md)

Diff 命令参考:

[code]

[2020-12-31 08:34] markthink opened #3876 "/docs/reference/glossary/addons.md"
Source File: [/docs/reference/glossary/addons.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/addons.md)

Diff 命令参考:

[code]

[2020-12-31 08:34] markthink opened #3877 "/docs/reference/glossary/admission-controller.md"
Source File: [/docs/reference/glossary/admission-controller.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/admission-controller.md)

Diff 命令参考:

[code]

[2020-12-31 08:34] markthink opened #3878 "/docs/concepts/workloads/pods/podpreset.md"
Source File: [/docs/concepts/workloads/pods/podpreset.md](https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/workloads/pods/podpreset.md)

Diff 命令参考:

[code]

[2020-12-31 08:34] markthink opened #3879 "/docs/contribute/localization_zh.md"
Source File: [/docs/contribute/localization_zh.md](https://github.com/kubernetes/website/blob/master/content/en/docs/contribute/localization_zh.md)

Diff 命令参考:

[code]

[2020-12-31 08:34] markthink opened #3880 "/docs/setup/learning-environment/kind.md"
Source File: [/docs/setup/learning-environment/kind.md](https://github.com/kubernetes/website/blob/master/content/en/docs/setup/learning-environment/kind.md)

Diff 命令参考:

[code]

[2020-12-31 08:36] markthink opened #3881 "/docs/reference/glossary/aggregation-layer.md"
Source File: [/docs/reference/glossary/aggregation-layer.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/aggregation-layer.md)

Diff 命令参考:

[code]

[2020-12-31 08:36] markthink opened #3882 "/docs/reference/glossary/annotation.md"
Source File: [/docs/reference/glossary/annotation.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/annotation.md)

Diff 命令参考:

[code]

[2020-12-31 08:36] markthink opened #3883 "/docs/reference/glossary/api-group.md"
Source File: [/docs/reference/glossary/api-group.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/api-group.md)

Diff 命令参考:

[code]

[2020-12-31 08:36] markthink opened #3884 "/docs/reference/glossary/app-container.md"
Source File: [/docs/reference/glossary/app-container.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/app-container.md)

Diff 命令参考:

[code]

[2020-12-31 08:36] markthink opened #3885 "/docs/reference/glossary/application-architect.md"
Source File: [/docs/reference/glossary/application-architect.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/application-architect.md)

Diff 命令参考:

[code]

[2020-12-31 08:36] markthink opened #3886 "/docs/reference/glossary/application-developer.md"
Source File: [/docs/reference/glossary/application-developer.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/application-developer.md)

Diff 命令参考:

[code]

[2020-12-31 08:36] markthink opened #3887 "/docs/reference/glossary/applications.md"
Source File: [/docs/reference/glossary/applications.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/applications.md)

Diff 命令参考:

[code]

[2020-12-31 08:36] markthink opened #3888 "/docs/reference/glossary/approver.md"
Source File: [/docs/reference/glossary/approver.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/approver.md)

Diff 命令参考:

[code]

[2020-12-31 08:36] markthink opened #3889 "/docs/reference/glossary/certificate.md"
Source File: [/docs/reference/glossary/certificate.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/certificate.md)

Diff 命令参考:

[code]

[2020-12-31 08:36] markthink opened #3890 "/docs/reference/glossary/cgroup.md"
Source File: [/docs/reference/glossary/cgroup.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/cgroup.md)

Diff 命令参考:

[code]

[2020-12-31 08:36] markthink opened #3891 "/docs/reference/glossary/cidr.md"
Source File: [/docs/reference/glossary/cidr.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/cidr.md)

Diff 命令参考:

[code]

[2020-12-31 08:36] markthink opened #3892 "/docs/reference/glossary/cla.md"
Source File: [/docs/reference/glossary/cla.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/cla.md)

Diff 命令参考:

[code]

[2020-12-31 08:36] markthink opened #3893 "/docs/reference/glossary/cloud-controller-manager.md"
Source File: [/docs/reference/glossary/cloud-controller-manager.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/cloud-controller-manager.md)

Diff 命令参考:

[code]

[2020-12-31 08:36] markthink opened #3894 "/docs/reference/glossary/cloud-provider.md"
Source File: [/docs/reference/glossary/cloud-provider.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/cloud-provider.md)

Diff 命令参考:

[code]

[2020-12-31 08:36] markthink opened #3895 "/docs/reference/glossary/cluster-architect.md"
Source File: [/docs/reference/glossary/cluster-architect.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/cluster-architect.md)

Diff 命令参考:

[code]

[2020-12-31 08:36] markthink opened #3896 "/docs/reference/glossary/cluster-infrastructure.md"
Source File: [/docs/reference/glossary/cluster-infrastructure.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/cluster-infrastructure.md)

Diff 命令参考:

[code]

[2020-12-31 08:36] markthink opened #3897 "/docs/reference/glossary/limitrange.md"
Source File: [/docs/reference/glossary/limitrange.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/limitrange.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3898 "/docs/reference/glossary/cluster-operations.md"
Source File: [/docs/reference/glossary/cluster-operations.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/cluster-operations.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3899 "/docs/reference/glossary/cluster-operator.md"
Source File: [/docs/reference/glossary/cluster-operator.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/cluster-operator.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3900 "/docs/reference/glossary/cluster.md"
Source File: [/docs/reference/glossary/cluster.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/cluster.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3901 "/docs/reference/glossary/cncf.md"
Source File: [/docs/reference/glossary/cncf.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/cncf.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3902 "/docs/reference/glossary/cni.md"
Source File: [/docs/reference/glossary/cni.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/cni.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3903 "/docs/reference/glossary/code-contributor.md"
Source File: [/docs/reference/glossary/code-contributor.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/code-contributor.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3904 "/docs/reference/glossary/configmap.md"
Source File: [/docs/reference/glossary/configmap.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/configmap.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3905 "/docs/reference/glossary/container-env-variables.md"
Source File: [/docs/reference/glossary/container-env-variables.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/container-env-variables.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3906 "/docs/reference/glossary/container-lifecycle-hooks.md"
Source File: [/docs/reference/glossary/container-lifecycle-hooks.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/container-lifecycle-hooks.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3907 "/docs/reference/glossary/container-runtime.md"
Source File: [/docs/reference/glossary/container-runtime.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/container-runtime.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3908 "/docs/reference/glossary/containerd.md"
Source File: [/docs/reference/glossary/containerd.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/containerd.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3909 "/docs/reference/glossary/control-plane.md"
Source File: [/docs/reference/glossary/control-plane.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/control-plane.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3910 "/docs/reference/glossary/cri-o.md"
Source File: [/docs/reference/glossary/cri-o.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/cri-o.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3911 "/docs/reference/glossary/cri.md"
Source File: [/docs/reference/glossary/cri.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/cri.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3912 "/docs/reference/glossary/cronjob.md"
Source File: [/docs/reference/glossary/cronjob.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/cronjob.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3913 "/docs/reference/glossary/csi.md"
Source File: [/docs/reference/glossary/csi.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/csi.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3914 "/docs/reference/glossary/customresourcedefinition.md"
Source File: [/docs/reference/glossary/customresourcedefinition.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/customresourcedefinition.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3915 "/docs/reference/glossary/daemonset.md"
Source File: [/docs/reference/glossary/daemonset.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/daemonset.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3916 "/docs/reference/glossary/data-plane.md"
Source File: [/docs/reference/glossary/data-plane.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/data-plane.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3917 "/docs/reference/glossary/deployment.md"
Source File: [/docs/reference/glossary/deployment.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/deployment.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3918 "/docs/reference/glossary/device-plugin.md"
Source File: [/docs/reference/glossary/device-plugin.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/device-plugin.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3919 "/docs/reference/glossary/disruption.md"
Source File: [/docs/reference/glossary/disruption.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/disruption.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3920 "/docs/reference/glossary/dynamic-volume-provisioning.md"
Source File: [/docs/reference/glossary/dynamic-volume-provisioning.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/dynamic-volume-provisioning.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3921 "/docs/reference/glossary/endpoint-slice.md"
Source File: [/docs/reference/glossary/endpoint-slice.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/endpoint-slice.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3922 "/docs/reference/glossary/endpoint.md"
Source File: [/docs/reference/glossary/endpoint.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/endpoint.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3923 "/docs/reference/glossary/ephemeral-container.md"
Source File: [/docs/reference/glossary/ephemeral-container.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/ephemeral-container.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3924 "/docs/reference/glossary/etcd.md"
Source File: [/docs/reference/glossary/etcd.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/etcd.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3925 "/docs/reference/glossary/extensions.md"
Source File: [/docs/reference/glossary/extensions.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/extensions.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3926 "/docs/reference/glossary/flexvolume.md"
Source File: [/docs/reference/glossary/flexvolume.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/flexvolume.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3927 "/docs/reference/glossary/helm-chart.md"
Source File: [/docs/reference/glossary/helm-chart.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/helm-chart.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3928 "/docs/reference/glossary/horizontal-pod-autoscaler.md"
Source File: [/docs/reference/glossary/horizontal-pod-autoscaler.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/horizontal-pod-autoscaler.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3929 "/docs/reference/glossary/host-aliases.md"
Source File: [/docs/reference/glossary/host-aliases.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/host-aliases.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3930 "/docs/reference/glossary/image.md"
Source File: [/docs/reference/glossary/image.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/image.md)

Diff 命令参考:

[code]

[2020-12-31 08:37] markthink opened #3931 "/docs/reference/glossary/index.md"
Source File: [/docs/reference/glossary/index.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/index.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3932 "/docs/reference/glossary/ingress.md"
Source File: [/docs/reference/glossary/ingress.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/ingress.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3933 "/docs/reference/glossary/init-container.md"
Source File: [/docs/reference/glossary/init-container.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/init-container.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3934 "/docs/reference/glossary/istio.md"
Source File: [/docs/reference/glossary/istio.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/istio.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3935 "/docs/reference/glossary/job.md"
Source File: [/docs/reference/glossary/job.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/job.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3936 "/docs/reference/glossary/kops.md"
Source File: [/docs/reference/glossary/kops.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/kops.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3937 "/docs/reference/glossary/kube-apiserver.md"
Source File: [/docs/reference/glossary/kube-apiserver.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/kube-apiserver.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3938 "/docs/reference/glossary/kube-controller-manager.md"
Source File: [/docs/reference/glossary/kube-controller-manager.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/kube-controller-manager.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3939 "/docs/reference/glossary/kube-proxy.md"
Source File: [/docs/reference/glossary/kube-proxy.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/kube-proxy.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3940 "/docs/reference/glossary/kube-scheduler.md"
Source File: [/docs/reference/glossary/kube-scheduler.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/kube-scheduler.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3941 "/docs/reference/glossary/kubeadm.md"
Source File: [/docs/reference/glossary/kubeadm.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/kubeadm.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3942 "/docs/reference/glossary/kubectl.md"
Source File: [/docs/reference/glossary/kubectl.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/kubectl.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3943 "/docs/reference/glossary/kubelet.md"
Source File: [/docs/reference/glossary/kubelet.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/kubelet.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3944 "/docs/reference/glossary/kubernetes-api.md"
Source File: [/docs/reference/glossary/kubernetes-api.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/kubernetes-api.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3945 "/docs/reference/glossary/label.md"
Source File: [/docs/reference/glossary/label.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/label.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3946 "/docs/reference/glossary/logging.md"
Source File: [/docs/reference/glossary/logging.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/logging.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3947 "/docs/reference/glossary/managed-service.md"
Source File: [/docs/reference/glossary/managed-service.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/managed-service.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3948 "/docs/reference/glossary/manifest.md"
Source File: [/docs/reference/glossary/manifest.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/manifest.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3949 "/docs/reference/glossary/master.md"
Source File: [/docs/reference/glossary/master.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/master.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3950 "/docs/reference/glossary/member.md"
Source File: [/docs/reference/glossary/member.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/member.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3951 "/docs/reference/glossary/minikube.md"
Source File: [/docs/reference/glossary/minikube.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/minikube.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3952 "/docs/reference/glossary/mirror-pod.md"
Source File: [/docs/reference/glossary/mirror-pod.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/mirror-pod.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3953 "/docs/reference/glossary/name.md"
Source File: [/docs/reference/glossary/name.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/name.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3954 "/docs/reference/glossary/namespace.md"
Source File: [/docs/reference/glossary/namespace.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/namespace.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3955 "/docs/reference/glossary/network-policy.md"
Source File: [/docs/reference/glossary/network-policy.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/network-policy.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3956 "/docs/reference/glossary/node.md"
Source File: [/docs/reference/glossary/node.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/node.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3957 "/docs/reference/glossary/object.md"
Source File: [/docs/reference/glossary/object.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/object.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3958 "/docs/reference/glossary/operator-pattern.md"
Source File: [/docs/reference/glossary/operator-pattern.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/operator-pattern.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3959 "/docs/reference/glossary/persistent-volume-claim.md"
Source File: [/docs/reference/glossary/persistent-volume-claim.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/persistent-volume-claim.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3960 "/docs/reference/glossary/persistent-volume.md"
Source File: [/docs/reference/glossary/persistent-volume.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/persistent-volume.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3961 "/docs/reference/glossary/platform-developer.md"
Source File: [/docs/reference/glossary/platform-developer.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/platform-developer.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3962 "/docs/reference/glossary/pod-disruption-budget.md"
Source File: [/docs/reference/glossary/pod-disruption-budget.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/pod-disruption-budget.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3963 "/docs/reference/glossary/pod-lifecycle.md"
Source File: [/docs/reference/glossary/pod-lifecycle.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/pod-lifecycle.md)

Diff 命令参考:

[code]

[2020-12-31 08:38] markthink opened #3964 "/docs/reference/glossary/pod-priority.md"
Source File: [/docs/reference/glossary/pod-priority.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/pod-priority.md)

Diff 命令参考:

[code]

[2020-12-31 08:39] markthink opened #3965 "/docs/reference/glossary/pod-security-policy.md"
Source File: [/docs/reference/glossary/pod-security-policy.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/pod-security-policy.md)

Diff 命令参考:

[code]

[2020-12-31 08:39] markthink opened #3966 "/docs/reference/glossary/podpreset.md"
Source File: [/docs/reference/glossary/podpreset.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/podpreset.md)

Diff 命令参考:

[code]

[2020-12-31 08:39] markthink opened #3967 "/docs/reference/glossary/preemption.md"
Source File: [/docs/reference/glossary/preemption.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/preemption.md)

Diff 命令参考:

[code]

[2020-12-31 08:39] markthink opened #3968 "/docs/reference/glossary/qos-class.md"
Source File: [/docs/reference/glossary/qos-class.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/qos-class.md)

Diff 命令参考:

[code]

[2020-12-31 08:39] markthink opened #3969 "/docs/reference/glossary/quantity.md"
Source File: [/docs/reference/glossary/quantity.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/quantity.md)

Diff 命令参考:

[code]

[2020-12-31 08:39] markthink opened #3970 "/docs/reference/glossary/rbac.md"
Source File: [/docs/reference/glossary/rbac.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/rbac.md)

Diff 命令参考:

[code]

[2020-12-31 08:39] markthink opened #3971 "/docs/reference/glossary/replica-set.md"
Source File: [/docs/reference/glossary/replica-set.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/replica-set.md)

Diff 命令参考:

[code]

[2020-12-31 08:39] markthink opened #3972 "/docs/reference/glossary/replication-controller.md"
Source File: [/docs/reference/glossary/replication-controller.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/replication-controller.md)

Diff 命令参考:

[code]

[2020-12-31 08:39] markthink opened #3973 "/docs/reference/glossary/resource-quota.md"
Source File: [/docs/reference/glossary/resource-quota.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/resource-quota.md)

Diff 命令参考:

[code]

[2020-12-31 08:39] markthink opened #3974 "/docs/reference/glossary/reviewer.md"
Source File: [/docs/reference/glossary/reviewer.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/reviewer.md)

Diff 命令参考:

[code]

[2020-12-31 08:39] markthink opened #3975 "/docs/reference/glossary/secret.md"
Source File: [/docs/reference/glossary/secret.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/secret.md)

Diff 命令参考:

[code]

[2020-12-31 08:39] markthink opened #3976 "/docs/reference/glossary/security-context.md"
Source File: [/docs/reference/glossary/security-context.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/security-context.md)

Diff 命令参考:

[code]

[2020-12-31 08:39] markthink opened #3977 "/docs/reference/glossary/selector.md"
Source File: [/docs/reference/glossary/selector.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/selector.md)

Diff 命令参考:

[code]

[2020-12-31 08:39] markthink opened #3978 "/docs/reference/glossary/service-account.md"
Source File: [/docs/reference/glossary/service-account.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/service-account.md)

Diff 命令参考:

[code]

[2020-12-31 08:39] markthink opened #3979 "/docs/reference/glossary/service-broker.md"
Source File: [/docs/reference/glossary/service-broker.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/service-broker.md)

Diff 命令参考:

[code]

[2020-12-31 08:39] markthink opened #3980 "/docs/reference/glossary/service-catalog.md"
Source File: [/docs/reference/glossary/service-catalog.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/service-catalog.md)

Diff 命令参考:

[code]

[2020-12-31 08:39] markthink opened #3981 "/docs/reference/glossary/shuffle-sharding.md"
Source File: [/docs/reference/glossary/shuffle-sharding.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/shuffle-sharding.md)

Diff 命令参考:

[code]

[2020-12-31 08:39] markthink opened #3982 "/docs/reference/glossary/sig.md"
Source File: [/docs/reference/glossary/sig.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/sig.md)

Diff 命令参考:

[code]

[2020-12-31 08:39] markthink opened #3983 "/docs/reference/glossary/statefulset.md"
Source File: [/docs/reference/glossary/statefulset.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/statefulset.md)

Diff 命令参考:

[code]

[2020-12-31 08:39] markthink opened #3984 "/docs/reference/glossary/static-pod.md"
Source File: [/docs/reference/glossary/static-pod.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/static-pod.md)

Diff 命令参考:

[code]

[2020-12-31 08:39] markthink opened #3985 "/docs/reference/glossary/storage-class.md"
Source File: [/docs/reference/glossary/storage-class.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/storage-class.md)

Diff 命令参考:

[code]

[2020-12-31 08:39] markthink opened #3986 "/docs/reference/glossary/sysctl.md"
Source File: [/docs/reference/glossary/sysctl.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/sysctl.md)

Diff 命令参考:

[code]

[2020-12-31 08:39] markthink opened #3987 "/docs/reference/glossary/taint.md"
Source File: [/docs/reference/glossary/taint.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/taint.md)

Diff 命令参考:

[code]

[2020-12-31 08:39] markthink opened #3988 "/docs/reference/glossary/toleration.md"
Source File: [/docs/reference/glossary/toleration.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/toleration.md)

Diff 命令参考:

[code]

[2020-12-31 08:39] markthink opened #3989 "/docs/reference/glossary/uid.md"
Source File: [/docs/reference/glossary/uid.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/uid.md)

Diff 命令参考:

[code]

[2020-12-31 08:39] markthink opened #3990 "/docs/reference/glossary/upstream.md"
Source File: [/docs/reference/glossary/upstream.md](https://github.com/kubernetes/website/blob/master/content/en/docs/reference/glossary/upstream.md)

Diff 命令参考:

[code]