[2018-11-25 16:03] fleeto opened #1201 "/blog/_posts/2016-12-00-Five-Days-Of-Kubernetes-1.5.md"
File Name：/blog/_posts/2016-12-00-Five-Days-Of-Kubernetes-1.5.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2016-12-00-Five-Days-Of-Kubernetes-1.5.md)

[2018-11-25 16:03] fleeto opened #1202 "/blog/_posts/2016-12-00-From-Network-Policies-To-Security-Policies.md"
File Name：/blog/_posts/2016-12-00-From-Network-Policies-To-Security-Policies.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2016-12-00-From-Network-Policies-To-Security-Policies.md)

[2018-11-25 16:04] fleeto opened #1203 "/blog/_posts/2016-12-00-Kubernetes-1.5-Supporting-Production-Workloads.md"
File Name：/blog/_posts/2016-12-00-Kubernetes-1.5-Supporting-Production-Workloads.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2016-12-00-Kubernetes-1.5-Supporting-Production-Workloads.md)

[2018-11-25 16:04] fleeto opened #1204 "/blog/_posts/2016-12-00-Kubernetes-Supports-Openapi.md"
File Name：/blog/_posts/2016-12-00-Kubernetes-Supports-Openapi.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2016-12-00-Kubernetes-Supports-Openapi.md)

[2018-11-25 16:04] fleeto opened #1205 "/blog/_posts/2016-12-00-Statefulset-Run-Scale-Stateful-Applications-In-Kubernetes.md"
File Name：/blog/_posts/2016-12-00-Statefulset-Run-Scale-Stateful-Applications-In-Kubernetes.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2016-12-00-Statefulset-Run-Scale-Stateful-Applications-In-Kubernetes.md)

[2018-11-25 16:04] fleeto opened #1206 "/blog/_posts/2016-12-00-Windows-Server-Support-Kubernetes.md"
File Name：/blog/_posts/2016-12-00-Windows-Server-Support-Kubernetes.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2016-12-00-Windows-Server-Support-Kubernetes.md)

[2018-11-25 16:04] fleeto opened #1207 "/blog/_posts/2017-01-00-Fission-Serverless-Functions-As-Service-For-Kubernetes.md"
File Name：/blog/_posts/2017-01-00-Fission-Serverless-Functions-As-Service-For-Kubernetes.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-01-00-Fission-Serverless-Functions-As-Service-For-Kubernetes.md)

[2018-11-25 16:04] fleeto opened #1208 "/blog/_posts/2017-01-00-How-We-Run-Kubernetes-In-Kubernetes-Kubeception.md"
File Name：/blog/_posts/2017-01-00-How-We-Run-Kubernetes-In-Kubernetes-Kubeception.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-01-00-How-We-Run-Kubernetes-In-Kubernetes-Kubeception.md)

[2018-11-25 16:04] fleeto opened #1209 "/blog/_posts/2017-01-00-Kubernetes-Ux-Survey-Infographic.md"
File Name：/blog/_posts/2017-01-00-Kubernetes-Ux-Survey-Infographic.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-01-00-Kubernetes-Ux-Survey-Infographic.md)

[2018-11-25 16:04] fleeto opened #1210 "/blog/_posts/2017-01-00-Running-Mongodb-On-Kubernetes-With-Statefulsets.md"
File Name：/blog/_posts/2017-01-00-Running-Mongodb-On-Kubernetes-With-Statefulsets.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-01-00-Running-Mongodb-On-Kubernetes-With-Statefulsets.md)

[2018-11-25 16:04] fleeto opened #1211 "/blog/_posts/2017-01-00-Scaling-Kubernetes-Deployments-With-Policy-Base-Networking.md"
File Name：/blog/_posts/2017-01-00-Scaling-Kubernetes-Deployments-With-Policy-Base-Networking.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-01-00-Scaling-Kubernetes-Deployments-With-Policy-Base-Networking.md)

[2018-11-25 16:04] fleeto opened #1212 "/blog/_posts/2017-01-00-Stronger-Foundation-For-Creating-And-Managing-Kubernetes-Clusters.md"
File Name：/blog/_posts/2017-01-00-Stronger-Foundation-For-Creating-And-Managing-Kubernetes-Clusters.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-01-00-Stronger-Foundation-For-Creating-And-Managing-Kubernetes-Clusters.md)

[2018-11-25 16:04] fleeto opened #1213 "/blog/_posts/2017-02-00-Caas-The-Foundation-For-Next-Gen-Paas.md"
File Name：/blog/_posts/2017-02-00-Caas-The-Foundation-For-Next-Gen-Paas.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-02-00-Caas-The-Foundation-For-Next-Gen-Paas.md)

[2018-11-25 16:04] fleeto opened #1214 "/blog/_posts/2017-02-00-Highly-Available-Kubernetes-Clusters.md"
File Name：/blog/_posts/2017-02-00-Highly-Available-Kubernetes-Clusters.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-02-00-Highly-Available-Kubernetes-Clusters.md)

[2018-11-25 16:04] fleeto opened #1215 "/blog/_posts/2017-02-00-Inside-Jd-Com-Shift-To-Kubernetes-From-Openstack.md"
File Name：/blog/_posts/2017-02-00-Inside-Jd-Com-Shift-To-Kubernetes-From-Openstack.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-02-00-Inside-Jd-Com-Shift-To-Kubernetes-From-Openstack.md)

[2018-11-25 16:05] fleeto opened #1216 "/blog/_posts/2017-02-00-Postgresql-Clusters-Kubernetes-Statefulsets.md"
File Name：/blog/_posts/2017-02-00-Postgresql-Clusters-Kubernetes-Statefulsets.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-02-00-Postgresql-Clusters-Kubernetes-Statefulsets.md)

[2018-11-25 16:05] fleeto opened #1217 "/blog/_posts/2017-02-00-Run-Deep-Learning-With-Paddlepaddle-On-Kubernetes.md"
File Name：/blog/_posts/2017-02-00-Run-Deep-Learning-With-Paddlepaddle-On-Kubernetes.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-02-00-Run-Deep-Learning-With-Paddlepaddle-On-Kubernetes.md)

[2018-11-25 16:05] fleeto opened #1218 "/blog/_posts/2017-03-00-Advanced-Scheduling-In-Kubernetes.md"
File Name：/blog/_posts/2017-03-00-Advanced-Scheduling-In-Kubernetes.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-03-00-Advanced-Scheduling-In-Kubernetes.md)

[2018-11-25 16:05] fleeto opened #1219 "/blog/_posts/2017-03-00-Dynamic-Provisioning-And-Storage-Classes-Kubernetes.md"
File Name：/blog/_posts/2017-03-00-Dynamic-Provisioning-And-Storage-Classes-Kubernetes.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-03-00-Dynamic-Provisioning-And-Storage-Classes-Kubernetes.md)

[2018-11-25 16:05] fleeto opened #1220 "/blog/_posts/2017-03-00-Five-Days-Of-Kubernetes-1.6.md"
File Name：/blog/_posts/2017-03-00-Five-Days-Of-Kubernetes-1.6.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-03-00-Five-Days-Of-Kubernetes-1.6.md)

[2018-11-25 16:05] fleeto opened #1221 "/blog/_posts/2017-03-00-K8Sport-Engaging-The-Kubernetes-Community.md"
File Name：/blog/_posts/2017-03-00-K8Sport-Engaging-The-Kubernetes-Community.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-03-00-K8Sport-Engaging-The-Kubernetes-Community.md)

[2018-11-25 16:05] fleeto opened #1222 "/blog/_posts/2017-03-00-Kubernetes-1.6-Multi-User-Multi-Workloads-At-Scale.md"
File Name：/blog/_posts/2017-03-00-Kubernetes-1.6-Multi-User-Multi-Workloads-At-Scale.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-03-00-Kubernetes-1.6-Multi-User-Multi-Workloads-At-Scale.md)

[2018-11-25 16:05] fleeto opened #1223 "/blog/_posts/2017-03-00-Scalability-Updates-In-Kubernetes-1.6.md"
File Name：/blog/_posts/2017-03-00-Scalability-Updates-In-Kubernetes-1.6.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-03-00-Scalability-Updates-In-Kubernetes-1.6.md)

[2018-11-25 16:05] fleeto opened #1224 "/blog/_posts/2017-04-00-Configuring-Private-Dns-Zones-Upstream-Nameservers-Kubernetes.md"
File Name：/blog/_posts/2017-04-00-Configuring-Private-Dns-Zones-Upstream-Nameservers-Kubernetes.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-04-00-Configuring-Private-Dns-Zones-Upstream-Nameservers-Kubernetes.md)

[2018-11-25 16:05] fleeto opened #1225 "/blog/_posts/2017-04-00-Multi-Stage-Canary-Deployments-With-Kubernetes-In-The-Cloud-Onprem.md"
File Name：/blog/_posts/2017-04-00-Multi-Stage-Canary-Deployments-With-Kubernetes-In-The-Cloud-Onprem.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-04-00-Multi-Stage-Canary-Deployments-With-Kubernetes-In-The-Cloud-Onprem.md)

[2018-11-25 16:05] fleeto opened #1226 "/blog/_posts/2017-04-00-Rbac-Support-In-Kubernetes.md"
File Name：/blog/_posts/2017-04-00-Rbac-Support-In-Kubernetes.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-04-00-Rbac-Support-In-Kubernetes.md)

[2018-11-25 16:05] fleeto opened #1227 "/blog/_posts/2017-05-00-Draft-Kubernetes-Container-Development.md"
File Name：/blog/_posts/2017-05-00-Draft-Kubernetes-Container-Development.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-05-00-Draft-Kubernetes-Container-Development.md)

[2018-11-25 16:05] fleeto opened #1228 "/blog/_posts/2017-05-00-Kubernetes-Monitoring-Guide.md"
File Name：/blog/_posts/2017-05-00-Kubernetes-Monitoring-Guide.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-05-00-Kubernetes-Monitoring-Guide.md)

[2018-11-25 16:06] fleeto opened #1229 "/blog/_posts/2017-05-00-Kubernetes-Security-Process-Explained.md"
File Name：/blog/_posts/2017-05-00-Kubernetes-Security-Process-Explained.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-05-00-Kubernetes-Security-Process-Explained.md)

[2018-11-25 16:06] fleeto opened #1230 "/blog/_posts/2017-05-00-Kubespray-Ansible-Collaborative-Kubernetes-Ops.md"
File Name：/blog/_posts/2017-05-00-Kubespray-Ansible-Collaborative-Kubernetes-Ops.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-05-00-Kubespray-Ansible-Collaborative-Kubernetes-Ops.md)

[2018-11-25 16:06] fleeto opened #1231 "/blog/_posts/2017-05-00-Managing-Microservices-With-Istio-Service-Mesh.md"
File Name：/blog/_posts/2017-05-00-Managing-Microservices-With-Istio-Service-Mesh.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-05-00-Managing-Microservices-With-Istio-Service-Mesh.md)

[2018-11-25 16:06] fleeto opened #1232 "/blog/_posts/2017-06-00-Kubernetes-1.7-Security-Hardening-Stateful-Application-Extensibility-Updates.md"
File Name：/blog/_posts/2017-06-00-Kubernetes-1.7-Security-Hardening-Stateful-Application-Extensibility-Updates.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-06-00-Kubernetes-1.7-Security-Hardening-Stateful-Application-Extensibility-Updates.md)

[2018-11-25 16:06] fleeto opened #1233 "/blog/_posts/2017-07-00-Happy-Second-Birthday-Kubernetes.md"
File Name：/blog/_posts/2017-07-00-Happy-Second-Birthday-Kubernetes.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-07-00-Happy-Second-Birthday-Kubernetes.md)

[2018-11-25 16:06] fleeto opened #1234 "/blog/_posts/2017-07-00-How-Watson-Health-Cloud-Deploys.md"
File Name：/blog/_posts/2017-07-00-How-Watson-Health-Cloud-Deploys.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-07-00-How-Watson-Health-Cloud-Deploys.md)

[2018-11-25 16:06] fleeto opened #1235 "/blog/_posts/2017-08-00-High-Performance-Networking-With-Ec2.md"
File Name：/blog/_posts/2017-08-00-High-Performance-Networking-With-Ec2.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-08-00-High-Performance-Networking-With-Ec2.md)

[2018-11-25 16:06] fleeto opened #1236 "/blog/_posts/2017-08-00-Kompose-Helps-Developers-Move-Docker.md"
File Name：/blog/_posts/2017-08-00-Kompose-Helps-Developers-Move-Docker.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-08-00-Kompose-Helps-Developers-Move-Docker.md)

[2018-11-25 16:06] fleeto opened #1237 "/blog/_posts/2017-08-00-Kubernetes-Meets-High-Performance.md"
File Name：/blog/_posts/2017-08-00-Kubernetes-Meets-High-Performance.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-08-00-Kubernetes-Meets-High-Performance.md)

[2018-11-25 16:06] fleeto opened #1238 "/blog/_posts/2017-09-00-Introducing-Resource-Management-Working.md"
File Name：/blog/_posts/2017-09-00-Introducing-Resource-Management-Working.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-09-00-Introducing-Resource-Management-Working.md)

[2018-11-25 16:06] fleeto opened #1239 "/blog/_posts/2017-09-00-Kubernetes-18-Security-Workloads-And.md"
File Name：/blog/_posts/2017-09-00-Kubernetes-18-Security-Workloads-And.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-09-00-Kubernetes-18-Security-Workloads-And.md)

[2018-11-25 16:06] fleeto opened #1240 "/blog/_posts/2017-09-00-Kubernetes-Statefulsets-Daemonsets.md"
File Name：/blog/_posts/2017-09-00-Kubernetes-Statefulsets-Daemonsets.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-09-00-Kubernetes-Statefulsets-Daemonsets.md)

[2018-11-25 16:06] fleeto opened #1241 "/blog/_posts/2017-09-00-Windows-Networking-At-Parity-With-Linux.md"
File Name：/blog/_posts/2017-09-00-Windows-Networking-At-Parity-With-Linux.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-09-00-Windows-Networking-At-Parity-With-Linux.md)

[2018-11-25 16:07] fleeto opened #1242 "/blog/_posts/2017-10-00-Enforcing-Network-Policies-In-Kubernetes.md"
File Name：/blog/_posts/2017-10-00-Enforcing-Network-Policies-In-Kubernetes.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-10-00-Enforcing-Network-Policies-In-Kubernetes.md)

[2018-11-25 16:07] fleeto opened #1243 "/blog/_posts/2017-10-00-Five-Days-Of-Kubernetes-18.md"
File Name：/blog/_posts/2017-10-00-Five-Days-Of-Kubernetes-18.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-10-00-Five-Days-Of-Kubernetes-18.md)

[2018-11-25 16:07] fleeto opened #1244 "/blog/_posts/2017-10-00-It-Takes-Village-To-Raise-Kubernetes.md"
File Name：/blog/_posts/2017-10-00-It-Takes-Village-To-Raise-Kubernetes.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-10-00-It-Takes-Village-To-Raise-Kubernetes.md)

[2018-11-25 16:07] fleeto opened #1245 "/blog/_posts/2017-10-00-Kubeadm-V18-Released.md"
File Name：/blog/_posts/2017-10-00-Kubeadm-V18-Released.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-10-00-Kubeadm-V18-Released.md)

[2018-11-25 16:07] fleeto opened #1246 "/blog/_posts/2017-10-00-Kubernetes-Community-Steering-Committee-Election-Results.md"
File Name：/blog/_posts/2017-10-00-Kubernetes-Community-Steering-Committee-Election-Results.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-10-00-Kubernetes-Community-Steering-Committee-Election-Results.md)

[2018-11-25 16:07] fleeto opened #1247 "/blog/_posts/2017-10-00-Request-Routing-And-Policy-Management.md"
File Name：/blog/_posts/2017-10-00-Request-Routing-And-Policy-Management.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-10-00-Request-Routing-And-Policy-Management.md)

[2018-11-25 16:07] fleeto opened #1248 "/blog/_posts/2017-10-00-Software-Conformance-Certification.md"
File Name：/blog/_posts/2017-10-00-Software-Conformance-Certification.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-10-00-Software-Conformance-Certification.md)

[2018-11-25 16:07] fleeto opened #1249 "/blog/_posts/2017-10-00-Using-Rbac-Generally-Available-18.md"
File Name：/blog/_posts/2017-10-00-Using-Rbac-Generally-Available-18.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-10-00-Using-Rbac-Generally-Available-18.md)

[2018-11-25 16:07] fleeto opened #1250 "/blog/_posts/2017-11-00-Autoscaling-In-Kubernetes.md"
File Name：/blog/_posts/2017-11-00-Autoscaling-In-Kubernetes.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-11-00-Autoscaling-In-Kubernetes.md)

[2018-11-25 16:07] fleeto opened #1251 "/blog/_posts/2017-11-00-Certified-Kubernetes-Conformance.md"
File Name：/blog/_posts/2017-11-00-Certified-Kubernetes-Conformance.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-11-00-Certified-Kubernetes-Conformance.md)

[2018-11-25 16:07] fleeto opened #1252 "/blog/_posts/2017-11-00-Containerd-Container-Runtime-Options-Kubernetes.md"
File Name：/blog/_posts/2017-11-00-Containerd-Container-Runtime-Options-Kubernetes.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-11-00-Containerd-Container-Runtime-Options-Kubernetes.md)

[2018-11-25 16:07] fleeto opened #1253 "/blog/_posts/2017-11-00-Kubernetes-Easy-Way.md"
File Name：/blog/_posts/2017-11-00-Kubernetes-Easy-Way.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-11-00-Kubernetes-Easy-Way.md)

[2018-11-25 16:07] fleeto opened #1254 "/blog/_posts/2017-11-00-Kubernetes-Is-Still-Hard-For-Developers.md"
File Name：/blog/_posts/2017-11-00-Kubernetes-Is-Still-Hard-For-Developers.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-11-00-Kubernetes-Is-Still-Hard-For-Developers.md)

[2018-11-25 16:08] fleeto opened #1255 "/blog/_posts/2017-11-00-Securing-Software-Supply-Chain-Grafeas.md"
File Name：/blog/_posts/2017-11-00-Securing-Software-Supply-Chain-Grafeas.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-11-00-Securing-Software-Supply-Chain-Grafeas.md)

[2018-11-25 16:08] fleeto opened #1256 "/blog/_posts/2017-12-00-Introducing-Kubeflow-Composable.md"
File Name：/blog/_posts/2017-12-00-Introducing-Kubeflow-Composable.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-12-00-Introducing-Kubeflow-Composable.md)

[2018-11-25 16:08] fleeto opened #1257 "/blog/_posts/2017-12-00-Kubernetes-19-Workloads-Expanded-Ecosystem.md"
File Name：/blog/_posts/2017-12-00-Kubernetes-19-Workloads-Expanded-Ecosystem.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-12-00-Kubernetes-19-Workloads-Expanded-Ecosystem.md)

[2018-11-25 16:08] fleeto opened #1258 "/blog/_posts/2017-12-00-Paddle-Paddle-Fluid-Elastic-Learning.md"
File Name：/blog/_posts/2017-12-00-Paddle-Paddle-Fluid-Elastic-Learning.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-12-00-Paddle-Paddle-Fluid-Elastic-Learning.md)

[2018-11-25 16:08] fleeto opened #1259 "/blog/_posts/2017-12-00-Using-Ebpf-In-Kubernetes.md"
File Name：/blog/_posts/2017-12-00-Using-Ebpf-In-Kubernetes.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-12-00-Using-Ebpf-In-Kubernetes.md)

[2018-11-25 16:08] fleeto opened #1260 "/blog/_posts/2018-01-00-Core-Workloads-Api-Ga.md"
File Name：/blog/_posts/2018-01-00-Core-Workloads-Api-Ga.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2018-01-00-Core-Workloads-Api-Ga.md)

[2018-11-25 16:08] fleeto opened #1261 "/blog/_posts/2018-01-00-Extensible-Admission-Is-Beta.md"
File Name：/blog/_posts/2018-01-00-Extensible-Admission-Is-Beta.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2018-01-00-Extensible-Admission-Is-Beta.md)

[2018-11-25 16:08] fleeto opened #1262 "/blog/_posts/2018-01-00-Five-Days-Of-Kubernetes-19.md"
File Name：/blog/_posts/2018-01-00-Five-Days-Of-Kubernetes-19.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2018-01-00-Five-Days-Of-Kubernetes-19.md)

[2018-11-25 16:08] fleeto opened #1263 "/blog/_posts/2018-01-00-Introducing-Client-Go-Version-6.md"
File Name：/blog/_posts/2018-01-00-Introducing-Client-Go-Version-6.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2018-01-00-Introducing-Client-Go-Version-6.md)

[2018-11-25 16:08] fleeto opened #1264 "/blog/_posts/2018-01-00-Introducing-Container-Storage-Interface.md"
File Name：/blog/_posts/2018-01-00-Introducing-Container-Storage-Interface.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2018-01-00-Introducing-Container-Storage-Interface.md)

[2018-11-25 16:08] fleeto opened #1265 "/blog/_posts/2018-01-00-Kubernetes-V19-Beta-Windows-Support.md"
File Name：/blog/_posts/2018-01-00-Kubernetes-V19-Beta-Windows-Support.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2018-01-00-Kubernetes-V19-Beta-Windows-Support.md)

[2018-11-25 16:08] fleeto opened #1266 "/blog/_posts/2018-01-00-Reporting-Errors-Using-Kubernetes-Events.md"
File Name：/blog/_posts/2018-01-00-Reporting-Errors-Using-Kubernetes-Events.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2018-01-00-Reporting-Errors-Using-Kubernetes-Events.md)

[2018-11-25 16:08] fleeto opened #1267 "/blog/_posts/2018-03-00-Apache-Spark-23-With-Native-Kubernetes.md"
File Name：/blog/_posts/2018-03-00-Apache-Spark-23-With-Native-Kubernetes.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2018-03-00-Apache-Spark-23-With-Native-Kubernetes.md)

[2018-11-25 16:09] fleeto opened #1268 "/blog/_posts/2018-03-00-Expanding-User-Support-With-Office-Hours.md"
File Name：/blog/_posts/2018-03-00-Expanding-User-Support-With-Office-Hours.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2018-03-00-Expanding-User-Support-With-Office-Hours.md)

[2018-11-25 16:09] fleeto opened #1269 "/blog/_posts/2018-03-00-First-Beta-Version-Of-Kubernetes-1-10.md"
File Name：/blog/_posts/2018-03-00-First-Beta-Version-Of-Kubernetes-1-10.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2018-03-00-First-Beta-Version-Of-Kubernetes-1-10.md)

[2018-11-25 16:09] fleeto opened #1270 "/blog/_posts/2018-03-00-How-To-Integrate-Rollingupdate-Strategy.md"
File Name：/blog/_posts/2018-03-00-How-To-Integrate-Rollingupdate-Strategy.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2018-03-00-How-To-Integrate-Rollingupdate-Strategy.md)

[2018-11-25 16:09] fleeto opened #1271 "/blog/_posts/2018-03-26-kubernetes-1.10-stabilizing-storage-security-networking.md"
File Name：/blog/_posts/2018-03-26-kubernetes-1.10-stabilizing-storage-security-networking.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2018-03-26-kubernetes-1.10-stabilizing-storage-security-networking.md)

[2018-11-25 16:09] fleeto opened #1272 "/blog/_posts/2018-04-04-fixing-subpath-volume-vulnerability.md"
File Name：/blog/_posts/2018-04-04-fixing-subpath-volume-vulnerability.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2018-04-04-fixing-subpath-volume-vulnerability.md)

[2018-11-25 16:09] fleeto opened #1273 "/blog/_posts/2018-04-10-container-storage-interface-beta.md"
File Name：/blog/_posts/2018-04-10-container-storage-interface-beta.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2018-04-10-container-storage-interface-beta.md)

[2018-11-25 16:19] fleeto opened #1274 "/blog/_index.md"
File Name：/blog/_index.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_index.md)

[2018-11-25 16:20] fleeto opened #1275 "/blog/_posts/2015-03-00-Kubernetes-Gathering-Videos.md"
File Name：/blog/_posts/2015-03-00-Kubernetes-Gathering-Videos.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-03-00-Kubernetes-Gathering-Videos.md)

[2018-11-25 16:20] fleeto opened #1276 "/blog/_posts/2015-03-00-Paricipate-In-Kubernetes-User.md"
File Name：/blog/_posts/2015-03-00-Paricipate-In-Kubernetes-User.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-03-00-Paricipate-In-Kubernetes-User.md)

[2018-11-25 16:20] fleeto opened #1277 "/blog/_posts/2015-03-00-Weekly-Kubernetes-Community-Hangout.md"
File Name：/blog/_posts/2015-03-00-Weekly-Kubernetes-Community-Hangout.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-03-00-Weekly-Kubernetes-Community-Hangout.md)

[2018-11-25 16:20] fleeto opened #1278 "/blog/_posts/2015-03-00-Welcome-To-Kubernetes-Blog.md"
File Name：/blog/_posts/2015-03-00-Welcome-To-Kubernetes-Blog.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-03-00-Welcome-To-Kubernetes-Blog.md)

[2018-11-25 16:20] fleeto opened #1279 "/blog/_posts/2015-04-00-Borg-Predecessor-To-Kubernetes.md"
File Name：/blog/_posts/2015-04-00-Borg-Predecessor-To-Kubernetes.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-04-00-Borg-Predecessor-To-Kubernetes.md)

[2018-11-25 16:20] fleeto opened #1280 "/blog/_posts/2015-04-00-Faster-Than-Speeding-Latte.md"
File Name：/blog/_posts/2015-04-00-Faster-Than-Speeding-Latte.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-04-00-Faster-Than-Speeding-Latte.md)

[2018-11-25 16:20] fleeto opened #1281 "/blog/_posts/2015-04-00-Introducing-Kubernetes-V1Beta3.md"
File Name：/blog/_posts/2015-04-00-Introducing-Kubernetes-V1Beta3.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-04-00-Introducing-Kubernetes-V1Beta3.md)

[2018-11-25 16:20] fleeto opened #1282 "/blog/_posts/2015-04-00-Kubernetes-And-Mesosphere-Dcos.md"
File Name：/blog/_posts/2015-04-00-Kubernetes-And-Mesosphere-Dcos.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-04-00-Kubernetes-And-Mesosphere-Dcos.md)

[2018-11-25 16:20] fleeto opened #1283 "/blog/_posts/2015-04-00-Kubernetes-Release-0150.md"
File Name：/blog/_posts/2015-04-00-Kubernetes-Release-0150.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-04-00-Kubernetes-Release-0150.md)

[2018-11-25 16:20] fleeto opened #1284 "/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout.md"
File Name：/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout.md)

[2018-11-25 16:20] fleeto opened #1285 "/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_11.md"
File Name：/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_11.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_11.md)

[2018-11-25 16:20] fleeto opened #1286 "/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_17.md"
File Name：/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_17.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_17.md)

[2018-11-25 16:20] fleeto opened #1287 "/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_29.md"
File Name：/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_29.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_29.md)

[2018-11-25 16:20] fleeto opened #1288 "/blog/_posts/2015-05-00-Appc-Support-For-Kubernetes-Through-Rkt.md"
File Name：/blog/_posts/2015-05-00-Appc-Support-For-Kubernetes-Through-Rkt.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-05-00-Appc-Support-For-Kubernetes-Through-Rkt.md)

[2018-11-25 16:20] fleeto opened #1289 "/blog/_posts/2015-05-00-Docker-And-Kubernetes-And-Appc.md"
File Name：/blog/_posts/2015-05-00-Docker-And-Kubernetes-And-Appc.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-05-00-Docker-And-Kubernetes-And-Appc.md)

[2018-11-25 16:20] fleeto opened #1290 "/blog/_posts/2015-05-00-Kubernetes-On-Openstack.md"
File Name：/blog/_posts/2015-05-00-Kubernetes-On-Openstack.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-05-00-Kubernetes-On-Openstack.md)

[2018-11-25 16:20] fleeto opened #1291 "/blog/_posts/2015-05-00-Kubernetes-Release-0160.md"
File Name：/blog/_posts/2015-05-00-Kubernetes-Release-0160.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-05-00-Kubernetes-Release-0160.md)

[2018-11-25 16:20] fleeto opened #1292 "/blog/_posts/2015-05-00-Kubernetes-Release-0170.md"
File Name：/blog/_posts/2015-05-00-Kubernetes-Release-0170.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-05-00-Kubernetes-Release-0170.md)

[2018-11-25 16:20] fleeto opened #1293 "/blog/_posts/2015-05-00-Resource-Usage-Monitoring-Kubernetes.md"
File Name：/blog/_posts/2015-05-00-Resource-Usage-Monitoring-Kubernetes.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-05-00-Resource-Usage-Monitoring-Kubernetes.md)

[2018-11-25 16:20] fleeto opened #1294 "/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout.md"
File Name：/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout.md)

[2018-11-25 16:21] fleeto opened #1295 "/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout_18.md"
File Name：/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout_18.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout_18.md)

[2018-11-25 16:21] fleeto opened #1296 "/blog/_posts/2015-06-00-Cluster-Level-Logging-With-Kubernetes.md"
File Name：/blog/_posts/2015-06-00-Cluster-Level-Logging-With-Kubernetes.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-06-00-Cluster-Level-Logging-With-Kubernetes.md)

[2018-11-25 16:21] fleeto opened #1297 "/blog/_posts/2015-06-00-Slides-Cluster-Management-With.md"
File Name：/blog/_posts/2015-06-00-Slides-Cluster-Management-With.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-06-00-Slides-Cluster-Management-With.md)

[2018-11-25 16:21] fleeto opened #1298 "/blog/_posts/2015-06-00-The-Distributed-System-Toolkit-Patterns.md"
File Name：/blog/_posts/2015-06-00-The-Distributed-System-Toolkit-Patterns.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-06-00-The-Distributed-System-Toolkit-Patterns.md)

[2018-11-25 16:21] fleeto opened #1299 "/blog/_posts/2015-06-00-Weekly-Kubernetes-Community-Hangout.md"
File Name：/blog/_posts/2015-06-00-Weekly-Kubernetes-Community-Hangout.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-06-00-Weekly-Kubernetes-Community-Hangout.md)

[2018-11-25 16:21] fleeto opened #1300 "/blog/_posts/2015-07-00-Announcing-First-Kubernetes-Enterprise.md"
File Name：/blog/_posts/2015-07-00-Announcing-First-Kubernetes-Enterprise.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-07-00-Announcing-First-Kubernetes-Enterprise.md)

[2018-11-25 16:21] fleeto opened #1301 "/blog/_posts/2015-07-00-How-Did-Quake-Demo-From-Dockercon-Work.md"
File Name：/blog/_posts/2015-07-00-How-Did-Quake-Demo-From-Dockercon-Work.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-07-00-How-Did-Quake-Demo-From-Dockercon-Work.md)

[2018-11-25 16:21] fleeto opened #1302 "/blog/_posts/2015-07-00-Kubernetes-10-Launch-Party-At-Oscon.md"
File Name：/blog/_posts/2015-07-00-Kubernetes-10-Launch-Party-At-Oscon.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-07-00-Kubernetes-10-Launch-Party-At-Oscon.md)

[2018-11-25 16:21] fleeto opened #1303 "/blog/_posts/2015-07-00-Strong-Simple-Ssl-For-Kubernetes.md"
File Name：/blog/_posts/2015-07-00-Strong-Simple-Ssl-For-Kubernetes.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-07-00-Strong-Simple-Ssl-For-Kubernetes.md)

[2018-11-25 16:21] fleeto opened #1304 "/blog/_posts/2015-07-00-The-Growing-Kubernetes-Ecosystem.md"
File Name：/blog/_posts/2015-07-00-The-Growing-Kubernetes-Ecosystem.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-07-00-The-Growing-Kubernetes-Ecosystem.md)

[2018-11-25 16:21] fleeto opened #1305 "/blog/_posts/2015-07-00-Weekly-Kubernetes-Community-Hangout.md"
File Name：/blog/_posts/2015-07-00-Weekly-Kubernetes-Community-Hangout.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-07-00-Weekly-Kubernetes-Community-Hangout.md)

[2018-11-25 16:21] fleeto opened #1306 "/blog/_posts/2015-07-00-Weekly-Kubernetes-Community-Hangout_23.md"
File Name：/blog/_posts/2015-07-00-Weekly-Kubernetes-Community-Hangout_23.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-07-00-Weekly-Kubernetes-Community-Hangout_23.md)

[2018-11-25 16:21] fleeto opened #1307 "/blog/_posts/2015-08-00-Using-Kubernetes-Namespaces-To-Manage.md"
File Name：/blog/_posts/2015-08-00-Using-Kubernetes-Namespaces-To-Manage.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-08-00-Using-Kubernetes-Namespaces-To-Manage.md)

[2018-11-25 16:21] fleeto opened #1308 "/blog/_posts/2015-08-00-Weekly-Kubernetes-Community-Hangout.md"
File Name：/blog/_posts/2015-08-00-Weekly-Kubernetes-Community-Hangout.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-08-00-Weekly-Kubernetes-Community-Hangout.md)

[2018-11-25 16:21] fleeto opened #1309 "/blog/_posts/2015-09-00-Kubernetes-Performance-Measurements-And.md"
File Name：/blog/_posts/2015-09-00-Kubernetes-Performance-Measurements-And.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-09-00-Kubernetes-Performance-Measurements-And.md)

[2018-11-25 16:21] fleeto opened #1310 "/blog/_posts/2015-10-00-Some-Things-You-Didnt-Know-About-Kubectl_28.md"
File Name：/blog/_posts/2015-10-00-Some-Things-You-Didnt-Know-About-Kubectl_28.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-10-00-Some-Things-You-Didnt-Know-About-Kubectl_28.md)

[2018-11-25 16:21] fleeto opened #1311 "/blog/_posts/2015-11-00-Creating-A-Raspberry-Pi-Cluster-Running-Kubernetes-The-Shopping-List-Part-1.md"
File Name：/blog/_posts/2015-11-00-Creating-A-Raspberry-Pi-Cluster-Running-Kubernetes-The-Shopping-List-Part-1.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-11-00-Creating-A-Raspberry-Pi-Cluster-Running-Kubernetes-The-Shopping-List-Part-1.md)

[2018-11-25 16:21] fleeto opened #1312 "/blog/_posts/2015-11-00-Kubernetes-1-1-Performance-Upgrades-Improved-Tooling-And-A-Growing-Community.md"
File Name：/blog/_posts/2015-11-00-Kubernetes-1-1-Performance-Upgrades-Improved-Tooling-And-A-Growing-Community.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-11-00-Kubernetes-1-1-Performance-Upgrades-Improved-Tooling-And-A-Growing-Community.md)

[2018-11-25 16:21] fleeto opened #1313 "/blog/_posts/2015-11-00-Kubernetes-As-Foundation-For-Cloud-Native-Paas.md"
File Name：/blog/_posts/2015-11-00-Kubernetes-As-Foundation-For-Cloud-Native-Paas.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-11-00-Kubernetes-As-Foundation-For-Cloud-Native-Paas.md)

[2018-11-25 16:22] #1289 closed, assigned to nobody

[2018-11-25 16:22] #1290 closed, assigned to nobody

[2018-11-25 16:22] #1291 closed, assigned to nobody

[2018-11-25 16:22] #1292 closed, assigned to nobody

[2018-11-25 16:22] #1293 closed, assigned to nobody

[2018-11-25 16:22] #1294 closed, assigned to nobody

[2018-11-25 16:22] #1295 closed, assigned to nobody

[2018-11-25 16:22] #1296 closed, assigned to nobody

[2018-11-25 16:22] #1297 closed, assigned to nobody

[2018-11-25 16:22] #1298 closed, assigned to nobody

[2018-11-25 16:22] #1299 closed, assigned to nobody

[2018-11-25 16:22] #1300 closed, assigned to nobody

[2018-11-25 16:22] #1301 closed, assigned to nobody

[2018-11-25 16:22] #1302 closed, assigned to nobody

[2018-11-25 16:22] #1303 closed, assigned to nobody

[2018-11-25 16:22] #1304 closed, assigned to nobody

[2018-11-25 16:22] #1305 closed, assigned to nobody

[2018-11-25 16:22] #1306 closed, assigned to nobody

[2018-11-25 16:22] #1307 closed, assigned to nobody

[2018-11-25 16:22] #1308 closed, assigned to nobody

[2018-11-25 16:22] #1309 closed, assigned to nobody

[2018-11-25 16:22] #1310 closed, assigned to nobody

[2018-11-25 16:22] #1311 closed, assigned to nobody

[2018-11-25 16:22] #1312 closed, assigned to nobody

[2018-11-25 16:22] #1313 closed, assigned to nobody

[2018-11-25 16:24] #1264 closed, assigned to nobody

[2018-11-25 16:24] #1265 closed, assigned to nobody

[2018-11-25 16:24] #1266 closed, assigned to nobody

[2018-11-25 16:24] #1267 closed, assigned to nobody

[2018-11-25 16:24] #1268 closed, assigned to nobody

[2018-11-25 16:24] #1269 closed, assigned to nobody

[2018-11-25 16:24] #1270 closed, assigned to nobody

[2018-11-25 16:24] #1271 closed, assigned to nobody

[2018-11-25 16:24] #1272 closed, assigned to nobody

[2018-11-25 16:24] #1273 closed, assigned to nobody

[2018-11-25 16:24] #1274 closed, assigned to nobody

[2018-11-25 16:24] #1275 closed, assigned to nobody

[2018-11-25 16:24] #1276 closed, assigned to nobody

[2018-11-25 16:24] #1277 closed, assigned to nobody

[2018-11-25 16:24] #1278 closed, assigned to nobody

[2018-11-25 16:24] #1279 closed, assigned to nobody

[2018-11-25 16:24] #1280 closed, assigned to nobody

[2018-11-25 16:24] #1281 closed, assigned to nobody

[2018-11-25 16:24] #1282 closed, assigned to nobody

[2018-11-25 16:24] #1283 closed, assigned to nobody

[2018-11-25 16:24] #1284 closed, assigned to nobody

[2018-11-25 16:24] #1285 closed, assigned to nobody

[2018-11-25 16:24] #1286 closed, assigned to nobody

[2018-11-25 16:24] #1287 closed, assigned to nobody

[2018-11-25 16:24] #1288 closed, assigned to nobody

[2018-11-25 16:24] #1239 closed, assigned to nobody

[2018-11-25 16:24] #1240 closed, assigned to nobody

[2018-11-25 16:24] #1241 closed, assigned to nobody

[2018-11-25 16:24] #1242 closed, assigned to nobody

[2018-11-25 16:24] #1243 closed, assigned to nobody

[2018-11-25 16:24] #1244 closed, assigned to nobody

[2018-11-25 16:24] #1245 closed, assigned to nobody

[2018-11-25 16:24] #1246 closed, assigned to nobody

[2018-11-25 16:24] #1247 closed, assigned to nobody

[2018-11-25 16:24] #1248 closed, assigned to nobody

[2018-11-25 16:24] #1249 closed, assigned to nobody

[2018-11-25 16:24] #1250 closed, assigned to nobody

[2018-11-25 16:24] #1251 closed, assigned to nobody

[2018-11-25 16:24] #1252 closed, assigned to nobody

[2018-11-25 16:24] #1253 closed, assigned to nobody

[2018-11-25 16:24] #1254 closed, assigned to nobody

[2018-11-25 16:24] #1255 closed, assigned to nobody

[2018-11-25 16:24] #1256 closed, assigned to nobody

[2018-11-25 16:24] #1257 closed, assigned to nobody

[2018-11-25 16:24] #1258 closed, assigned to nobody

[2018-11-25 16:24] #1259 closed, assigned to nobody

[2018-11-25 16:24] #1260 closed, assigned to nobody

[2018-11-25 16:24] #1261 closed, assigned to nobody

[2018-11-25 16:24] #1262 closed, assigned to nobody

[2018-11-25 16:24] #1263 closed, assigned to nobody

[2018-11-25 16:24] #1214 closed, assigned to nobody

[2018-11-25 16:24] #1215 closed, assigned to nobody

[2018-11-25 16:24] #1216 closed, assigned to nobody

[2018-11-25 16:24] #1217 closed, assigned to nobody

[2018-11-25 16:24] #1218 closed, assigned to nobody

[2018-11-25 16:24] #1219 closed, assigned to nobody

[2018-11-25 16:24] #1220 closed, assigned to nobody

[2018-11-25 16:24] #1221 closed, assigned to nobody

[2018-11-25 16:24] #1222 closed, assigned to nobody

[2018-11-25 16:24] #1223 closed, assigned to nobody

[2018-11-25 16:24] #1224 closed, assigned to nobody

[2018-11-25 16:24] #1225 closed, assigned to nobody

[2018-11-25 16:24] #1226 closed, assigned to nobody

[2018-11-25 16:24] #1227 closed, assigned to nobody

[2018-11-25 16:24] #1228 closed, assigned to nobody

[2018-11-25 16:24] #1229 closed, assigned to nobody

[2018-11-25 16:24] #1230 closed, assigned to nobody

[2018-11-25 16:24] #1231 closed, assigned to nobody

[2018-11-25 16:24] #1232 closed, assigned to nobody

[2018-11-25 16:24] #1233 closed, assigned to nobody

[2018-11-25 16:24] #1234 closed, assigned to nobody

[2018-11-25 16:24] #1235 closed, assigned to nobody

[2018-11-25 16:24] #1236 closed, assigned to nobody

[2018-11-25 16:24] #1237 closed, assigned to nobody

[2018-11-25 16:24] #1238 closed, assigned to nobody

[2018-11-25 16:24] #1189 closed, assigned to nobody

[2018-11-25 16:24] #1190 closed, assigned to nobody

[2018-11-25 16:24] #1191 closed, assigned to nobody

[2018-11-25 16:24] #1192 closed, assigned to nobody

[2018-11-25 16:24] #1193 closed, assigned to nobody

[2018-11-25 16:24] #1194 closed, assigned to nobody

[2018-11-25 16:24] #1195 closed, assigned to nobody

[2018-11-25 16:24] #1196 closed, assigned to nobody

[2018-11-25 16:24] #1197 closed, assigned to nobody

[2018-11-25 16:24] #1198 closed, assigned to nobody

[2018-11-25 16:24] #1199 closed, assigned to nobody

[2018-11-25 16:24] #1200 closed, assigned to nobody

[2018-11-25 16:24] #1201 closed, assigned to nobody

[2018-11-25 16:24] #1202 closed, assigned to nobody

[2018-11-25 16:24] #1203 closed, assigned to nobody

[2018-11-25 16:24] #1204 closed, assigned to nobody

[2018-11-25 16:24] #1205 closed, assigned to nobody

[2018-11-25 16:24] #1206 closed, assigned to nobody

[2018-11-25 16:24] #1207 closed, assigned to nobody

[2018-11-25 16:24] #1208 closed, assigned to nobody

[2018-11-25 16:24] #1209 closed, assigned to nobody

[2018-11-25 16:24] #1210 closed, assigned to nobody

[2018-11-25 16:24] #1211 closed, assigned to nobody

[2018-11-25 16:24] #1212 closed, assigned to nobody

[2018-11-25 16:24] #1213 closed, assigned to nobody

[2018-11-25 16:24] #1161 closed, assigned to nobody

[2018-11-25 16:24] #1162 closed, assigned to nobody

[2018-11-25 16:24] #1163 closed, assigned to nobody

[2018-11-25 16:24] #1164 closed, assigned to nobody

[2018-11-25 16:24] #1165 closed, assigned to nobody

[2018-11-25 16:24] #1166 closed, assigned to nobody

[2018-11-25 16:24] #1167 closed, assigned to nobody

[2018-11-25 16:24] #1168 closed, assigned to nobody

[2018-11-25 16:24] #1169 closed, assigned to nobody

[2018-11-25 16:24] #1170 closed, assigned to nobody

[2018-11-25 16:24] #1171 closed, assigned to nobody

[2018-11-25 16:24] #1172 closed, assigned to nobody

[2018-11-25 16:24] #1173 closed, assigned to nobody

[2018-11-25 16:24] #1174 closed, assigned to nobody

[2018-11-25 16:24] #1175 closed, assigned to nobody

[2018-11-25 16:24] #1176 closed, assigned to nobody

[2018-11-25 16:24] #1177 closed, assigned to nobody

[2018-11-25 16:25] #1181 closed, assigned to nobody

[2018-11-25 16:25] #1182 closed, assigned to nobody

[2018-11-25 16:25] #1183 closed, assigned to nobody

[2018-11-25 16:25] #1184 closed, assigned to nobody

[2018-11-25 16:25] #1185 closed, assigned to nobody

[2018-11-25 16:25] #1186 closed, assigned to nobody

[2018-11-25 16:25] #1187 closed, assigned to nobody

[2018-11-25 16:25] #1188 closed, assigned to nobody

[2018-11-25 16:25] #1136 closed, assigned to nobody

[2018-11-25 16:25] #1137 closed, assigned to nobody

[2018-11-25 16:25] #1138 closed, assigned to nobody

[2018-11-25 16:25] #1139 closed, assigned to nobody

[2018-11-25 16:25] #1140 closed, assigned to nobody

[2018-11-25 16:25] #1141 closed, assigned to nobody

[2018-11-25 16:25] #1142 closed, assigned to nobody

[2018-11-25 16:25] #1143 closed, assigned to nobody

[2018-11-25 16:25] #1144 closed, assigned to nobody

[2018-11-25 16:25] #1145 closed, assigned to nobody

[2018-11-25 16:25] #1146 closed, assigned to nobody

[2018-11-25 16:25] #1147 closed, assigned to nobody

[2018-11-25 16:25] #1148 closed, assigned to nobody

[2018-11-25 16:25] #1149 closed, assigned to nobody

[2018-11-25 16:25] #1150 closed, assigned to nobody

[2018-11-25 16:25] #1151 closed, assigned to nobody

[2018-11-25 16:25] #1152 closed, assigned to nobody

[2018-11-25 16:25] #1153 closed, assigned to nobody

[2018-11-25 16:25] #1154 closed, assigned to nobody

[2018-11-25 16:25] #1155 closed, assigned to nobody

[2018-11-25 16:25] #1156 closed, assigned to nobody

[2018-11-25 16:25] #1157 closed, assigned to nobody

[2018-11-25 16:25] #1158 closed, assigned to nobody

[2018-11-25 16:25] #1159 closed, assigned to nobody

[2018-11-25 16:25] #1160 closed, assigned to nobody

[2018-11-25 16:25] #1111 closed, assigned to nobody

[2018-11-25 16:25] #1112 closed, assigned to nobody

[2018-11-25 16:25] #1113 closed, assigned to nobody

[2018-11-25 16:25] #1114 closed, assigned to nobody

[2018-11-25 16:25] #1115 closed, assigned to nobody

[2018-11-25 16:25] #1116 closed, assigned to nobody

[2018-11-25 16:25] #1117 closed, assigned to nobody

[2018-11-25 16:25] #1118 closed, assigned to nobody

[2018-11-25 16:25] #1119 closed, assigned to nobody

[2018-11-25 16:25] #1120 closed, assigned to nobody

[2018-11-25 16:25] #1121 closed, assigned to nobody

[2018-11-25 16:25] #1122 closed, assigned to nobody

[2018-11-25 16:25] #1123 closed, assigned to nobody

[2018-11-25 16:25] #1124 closed, assigned to nobody

[2018-11-25 16:25] #1125 closed, assigned to nobody

[2018-11-25 16:25] #1126 closed, assigned to nobody

[2018-11-25 16:25] #1127 closed, assigned to nobody

[2018-11-25 16:25] #1128 closed, assigned to nobody

[2018-11-25 16:25] #1129 closed, assigned to nobody

[2018-11-25 16:25] #1130 closed, assigned to nobody

[2018-11-25 16:25] #1131 closed, assigned to nobody

[2018-11-25 16:25] #1132 closed, assigned to nobody

[2018-11-25 16:25] #1133 closed, assigned to nobody

[2018-11-25 16:25] #1134 closed, assigned to nobody

[2018-11-25 16:25] #1135 closed, assigned to nobody

[2018-11-25 16:25] #1086 closed, assigned to nobody

[2018-11-25 16:25] #1087 closed, assigned to nobody

[2018-11-25 16:25] #1088 closed, assigned to nobody

[2018-11-25 16:25] #1089 closed, assigned to nobody

[2018-11-25 16:25] #1090 closed, assigned to nobody

[2018-11-25 16:25] #1091 closed, assigned to nobody

[2018-11-25 16:25] #1092 closed, assigned to nobody

[2018-11-25 16:25] #1093 closed, assigned to nobody

[2018-11-25 16:25] #1094 closed, assigned to nobody

[2018-11-25 16:25] #1095 closed, assigned to nobody

[2018-11-25 16:25] #1096 closed, assigned to nobody

[2018-11-25 16:25] #1097 closed, assigned to nobody

[2018-11-25 16:25] #1098 closed, assigned to nobody

[2018-11-25 16:25] #1099 closed, assigned to nobody

[2018-11-25 16:25] #1100 closed, assigned to nobody

[2018-11-25 16:25] #1101 closed, assigned to nobody

[2018-11-25 16:25] #1102 closed, assigned to nobody

[2018-11-25 16:25] #1103 closed, assigned to nobody

[2018-11-25 16:25] #1104 closed, assigned to nobody

[2018-11-25 16:25] #1105 closed, assigned to nobody

[2018-11-25 16:25] #1106 closed, assigned to nobody

[2018-11-25 16:25] #1107 closed, assigned to nobody

[2018-11-25 16:25] #1108 closed, assigned to nobody

[2018-11-25 16:25] #1109 closed, assigned to nobody

[2018-11-25 16:25] #1110 closed, assigned to nobody

[2018-11-25 16:26] #1061 closed, assigned to nobody

[2018-11-25 16:26] #1062 closed, assigned to nobody

[2018-11-25 16:26] #1063 closed, assigned to nobody

[2018-11-25 16:26] #1064 closed, assigned to nobody

[2018-11-25 16:26] #1065 closed, assigned to nobody

[2018-11-25 16:26] #1066 closed, assigned to nobody

[2018-11-25 16:26] #1067 closed, assigned to nobody

[2018-11-25 16:26] #1068 closed, assigned to nobody

[2018-11-25 16:26] #1069 closed, assigned to nobody

[2018-11-25 16:26] #1070 closed, assigned to nobody

[2018-11-25 16:26] #1071 closed, assigned to nobody

[2018-11-25 16:26] #1072 closed, assigned to nobody

[2018-11-25 16:26] #1073 closed, assigned to nobody

[2018-11-25 16:26] #1074 closed, assigned to nobody

[2018-11-25 16:26] #1075 closed, assigned to nobody

[2018-11-25 16:26] #1076 closed, assigned to nobody

[2018-11-25 16:26] #1077 closed, assigned to nobody

[2018-11-25 16:26] #1078 closed, assigned to nobody

[2018-11-25 16:26] #1079 closed, assigned to nobody

[2018-11-25 16:26] #1080 closed, assigned to nobody

[2018-11-25 16:26] #1081 closed, assigned to nobody

[2018-11-25 16:26] #1082 closed, assigned to nobody

[2018-11-25 16:26] #1083 closed, assigned to nobody

[2018-11-25 16:26] #1084 closed, assigned to nobody

[2018-11-25 16:26] #1085 closed, assigned to nobody

[2018-11-25 16:26] #1036 closed, assigned to nobody

[2018-11-25 16:26] #1037 closed, assigned to nobody

[2018-11-25 16:26] #1038 closed, assigned to nobody

[2018-11-25 16:26] #1039 closed, assigned to nobody

[2018-11-25 16:26] #1040 closed, assigned to nobody

[2018-11-25 16:26] #1041 closed, assigned to nobody

[2018-11-25 16:26] #1042 closed, assigned to nobody

[2018-11-25 16:26] #1043 closed, assigned to nobody

[2018-11-25 16:26] #1044 closed, assigned to nobody

[2018-11-25 16:26] #1045 closed, assigned to nobody

[2018-11-25 16:26] #1046 closed, assigned to nobody

[2018-11-25 16:26] #1047 closed, assigned to nobody

[2018-11-25 16:26] #1048 closed, assigned to nobody

[2018-11-25 16:26] #1049 closed, assigned to nobody

[2018-11-25 16:26] #1050 closed, assigned to nobody

[2018-11-25 16:26] #1051 closed, assigned to nobody

[2018-11-25 16:26] #1052 closed, assigned to nobody

[2018-11-25 16:26] #1053 closed, assigned to nobody

[2018-11-25 16:26] #1054 closed, assigned to nobody

[2018-11-25 16:26] #1055 closed, assigned to nobody

[2018-11-25 16:26] #1056 closed, assigned to nobody

[2018-11-25 16:26] #1057 closed, assigned to nobody

[2018-11-25 16:26] #1058 closed, assigned to nobody

[2018-11-25 16:26] #1059 closed, assigned to nobody

[2018-11-25 16:26] #1060 closed, assigned to nobody

[2018-11-25 16:26] #1011 closed, assigned to nobody

[2018-11-25 16:26] #1012 closed, assigned to nobody

[2018-11-25 16:26] #1013 closed, assigned to nobody

[2018-11-25 16:26] #1014 closed, assigned to nobody

[2018-11-25 16:26] #1015 closed, assigned to nobody

[2018-11-25 16:26] #1016 closed, assigned to nobody

[2018-11-25 16:26] #1017 closed, assigned to nobody

[2018-11-25 16:26] #1018 closed, assigned to nobody

[2018-11-25 16:26] #1019 closed, assigned to nobody

[2018-11-25 16:26] #1020 closed, assigned to nobody

[2018-11-25 16:26] #1021 closed, assigned to nobody

[2018-11-25 16:26] #1022 closed, assigned to nobody

[2018-11-25 16:26] #1023 closed, assigned to nobody

[2018-11-25 16:26] #1024 closed, assigned to nobody

[2018-11-25 16:26] #1025 closed, assigned to nobody

[2018-11-25 16:26] #1026 closed, assigned to nobody

[2018-11-25 16:26] #1027 closed, assigned to nobody

[2018-11-25 16:26] #1028 closed, assigned to nobody

[2018-11-25 16:26] #1029 closed, assigned to nobody

[2018-11-25 16:26] #1030 closed, assigned to nobody

[2018-11-25 16:26] #1031 closed, assigned to nobody

[2018-11-25 16:26] #1032 closed, assigned to nobody

[2018-11-25 16:26] #1033 closed, assigned to nobody

[2018-11-25 16:26] #1034 closed, assigned to nobody

[2018-11-25 16:26] #1035 closed, assigned to nobody

[2018-11-25 16:27] #986 closed, assigned to nobody

[2018-11-25 16:27] #987 closed, assigned to nobody

[2018-11-25 16:27] #988 closed, assigned to nobody

[2018-11-25 16:27] #989 closed, assigned to nobody

[2018-11-25 16:27] #990 closed, assigned to nobody

[2018-11-25 16:27] #991 closed, assigned to nobody

[2018-11-25 16:27] #992 closed, assigned to nobody

[2018-11-25 16:27] #993 closed, assigned to nobody

[2018-11-25 16:27] #994 closed, assigned to nobody

[2018-11-25 16:27] #995 closed, assigned to nobody

[2018-11-25 16:27] #996 closed, assigned to nobody

[2018-11-25 16:27] #997 closed, assigned to nobody

[2018-11-25 16:27] #998 closed, assigned to nobody

[2018-11-25 16:27] #999 closed, assigned to nobody

[2018-11-25 16:27] #1000 closed, assigned to nobody

[2018-11-25 16:27] #1001 closed, assigned to nobody

[2018-11-25 16:27] #1002 closed, assigned to nobody

[2018-11-25 16:27] #1003 closed, assigned to nobody

[2018-11-25 16:27] #1004 closed, assigned to nobody

[2018-11-25 16:27] #1005 closed, assigned to nobody

[2018-11-25 16:27] #1006 closed, assigned to nobody

[2018-11-25 16:27] #1007 closed, assigned to nobody

[2018-11-25 16:27] #1008 closed, assigned to nobody

[2018-11-25 16:27] #1009 closed, assigned to nobody

[2018-11-25 16:27] #1010 closed, assigned to nobody

[2018-11-25 16:27] #961 closed, assigned to nobody

[2018-11-25 16:27] #962 closed, assigned to nobody

[2018-11-25 16:27] #963 closed, assigned to nobody

[2018-11-25 16:27] #964 closed, assigned to nobody

[2018-11-25 16:27] #965 closed, assigned to nobody

[2018-11-25 16:27] #966 closed, assigned to nobody

[2018-11-25 16:27] #967 closed, assigned to nobody

[2018-11-25 16:27] #968 closed, assigned to nobody

[2018-11-25 16:27] #969 closed, assigned to nobody

[2018-11-25 16:27] #970 closed, assigned to nobody

[2018-11-25 16:27] #971 closed, assigned to nobody

[2018-11-25 16:27] #972 closed, assigned to nobody

[2018-11-25 16:27] #973 closed, assigned to nobody

[2018-11-25 16:27] #974 closed, assigned to nobody

[2018-11-25 16:27] #975 closed, assigned to nobody

[2018-11-25 16:27] #976 closed, assigned to nobody

[2018-11-25 16:27] #977 closed, assigned to nobody

[2018-11-25 16:27] #978 closed, assigned to nobody

[2018-11-25 16:27] #979 closed, assigned to nobody

[2018-11-25 16:27] #980 closed, assigned to nobody

[2018-11-25 16:27] #981 closed, assigned to nobody

[2018-11-25 16:27] #982 closed, assigned to nobody

[2018-11-25 16:27] #983 closed, assigned to nobody

[2018-11-25 16:27] #984 closed, assigned to nobody

[2018-11-25 16:27] #985 closed, assigned to nobody

[2018-11-25 16:28] #958 closed, assigned to nobody

[2018-11-25 16:28] #959 closed, assigned to nobody

[2018-11-25 16:28] #960 closed, assigned to nobody

[2018-11-25 16:29] #1178 closed, assigned to nobody

[2018-11-25 16:29] #1179 closed, assigned to nobody

[2018-11-25 16:29] #1180 closed, assigned to nobody

[2018-11-25 16:43] fleeto opened #1314 "/blog/_posts/2018-10-18-tips-for-first-kubecon-presentation-part-1.md"
File Name：/blog/_posts/2018-10-18-tips-for-first-kubecon-presentation-part-1.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2018-10-18-tips-for-first-kubecon-presentation-part-1.md)

[2018-11-25 16:43] fleeto opened #1315 "/blog/_posts/2018-10-26-tips-for-first-kubecon-presentation-part-2.md"
File Name：/blog/_posts/2018-10-26-tips-for-first-kubecon-presentation-part-2.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2018-10-26-tips-for-first-kubecon-presentation-part-2.md)

[2018-11-25 16:43] fleeto opened #1316 "/docs/reference/glossary/aggregation-layer.md"
File Name：/docs/reference/glossary/aggregation-layer.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/docs/reference/glossary/aggregation-layer.md)

[2018-11-25 16:43] fleeto opened #1317 "/docs/reference/setup-tools/kubeadm/generated/kubeadm.md"
File Name：/docs/reference/setup-tools/kubeadm/generated/kubeadm.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/docs/reference/setup-tools/kubeadm/generated/kubeadm.md)

[2018-11-25 16:43] fleeto opened #1318 "/includes/default-storage-class-prereqs.md"
File Name：/includes/default-storage-class-prereqs.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/includes/default-storage-class-prereqs.md)

[2018-11-25 16:43] fleeto opened #1319 "/includes/federated-task-tutorial-prereqs.md"
File Name：/includes/federated-task-tutorial-prereqs.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/includes/federated-task-tutorial-prereqs.md)

[2018-11-25 16:43] fleeto opened #1320 "/includes/federation-content-moved.md"
File Name：/includes/federation-content-moved.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/includes/federation-content-moved.md)

[2018-11-25 16:44] fleeto opened #1321 "/includes/federation-current-state.md"
File Name：/includes/federation-current-state.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/includes/federation-current-state.md)

[2018-11-25 16:44] fleeto opened #1322 "/includes/index.md"
File Name：/includes/index.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/includes/index.md)

[2018-11-25 16:44] fleeto opened #1323 "/includes/user-guide-migration-notice.md"
File Name：/includes/user-guide-migration-notice.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/includes/user-guide-migration-notice.md)

[2018-11-26 01:56] AdamDang commented on #559
/accept

[2018-11-26 01:56] AdamDang commented on #559
/pushed

[2018-11-26 05:42] AdamDang commented on #454
/accept

[2018-11-26 05:42] AdamDang commented on #454
/pushed

[2018-11-26 06:18] chenrui333 commented on #909
/merged

[2018-11-26 06:18] #909 closed, assigned to chenrui333

[2018-11-26 06:18] chenrui333 commented on #908
/merged

[2018-11-26 06:18] #908 closed, assigned to chenrui333

[2018-11-26 06:18] chenrui333 commented on #275
/merged

[2018-11-26 06:18] #275 closed, assigned to chenrui333

[2018-11-26 06:18] chenrui333 commented on #274
/merged

[2018-11-26 06:18] #274 closed, assigned to chenrui333

[2018-11-26 06:19] chenrui333 commented on #221
/merged

[2018-11-26 06:19] #221 closed, assigned to chenrui333

[2018-11-26 06:19] #218 closed, assigned to chenrui333

[2018-11-26 06:19] chenrui333 commented on #215
/merged

[2018-11-26 06:19] #215 closed, assigned to chenrui333

[2018-11-26 06:19] chenrui333 commented on #212
/merged

[2018-11-26 06:19] #212 closed, assigned to chenrui333

[2018-11-26 06:19] chenrui333 commented on #162
/merged

[2018-11-26 06:19] #162 closed, assigned to chenrui333

[2018-11-26 06:19] chenrui333 commented on #161
/merged

[2018-11-26 06:19] #161 closed, assigned to chenrui333

[2018-11-26 06:19] chenrui333 commented on #158
/merged

[2018-11-26 06:19] #158 closed, assigned to chenrui333

[2018-11-26 06:19] chenrui333 commented on #98
/merged

[2018-11-26 06:19] #98 closed, assigned to chenrui333

[2018-11-26 06:19] chenrui333 commented on #96
/merged

[2018-11-26 06:19] #96 closed, assigned to chenrui333

[2018-11-26 06:19] chenrui333 commented on #95
/merged

[2018-11-26 06:19] #95 closed, assigned to chenrui333

[2018-11-26 06:19] chenrui333 commented on #94
/merged

[2018-11-26 06:19] #94 closed, assigned to chenrui333

[2018-11-26 06:37] congfairy commented on #623
/accept

[2018-11-26 07:29] MJ-CJM commented on #848
/merged

[2018-11-26 07:29] #848 closed, assigned to MJ-CJM

[2018-11-26 07:53] jiaj12 commented on #332
/merged

[2018-11-26 07:55] jiaj12 commented on #332
/accept

[2018-11-26 07:55] jiaj12 commented on #332
/pushed

[2018-11-26 07:55] jiaj12 commented on #332
/merged

[2018-11-26 07:55] #332 closed, assigned to jiaj12

[2018-11-26 08:01] okzhchy commented on #850
/merged

[2018-11-26 08:01] #850 closed, assigned to okzhchy

[2018-11-26 08:02] okzhchy commented on #869
/merged

[2018-11-26 08:02] #869 closed, assigned to okzhchy

[2018-11-26 08:02] okzhchy commented on #845
/merged

[2018-11-26 08:02] #845 closed, assigned to okzhchy

[2018-11-26 08:03] okzhchy commented on #696
/merged

[2018-11-26 08:03] #696 closed, assigned to okzhchy

[2018-11-26 08:03] okzhchy commented on #863
/merged

[2018-11-26 08:04] #863 closed, assigned to okzhchy

[2018-11-26 08:04] okzhchy commented on #817
/merged

[2018-11-26 08:04] #817 closed, assigned to okzhchy

[2018-11-26 08:04] okzhchy commented on #854
/merged

[2018-11-26 08:04] #854 closed, assigned to okzhchy

[2018-11-26 08:17] MJ-CJM commented on #944
/pushed

[2018-11-26 14:32] chenrui333 commented on #1322
/accept

[2018-11-26 14:39] chenrui333 commented on #1322
/pushed

[2018-11-26 14:40] chenrui333 commented on #1322
PR, https://github.com/kubernetes/website/pull/11324

[2018-11-26 14:42] chenrui333 commented on #495
/accept

[2018-11-27 01:46] AdamDang commented on #560
/accept

[2018-11-27 01:47] AdamDang commented on #560
/pushed

[2018-11-27 01:54] AdamDang commented on #456
/accept

[2018-11-27 02:12] AdamDang commented on #456
/pushed

[2018-11-27 02:34] AdamDang commented on #394
/accept

[2018-11-27 02:34] AdamDang commented on #394
/pushed

[2018-11-27 03:08] xichengliudui commented on #1323
/accept

[2018-11-27 04:12] xichengliudui commented on #1323
/pushed

[2018-11-27 04:15] xichengliudui commented on #1323
PR, https://github.com/kubernetes/website/pull/11343

[2018-11-27 05:05] xichengliudui commented on #1321
/accept

[2018-11-27 05:05] xichengliudui commented on #1320
/accept

[2018-11-27 05:06] xichengliudui commented on #1319
/accept

[2018-11-27 05:06] xichengliudui commented on #1318
/accept

[2018-11-27 05:46] xichengliudui commented on #1323
/merged

[2018-11-27 05:46] #1323 closed, assigned to xichengliudui

[2018-11-27 05:54] chenrui333 commented on #1322
/merged

[2018-11-27 05:54] #1322 closed, assigned to chenrui333

[2018-11-27 06:10] liyuan198251 commented on #107
/pushed

[2018-11-27 06:25] xichengliudui commented on #1321
/pushed

[2018-11-27 06:25] xichengliudui commented on #1320
/pushed

[2018-11-27 06:26] xichengliudui commented on #1319
/pushed

[2018-11-27 06:26] xichengliudui commented on #1321
PR,https://github.com/kubernetes/website/pull/11349

[2018-11-27 06:26] xichengliudui commented on #1320
PR,https://github.com/kubernetes/website/pull/11349

[2018-11-27 06:27] xichengliudui commented on #1319
PR,https://github.com/kubernetes/website/pull/11349

[2018-11-27 09:08] SataQiu commented on #102
/accept

[2018-11-27 09:16] liyuan198251 commented on #173
/accept

[2018-11-27 09:17] liyuan198251 commented on #280
/accept

[2018-11-27 09:49] SataQiu commented on #102
/merged

[2018-11-27 09:50] #102 closed, assigned to SataQiu

[2018-11-27 09:53] SataQiu commented on #223
/accept

[2018-11-27 10:13] SataQiu commented on #223
/pushed

[2018-11-27 10:14] SataQiu commented on #223
PR,kubernetes/website#11354

[2018-11-27 10:30] SataQiu commented on #166
/accept

[2018-11-27 10:43] SataQiu commented on #166
/pushed

[2018-11-27 10:44] SataQiu commented on #166
PR, kubernetes/website#11357

[2018-11-27 10:44] SataQiu commented on #277
/pushed

[2018-11-27 10:45] SataQiu commented on #277
PR, kubernetes/website#11357

[2018-11-27 11:36] AdamDang commented on #458
/accept

[2018-11-27 11:36] AdamDang commented on #458
/pushed

[2018-11-27 11:46] AdamDang commented on #459
/accept

[2018-11-27 11:46] AdamDang commented on #459
/pushed

[2018-11-27 12:02] AdamDang commented on #566
/accept

[2018-11-27 12:02] AdamDang commented on #566
/pushed

[2018-11-28 02:02] AdamDang commented on #1316
/accept

[2018-11-28 02:02] AdamDang commented on #1316
/pushed

[2018-11-28 08:55] pigletfly commented on #951
/accept

[2018-11-28 12:12] pigletfly commented on #809
/merged

[2018-11-28 12:12] #809 closed, assigned to pigletfly

[2018-11-28 12:19] YouthLab commented on #682
/accept

[2018-11-28 13:58] YouthLab commented on #637
/accepted

[2018-11-28 13:59] YouthLab commented on #637
/accept

[2018-11-28 14:01] YouthLab commented on #693
/accept

[2018-11-28 14:02] Mr-Linus commented on #509
/accept

[2018-11-28 14:02] Mr-Linus commented on #509
/pushed

[2018-11-28 14:02] YouthLab commented on #528
/accept

[2018-11-29 01:46] liyuan198251 commented on #107
/merged

[2018-11-29 01:46] #107 closed, assigned to liyuan198251

[2018-11-29 02:56] liyuan198251 commented on #925
/accept

[2018-11-29 04:09] SataQiu commented on #166
/merged

[2018-11-29 04:09] #166 closed, assigned to SataQiu

[2018-11-29 04:09] SataQiu commented on #277
/merged

[2018-11-29 04:09] #277 closed, assigned to SataQiu

[2018-11-29 04:10] SataQiu commented on #223
/merged

[2018-11-29 04:10] #223 closed, assigned to SataQiu

[2018-11-29 05:51] pigletfly commented on #722
/accept

[2018-11-29 06:01] pigletfly commented on #616
/accept

[2018-11-29 06:34] chenrui333 commented on #495
/pushed

[2018-11-29 06:34] chenrui333 commented on #495
PR, https://github.com/kubernetes/website/pull/11387

[2018-11-29 06:34] chenrui333 commented on #906
/merged

[2018-11-29 06:34] #906 closed, assigned to chenrui333

[2018-11-29 06:35] chenrui333 commented on #100
/merged

[2018-11-29 06:36] #100 closed, assigned to chenrui333

[2018-11-29 06:37] chenrui333 commented on #386
/accept

[2018-11-29 06:40] chenrui333 commented on #386
/pushed

[2018-11-29 06:40] chenrui333 commented on #386
PR, https://github.com/kubernetes/website/pull/11388

[2018-11-29 07:16] YouthLab commented on #637
/pushed

[2018-11-29 08:56] chenrui333 commented on #3
No change across the branches.
[code]

And it has been translated:
https://github.com/kubernetes/website/blob/release-1.12/content/zh/_index.html

[2018-11-29 08:56] chenrui333 commented on #3
/accept

[2018-11-29 08:56] chenrui333 commented on #3
Closing the issue now.

[2018-11-29 09:00] chenrui333 commented on #915
/merged

[2018-11-29 09:00] #915 closed, assigned to chenrui333

[2018-11-29 17:47] fleeto opened #1324 "/docs/concepts/cluster-administration/federation.md"
File Name：`/docs/concepts/cluster-administration/federation.md`

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/docs/concepts/cluster-administration/federation.md)

[code]

[2018-11-29 17:47] fleeto opened #1325 "/docs/concepts/configuration/secret.md"
File Name：`/docs/concepts/configuration/secret.md`

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/docs/concepts/configuration/secret.md)

[code]

[2018-11-29 17:47] fleeto opened #1326 "/docs/concepts/configuration/taint-and-toleration.md"
File Name：`/docs/concepts/configuration/taint-and-toleration.md`

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/docs/concepts/configuration/taint-and-toleration.md)

[code]

[2018-11-29 17:48] fleeto opened #1327 "/docs/concepts/containers/images.md"
File Name：`/docs/concepts/containers/images.md`

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/docs/concepts/containers/images.md)

[code]

[2018-11-29 17:48] fleeto opened #1328 "/docs/concepts/containers/runtime-class.md"
File Name：`/docs/concepts/containers/runtime-class.md`

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/docs/concepts/containers/runtime-class.md)

[code]

[2018-11-29 17:48] fleeto opened #1329 "/docs/concepts/policy/pod-security-policy.md"
File Name：`/docs/concepts/policy/pod-security-policy.md`

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/docs/concepts/policy/pod-security-policy.md)

[code]

[2018-11-29 17:48] fleeto opened #1330 "/docs/concepts/services-networking/connect-applications-service.md"
File Name：`/docs/concepts/services-networking/connect-applications-service.md`

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/docs/concepts/services-networking/connect-applications-service.md)

[code]

[2018-11-29 17:48] fleeto opened #1331 "/docs/concepts/workloads/controllers/cron-jobs.md"
File Name：`/docs/concepts/workloads/controllers/cron-jobs.md`

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/docs/concepts/workloads/controllers/cron-jobs.md)

[code]

[2018-11-29 17:48] fleeto opened #1332 "/docs/concepts/workloads/controllers/daemonset.md"
File Name：`/docs/concepts/workloads/controllers/daemonset.md`

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/docs/concepts/workloads/controllers/daemonset.md)

[code]

[2018-11-29 17:48] fleeto opened #1333 "/docs/concepts/workloads/controllers/deployment.md"
File Name：`/docs/concepts/workloads/controllers/deployment.md`

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/docs/concepts/workloads/controllers/deployment.md)

[code]

[2018-11-29 17:48] fleeto opened #1334 "/docs/concepts/workloads/pods/init-containers.md"
File Name：`/docs/concepts/workloads/pods/init-containers.md`

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/docs/concepts/workloads/pods/init-containers.md)

[code]

[2018-11-29 17:48] fleeto opened #1335 "/docs/concepts/workloads/pods/podpreset.md"
File Name：`/docs/concepts/workloads/pods/podpreset.md`

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/docs/concepts/workloads/pods/podpreset.md)

[code]

[2018-11-29 17:48] fleeto opened #1336 "/docs/tasks/access-application-cluster/access-cluster.md"
File Name：`/docs/tasks/access-application-cluster/access-cluster.md`

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/docs/tasks/access-application-cluster/access-cluster.md)

[code]

[2018-11-29 17:48] fleeto opened #1337 "/docs/tasks/access-application-cluster/configure-cloud-provider-firewall.md"
File Name：`/docs/tasks/access-application-cluster/configure-cloud-provider-firewall.md`

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/docs/tasks/access-application-cluster/configure-cloud-provider-firewall.md)

[code]

[2018-11-29 17:48] fleeto opened #1338 "/docs/tasks/administer-cluster/dns-custom-nameservers.md"
File Name：`/docs/tasks/administer-cluster/dns-custom-nameservers.md`

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/docs/tasks/administer-cluster/dns-custom-nameservers.md)

[code]

[2018-11-29 17:48] fleeto opened #1339 "/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods.md"
File Name：`/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods.md`

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods.md)

[code]

[2018-11-29 17:49] fleeto opened #1340 "/docs/tasks/administer-cluster/static-pod.md"
File Name：`/docs/tasks/administer-cluster/static-pod.md`

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/docs/tasks/administer-cluster/static-pod.md)

[code]

[2018-11-29 17:49] fleeto opened #1341 "/docs/tasks/debug-application-cluster/audit.md"
File Name：`/docs/tasks/debug-application-cluster/audit.md`

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/docs/tasks/debug-application-cluster/audit.md)

[code]

[2018-11-29 17:49] fleeto opened #1342 "/docs/tasks/debug-application-cluster/debug-application.md"
File Name：`/docs/tasks/debug-application-cluster/debug-application.md`

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/docs/tasks/debug-application-cluster/debug-application.md)

[code]

[2018-11-29 17:49] fleeto opened #1343 "/docs/tasks/run-application/rolling-update-replication-controller.md"
File Name：`/docs/tasks/run-application/rolling-update-replication-controller.md`

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/docs/tasks/run-application/rolling-update-replication-controller.md)

[code]

[2018-11-29 17:53] #1342 closed, assigned to nobody

[2018-11-29 21:44] chenrui333 commented on #1328
这个应该是我的 master PR 并没有加到release-1.12的关系。

[2018-11-29 21:46] chenrui333 commented on #1327
All I can see with this issue is just addition of `+{{< toc >}}`

[2018-11-29 22:54] chenrui333 commented on #946
/pushed

[2018-11-29 22:54] chenrui333 commented on #946
PR, https://github.com/kubernetes/website/pull/11402

[2018-11-30 07:41] MJ-CJM commented on #944
/merged

[2018-11-30 07:41] #944 closed, assigned to MJ-CJM

[2018-11-30 07:46] pigletfly commented on #722
/pushed

[2018-11-30 07:47] pigletfly commented on #616
/accept

[2018-11-30 08:49] xichengliudui commented on #1319
/merge

[2018-11-30 08:49] xichengliudui commented on #1319
/merged

[2018-11-30 08:49] #1319 closed, assigned to xichengliudui

[2018-11-30 08:49] xichengliudui commented on #1320
/merged

[2018-11-30 08:49] #1320 closed, assigned to xichengliudui

[2018-11-30 08:49] xichengliudui commented on #1321
/merged

[2018-11-30 08:50] #1321 closed, assigned to xichengliudui

[2018-11-30 09:35] Mr-Linus commented on #509
/merged

[2018-11-30 09:35] #509 closed, assigned to Mr-Linus

[2018-11-30 09:55] liyuan198251 commented on #925
/push

[2018-11-30 09:55] liyuan198251 commented on #280
/push

[2018-11-30 09:56] liyuan198251 commented on #925
/pushed

[2018-11-30 09:56] liyuan198251 commented on #280
/pushed

[2018-11-30 09:56] liyuan198251 commented on #925
/merged

[2018-11-30 09:56] #925 closed, assigned to liyuan198251

[2018-11-30 09:56] liyuan198251 commented on #280
/merged

[2018-11-30 09:57] #280 closed, assigned to liyuan198251

[2018-11-30 10:43] MJ-CJM commented on #953
/accept

[2018-11-30 14:49] AdamDang commented on #939
/accept

[2018-11-30 14:49] AdamDang commented on #939
/pushed

[2018-11-30 15:07] AdamDang commented on #622
/accept

[2018-11-30 15:07] AdamDang commented on #622
/pushed

[2018-11-30 15:19] AdamDang commented on #621
/accept

[2018-11-30 15:19] AdamDang commented on #621
/pushed

[2018-12-01 03:20] AdamDang commented on #618
/accept

[2018-12-01 03:20] AdamDang commented on #618
/pushed

[2018-12-01 03:32] AdamDang commented on #615
/accept

[2018-12-01 03:32] AdamDang commented on #615
/pushed

[2018-12-01 03:40] AdamDang commented on #613
/accept

[2018-12-01 03:40] AdamDang commented on #613
/pushed

[2018-12-01 03:41] AdamDang commented on #568
/accept

[2018-12-01 03:51] AdamDang commented on #568
/accept

[2018-12-01 06:57] AdamDang commented on #405
/accept

[2018-12-01 06:57] AdamDang commented on #405
/pushed

[2018-12-01 06:57] AdamDang commented on #405
/merged

[2018-12-01 06:57] #405 closed, assigned to AdamDang

[2018-12-01 06:58] AdamDang commented on #453
/accept

[2018-12-01 07:09] AdamDang commented on #453
/pushed

[2018-12-01 12:40] xichengliudui commented on #940
/pushed

[2018-12-01 12:40] xichengliudui commented on #942
/pushed

[2018-12-01 12:41] xichengliudui commented on #942
/accept

[2018-12-01 12:41] xichengliudui commented on #940
/accept

[2018-12-01 14:56] xichengliudui commented on #940
/pushed

[2018-12-01 14:57] xichengliudui commented on #940
PR,https://github.com/kubernetes/website/pull/11448

[2018-12-01 18:08] chenrui333 commented on #946
/merged

[2018-12-01 18:08] #946 closed, assigned to chenrui333

[2018-12-01 21:43] chenrui333 commented on #386
/merged

[2018-12-01 21:43] #386 closed, assigned to chenrui333

[2018-12-01 21:51] chenrui333 commented on #219
/accept

[2018-12-01 21:51] chenrui333 commented on #219
/pushed

[2018-12-01 21:51] chenrui333 commented on #219
PR, https://github.com/kubernetes/website/pull/11301

[2018-12-02 01:35] AdamDang commented on #859
/pushed

[2018-12-02 02:34] AdamDang commented on #745
/accept

[2018-12-02 03:42] chenrui333 commented on #920
/pushed

[2018-12-02 03:42] chenrui333 commented on #920
PR, https://github.com/kubernetes/website/pull/11452

[2018-12-02 04:19] AdamDang commented on #745
/pushed

[2018-12-02 08:05] AdamDang commented on #739
/accept

[2018-12-02 09:50] AdamDang commented on #739
/pushed

[2018-12-02 11:46] AdamDang commented on #457
/accept

[2018-12-02 11:47] AdamDang commented on #457
/pushed

[2018-12-02 14:43] MJ-CJM commented on #953
/pushed

[2018-12-02 14:57] chenrui333 commented on #953
PR, https://github.com/kubernetes/website/pull/11460

[2018-12-02 16:01] chenrui333 opened #1344 "一次性加入所有的 example yaml files"

[2018-12-02 16:03] chenrui333 commented on #1344
relates to
https://github.com/kubernetes/website/pull/11457
https://github.com/kubernetes/website/pull/11310
https://github.com/kubernetes/website/pull/11311

[2018-12-02 16:03] chenrui333 commented on #1344
cc @markthink @AdamDang @Mr-Linus

[2018-12-02 16:06] Mr-Linus commented on #1344
我感觉可以 但是上传的example代码依旧需要review，可以分批次上传以减少reviewer的压力。

[2018-12-03 00:45] liyuan198251 commented on #288
/accept

[2018-12-03 01:06] YouthLab commented on #849
/merged

[2018-12-03 01:06] #849 closed, assigned to YouthLab

[2018-12-03 01:09] YouthLab commented on #637
/hold
due to release-1.13 frozen, https://kubernetes.slack.com/archives/C1J0BPD2M/p1543629408003400

[2018-12-03 02:07] AdamDang commented on #773
/accept

[2018-12-03 02:42] xichengliudui commented on #1318
/accept

[2018-12-03 02:47] xichengliudui commented on #943
/accept

[2018-12-03 04:38] chenrui333 commented on #1344
@Mr-Linus 为什么代码需要review？

[2018-12-03 04:39] Mr-Linus commented on #1344
因为在PR <https://github.com/kubernetes/website/pull/11311> 我们遇到过这个问题

[2018-12-03 04:40] Mr-Linus commented on #1344
我们不能保证en目录的example文件都没有问题 😄

[2018-12-03 04:41] chenrui333 commented on #1344
你说的是 md 文件的merge conflict 残留吧？我这里讨论的是yaml files？

[2018-12-03 04:48] Mr-Linus commented on #1344
那就没有什么问题了

[2018-12-03 06:34] SataQiu commented on #6
/accept

[2018-12-03 07:04] SataQiu commented on #6
/pushed

[2018-12-03 08:54] YouthLab commented on #792
#1317

[2018-12-03 08:55] YouthLab commented on #792
Duplicate of #1317

[2018-12-03 09:40] SataQiu commented on #6
PR, kubernetes/website#11471

[2018-12-03 12:02] zhanghuidinah commented on #1343
/accept

[2018-12-03 14:05] chenrui333 commented on #1344
full diff list
[code]

[2018-12-03 14:53] markthink commented on #1344
/lgtm

[2018-12-03 15:03] chenrui333 commented on #1344
thanks @markthink!

[2018-12-03 15:05] chenrui333 commented on #1344
All the PRs have been merged, should be good to close. I will modify the file list for better look.

[2018-12-03 15:50] AdamDang commented on #773
/pushed

[2018-12-04 01:41] xichengliudui commented on #1318
PR，https://github.com/kubernetes/website/pull/11448

[2018-12-04 01:46] zhanghuidinah commented on #1343
/pushed

ref：https://github.com/kubernetes/website/pull/11479

[2018-12-04 01:47] zhanghuidinah commented on #1343
/merged

[2018-12-04 01:49] zhanghuidinah commented on #1343
/pushed

[2018-12-04 01:49] zhanghuidinah commented on #1343
/merged

[2018-12-04 01:49] #1343 closed, assigned to zhanghuidinah

[2018-12-04 02:05] AdamDang commented on #1344
good Job! Thanks @chenrui333

[2018-12-04 02:10] AdamDang commented on #822
/accept

[2018-12-04 03:06] xichengliudui commented on #942
/pushed

[2018-12-04 03:07] xichengliudui commented on #942
PR，https://github.com/kubernetes/website/pull/11504

[2018-12-04 03:30] fleeto opened #1345 "/blog/_posts/2015-03-00-Participate-In-Kubernetes-User.md"
File Name：/blog/_posts/2015-03-00-Participate-In-Kubernetes-User.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2015-03-00-Participate-In-Kubernetes-User.md)

[2018-12-04 03:31] fleeto opened #1346 "/blog/_posts/2016-03-00-Building-Highly-Available-Applications-Using-Kubernetes-New-Multi-Zone-Clusters-aka-Ubernetes-Lite.md"
File Name：/blog/_posts/2016-03-00-Building-Highly-Available-Applications-Using-Kubernetes-New-Multi-Zone-Clusters-aka-Ubernetes-Lite.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2016-03-00-Building-Highly-Available-Applications-Using-Kubernetes-New-Multi-Zone-Clusters-aka-Ubernetes-Lite.md)

[2018-12-04 03:31] fleeto opened #1347 "/blog/_posts/2016-03-00-Kubernetes-1-2-And-Simplifying-Advanced-Networking-With-Ingress.md"
File Name：/blog/_posts/2016-03-00-Kubernetes-1-2-And-Simplifying-Advanced-Networking-With-Ingress.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2016-03-00-Kubernetes-1-2-And-Simplifying-Advanced-Networking-With-Ingress.md)

[2018-12-04 03:31] fleeto opened #1348 "/blog/_posts/2016-03-00-Kubernetes-1-2-Even-More-Performance-Upgrades-Plus-Easier-Application-Deployment-And-Management-.md"
File Name：/blog/_posts/2016-03-00-Kubernetes-1-2-Even-More-Performance-Upgrades-Plus-Easier-Application-Deployment-And-Management-.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2016-03-00-Kubernetes-1-2-Even-More-Performance-Upgrades-Plus-Easier-Application-Deployment-And-Management-.md)

[2018-12-04 03:31] fleeto opened #1349 "/blog/_posts/2016-07-00-Five-Days-Of-Kubernetes-1-3.md"
File Name：/blog/_posts/2016-07-00-Five-Days-Of-Kubernetes-1-3.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2016-07-00-Five-Days-Of-Kubernetes-1-3.md)

[2018-12-04 03:31] fleeto opened #1350 "/blog/_posts/2016-07-00-Kubernetes-1-3-Bridging-Cloud-Native-And-Enterprise-Workloads.md"
File Name：/blog/_posts/2016-07-00-Kubernetes-1-3-Bridging-Cloud-Native-And-Enterprise-Workloads.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2016-07-00-Kubernetes-1-3-Bridging-Cloud-Native-And-Enterprise-Workloads.md)

[2018-12-04 03:31] fleeto opened #1351 "/blog/_posts/2016-09-00-Kubernetes-1-4-Making-It-Easy-To-Run-On-Kuberentes-Anywhere.md"
File Name：/blog/_posts/2016-09-00-Kubernetes-1-4-Making-It-Easy-To-Run-On-Kuberentes-Anywhere.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2016-09-00-Kubernetes-1-4-Making-It-Easy-To-Run-On-Kuberentes-Anywhere.md)

[2018-12-04 03:31] fleeto opened #1352 "/blog/_posts/2016-10-00-Production-Kubernetes-Dashboard-UI-1-4-improvements_3.md"
File Name：/blog/_posts/2016-10-00-Production-Kubernetes-Dashboard-UI-1-4-improvements_3.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2016-10-00-Production-Kubernetes-Dashboard-UI-1-4-improvements_3.md)

[2018-12-04 03:31] fleeto opened #1353 "/blog/_posts/2016-12-00-Cluster-Federation-In-Kubernetes-1-5.md"
File Name：/blog/_posts/2016-12-00-Cluster-Federation-In-Kubernetes-1-5.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2016-12-00-Cluster-Federation-In-Kubernetes-1-5.md)

[2018-12-04 03:31] fleeto opened #1354 "/blog/_posts/2016-12-00-Five-Days-Of-Kubernetes-1-5.md"
File Name：/blog/_posts/2016-12-00-Five-Days-Of-Kubernetes-1-5.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2016-12-00-Five-Days-Of-Kubernetes-1-5.md)

[2018-12-04 03:31] fleeto opened #1355 "/blog/_posts/2016-12-00-Kubernetes-1-5-Supporting-Production-Workloads.md"
File Name：/blog/_posts/2016-12-00-Kubernetes-1-5-Supporting-Production-Workloads.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2016-12-00-Kubernetes-1-5-Supporting-Production-Workloads.md)

[2018-12-04 03:31] fleeto opened #1356 "/blog/_posts/2017-03-00-Five-Days-Of-Kubernetes-1-6.md"
File Name：/blog/_posts/2017-03-00-Five-Days-Of-Kubernetes-1-6.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-03-00-Five-Days-Of-Kubernetes-1-6.md)

[2018-12-04 03:31] fleeto opened #1357 "/blog/_posts/2017-03-00-Kubernetes-1-6-Multi-User-Multi-Workloads-At-Scale.md"
File Name：/blog/_posts/2017-03-00-Kubernetes-1-6-Multi-User-Multi-Workloads-At-Scale.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-03-00-Kubernetes-1-6-Multi-User-Multi-Workloads-At-Scale.md)

[2018-12-04 03:31] fleeto opened #1358 "/blog/_posts/2017-03-00-Scalability-Updates-In-Kubernetes-1-6.md"
File Name：/blog/_posts/2017-03-00-Scalability-Updates-In-Kubernetes-1-6.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-03-00-Scalability-Updates-In-Kubernetes-1-6.md)

[2018-12-04 03:31] fleeto opened #1359 "/blog/_posts/2017-06-00-Kubernetes-1-7-Security-Hardening-Stateful-Application-Extensibility-Updates.md"
File Name：/blog/_posts/2017-06-00-Kubernetes-1-7-Security-Hardening-Stateful-Application-Extensibility-Updates.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2017-06-00-Kubernetes-1-7-Security-Hardening-Stateful-Application-Extensibility-Updates.md)

[2018-12-04 03:32] fleeto opened #1360 "/blog/_posts/2018-03-26-kubernetes-1-10-stabilizing-storage-security-networking.md"
File Name：/blog/_posts/2018-03-26-kubernetes-1-10-stabilizing-storage-security-networking.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2018-03-26-kubernetes-1-10-stabilizing-storage-security-networking.md)

[2018-12-04 03:32] fleeto opened #1361 "/blog/_posts/2018-05-04-Announcing-Kubeflow-0-1.md"
File Name：/blog/_posts/2018-05-04-Announcing-Kubeflow-0-1.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2018-05-04-Announcing-Kubeflow-0-1.md)

[2018-12-04 03:32] fleeto opened #1362 "/blog/_posts/2018-06-26-kubernetes-1-11-release-announcement.md"
File Name：/blog/_posts/2018-06-26-kubernetes-1-11-release-announcement.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2018-06-26-kubernetes-1-11-release-announcement.md)

[2018-12-04 03:32] fleeto opened #1363 "/blog/_posts/2018-07-16-kubernetes-1-11-release-interview.md"
File Name：/blog/_posts/2018-07-16-kubernetes-1-11-release-interview.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2018-07-16-kubernetes-1-11-release-interview.md)

[2018-12-04 03:32] fleeto opened #1364 "/blog/_posts/2018-09-18-2018-linkerd-2-0.md"
File Name：/blog/_posts/2018-09-18-2018-linkerd-2-0.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2018-09-18-2018-linkerd-2-0.md)

[2018-12-04 03:32] fleeto opened #1365 "/blog/_posts/2018-09-27-kubernetes-1-12-release-announcement.md"
File Name：/blog/_posts/2018-09-27-kubernetes-1-12-release-announcement.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2018-09-27-kubernetes-1-12-release-announcement.md)

[2018-12-04 03:32] fleeto opened #1366 "/blog/_posts/2018-11-08-kubernetes-docs-update-i18n.md"
File Name：/blog/_posts/2018-11-08-kubernetes-docs-update-i18n.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/2018-11-08-kubernetes-docs-update-i18n.md)

[2018-12-04 03:32] fleeto opened #1367 "/blog/_posts/grpc-load-balancing-with-linkerd.md"
File Name：/blog/_posts/grpc-load-balancing-with-linkerd.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/blog/_posts/grpc-load-balancing-with-linkerd.md)

[2018-12-04 03:32] fleeto opened #1368 "/docs/reference/glossary/container-lifecycle-hooks.md"
File Name：/docs/reference/glossary/container-lifecycle-hooks.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/docs/reference/glossary/container-lifecycle-hooks.md)

[2018-12-04 03:32] fleeto opened #1369 "/docs/setup/release/building-from-source.md"
File Name：/docs/setup/release/building-from-source.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/docs/setup/release/building-from-source.md)

[2018-12-04 03:32] fleeto opened #1370 "/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-ha-1-12.md"
File Name：/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-ha-1-12.md

[Source Code](https://github.com/kubernetes/website/tree/release-1.12/content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-ha-1-12.md)

[2018-12-04 03:43] SataQiu commented on #164
/accept

[2018-12-04 04:07] SataQiu commented on #164
/merged

[2018-12-04 04:08] SataQiu commented on #164
/pushed

[2018-12-04 04:08] SataQiu commented on #164
/merged

[2018-12-04 04:08] #164 closed, assigned to SataQiu

[2018-12-04 05:36] #1346 closed, assigned to nobody

[2018-12-04 05:36] #1347 closed, assigned to nobody

[2018-12-04 05:36] #1348 closed, assigned to nobody

[2018-12-04 05:36] #1349 closed, assigned to nobody

[2018-12-04 05:36] #1350 closed, assigned to nobody

[2018-12-04 05:36] #1351 closed, assigned to nobody

[2018-12-04 05:36] #1352 closed, assigned to nobody

[2018-12-04 05:36] #1353 closed, assigned to nobody

[2018-12-04 05:36] #1354 closed, assigned to nobody

[2018-12-04 05:36] #1355 closed, assigned to nobody

[2018-12-04 05:36] #1356 closed, assigned to nobody

[2018-12-04 05:36] #1357 closed, assigned to nobody

[2018-12-04 05:36] #1358 closed, assigned to nobody

[2018-12-04 05:36] #1359 closed, assigned to nobody

[2018-12-04 05:36] #1360 closed, assigned to nobody

[2018-12-04 05:36] #1361 closed, assigned to nobody

[2018-12-04 05:36] #1362 closed, assigned to nobody

[2018-12-04 05:36] #1363 closed, assigned to nobody

[2018-12-04 05:36] #1364 closed, assigned to nobody

[2018-12-04 05:36] #1365 closed, assigned to nobody

[2018-12-04 05:36] #1366 closed, assigned to nobody

[2018-12-04 05:36] #1367 closed, assigned to nobody

[2018-12-04 05:36] #1368 closed, assigned to nobody

[2018-12-04 05:36] #1369 closed, assigned to nobody

[2018-12-04 05:36] #1370 closed, assigned to nobody

[2018-12-04 05:36] #1345 closed, assigned to nobody

[2018-12-04 06:09] SataQiu commented on #676
/accept

[2018-12-04 06:36] SataQiu commented on #488
/accept

[2018-12-04 06:52] SataQiu commented on #488
/pushed

[2018-12-04 06:54] SataQiu commented on #488
PR, kubernetes/website#11508

[2018-12-04 06:54] SataQiu commented on #676
PR, kubernetes/website#11508

[2018-12-04 06:56] SataQiu commented on #710
/accept

[2018-12-04 07:47] AdamDang commented on #822
/pushed

[2018-12-04 07:51] AdamDang commented on #1331
/accept

[2018-12-04 08:38] SataQiu commented on #710
/pushed

[2018-12-04 08:39] SataQiu commented on #710
PR, kubernetes/website#11510

[2018-12-04 08:43] SataQiu commented on #214
/accept

[2018-12-05 03:01] okzhchy commented on #824
/pushed

[2018-12-05 09:08] SataQiu commented on #214
/pushed

[2018-12-05 09:09] SataQiu commented on #214
PR, kubernetes/website#11538

[2018-12-05 09:09] SataQiu commented on #488
/merged

[2018-12-05 09:09] #488 closed, assigned to SataQiu

[2018-12-05 09:09] SataQiu commented on #6
/merged

[2018-12-05 09:09] #6 closed, assigned to SataQiu

[2018-12-05 14:23] AdamDang commented on #1331
/pushed

[2018-12-05 14:29] AdamDang commented on #952
/accept

[2018-12-05 17:18] chenrui333 commented on #1344
As it is done, closing the issue now. Thanks everyone!

[2018-12-05 17:18] #1344 closed, assigned to chenrui333

[2018-12-06 02:20] xichengliudui commented on #942
/merge

[2018-12-06 02:21] xichengliudui commented on #942
/merged

[2018-12-06 02:21] #942 closed, assigned to xichengliudui

[2018-12-06 02:36] okzhchy commented on #824
/merged

[2018-12-06 02:36] #824 closed, assigned to okzhchy

[2018-12-06 03:33] SataQiu commented on #868
/accept

[2018-12-06 03:36] SataQiu commented on #768
/accept

[2018-12-06 03:47] pigletfly commented on #722
/merged

[2018-12-06 03:47] #722 closed, assigned to pigletfly

[2018-12-06 03:55] SataQiu commented on #768
/pushed

[2018-12-06 05:08] SataQiu commented on #768
PR, kubernetes/website#11557

[2018-12-06 05:08] SataQiu commented on #868
/pushed

[2018-12-06 05:09] SataQiu commented on #868
PR, kubernetes/website#11558

[2018-12-06 05:10] SataQiu commented on #676
/merged

[2018-12-06 05:10] #676 closed, assigned to SataQiu

[2018-12-06 05:38] pigletfly commented on #616
/pushed

[2018-12-06 05:44] pigletfly commented on #422
/accept

[2018-12-06 06:37] jiaj12 commented on #697
/merged

[2018-12-06 06:37] #697 closed, assigned to jiaj12

[2018-12-06 06:38] jiaj12 commented on #368
/pushed

[2018-12-06 06:38] jiaj12 commented on #368
/merged

[2018-12-06 06:38] #368 closed, assigned to jiaj12

[2018-12-06 06:39] jiaj12 commented on #333
/pushed

[2018-12-06 06:39] jiaj12 commented on #333
/merged

[2018-12-06 06:39] #333 closed, assigned to jiaj12

[2018-12-06 08:21] SataQiu commented on #923
/accept

[2018-12-06 08:58] SataQiu commented on #923
/pushed

[2018-12-06 08:59] SataQiu commented on #923
PR, kubernetes/website#11565

[2018-12-06 09:02] jiaj12 commented on #753
/pushed

[2018-12-06 09:13] xichengliudui commented on #1340
/accept

[2018-12-06 09:17] xichengliudui commented on #954
/accept

[2018-12-06 15:30] Mr-Linus commented on #747
/merged

[2018-12-06 15:30] #747 closed, assigned to Mr-Linus

[2018-12-06 15:30] Mr-Linus commented on #805
/merged

[2018-12-06 15:30] #805 closed, assigned to Mr-Linus

[2018-12-06 16:03] pigletfly commented on #616
/merged

[2018-12-06 16:03] #616 closed, assigned to pigletfly

[2018-12-07 02:17] SataQiu commented on #706
/accept

[2018-12-07 02:33] SataQiu commented on #706
/pushed

[2018-12-07 02:33] SataQiu commented on #706
PR, kubernetes/website#11597

[2018-12-07 02:37] SataQiu commented on #302
/accept

[2018-12-07 02:38] SataQiu commented on #294
/accept

[2018-12-07 02:47] SataQiu commented on #302
/pushed

[2018-12-07 02:48] SataQiu commented on #302
PR, kubernetes/website#11599

[2018-12-07 02:48] SataQiu commented on #294
/pushed

[2018-12-07 02:49] SataQiu commented on #294
PR, kubernetes/website#11599

[2018-12-07 03:35] MJ-CJM commented on #953
PR, kubernetes/website#11602

[2018-12-07 07:37] zhanghuidinah commented on #1341
/accept

[2018-12-07 08:48] MJ-CJM commented on #866
/accept

[2018-12-07 10:35] MJ-CJM commented on #866
/pushed

[2018-12-07 10:43] AdamDang commented on #736
/accept

[2018-12-07 10:43] AdamDang commented on #674
/accept

[2018-12-07 10:57] AdamDang commented on #170
/merged

[2018-12-07 10:57] #170 closed, assigned to AdamDang

[2018-12-07 10:57] AdamDang commented on #529
/merged

[2018-12-07 10:57] #529 closed, assigned to AdamDang

[2018-12-07 10:57] AdamDang commented on #531
/merged

[2018-12-07 10:57] #531 closed, assigned to AdamDang

[2018-12-07 10:57] AdamDang commented on #543
/merged

[2018-12-07 10:57] #543 closed, assigned to AdamDang

[2018-12-07 10:58] AdamDang commented on #545
/merged

[2018-12-07 10:58] #545 closed, assigned to AdamDang

[2018-12-07 10:58] AdamDang commented on #924
/merged

[2018-12-07 10:58] #924 closed, assigned to AdamDang

[2018-12-07 10:58] AdamDang commented on #570
/merged

[2018-12-07 10:58] #570 closed, assigned to AdamDang

[2018-12-07 10:58] AdamDang commented on #549
/merged

[2018-12-07 10:58] #549 closed, assigned to AdamDang

[2018-12-07 10:59] AdamDang commented on #514
/merged

[2018-12-07 10:59] #514 closed, assigned to AdamDang

[2018-12-07 10:59] AdamDang commented on #493
/merged

[2018-12-07 10:59] #493 closed, assigned to AdamDang

[2018-12-07 10:59] AdamDang commented on #491
/merged

[2018-12-07 10:59] #491 closed, assigned to AdamDang

[2018-12-07 10:59] AdamDang commented on #655
/merged

[2018-12-07 10:59] #655 closed, assigned to AdamDang

[2018-12-07 10:59] AdamDang commented on #652
/merged

[2018-12-07 10:59] #652 closed, assigned to AdamDang

[2018-12-07 11:00] AdamDang commented on #650
/merged

[2018-12-07 11:00] #650 closed, assigned to AdamDang

[2018-12-07 11:00] AdamDang commented on #649
/merged

[2018-12-07 11:00] #649 closed, assigned to AdamDang

[2018-12-07 11:00] AdamDang commented on #593
/merged

[2018-12-07 11:00] #593 closed, assigned to AdamDang

[2018-12-07 11:00] AdamDang commented on #596
/merged

[2018-12-07 11:00] #596 closed, assigned to AdamDang

[2018-12-07 11:00] AdamDang commented on #598
/merged

[2018-12-07 11:00] #598 closed, assigned to AdamDang

[2018-12-07 11:01] AdamDang commented on #599
/merged

[2018-12-07 11:01] #599 closed, assigned to AdamDang

[2018-12-07 11:01] AdamDang commented on #601
/merged

[2018-12-07 11:01] #601 closed, assigned to AdamDang

[2018-12-07 11:01] AdamDang commented on #599
/merged

[2018-12-07 11:01] AdamDang commented on #600
/merged

[2018-12-07 11:01] #600 closed, assigned to AdamDang

[2018-12-07 11:08] AdamDang commented on #400
/merged

[2018-12-07 11:08] #400 closed, assigned to AdamDang

[2018-12-07 11:08] AdamDang commented on #401
/merged

[2018-12-07 11:08] #401 closed, assigned to AdamDang

[2018-12-07 11:08] AdamDang commented on #402
/merged

[2018-12-07 11:08] #402 closed, assigned to AdamDang

[2018-12-07 11:08] AdamDang commented on #403
/merged

[2018-12-07 11:09] #403 closed, assigned to AdamDang

[2018-12-07 11:09] AdamDang commented on #404
/merged

[2018-12-07 11:09] #404 closed, assigned to AdamDang

[2018-12-07 11:09] AdamDang commented on #406
/merged

[2018-12-07 11:09] #406 closed, assigned to AdamDang

[2018-12-07 11:09] AdamDang commented on #456
/merged

[2018-12-07 11:09] #456 closed, assigned to AdamDang

[2018-12-07 11:09] AdamDang commented on #457
/merged

[2018-12-07 11:09] #457 closed, assigned to AdamDang

[2018-12-07 11:09] AdamDang commented on #458
/merged

[2018-12-07 11:10] #458 closed, assigned to AdamDang

[2018-12-07 11:10] AdamDang commented on #459
/merged

[2018-12-07 11:10] #459 closed, assigned to AdamDang

[2018-12-07 11:10] AdamDang commented on #939
/merged

[2018-12-07 11:10] #939 closed, assigned to AdamDang

[2018-12-07 11:10] AdamDang commented on #1316
/merged

[2018-12-07 11:10] #1316 closed, assigned to AdamDang

[2018-12-07 11:11] AdamDang commented on #511
/merged

[2018-12-07 11:11] #511 closed, assigned to AdamDang

[2018-12-07 11:11] AdamDang commented on #510
/merged

[2018-12-07 11:11] #510 closed, assigned to AdamDang

[2018-12-07 11:11] AdamDang commented on #507
/merged

[2018-12-07 11:11] #507 closed, assigned to AdamDang

[2018-12-07 11:11] AdamDang commented on #613
/merged

[2018-12-07 11:11] #613 closed, assigned to AdamDang

[2018-12-07 11:11] AdamDang commented on #513
/merged

[2018-12-07 11:11] #513 closed, assigned to AdamDang

[2018-12-07 11:12] AdamDang commented on #506
/merged

[2018-12-07 11:12] #506 closed, assigned to AdamDang

[2018-12-07 11:12] AdamDang commented on #505
/merged

[2018-12-07 11:12] #505 closed, assigned to AdamDang

[2018-12-07 11:13] AdamDang commented on #504
/merged

[2018-12-07 11:13] #504 closed, assigned to AdamDang

[2018-12-07 11:13] AdamDang commented on #503
/merged

[2018-12-07 11:13] #503 closed, assigned to AdamDang

[2018-12-07 11:13] AdamDang commented on #559
/merged

[2018-12-07 11:13] #559 closed, assigned to AdamDang

[2018-12-07 11:13] AdamDang commented on #455
/merged

[2018-12-07 11:13] #455 closed, assigned to AdamDang

[2018-12-07 11:13] AdamDang commented on #454
/merged

[2018-12-07 11:13] #454 closed, assigned to AdamDang

[2018-12-07 11:14] AdamDang commented on #612
/merged

[2018-12-07 11:14] #612 closed, assigned to AdamDang

[2018-12-07 11:14] AdamDang commented on #566
/merged

[2018-12-07 11:14] #566 closed, assigned to AdamDang

[2018-12-07 11:14] AdamDang commented on #622
/merged

[2018-12-07 11:15] #622 closed, assigned to AdamDang

[2018-12-07 11:15] AdamDang commented on #394
/merged

[2018-12-07 11:15] #394 closed, assigned to AdamDang

[2018-12-07 11:15] AdamDang commented on #560
/merged

[2018-12-07 11:15] #560 closed, assigned to AdamDang

[2018-12-07 11:15] AdamDang commented on #508
/merged

[2018-12-07 11:16] AdamDang commented on #620
/merged

[2018-12-07 11:16] #620 closed, assigned to AdamDang

[2018-12-07 11:16] AdamDang commented on #618
/merged

[2018-12-07 11:16] #618 closed, assigned to AdamDang

[2018-12-07 11:17] AdamDang commented on #457
/pushed

[2018-12-07 12:33] MJ-CJM commented on #833
/accept

[2018-12-07 23:51] chenrui333 commented on #699
/accept

[2018-12-07 23:51] chenrui333 commented on #699
/pushed

[2018-12-07 23:51] chenrui333 commented on #699
PR, https://github.com/kubernetes/website/pull/11621

[2018-12-07 23:57] chenrui333 commented on #741
/accept

[2018-12-07 23:57] chenrui333 commented on #741
/pushed

[2018-12-07 23:58] chenrui333 commented on #741
PR, https://github.com/kubernetes/website/pull/11622

[2018-12-08 00:09] chenrui333 commented on #770
/accept

[2018-12-08 00:09] chenrui333 commented on #770
/pushed

[2018-12-08 00:10] chenrui333 commented on #770
PR, https://github.com/kubernetes/website/pull/11623

[2018-12-08 00:11] chenrui333 commented on #738
/accept

[2018-12-08 00:14] chenrui333 commented on #738
/pushed

[2018-12-08 00:14] chenrui333 commented on #738
PR, https://github.com/kubernetes/website/pull/11624

[2018-12-08 00:16] chenrui333 commented on #219
/merged

[2018-12-08 00:16] #219 closed, assigned to chenrui333

[2018-12-08 00:16] chenrui333 commented on #495
/merged

[2018-12-08 00:16] #495 closed, assigned to chenrui333

[2018-12-08 00:16] chenrui333 commented on #920
/merged

[2018-12-08 00:16] #920 closed, assigned to chenrui333

[2018-12-08 00:41] chenrui333 commented on #714
/accept

[2018-12-08 00:41] chenrui333 commented on #714
/pushed

[2018-12-08 00:41] chenrui333 commented on #714
PR, https://github.com/kubernetes/website/pull/11625

[2018-12-08 00:52] chenrui333 commented on #815
/accept

[2018-12-08 01:15] chenrui333 commented on #930
/accept

[2018-12-08 01:15] chenrui333 commented on #930
/pushed

[2018-12-08 01:15] chenrui333 commented on #930
PR, https://github.com/kubernetes/website/pull/11626

[2018-12-08 01:18] chenrui333 commented on #793
PR, https://github.com/kubernetes/website/pull/11168

[2018-12-08 01:18] chenrui333 commented on #793
/merged

[2018-12-08 01:21] chenrui333 commented on #767
/accept

[2018-12-08 01:28] #859 closed, assigned to AdamDang

[2018-12-08 01:29] #822 closed, assigned to AdamDang

[2018-12-08 01:29] #739 closed, assigned to AdamDang

[2018-12-08 01:29] AdamDang commented on #615
/merged

[2018-12-08 01:29] #615 closed, assigned to AdamDang

[2018-12-08 01:30] AdamDang commented on #453
/merged

[2018-12-08 01:30] #453 closed, assigned to AdamDang

[2018-12-08 01:30] AdamDang commented on #621
/merged

[2018-12-08 01:31] #621 closed, assigned to AdamDang

[2018-12-08 01:33] AdamDang commented on #568
/pushed

[2018-12-08 01:33] AdamDang commented on #568
/merged

[2018-12-08 01:33] #568 closed, assigned to AdamDang

[2018-12-08 01:34] AdamDang commented on #508
/pushed

[2018-12-08 01:34] AdamDang commented on #508
/merged

[2018-12-08 01:34] #508 closed, assigned to AdamDang

[2018-12-08 01:35] chenrui333 commented on #793
@congfairy `/merged` 必须要本人来操作，麻烦你弄一下了。😆

[2018-12-08 03:08] Mr-Linus commented on #284
/accept

[2018-12-08 12:24] MJ-CJM commented on #953
/merged

[2018-12-08 12:24] #953 closed, assigned to MJ-CJM

[2018-12-08 21:19] chenrui333 commented on #767
/pushed

[2018-12-08 21:19] chenrui333 commented on #767
PR, https://github.com/kubernetes/website/pull/11633

[2018-12-08 21:57] chenrui333 commented on #815
/pushed

[2018-12-08 21:57] chenrui333 commented on #815
PR, https://github.com/kubernetes/website/pull/11634

[2018-12-08 21:57] chenrui333 commented on #555
/accept

[2018-12-08 21:58] chenrui333 commented on #678
/accept

[2018-12-08 21:58] chenrui333 commented on #742
/accept

[2018-12-09 02:00] AdamDang commented on #1335
/accept

[2018-12-09 02:19] AdamDang commented on #1335
/pushed

[2018-12-09 04:07] liyuan198251 commented on #288
/pushed

[2018-12-09 04:08] liyuan198251 commented on #288
/merged

[2018-12-09 04:08] #288 closed, assigned to liyuan198251

[2018-12-09 04:09] liyuan198251 commented on #173
/pushed

[2018-12-09 04:09] liyuan198251 commented on #173
/merged

[2018-12-09 04:09] #173 closed, assigned to liyuan198251

[2018-12-09 04:20] liyuan198251 commented on #927
/accept

[2018-12-09 04:20] liyuan198251 commented on #289
/accept

[2018-12-09 14:09] MJ-CJM commented on #866
/merged

[2018-12-09 14:09] #866 closed, assigned to MJ-CJM

[2018-12-09 23:36] chenrui333 commented on #555
PR, https://github.com/kubernetes/website/pull/11647

[2018-12-10 01:13] chenrui333 commented on #742
/pushed

[2018-12-10 01:13] chenrui333 commented on #742
PR, https://github.com/kubernetes/website/pull/11649

[2018-12-10 01:18] chenrui333 commented on #681
/accept

[2018-12-10 01:18] chenrui333 commented on #715
/accept

[2018-12-10 02:09] chenrui333 commented on #715
/pushed

[2018-12-10 02:09] chenrui333 commented on #715
PR, https://github.com/kubernetes/website/pull/11650

[2018-12-10 02:17] chenrui333 commented on #606
/accept

[2018-12-10 02:36] chenrui333 commented on #606
/pushed

[2018-12-10 02:36] chenrui333 commented on #606
PR, https://github.com/kubernetes/website/pull/11651

[2018-12-10 03:10] Mr-Linus commented on #284
/pushed

[2018-12-10 05:22] AdamDang commented on #823
/pushed

[2018-12-10 08:22] SataQiu commented on #679
/accept

[2018-12-10 09:37] SataQiu commented on #294
/merged

[2018-12-10 09:38] #294 closed, assigned to SataQiu

[2018-12-10 09:38] SataQiu commented on #679
/pushed

[2018-12-10 09:38] SataQiu commented on #679
PR, kubernetes/website#11658

[2018-12-10 09:39] SataQiu commented on #868
/merged

[2018-12-10 09:39] #868 closed, assigned to SataQiu

[2018-12-10 09:39] SataQiu commented on #768
/merged

[2018-12-10 09:39] #768 closed, assigned to SataQiu

[2018-12-10 09:40] SataQiu commented on #706
/merged

[2018-12-10 09:40] #706 closed, assigned to SataQiu

[2018-12-10 09:40] SataQiu commented on #302
/merged

[2018-12-10 09:40] #302 closed, assigned to SataQiu

[2018-12-10 10:49] xichengliudui commented on #938
/accept

[2018-12-10 10:50] xichengliudui commented on #938
/merged

[2018-12-10 11:28] AdamDang commented on #1335
/merged

[2018-12-10 11:28] #1335 closed, assigned to AdamDang

[2018-12-10 11:29] #773 closed, assigned to AdamDang

[2018-12-10 11:29] #745 closed, assigned to AdamDang

[2018-12-10 13:58] AdamDang commented on #541
/accept

[2018-12-10 13:58] AdamDang commented on #541
/pushed

[2018-12-10 13:59] AdamDang commented on #541
/merged

[2018-12-10 13:59] #541 closed, assigned to AdamDang

[2018-12-10 14:07] AdamDang commented on #843
/accept

[2018-12-10 14:39] AdamDang commented on #843
/pushed

[2018-12-10 14:45] AdamDang commented on #647
/accept

[2018-12-10 14:47] AdamDang commented on #647
/pending

[2018-12-10 14:47] AdamDang commented on #647
/accept cancel

[2018-12-10 14:49] AdamDang commented on #647
Doc in this issue is already translated by @Mr-Linus

[2018-12-10 15:31] AdamDang commented on #724
/accept

[2018-12-11 00:51] zhangx501 commented on #1339
/accept

[2018-12-11 00:58] zhangx501 commented on #1337
/accept

[2018-12-11 01:30] jiaj12 commented on #836
/accept

[2018-12-11 01:32] jiaj12 commented on #753
/merged

[2018-12-11 01:32] #753 closed, assigned to jiaj12

[2018-12-11 01:32] jiaj12 commented on #844
/accept

[2018-12-11 01:34] jiaj12 commented on #836
/accept

[2018-12-11 04:12] chenrui333 commented on #3
/accept

[2018-12-11 04:34] chenrui333 commented on #3
/pushed

[2018-12-11 04:34] chenrui333 commented on #3
PR, https://github.com/kubernetes/website/pull/11675

[2018-12-11 04:35] kangxie-colorado commented on #898
/accept

[2018-12-11 05:58] xichengliudui commented on #1318
/merged

[2018-12-11 05:58] xichengliudui commented on #1318
/merge

[2018-12-11 06:02] xichengliudui commented on #1318
/push

[2018-12-11 06:02] xichengliudui commented on #1318
/pushed

[2018-12-11 06:02] xichengliudui commented on #1318
/merged

[2018-12-11 06:02] #1318 closed, assigned to xichengliudui

[2018-12-11 06:05] xichengliudui commented on #940
/merged

[2018-12-11 06:06] #940 closed, assigned to xichengliudui

[2018-12-11 06:06] xichengliudui commented on #938
/accept

[2018-12-11 06:08] xichengliudui commented on #938
/pushed

[2018-12-11 07:44] SataQiu commented on #479
/accept

[2018-12-11 07:46] SataQiu commented on #421
/accept

[2018-12-11 07:47] SataQiu commented on #480
/accept

[2018-12-11 07:51] congfairy commented on #691
/accept

[2018-12-11 07:52] congfairy commented on #793
/merged

[2018-12-11 07:52] #793 closed, assigned to congfairy

[2018-12-11 07:57] congfairy commented on #625
merged

[2018-12-11 07:57] congfairy commented on #625
/merged

[2018-12-11 07:57] #625 closed, assigned to congfairy

[2018-12-11 08:11] congfairy commented on #954
/pushed

[2018-12-11 08:22] congfairy commented on #945
/pushed

[2018-12-11 08:30] congfairy commented on #691
/accept

[2018-12-11 08:30] congfairy commented on #691
/pushed

[2018-12-11 08:49] SataQiu commented on #480
/pushed

[2018-12-11 08:50] SataQiu commented on #480
PR, kubernetes/website#11683

[2018-12-11 08:51] SataQiu commented on #421
/pushed

[2018-12-11 08:51] SataQiu commented on #421
PR, kubernetes/website#11683

[2018-12-11 08:51] SataQiu commented on #479
/pushed

[2018-12-11 08:51] SataQiu commented on #479
PR, kubernetes/website#11683

[2018-12-11 08:59] SataQiu commented on #782
/accept

[2018-12-11 09:05] congfairy commented on #804
/accept

[2018-12-11 09:07] congfairy commented on #828
/accept

[2018-12-11 09:07] congfairy commented on #828
/pushed

[2018-12-11 09:07] jiaj12 commented on #844
尴尬了我不小心给翻了

[2018-12-11 09:07] congfairy commented on #804
/pushed

[2018-12-11 09:08] congfairy commented on #750
/accept /pushed

[2018-12-11 09:08] congfairy commented on #750
/accept

[2018-12-11 09:08] congfairy commented on #750
/pushed

[2018-12-11 09:24] SataQiu commented on #782
/pushed
PR, kubernetes/website#11693

[2018-12-11 09:30] SataQiu commented on #664
/accept

[2018-12-11 10:08] SataQiu commented on #664
/pushed

[2018-12-11 10:09] SataQiu commented on #664
PR, kubernetes/website#11695

[2018-12-11 22:45] chenrui333 commented on #930
/merged

[2018-12-11 22:45] #930 closed, assigned to chenrui333

[2018-12-11 23:05] chenrui333 commented on #950
/accept

[2018-12-11 23:05] chenrui333 commented on #950
/pushed

[2018-12-11 23:06] chenrui333 commented on #950
PR, https://github.com/kubernetes/website/pull/11701

[2018-12-11 23:09] chenrui333 commented on #487
/accept

[2018-12-11 23:09] chenrui333 commented on #487
/pushed

[2018-12-11 23:10] chenrui333 commented on #487
/acept

[2018-12-11 23:11] chenrui333 commented on #487
/accept

[2018-12-11 23:19] chenrui333 commented on #490
PR, https://github.com/kubernetes/website/pull/11702

[2018-12-11 23:19] chenrui333 commented on #487
PR, https://github.com/kubernetes/website/pull/11702

[2018-12-11 23:19] chenrui333 commented on #482
/accept

[2018-12-11 23:20] chenrui333 commented on #482
/pushed

[2018-12-11 23:20] chenrui333 commented on #482
PR, https://github.com/kubernetes/website/pull/11702

[2018-12-11 23:20] chenrui333 commented on #490
/accept

[2018-12-11 23:20] chenrui333 commented on #490
/pushed

[2018-12-11 23:22] chenrui333 commented on #485
PR, https://github.com/kubernetes/website/pull/11702

[2018-12-12 03:04] jiaj12 commented on #852
/pushed

[2018-12-12 03:04] jiaj12 commented on #852
/merged

[2018-12-12 03:10] jiaj12 commented on #836
/accept

[2018-12-12 03:11] jiaj12 commented on #836
/accept

[2018-12-12 03:35] xichengliudui commented on #1340
/pushed

[2018-12-12 04:53] zhangx501 commented on #1328
/accept

[2018-12-12 05:07] YouthLab commented on #637
/merged

[2018-12-12 05:07] #637 closed, assigned to YouthLab

[2018-12-12 06:37] xichengliudui commented on #938
/merged

[2018-12-12 06:37] #938 closed, assigned to xichengliudui

[2018-12-12 06:56] SataQiu commented on #433
/accept

[2018-12-12 06:58] SataQiu commented on #437
/accept

[2018-12-12 06:59] SataQiu commented on #438
/accept

[2018-12-12 07:01] SataQiu commented on #436
/accept

[2018-12-12 07:26] #214 closed, assigned to SataQiu

[2018-12-12 07:27] #421 closed, assigned to SataQiu

[2018-12-12 07:28] #923 closed, assigned to SataQiu

[2018-12-12 07:29] #782 closed, assigned to SataQiu

[2018-12-12 07:29] #710 closed, assigned to SataQiu

[2018-12-12 07:30] SataQiu commented on #480
/merged

[2018-12-12 07:30] #480 closed, assigned to SataQiu

[2018-12-12 07:30] SataQiu commented on #479
/merged

[2018-12-12 07:30] #479 closed, assigned to SataQiu

[2018-12-12 07:30] SataQiu commented on #436
/pushed

[2018-12-12 07:31] SataQiu commented on #436
PR, kubernetes/website#11716

[2018-12-12 08:11] SataQiu commented on #679
/merged

[2018-12-12 08:11] #679 closed, assigned to SataQiu

[2018-12-12 08:11] #664 closed, assigned to SataQiu

[2018-12-12 08:42] xichengliudui commented on #943
/pushed

[2018-12-13 01:29] #284 closed, assigned to Mr-Linus

[2018-12-13 01:35] Mr-Linus commented on #283
It already merged : PR #11194
/merged

[2018-12-13 01:35] Mr-Linus commented on #283
/accept

[2018-12-13 01:36] Mr-Linus commented on #283
/pushed

[2018-12-13 01:36] Mr-Linus commented on #283
/merged

[2018-12-13 01:36] #283 closed, assigned to Mr-Linus

[2018-12-13 01:37] Mr-Linus commented on #331
It already merged : #11194

[2018-12-13 01:37] Mr-Linus commented on #331
/merged

[2018-12-13 01:37] Mr-Linus commented on #331
/accept

[2018-12-13 01:38] Mr-Linus commented on #331
/pushed

[2018-12-13 01:38] Mr-Linus commented on #331
/merged

[2018-12-13 01:38] #331 closed, assigned to Mr-Linus

[2018-12-13 01:42] Mr-Linus commented on #647
/accept

[2018-12-13 01:43] Mr-Linus commented on #647
/pushed

[2018-12-13 01:43] Mr-Linus commented on #647
/merged

[2018-12-13 01:45] Mr-Linus commented on #647
@AdamDang I need you to help me close it.Thanks! 😂

[2018-12-13 02:04] AdamDang commented on #647
/pushed

[2018-12-13 02:04] AdamDang commented on #647
/merged

[2018-12-13 02:04] #647 closed, assigned to AdamDang

[2018-12-13 02:04] AdamDang commented on #647
Done!

[2018-12-13 13:30] zhangx501 commented on #916
/accept

[2018-12-13 13:36] zhangx501 commented on #916
/accept

[2018-12-13 13:45] zhangx501 commented on #916
/accept

[2018-12-13 13:53] zhangx501 commented on #1339
/pushed

[2018-12-13 13:54] zhangx501 commented on #1339
/merged

[2018-12-13 13:54] #1339 closed, assigned to zhangx501

[2018-12-13 13:55] zhangx501 commented on #1337
/pushed

[2018-12-13 13:55] zhangx501 commented on #1337
/merged

[2018-12-13 13:55] #1337 closed, assigned to zhangx501

[2018-12-13 13:55] zhangx501 commented on #1328
/pushed

[2018-12-13 13:56] zhangx501 commented on #1328
/merged

[2018-12-13 13:56] #1328 closed, assigned to zhangx501

[2018-12-13 14:05] zhangx501 commented on #910
/accept

[2018-12-13 14:10] zhangx501 commented on #1338
/accept

[2018-12-14 08:55] wzqnls commented on #867
/accept

[2018-12-14 08:58] wzqnls commented on #820
/accept

[2018-12-14 09:02] wzqnls commented on #787
/accept

[2018-12-15 11:39] AdamDang commented on #952
/pushed

[2018-12-15 16:46] wzqnls commented on #867
/merged

[2018-12-15 17:04] wzqnls commented on #867
/pushed

[2018-12-15 17:04] wzqnls commented on #867
/merged

[2018-12-15 17:04] #867 closed, assigned to wzqnls

[2018-12-16 02:45] AdamDang commented on #716
/accept

[2018-12-16 03:05] AdamDang commented on #716
/pushed

[2018-12-16 03:05] AdamDang commented on #499
/accept

[2018-12-16 03:05] AdamDang commented on #499
/pushed

[2018-12-16 03:08] AdamDang commented on #672
/accept

[2018-12-16 08:35] wzqnls commented on #787
/pushed

[2018-12-16 12:43] wzqnls commented on #787
/merged

[2018-12-16 12:43] #787 closed, assigned to wzqnls

[2018-12-16 12:47] wzqnls commented on #760
/accept

[2018-12-16 12:48] wzqnls commented on #749
/accept

[2018-12-16 13:15] AdamDang commented on #823
/merged

[2018-12-16 13:15] #823 closed, assigned to AdamDang

[2018-12-16 13:16] AdamDang commented on #724
/pushed

[2018-12-16 14:19] xichengliudui commented on #943
/merged

[2018-12-16 14:19] #943 closed, assigned to xichengliudui

[2018-12-16 14:38] xichengliudui commented on #790
/accept

[2018-12-16 14:38] xichengliudui commented on #790
/pushed

[2018-12-16 14:38] xichengliudui commented on #790
/merged

[2018-12-16 14:39] #790 closed, assigned to xichengliudui

[2018-12-17 00:38] liyuan198251 commented on #927
/merged

[2018-12-17 00:38] #927 closed, assigned to liyuan198251

[2018-12-17 00:38] liyuan198251 commented on #330
/merged

[2018-12-17 00:38] #330 closed, assigned to liyuan198251

[2018-12-17 00:38] liyuan198251 commented on #289
/merged

[2018-12-17 00:38] #289 closed, assigned to liyuan198251

[2018-12-17 01:39] chenrui333 commented on #485
/merged

[2018-12-17 01:40] #485 closed, assigned to chenrui333

[2018-12-17 03:18] liyuan198251 commented on #230
/accept

[2018-12-17 08:07] FlyingOnion commented on #385
/pushed
/merged

[2018-12-17 08:08] FlyingOnion commented on #385
/pushed

[2018-12-17 08:08] FlyingOnion commented on #385
/merged

[2018-12-17 08:08] #385 closed, assigned to FlyingOnion

[2018-12-17 08:14] FlyingOnion commented on #609
/accept

[2018-12-17 12:28] xichengliudui commented on #1340
/merged

[2018-12-17 12:28] #1340 closed, assigned to xichengliudui

[2018-12-17 13:38] zhangqx2010 commented on #837
/pushed

[2018-12-17 13:44] zhangqx2010 commented on #838
/accept

[2018-12-17 13:46] zhangqx2010 commented on #821
/accept

[2018-12-17 14:50] AdamDang commented on #740
/accept

[2018-12-17 14:50] AdamDang commented on #740
/pushed

[2018-12-18 06:12] AdamDang commented on #672
/pushed

[2018-12-18 15:46] zhangqx2010 commented on #838
/pushed

[2018-12-19 02:49] xichengliudui commented on #954
/merged

[2018-12-19 03:20] xichengliudui commented on #911
/accept

[2018-12-19 03:20] xichengliudui commented on #911
/pushed

[2018-12-19 03:20] xichengliudui commented on #911
/merged

[2018-12-19 03:20] #911 closed, assigned to xichengliudui

[2018-12-19 12:41] zhangqx2010 commented on #821
/pushed

[2018-12-21 02:09] liyuan198251 commented on #230
/pushed

[2018-12-21 11:07] AdamDang commented on #724
/merged

[2018-12-21 11:07] #724 closed, assigned to AdamDang

[2018-12-21 11:08] AdamDang commented on #843
/merged

[2018-12-21 11:08] #843 closed, assigned to AdamDang

[2018-12-22 03:55] zhangqx2010 commented on #821
/merged

[2018-12-22 03:55] #821 closed, assigned to zhangqx2010

[2018-12-25 00:55] liyuan198251 commented on #230
/merged

[2018-12-25 00:55] #230 closed, assigned to liyuan198251

[2018-12-25 09:57] zgfh commented on #743
/accept

[2018-12-25 15:56] zgfh commented on #853
/accept

[2018-12-26 01:43] AdamDang commented on #672
/merged

[2018-12-26 01:43] #672 closed, assigned to AdamDang

[2018-12-26 01:44] AdamDang commented on #499
/merged

[2018-12-26 01:44] #499 closed, assigned to AdamDang

[2018-12-26 01:44] AdamDang commented on #716
/merged

[2018-12-26 01:44] #716 closed, assigned to AdamDang

[2018-12-26 01:44] AdamDang commented on #740
/merged

[2018-12-26 01:44] #740 closed, assigned to AdamDang

[2018-12-26 01:44] AdamDang commented on #1331
/merged

[2018-12-26 01:44] #1331 closed, assigned to AdamDang

[2018-12-26 03:43] SataQiu commented on #569
/accept

[2018-12-26 03:43] SataQiu commented on #460
/accept

[2018-12-26 03:43] SataQiu commented on #408
/accept

[2018-12-26 06:07] AdamDang commented on #796
/pushed

[2018-12-26 06:11] AdamDang commented on #723
/accept

[2018-12-26 06:29] #438 closed, assigned to SataQiu

[2018-12-26 06:30] SataQiu commented on #437
/merged

[2018-12-26 06:30] #437 closed, assigned to SataQiu

[2018-12-26 06:31] SataQiu commented on #436
/merged

[2018-12-26 06:31] #436 closed, assigned to SataQiu

[2018-12-26 06:32] SataQiu commented on #433
/merged

[2018-12-26 06:32] #433 closed, assigned to SataQiu

[2018-12-26 06:33] SataQiu commented on #569
/pushed

[2018-12-26 06:33] SataQiu commented on #569
PR, kubernetes/website#11890

[2018-12-26 06:34] SataQiu commented on #460
/pushed

[2018-12-26 06:34] SataQiu commented on #460
PR, kubernetes/website#11890

[2018-12-26 06:35] SataQiu commented on #408
/pushed

[2018-12-26 06:35] SataQiu commented on #408
PR, kubernetes/website#11890

[2018-12-26 06:50] SataQiu commented on #423
/accept

[2018-12-26 07:12] SataQiu commented on #423
/pushed

[2018-12-26 07:13] SataQiu commented on #423
PR, kubernetes/website#11891

[2018-12-26 07:16] SataQiu commented on #709
/accept

[2018-12-26 12:59] zgfh commented on #731
/pushed

[2018-12-26 12:59] zgfh commented on #703
/pushed

[2018-12-26 13:00] zgfh commented on #743
/pushed

[2018-12-26 13:00] zgfh commented on #781
/accept

[2018-12-26 13:00] zgfh commented on #781
/pushed

[2018-12-26 13:06] zgfh commented on #704
这个已经被翻译过了 @fleeto

[2018-12-26 13:10] zgfh commented on #777
/accept

[2018-12-26 14:03] zgfh commented on #853
/accept

[2018-12-26 14:45] zgfh commented on #853
/pushed

[2018-12-26 15:12] zgfh commented on #811
/accept

[2018-12-26 15:42] AdamDang commented on #723
/pushed

[2018-12-26 15:43] AdamDang commented on #800
/merged

[2018-12-26 15:44] #800 closed, assigned to AdamDang

[2018-12-26 15:44] zgfh commented on #751
/accept

[2018-12-26 15:44] zgfh commented on #811
/pushed

[2018-12-26 15:55] zgfh commented on #730
/accept

[2018-12-26 15:56] zgfh commented on #751
/pushed

[2018-12-27 00:05] zhangqx2010 commented on #497
/pushed

[2018-12-27 01:04] zgfh commented on #730
@fleeto 已经翻译过了

[2018-12-27 03:45] zhangqx2010 commented on #837
/merged

[2018-12-27 03:45] #837 closed, assigned to zhangqx2010

[2018-12-27 04:04] zhangqx2010 commented on #838
/merge

[2018-12-27 04:04] #838 closed, assigned to zhangqx2010

[2018-12-27 04:12] zhangqx2010 commented on #551
/accept

[2018-12-27 04:12] zhangqx2010 commented on #766
/accept

[2018-12-27 07:07] AdamDang commented on #776
/accept

[2018-12-27 07:55] AdamDang commented on #687
/accept

[2018-12-27 10:32] AdamDang commented on #444
/pushed

[2018-12-27 10:34] AdamDang commented on #687
/pushed

[2018-12-27 10:36] AdamDang commented on #776
/pushed

[2018-12-27 10:38] AdamDang commented on #686
/accept

[2018-12-27 10:43] AdamDang commented on #734
/accept

[2018-12-27 11:04] AdamDang commented on #686
/pushed

[2018-12-27 14:32] AdamDang commented on #106
/accept

[2018-12-27 14:33] AdamDang commented on #106
/pushed

[2018-12-27 14:34] AdamDang commented on #106
/merged

[2018-12-27 14:34] #106 closed, assigned to AdamDang

[2018-12-27 14:42] AdamDang commented on #393
/accept

[2018-12-27 14:57] AdamDang commented on #393
/pushed

[2018-12-27 15:21] AdamDang commented on #450
/accept

[2018-12-27 15:21] AdamDang commented on #450
/pushed

[2018-12-28 01:44] AdamDang commented on #451
/accept

[2018-12-28 02:00] AdamDang commented on #451
/pushed

[2018-12-28 02:02] AdamDang commented on #558
/accept

[2018-12-28 06:48] AdamDang commented on #410
/accept

[2018-12-28 06:49] AdamDang commented on #411
/accept

[2018-12-28 06:51] AdamDang commented on #412
/accept

[2018-12-28 06:52] AdamDang commented on #413
/accept

[2018-12-28 06:53] AdamDang commented on #411
/pushed

[2018-12-28 06:53] AdamDang commented on #413
/accept

[2018-12-28 10:06] liyuan198251 commented on #171
/pushed

[2018-12-28 14:02] zgfh commented on #831
/pushed

[2018-12-28 14:07] zgfh commented on #582
/accept

[2018-12-28 14:15] zgfh commented on #582
/pushed

[2018-12-28 14:17] zgfh commented on #677
/accept

[2018-12-28 15:03] zgfh commented on #677
/pushed

[2018-12-28 15:07] zgfh commented on #517
/accept

[2018-12-28 15:13] zgfh commented on #517
/pushed

[2018-12-28 15:19] zgfh commented on #627
/accept

[2018-12-28 15:37] zgfh commented on #627
/pushed

[2018-12-28 16:07] AdamDang commented on #410
/pushed

[2018-12-28 16:12] AdamDang commented on #413
/pushed

[2018-12-28 16:12] AdamDang commented on #412
/pushed

[2018-12-29 01:49] SataQiu commented on #709
/merged

[2018-12-29 01:49] #709 closed, assigned to SataQiu

[2018-12-29 01:49] SataQiu commented on #569
/merged

[2018-12-29 01:49] #569 closed, assigned to SataQiu

[2018-12-29 01:49] SataQiu commented on #460
/merged

[2018-12-29 01:49] #460 closed, assigned to SataQiu

[2018-12-29 02:46] xichengliudui commented on #586
/accept

[2018-12-29 02:46] xichengliudui commented on #586
/pushed

[2018-12-29 02:54] xichengliudui commented on #812
/accept

[2018-12-29 02:54] xichengliudui commented on #812
/pushed

[2018-12-29 02:54] xichengliudui commented on #812
/merged

[2018-12-29 02:54] #812 closed, assigned to xichengliudui

[2018-12-29 02:56] xichengliudui commented on #830
/accept

[2018-12-29 02:56] SataQiu commented on #588
/accept

[2018-12-29 02:56] xichengliudui commented on #830
/pushed
/merged

[2018-12-29 02:56] xichengliudui commented on #830
/pushed

[2018-12-29 02:58] xichengliudui commented on #830
/merged

[2018-12-29 02:58] #830 closed, assigned to xichengliudui

[2018-12-29 03:01] xichengliudui commented on #758
/accpect

[2018-12-29 03:04] xichengliudui commented on #758
/pushed

[2018-12-29 03:04] xichengliudui commented on #758
/merged

[2018-12-29 03:04] #758 closed, assigned to xichengliudui

[2018-12-29 03:05] xichengliudui commented on #711
//accept

[2018-12-29 03:05] xichengliudui commented on #692
/accept

[2018-12-29 03:05] xichengliudui commented on #702
/accept

[2018-12-29 03:05] xichengliudui commented on #711
/accept

[2018-12-29 03:05] xichengliudui commented on #711
/pushed

[2018-12-29 03:06] xichengliudui commented on #702
/pushed

[2018-12-29 03:06] xichengliudui commented on #692
/pushed

[2018-12-29 03:06] xichengliudui commented on #692
/merged

[2018-12-29 03:06] #692 closed, assigned to xichengliudui

[2018-12-29 03:06] xichengliudui commented on #702
/merged

[2018-12-29 03:06] #702 closed, assigned to xichengliudui

[2018-12-29 03:06] xichengliudui commented on #711
/merged

[2018-12-29 03:06] #711 closed, assigned to xichengliudui

[2018-12-29 03:07] xichengliudui commented on #671
/accept

[2018-12-29 03:07] xichengliudui commented on #636
/accept

[2018-12-29 03:07] xichengliudui commented on #635
/accept

[2018-12-29 03:07] xichengliudui commented on #634
/accept

[2018-12-29 03:08] xichengliudui commented on #671
/pushed

[2018-12-29 03:08] xichengliudui commented on #636
/pushed

[2018-12-29 03:08] xichengliudui commented on #635
/pushed

[2018-12-29 03:08] xichengliudui commented on #671
/merge

[2018-12-29 03:09] xichengliudui commented on #636
/merge

[2018-12-29 03:09] xichengliudui commented on #635
/merge

[2018-12-29 03:09] xichengliudui commented on #671
/merged

[2018-12-29 03:09] #671 closed, assigned to xichengliudui

[2018-12-29 03:09] xichengliudui commented on #636
/merged

[2018-12-29 03:09] #636 closed, assigned to xichengliudui

[2018-12-29 03:09] xichengliudui commented on #635
/merged

[2018-12-29 03:09] #635 closed, assigned to xichengliudui

[2018-12-29 03:10] xichengliudui commented on #630
/accept

[2018-12-29 03:10] xichengliudui commented on #634
/accept

[2018-12-29 03:10] xichengliudui commented on #634
/merged

[2018-12-29 03:10] xichengliudui commented on #630
/pushed

[2018-12-29 03:10] xichengliudui commented on #634
/pushed

[2018-12-29 03:10] xichengliudui commented on #630
/merged

[2018-12-29 03:11] #630 closed, assigned to xichengliudui

[2018-12-29 03:11] xichengliudui commented on #634
/merged

[2018-12-29 03:11] #634 closed, assigned to xichengliudui

[2018-12-29 03:13] xichengliudui commented on #583
/accept

[2018-12-29 03:13] xichengliudui commented on #583
/pushed

[2018-12-29 03:13] xichengliudui commented on #583
/merged

[2018-12-29 03:13] #583 closed, assigned to xichengliudui

[2018-12-29 03:16] xichengliudui commented on #518
/accept

[2018-12-29 03:16] xichengliudui commented on #518
/pushed

[2018-12-29 03:16] xichengliudui commented on #518
/merged

[2018-12-29 03:16] #518 closed, assigned to xichengliudui

[2018-12-29 03:23] #472 closed, assigned to xichengliudui

[2018-12-29 03:24] #473 closed, assigned to xichengliudui

[2018-12-29 03:24] #470 closed, assigned to xichengliudui

[2018-12-29 03:27] #441 closed, assigned to xichengliudui

[2018-12-29 03:27] #418 closed, assigned to xichengliudui

[2018-12-29 03:27] #417 closed, assigned to xichengliudui

[2018-12-29 04:08] SataQiu commented on #481
/pushed

[2018-12-29 04:09] SataQiu commented on #481
PR, kubernetes/website#11959

[2018-12-29 04:09] SataQiu commented on #588
/pushed

[2018-12-29 04:10] SataQiu commented on #588
PR, kubernetes/website#11958

[2018-12-29 04:57] xichengliudui commented on #463
/accept

[2018-12-29 05:18] xichengliudui commented on #463
/accept

[2018-12-29 05:18] xichengliudui commented on #463
/pushed

[2018-12-29 06:03] liyuan198251 commented on #171
merged

[2018-12-29 06:03] liyuan198251 commented on #171
/merged

[2018-12-29 06:03] #171 closed, assigned to liyuan198251

[2018-12-29 07:31] xichengliudui commented on #463
/merged

[2018-12-29 07:31] #463 closed, assigned to xichengliudui

[2018-12-29 07:35] AdamDang commented on #952
/merged

[2018-12-29 07:35] #952 closed, assigned to AdamDang

[2018-12-29 07:35] AdamDang commented on #796
/merged

[2018-12-29 07:35] #796 closed, assigned to AdamDang

[2018-12-29 07:36] AdamDang commented on #412
/merged

[2018-12-29 07:36] #412 closed, assigned to AdamDang

[2018-12-29 07:37] AdamDang commented on #411
/merged

[2018-12-29 07:37] #411 closed, assigned to AdamDang

[2018-12-29 07:37] AdamDang commented on #413
/merged

[2018-12-29 07:37] #413 closed, assigned to AdamDang

[2018-12-29 07:38] AdamDang commented on #723
/merged

[2018-12-29 07:38] #723 closed, assigned to AdamDang

[2018-12-29 07:39] AdamDang commented on #686
/merged

[2018-12-29 07:39] #686 closed, assigned to AdamDang

[2018-12-29 07:39] AdamDang commented on #410
/merged

[2018-12-29 07:39] #410 closed, assigned to AdamDang

[2018-12-29 07:40] AdamDang commented on #558
/merged

[2018-12-29 07:40] #558 closed, assigned to AdamDang

[2018-12-29 07:45] AdamDang commented on #663
/accept

[2018-12-29 07:47] AdamDang commented on #445
/accept

[2018-12-29 07:48] AdamDang commented on #667
/accept

[2018-12-29 11:18] AdamDang commented on #445
/pushed

[2018-12-29 14:34] xichengliudui commented on #464
/accept

[2018-12-29 14:53] xichengliudui commented on #464
/pushed

[2018-12-29 15:07] xichengliudui commented on #465
/accept

[2018-12-29 15:07] xichengliudui commented on #465
/pushed

[2018-12-29 15:47] xichengliudui commented on #471
/accept

[2018-12-29 16:01] xichengliudui commented on #471
/pushed

[2018-12-29 16:13] xichengliudui commented on #468
/accept

[2018-12-29 16:37] xichengliudui commented on #469
/accept

[2018-12-29 16:37] xichengliudui commented on #469
/pushed

[2018-12-29 16:42] xichengliudui commented on #466
/accept

[2018-12-30 06:57] AdamDang commented on #667
/pushed

[2019-01-01 03:41] AdamDang commented on #663
/pushed

[2019-01-01 03:43] AdamDang commented on #808
/accept

[2019-01-01 03:47] AdamDang commented on #803
/accept

[2019-01-01 03:48] AdamDang commented on #756
/accept

[2019-01-01 05:57] AdamDang commented on #756
/pushed

[2019-01-01 06:41] AdamDang commented on #803
/pushed

[2019-01-01 06:44] AdamDang commented on #755
/accept

[2019-01-01 06:45] AdamDang commented on #728
/accept

[2019-01-01 06:46] AdamDang commented on #695
/accept

[2019-01-01 06:57] MJ-CJM commented on #833
/push

[2019-01-01 06:58] MJ-CJM commented on #833
/pushed

[2019-01-01 07:51] AdamDang commented on #695
/pushed

[2019-01-01 08:43] AdamDang commented on #755
/pushed

[2019-01-01 13:17] AdamDang commented on #700
/pushed

[2019-01-01 16:35] xichengliudui commented on #469
/merged

[2019-01-01 16:35] #469 closed, assigned to xichengliudui

[2019-01-01 16:36] xichengliudui commented on #468
/pushed

[2019-01-01 16:36] xichengliudui commented on #468
/merged

[2019-01-01 16:36] #468 closed, assigned to xichengliudui

[2019-01-01 16:47] xichengliudui commented on #415
/accpet

[2019-01-01 16:48] xichengliudui commented on #415
/accept

[2019-01-01 16:50] xichengliudui commented on #415
/pushed

[2019-01-01 17:04] xichengliudui commented on #414
/accept

[2019-01-01 17:04] xichengliudui commented on #414
/pushed

[2019-01-01 21:12] kangxie-colorado commented on #829
/accept

[2019-01-01 21:13] kangxie-colorado commented on #883
/accept

[2019-01-02 05:17] AdamDang commented on #419
/accept

[2019-01-02 05:18] AdamDang commented on #474
/accept

[2019-01-02 05:18] AdamDang commented on #475
/accept

[2019-01-02 07:14] AdamDang commented on #419
/pushed

[2019-01-02 07:15] AdamDang commented on #476
/accept

[2019-01-02 09:02] MJ-CJM commented on #322
/accept

[2019-01-02 09:07] MJ-CJM commented on #501
/accept

[2019-01-02 10:39] xichengliudui commented on #414
/merged

[2019-01-02 10:39] #414 closed, assigned to xichengliudui

[2019-01-02 14:36] AdamDang commented on #476
/pushed

[2019-01-02 14:52] AdamDang commented on #475
/pushed

[2019-01-02 14:58] AdamDang commented on #803
/merged

[2019-01-02 14:58] #803 closed, assigned to AdamDang

[2019-01-02 14:59] AdamDang commented on #756
/merged

[2019-01-02 14:59] #756 closed, assigned to AdamDang

[2019-01-02 14:59] AdamDang commented on #663
/merged

[2019-01-02 14:59] #663 closed, assigned to AdamDang

[2019-01-02 15:00] AdamDang commented on #734
/merged

[2019-01-02 15:00] #734 closed, assigned to AdamDang

[2019-01-02 15:00] AdamDang commented on #687
/merged

[2019-01-02 15:00] #687 closed, assigned to AdamDang

[2019-01-02 15:01] AdamDang commented on #695
/merged

[2019-01-02 15:01] #695 closed, assigned to AdamDang

[2019-01-02 15:01] AdamDang commented on #444
/merged

[2019-01-02 15:01] #444 closed, assigned to AdamDang

[2019-01-02 15:02] AdamDang commented on #776
/merged

[2019-01-02 15:02] #776 closed, assigned to AdamDang

[2019-01-02 15:03] AdamDang commented on #451
/merged

[2019-01-02 15:03] #451 closed, assigned to AdamDang

[2019-01-02 15:03] AdamDang commented on #450
/merged

[2019-01-02 15:03] #450 closed, assigned to AdamDang

[2019-01-02 15:04] AdamDang commented on #667
/merged

[2019-01-02 15:04] #667 closed, assigned to AdamDang

[2019-01-02 15:05] AdamDang commented on #445
/merged

[2019-01-02 15:05] #445 closed, assigned to AdamDang

[2019-01-02 15:07] AdamDang commented on #393
/merged

[2019-01-02 15:07] #393 closed, assigned to AdamDang

[2019-01-02 15:10] AdamDang commented on #639
/accept

[2019-01-02 15:11] AdamDang commented on #638
/accept

[2019-01-02 15:12] AdamDang commented on #640
/accept

[2019-01-03 01:27] #471 closed, assigned to xichengliudui

[2019-01-03 01:28] #466 closed, assigned to xichengliudui

[2019-01-03 01:28] #465 closed, assigned to xichengliudui

[2019-01-03 01:28] #464 closed, assigned to xichengliudui

[2019-01-03 01:28] #415 closed, assigned to xichengliudui

[2019-01-03 05:30] AdamDang commented on #639
/pushed

[2019-01-03 05:51] AdamDang commented on #638
/pushed

[2019-01-03 06:02] AdamDang commented on #640
/pushed

[2019-01-03 06:03] AdamDang commented on #530
/accept

[2019-01-03 06:03] AdamDang commented on #587
/accept

[2019-01-03 06:04] AdamDang commented on #585
/accept

[2019-01-03 06:14] xichengliudui commented on #577
/accpet

[2019-01-03 06:14] xichengliudui commented on #577
/accept

[2019-01-03 06:15] xichengliudui commented on #578
/accpet

[2019-01-03 06:15] xichengliudui commented on #578
/accept

[2019-01-03 06:37] xichengliudui commented on #579
/pushed

[2019-01-03 06:38] xichengliudui commented on #580
/accpet

[2019-01-03 06:49] xichengliudui commented on #580
/pushed

[2019-01-03 07:05] xichengliudui commented on #581
/accpet

[2019-01-03 07:05] xichengliudui commented on #581
/pushed

[2019-01-03 07:05] xichengliudui commented on #581
/accept

[2019-01-03 07:06] xichengliudui commented on #581
/pushed

[2019-01-03 07:18] xichengliudui commented on #584
/accept

[2019-01-03 07:18] xichengliudui commented on #584
/pushed

[2019-01-03 07:19] xichengliudui commented on #519
/accept

[2019-01-03 07:19] xichengliudui commented on #520
/accept

[2019-01-03 07:20] xichengliudui commented on #520
/pushed

[2019-01-03 07:20] xichengliudui commented on #520
/merged

[2019-01-03 07:20] #520 closed, assigned to xichengliudui

[2019-01-03 07:21] xichengliudui commented on #522
/accept

[2019-01-03 07:21] xichengliudui commented on #522
/pushed

[2019-01-03 07:21] xichengliudui commented on #522
/merged

[2019-01-03 07:21] #522 closed, assigned to xichengliudui

[2019-01-03 07:22] #523 closed, assigned to xichengliudui

[2019-01-03 07:31] xichengliudui commented on #519
/pushed

[2019-01-03 08:34] xichengliudui commented on #779
/accept

[2019-01-03 08:35] xichengliudui commented on #778
/accept

[2019-01-03 08:46] xichengliudui commented on #628
/accept

[2019-01-03 08:46] xichengliudui commented on #628
/pushed

[2019-01-03 08:46] xichengliudui commented on #628
/close

[2019-01-03 08:54] xichengliudui commented on #521
/accpet

[2019-01-03 08:54] xichengliudui commented on #521
/accept

[2019-01-03 09:05] xichengliudui commented on #632
/accept

[2019-01-03 09:05] SataQiu commented on #478
/accept

[2019-01-03 09:05] xichengliudui commented on #632
/pushed

[2019-01-03 09:05] xichengliudui commented on #629
/accept

[2019-01-03 09:05] xichengliudui commented on #629
/pushed

[2019-01-03 09:22] SataQiu commented on #478
/pushed

[2019-01-03 09:23] SataQiu commented on #478
PR, kubernetes/website#12043

[2019-01-03 10:06] SataQiu commented on #736
/pushed

[2019-01-03 10:07] SataQiu commented on #736
PR, kubernetes/website#12045

[2019-01-03 10:07] SataQiu commented on #588
/merged

[2019-01-03 10:07] #588 closed, assigned to SataQiu

[2019-01-03 10:07] SataQiu commented on #481
/merged

[2019-01-03 10:07] #481 closed, assigned to SataQiu

[2019-01-03 10:08] SataQiu commented on #423
/merged

[2019-01-03 10:08] #423 closed, assigned to SataQiu

[2019-01-03 10:08] SataQiu commented on #408
/merged

[2019-01-03 10:08] #408 closed, assigned to SataQiu

[2019-01-03 10:11] SataQiu commented on #426
/accept

[2019-01-03 10:18] SataQiu commented on #426
/pushed

[2019-01-03 10:18] SataQiu commented on #426
PR, kubernetes/website#12048

[2019-01-04 03:39] xichengliudui commented on #431
/accept

[2019-01-04 03:40] xichengliudui commented on #430
/accept

[2019-01-04 03:40] xichengliudui commented on #430
/pushed

[2019-01-04 03:40] xichengliudui commented on #431
/pushed

[2019-01-04 03:57] xichengliudui commented on #409
/accept

[2019-01-04 03:57] xichengliudui commented on #409
/pushed

[2019-01-04 03:59] xichengliudui commented on #278
/accept

[2019-01-04 03:59] xichengliudui commented on #278
/pushed

[2019-01-04 03:59] xichengliudui commented on #228
/accept

[2019-01-04 04:33] xichengliudui commented on #228
/accept

[2019-01-04 04:33] xichengliudui commented on #228
/pushed

[2019-01-04 04:34] xichengliudui commented on #227
/accept

[2019-01-04 04:34] xichengliudui commented on #227
/pushed

[2019-01-04 04:34] xichengliudui commented on #226
/accept

[2019-01-04 04:35] xichengliudui commented on #226
/pushed

[2019-01-04 04:35] xichengliudui commented on #224
/accept

[2019-01-04 04:35] xichengliudui commented on #224
/pushed

[2019-01-04 04:35] xichengliudui commented on #169
/accept
/pushed

[2019-01-04 04:36] xichengliudui commented on #169
/accept

[2019-01-04 04:36] xichengliudui commented on #168
/accept

[2019-01-04 04:36] xichengliudui commented on #169
/pushed

[2019-01-04 04:36] xichengliudui commented on #168
/pushed

[2019-01-04 04:37] xichengliudui commented on #110
/accept

[2019-01-04 04:37] xichengliudui commented on #110
/pushed

[2019-01-04 07:57] xichengliudui commented on #1330
/accept

[2019-01-04 07:57] xichengliudui commented on #1330
/pushed

[2019-01-05 03:51] AdamDang commented on #530
/pushed

[2019-01-05 03:53] AdamDang commented on #587
/pushed

[2019-01-05 04:01] AdamDang commented on #585
/pushed

[2019-01-05 08:04] AdamDang commented on #700
/merged

[2019-01-05 08:04] #700 closed, assigned to AdamDang

[2019-01-05 08:05] AdamDang commented on #728
/merged

[2019-01-05 08:05] #728 closed, assigned to AdamDang

[2019-01-05 08:05] AdamDang commented on #755
/merged

[2019-01-05 08:05] #755 closed, assigned to AdamDang

[2019-01-05 08:05] AdamDang commented on #808
/merged

[2019-01-05 08:05] #808 closed, assigned to AdamDang

[2019-01-05 08:16] AdamDang commented on #670
/acctpt

[2019-01-05 09:02] AdamDang commented on #670
/pushed

[2019-01-05 09:02] AdamDang commented on #670
/accept

[2019-01-05 09:02] AdamDang commented on #670
/pushed

[2019-01-05 09:06] AdamDang commented on #729
/accept

[2019-01-05 09:48] AdamDang commented on #729
/pushed

[2019-01-05 09:52] AdamDang commented on #608
/accept

[2019-01-06 06:18] liyuan198251 commented on #229
/accept

[2019-01-06 06:40] AdamDang commented on #680
/accept

[2019-01-07 09:07] xichengliudui commented on #578
/merged

[2019-01-07 09:07] #578 closed, assigned to xichengliudui

[2019-01-07 09:07] xichengliudui commented on #579
/merged

[2019-01-07 09:07] #579 closed, assigned to xichengliudui

[2019-01-07 09:07] xichengliudui commented on #581
/merged

[2019-01-07 09:07] #581 closed, assigned to xichengliudui

[2019-01-07 09:07] xichengliudui commented on #584
/merged

[2019-01-07 09:07] #584 closed, assigned to xichengliudui

[2019-01-07 09:08] xichengliudui commented on #778
/pushed

[2019-01-07 09:08] xichengliudui commented on #778
/merged

[2019-01-07 09:08] #778 closed, assigned to xichengliudui

[2019-01-07 09:09] xichengliudui commented on #779
/pushed

[2019-01-07 09:09] xichengliudui commented on #779
/merged

[2019-01-07 09:09] #779 closed, assigned to xichengliudui

[2019-01-07 09:10] xichengliudui commented on #519
/merged

[2019-01-07 09:10] #519 closed, assigned to xichengliudui

[2019-01-07 09:10] xichengliudui commented on #577
/pushed

[2019-01-07 09:10] xichengliudui commented on #577
/merged

[2019-01-07 09:10] #577 closed, assigned to xichengliudui

[2019-01-07 09:12] xichengliudui commented on #732
/accept

[2019-01-07 09:12] xichengliudui commented on #704
/accept

[2019-01-07 09:13] xichengliudui commented on #704
/pushed

[2019-01-07 09:13] xichengliudui commented on #704
/merged

[2019-01-07 09:13] #704 closed, assigned to xichengliudui

[2019-01-07 09:13] xichengliudui commented on #632
/accept

[2019-01-07 09:13] xichengliudui commented on #632
/pushed

[2019-01-07 09:13] xichengliudui commented on #632
/merged

[2019-01-07 09:13] #632 closed, assigned to xichengliudui

[2019-01-07 09:14] xichengliudui commented on #631
/accept

[2019-01-07 09:14] xichengliudui commented on #631
/pushed

[2019-01-07 09:14] xichengliudui commented on #631
/pushed

[2019-01-07 09:14] xichengliudui commented on #631
/merged

[2019-01-07 09:14] #631 closed, assigned to xichengliudui

[2019-01-07 09:14] xichengliudui commented on #629
/pushed

[2019-01-07 09:14] xichengliudui commented on #629
/merged

[2019-01-07 09:14] #629 closed, assigned to xichengliudui

[2019-01-07 09:14] xichengliudui commented on #628
/accept

[2019-01-07 09:15] xichengliudui commented on #628
/pushed

[2019-01-07 09:15] xichengliudui commented on #628
/merged

[2019-01-07 09:15] #628 closed, assigned to xichengliudui

[2019-01-07 09:15] xichengliudui commented on #633
/accept

[2019-01-07 09:17] xichengliudui commented on #580
/merged

[2019-01-07 09:17] xichengliudui commented on #576
/accept

[2019-01-07 09:17] xichengliudui commented on #575
/accept

[2019-01-07 09:19] xichengliudui commented on #521
/accpet

[2019-01-07 09:19] xichengliudui commented on #521
/pushed

[2019-01-07 09:19] xichengliudui commented on #521
/accept

[2019-01-07 14:30] AdamDang commented on #680
/pushed

[2019-01-08 01:39] AdamDang commented on #525
/accept

[2019-01-08 01:41] AdamDang commented on #526
/accept

[2019-01-08 01:46] AdamDang commented on #419
/merged

[2019-01-08 01:46] #419 closed, assigned to AdamDang

[2019-01-08 01:46] AdamDang commented on #476
/merged

[2019-01-08 01:46] #476 closed, assigned to AdamDang

[2019-01-08 01:46] AdamDang commented on #639
/merged

[2019-01-08 01:46] #639 closed, assigned to AdamDang

[2019-01-08 01:46] AdamDang commented on #640
/merged

[2019-01-08 01:46] #640 closed, assigned to AdamDang

[2019-01-08 01:47] AdamDang commented on #475
/merged

[2019-01-08 01:47] #475 closed, assigned to AdamDang

[2019-01-08 09:05] MJ-CJM commented on #833
/accept

[2019-01-08 09:06] MJ-CJM commented on #833
/accepted

[2019-01-08 09:07] MJ-CJM commented on #833
/merged

[2019-01-08 09:07] #833 closed, assigned to MJ-CJM

[2019-01-08 13:49] AdamDang commented on #526
/pushed

[2019-01-08 14:03] AdamDang commented on #525
/pushed

[2019-01-09 09:06] liyuan198251 commented on #229
/pushed

[2019-01-10 08:13] liyuan198251 commented on #281
/accept

[2019-01-12 02:55] AdamDang commented on #608
/pushed

[2019-01-12 02:59] AdamDang commented on #524
/accept

[2019-01-12 03:00] AdamDang commented on #467
/accept

[2019-01-12 03:01] AdamDang commented on #416
/accept

[2019-01-12 03:46] AdamDang commented on #467
/pushed

[2019-01-12 03:47] AdamDang commented on #524
/pushed

[2019-01-14 00:56] liyuan198251 commented on #229
merged

[2019-01-14 00:56] liyuan198251 commented on #229
/merged

[2019-01-14 00:56] #229 closed, assigned to liyuan198251

[2019-01-14 11:46] xichengliudui commented on #732
/pushd

[2019-01-14 12:09] xichengliudui commented on #580
/accept

[2019-01-14 12:30] xichengliudui commented on #813
/accept

[2019-01-15 03:44] kangxie-colorado commented on #898
/pushed

[2019-01-15 03:44] kangxie-colorado commented on #898
/merged

[2019-01-15 03:44] #898 closed, assigned to kangxie-colorado

[2019-01-16 12:10] xichengliudui commented on #633
/pushed

[2019-01-16 12:10] xichengliudui commented on #633
/merged

[2019-01-16 12:10] #633 closed, assigned to xichengliudui

[2019-01-16 12:13] xichengliudui commented on #580
/accept

[2019-01-16 12:21] xichengliudui commented on #576
/pushed

[2019-01-16 12:21] xichengliudui commented on #576
/merged

[2019-01-16 12:21] #576 closed, assigned to xichengliudui

[2019-01-16 12:22] xichengliudui commented on #813
/accept

[2019-01-16 12:25] xichengliudui commented on #813
/accept

[2019-01-16 12:25] xichengliudui commented on #813
/pushed

[2019-01-16 12:25] #813 closed, assigned to xichengliudui

[2019-01-16 12:27] #580 closed, assigned to xichengliudui

[2019-01-16 12:30] xichengliudui commented on #1336
/accept

[2019-01-16 12:30] xichengliudui commented on #1336
/pushed

[2019-01-16 12:30] xichengliudui commented on #1336
/merged

[2019-01-16 12:30] xichengliudui commented on #1336
/pushed

[2019-01-16 12:30] xichengliudui commented on #1336
/merged

[2019-01-16 12:31] #1336 closed, assigned to xichengliudui

[2019-01-16 12:31] xichengliudui commented on #1334
/accept

[2019-01-16 12:31] xichengliudui commented on #1334
/pushed

[2019-01-16 12:31] xichengliudui commented on #1334
/merged

[2019-01-16 12:31] #1334 closed, assigned to xichengliudui

[2019-01-16 12:33] xichengliudui commented on #1332
/accept

[2019-01-16 12:33] xichengliudui commented on #1332
/pushed

[2019-01-16 12:33] xichengliudui commented on #1332
/merged

[2019-01-16 12:33] #1332 closed, assigned to xichengliudui

[2019-01-16 12:34] xichengliudui commented on #1330
/accept

[2019-01-16 12:34] xichengliudui commented on #1330
/pushed

[2019-01-16 12:35] xichengliudui commented on #1330
/merged

[2019-01-16 12:35] xichengliudui commented on #1330
/pushed

[2019-01-16 12:35] xichengliudui commented on #1330
/merged

[2019-01-16 12:35] #1330 closed, assigned to xichengliudui

[2019-01-16 12:41] xichengliudui commented on #1329
/accept

[2019-01-16 12:41] xichengliudui commented on #1329
/pushed

[2019-01-16 12:42] xichengliudui commented on #1326
/accept

[2019-01-16 12:42] xichengliudui commented on #1329
/merged

[2019-01-16 12:42] #1329 closed, assigned to xichengliudui

[2019-01-16 12:42] xichengliudui commented on #1326
/pushed

[2019-01-16 12:42] xichengliudui commented on #1326
/merged

[2019-01-16 12:42] #1326 closed, assigned to xichengliudui

[2019-01-16 12:48] xichengliudui commented on #1325
/accept

[2019-01-16 12:49] xichengliudui commented on #1325
/pushed

[2019-01-16 12:49] xichengliudui commented on #1325
/merged

[2019-01-16 12:49] #1325 closed, assigned to xichengliudui

[2019-01-16 12:49] xichengliudui commented on #1324
/accept

[2019-01-16 12:49] xichengliudui commented on #1324
/pushed

[2019-01-16 12:49] xichengliudui commented on #1324
/medged

[2019-01-16 12:50] xichengliudui commented on #1324
/merged

[2019-01-16 12:50] #1324 closed, assigned to xichengliudui

[2019-01-17 09:38] xichengliudui commented on #807
/accept

[2019-01-17 09:38] xichengliudui commented on #807
/pushed

[2019-01-17 09:38] xichengliudui commented on #1336
/merged

[2019-01-17 09:39] xichengliudui commented on #807
/merged

[2019-01-17 09:39] #807 closed, assigned to xichengliudui

[2019-01-17 09:39] xichengliudui commented on #1336
/pushed

[2019-01-17 09:39] xichengliudui commented on #1336
/merged

[2019-01-17 09:41] xichengliudui commented on #759
/accept

[2019-01-17 09:42] xichengliudui commented on #744
/accept

[2019-01-17 09:43] xichengliudui commented on #733
/accept

[2019-01-17 09:50] xichengliudui commented on #653
/accept

[2019-01-17 09:52] xichengliudui commented on #614
/accept

[2019-01-17 09:53] xichengliudui commented on #614
/pushed

[2019-01-17 09:53] xichengliudui commented on #614
/merged

[2019-01-17 09:53] #614 closed, assigned to xichengliudui

[2019-01-17 09:56] xichengliudui commented on #563
/accept

[2019-01-17 09:56] xichengliudui commented on #563
/pushed

[2019-01-17 09:57] xichengliudui commented on #562
/accept

[2019-01-17 09:57] xichengliudui commented on #563
/merged

[2019-01-17 09:57] xichengliudui commented on #562
/pushed

[2019-01-17 09:57] #563 closed, assigned to xichengliudui

[2019-01-17 09:57] xichengliudui commented on #562
/merged

[2019-01-17 09:57] #562 closed, assigned to xichengliudui

[2019-01-17 15:06] fleeto commented on #1333
/accept

[2019-01-17 15:08] fleeto opened #1371 "test: welcome"

[2019-01-17 15:08] #1371 closed, assigned to nobody

[2019-01-18 07:35] MJ-CJM commented on #501
/pushed

[2019-01-18 07:50] MJ-CJM commented on #707
/accept

[2019-01-18 07:54] MJ-CJM commented on #705
/accept

[2019-01-18 15:45] pigletfly commented on #951
/pushed

[2019-01-20 11:17] xichengliudui commented on #619
/accept

[2019-01-20 11:17] xichengliudui commented on #619
/pushed

[2019-01-20 11:17] xichengliudui commented on #619
/merged

[2019-01-20 11:17] #619 closed, assigned to xichengliudui

[2019-01-20 11:18] xichengliudui commented on #564
/accept

[2019-01-20 11:18] xichengliudui commented on #564
/merged

[2019-01-20 11:18] #564 closed, assigned to xichengliudui

[2019-01-20 11:18] xichengliudui commented on #575
/accept

[2019-01-20 11:18] xichengliudui commented on #575
/pushed

[2019-01-20 11:19] xichengliudui commented on #575
/merged

[2019-01-20 11:19] #575 closed, assigned to xichengliudui

[2019-01-20 11:29] #527 closed, assigned to xichengliudui

[2019-01-20 11:29] #521 closed, assigned to xichengliudui

[2019-01-20 11:38] xichengliudui commented on #574
/accpet

[2019-01-20 11:43] xichengliudui commented on #573
/accept

[2019-01-20 11:43] xichengliudui commented on #573
/pushed

[2019-01-20 11:45] xichengliudui commented on #574
/accept

[2019-01-20 15:27] fleeto commented on #1341
/confirm

[2019-01-20 15:28] fleeto commented on #1341
/confirm

[2019-01-20 15:31] fleeto commented on #1341
/accept

[2019-01-20 15:33] fleeto commented on #1341
/accept

[2019-01-21 07:13] liyuan198251 commented on #281
/pushed

[2019-01-21 07:16] liyuan198251 commented on #109
/accept

[2019-01-21 14:50] zgfh commented on #292
/accept

[2019-01-22 01:44] xichengliudui commented on #733
/pushed

[2019-01-22 01:45] xichengliudui commented on #733
/merged

[2019-01-22 01:45] #733 closed, assigned to xichengliudui

[2019-01-22 01:47] xichengliudui commented on #574
/pushed

[2019-01-22 01:47] xichengliudui commented on #574
/merged

[2019-01-22 01:47] #574 closed, assigned to xichengliudui

[2019-01-23 02:57] zgfh commented on #590
/accept

[2019-01-24 00:34] liyuan198251 commented on #281
/merged

[2019-01-24 00:35] #281 closed, assigned to liyuan198251

[2019-01-24 03:18] chenrui333 commented on #950
/merged

[2019-01-24 03:18] #950 closed, assigned to chenrui333

[2019-01-24 03:19] #815 closed, assigned to chenrui333

[2019-01-24 03:20] chenrui333 commented on #715
/merged

[2019-01-24 03:20] #715 closed, assigned to chenrui333

[2019-01-24 03:20] chenrui333 commented on #738
/merged

[2019-01-24 03:20] #738 closed, assigned to chenrui333

[2019-01-24 03:20] chenrui333 commented on #741
/merged

[2019-01-24 03:20] #741 closed, assigned to chenrui333

[2019-01-24 03:20] chenrui333 commented on #742
/merged

[2019-01-24 03:20] #742 closed, assigned to chenrui333

[2019-01-24 03:21] chenrui333 commented on #767
/merged

[2019-01-24 03:21] #767 closed, assigned to chenrui333

[2019-01-24 03:21] chenrui333 commented on #770
/merged

[2019-01-24 03:21] #770 closed, assigned to chenrui333

[2019-01-24 03:22] chenrui333 commented on #3
/merged

[2019-01-24 03:22] #3 closed, assigned to chenrui333

[2019-01-24 03:22] chenrui333 commented on #482
/merged

[2019-01-24 03:23] #482 closed, assigned to chenrui333

[2019-01-24 03:25] #490 closed, assigned to chenrui333

[2019-01-24 03:25] #555 closed, assigned to chenrui333

[2019-01-24 03:25] #606 closed, assigned to chenrui333

[2019-01-24 03:26] #699 closed, assigned to chenrui333

[2019-01-24 03:26] #714 closed, assigned to chenrui333

[2019-01-24 03:27] #487 closed, assigned to chenrui333

[2019-01-24 04:17] chenrui333 commented on #681
relates to https://github.com/kubernetes/website/pull/12353

[2019-01-24 04:17] chenrui333 commented on #681
/pushed

[2019-01-24 05:55] zgfh commented on #590
/pushed

[2019-01-24 06:03] zgfh commented on #534
/accepted

[2019-01-28 03:04] zgfh commented on #594
/accept

[2019-01-28 05:46] zgfh commented on #785
/accept

[2019-01-28 07:32] zgfh commented on #762
/accept

[2019-01-28 21:47] zgfh commented on #594
/pushed

[2019-01-28 21:54] zgfh commented on #785
/pushed

[2019-01-29 04:35] MJ-CJM commented on #501
/approved

[2019-01-29 04:37] #501 closed, assigned to MJ-CJM

[2019-01-29 08:43] zgfh commented on #860
/accept

[2019-01-29 16:19] xichengliudui commented on #653
/pushed

[2019-01-29 16:20] xichengliudui commented on #653
/merged

[2019-01-29 16:20] #653 closed, assigned to xichengliudui

[2019-01-30 02:36] zgfh commented on #661
/accept

[2019-01-30 03:06] zgfh commented on #114
/accept

[2019-01-30 07:01] zgfh commented on #516
/accept

[2019-01-30 09:37] MJ-CJM commented on #708
/pushed

[2019-01-30 09:38] MJ-CJM commented on #705
/pushed

[2019-02-01 07:53] liyuan198251 commented on #282
/accept

[2019-02-02 08:43] NickSu86 commented on #500
/accept

[2019-02-10 22:29] kangxie-colorado commented on #883
/unassign

[2019-02-10 22:29] kangxie-colorado commented on #883
/putback

[2019-02-10 23:00] kangxie-colorado commented on #883
/put-back

[2019-02-10 23:00] kangxie-colorado commented on #883
/accept

[2019-02-11 17:57] fleeto opened #1372 "/blog/_posts/2015-03-00-Participate-In-Kubernetes-User.md"
Source File: [/blog/_posts/2015-03-00-Participate-In-Kubernetes-User.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-03-00-Participate-In-Kubernetes-User.md)

[2019-02-11 17:57] fleeto opened #1373 "/blog/_posts/2015-03-00-Weekly-Kubernetes-Community-Hangout.md"
Source File: [/blog/_posts/2015-03-00-Weekly-Kubernetes-Community-Hangout.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-03-00-Weekly-Kubernetes-Community-Hangout.md)

[2019-02-11 17:57] fleeto opened #1374 "/blog/_posts/2015-03-00-Welcome-To-Kubernetes-Blog.md"
Source File: [/blog/_posts/2015-03-00-Welcome-To-Kubernetes-Blog.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-03-00-Welcome-To-Kubernetes-Blog.md)

[2019-02-11 18:10] fleeto opened #1375 "/blog/_posts/2015-04-00-Borg-Predecessor-To-Kubernetes.md"
Source File: [/blog/_posts/2015-04-00-Borg-Predecessor-To-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-04-00-Borg-Predecessor-To-Kubernetes.md)

[2019-02-11 18:10] fleeto opened #1376 "/blog/_posts/2015-04-00-Faster-Than-Speeding-Latte.md"
Source File: [/blog/_posts/2015-04-00-Faster-Than-Speeding-Latte.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-04-00-Faster-Than-Speeding-Latte.md)

[2019-02-11 18:10] fleeto opened #1377 "/blog/_posts/2015-04-00-Introducing-Kubernetes-V1Beta3.md"
Source File: [/blog/_posts/2015-04-00-Introducing-Kubernetes-V1Beta3.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-04-00-Introducing-Kubernetes-V1Beta3.md)

[2019-02-11 18:18] #1372 closed, assigned to nobody

[2019-02-11 18:18] #1373 closed, assigned to nobody

[2019-02-11 18:18] #1374 closed, assigned to nobody

[2019-02-11 18:18] #1375 closed, assigned to nobody

[2019-02-11 18:18] #1376 closed, assigned to nobody

[2019-02-11 18:18] #1377 closed, assigned to nobody

[2019-02-11 18:29] fleeto opened #1378 "/blog/_posts/2015-04-00-Borg-Predecessor-To-Kubernetes.md"
Source File: [/blog/_posts/2015-04-00-Borg-Predecessor-To-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-04-00-Borg-Predecessor-To-Kubernetes.md)

[2019-02-11 18:29] fleeto opened #1379 "/blog/_posts/2015-04-00-Faster-Than-Speeding-Latte.md"
Source File: [/blog/_posts/2015-04-00-Faster-Than-Speeding-Latte.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-04-00-Faster-Than-Speeding-Latte.md)

[2019-02-11 18:30] fleeto opened #1380 "/blog/_posts/2015-04-00-Introducing-Kubernetes-V1Beta3.md"
Source File: [/blog/_posts/2015-04-00-Introducing-Kubernetes-V1Beta3.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-04-00-Introducing-Kubernetes-V1Beta3.md)

[2019-02-11 18:42] fleeto opened #1381 "/blog/_posts/2015-03-00-Participate-In-Kubernetes-User.md"
Source File: [/blog/_posts/2015-03-00-Participate-In-Kubernetes-User.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-03-00-Participate-In-Kubernetes-User.md)

[2019-02-11 18:42] fleeto opened #1382 "/blog/_posts/2015-03-00-Weekly-Kubernetes-Community-Hangout.md"
Source File: [/blog/_posts/2015-03-00-Weekly-Kubernetes-Community-Hangout.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-03-00-Weekly-Kubernetes-Community-Hangout.md)

[2019-02-11 18:42] fleeto opened #1383 "/blog/_posts/2015-03-00-Welcome-To-Kubernetes-Blog.md"
Source File: [/blog/_posts/2015-03-00-Welcome-To-Kubernetes-Blog.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-03-00-Welcome-To-Kubernetes-Blog.md)

[2019-02-11 18:42] fleeto opened #1384 "/blog/_posts/2015-04-00-Kubernetes-And-Mesosphere-Dcos.md"
Source File: [/blog/_posts/2015-04-00-Kubernetes-And-Mesosphere-Dcos.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-04-00-Kubernetes-And-Mesosphere-Dcos.md)

[2019-02-11 18:42] fleeto opened #1385 "/blog/_posts/2015-04-00-Kubernetes-Release-0150.md"
Source File: [/blog/_posts/2015-04-00-Kubernetes-Release-0150.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-04-00-Kubernetes-Release-0150.md)

[2019-02-11 18:42] fleeto opened #1386 "/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout.md"
Source File: [/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout.md)

[2019-02-11 18:42] fleeto opened #1387 "/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_11.md"
Source File: [/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_11.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_11.md)

[2019-02-11 18:42] fleeto opened #1388 "/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_17.md"
Source File: [/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_17.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_17.md)

[2019-02-11 18:42] fleeto opened #1389 "/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_29.md"
Source File: [/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_29.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_29.md)

[2019-02-11 18:42] fleeto opened #1390 "/blog/_posts/2015-05-00-Appc-Support-For-Kubernetes-Through-Rkt.md"
Source File: [/blog/_posts/2015-05-00-Appc-Support-For-Kubernetes-Through-Rkt.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-05-00-Appc-Support-For-Kubernetes-Through-Rkt.md)

[2019-02-11 18:42] fleeto opened #1391 "/blog/_posts/2015-05-00-Docker-And-Kubernetes-And-Appc.md"
Source File: [/blog/_posts/2015-05-00-Docker-And-Kubernetes-And-Appc.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-05-00-Docker-And-Kubernetes-And-Appc.md)

[2019-02-11 18:42] fleeto opened #1392 "/blog/_posts/2015-05-00-Kubernetes-On-Openstack.md"
Source File: [/blog/_posts/2015-05-00-Kubernetes-On-Openstack.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-05-00-Kubernetes-On-Openstack.md)

[2019-02-11 18:42] fleeto opened #1393 "/blog/_posts/2015-05-00-Kubernetes-Release-0160.md"
Source File: [/blog/_posts/2015-05-00-Kubernetes-Release-0160.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-05-00-Kubernetes-Release-0160.md)

[2019-02-11 18:42] fleeto opened #1394 "/blog/_posts/2015-05-00-Kubernetes-Release-0170.md"
Source File: [/blog/_posts/2015-05-00-Kubernetes-Release-0170.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-05-00-Kubernetes-Release-0170.md)

[2019-02-11 18:42] fleeto opened #1395 "/blog/_posts/2015-05-00-Resource-Usage-Monitoring-Kubernetes.md"
Source File: [/blog/_posts/2015-05-00-Resource-Usage-Monitoring-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-05-00-Resource-Usage-Monitoring-Kubernetes.md)

[2019-02-11 18:43] fleeto opened #1396 "/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout.md"
Source File: [/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout.md)

[2019-02-11 18:43] fleeto opened #1397 "/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout_18.md"
Source File: [/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout_18.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout_18.md)

[2019-02-11 18:43] fleeto opened #1398 "/blog/_posts/2015-06-00-Cluster-Level-Logging-With-Kubernetes.md"
Source File: [/blog/_posts/2015-06-00-Cluster-Level-Logging-With-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-06-00-Cluster-Level-Logging-With-Kubernetes.md)

[2019-02-11 18:43] fleeto opened #1399 "/blog/_posts/2015-06-00-Slides-Cluster-Management-With.md"
Source File: [/blog/_posts/2015-06-00-Slides-Cluster-Management-With.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-06-00-Slides-Cluster-Management-With.md)

[2019-02-11 18:43] fleeto opened #1400 "/blog/_posts/2015-06-00-The-Distributed-System-Toolkit-Patterns.md"
Source File: [/blog/_posts/2015-06-00-The-Distributed-System-Toolkit-Patterns.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-06-00-The-Distributed-System-Toolkit-Patterns.md)

[2019-02-11 18:43] fleeto opened #1401 "/blog/_posts/2015-06-00-Weekly-Kubernetes-Community-Hangout.md"
Source File: [/blog/_posts/2015-06-00-Weekly-Kubernetes-Community-Hangout.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-06-00-Weekly-Kubernetes-Community-Hangout.md)

[2019-02-11 18:43] fleeto opened #1402 "/blog/_posts/2015-07-00-Announcing-First-Kubernetes-Enterprise.md"
Source File: [/blog/_posts/2015-07-00-Announcing-First-Kubernetes-Enterprise.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-07-00-Announcing-First-Kubernetes-Enterprise.md)

[2019-02-11 18:43] fleeto opened #1403 "/blog/_posts/2015-07-00-How-Did-Quake-Demo-From-Dockercon-Work.md"
Source File: [/blog/_posts/2015-07-00-How-Did-Quake-Demo-From-Dockercon-Work.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-07-00-How-Did-Quake-Demo-From-Dockercon-Work.md)

[2019-02-11 18:43] fleeto opened #1404 "/blog/_posts/2015-07-00-Kubernetes-10-Launch-Party-At-Oscon.md"
Source File: [/blog/_posts/2015-07-00-Kubernetes-10-Launch-Party-At-Oscon.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-07-00-Kubernetes-10-Launch-Party-At-Oscon.md)

[2019-02-11 18:43] fleeto opened #1405 "/blog/_posts/2015-07-00-Strong-Simple-Ssl-For-Kubernetes.md"
Source File: [/blog/_posts/2015-07-00-Strong-Simple-Ssl-For-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-07-00-Strong-Simple-Ssl-For-Kubernetes.md)

[2019-02-11 18:43] fleeto opened #1406 "/blog/_posts/2015-07-00-The-Growing-Kubernetes-Ecosystem.md"
Source File: [/blog/_posts/2015-07-00-The-Growing-Kubernetes-Ecosystem.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-07-00-The-Growing-Kubernetes-Ecosystem.md)

[2019-02-11 18:43] fleeto opened #1407 "/blog/_posts/2015-07-00-Weekly-Kubernetes-Community-Hangout_23.md"
Source File: [/blog/_posts/2015-07-00-Weekly-Kubernetes-Community-Hangout_23.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-07-00-Weekly-Kubernetes-Community-Hangout_23.md)

[2019-02-11 18:43] fleeto opened #1408 "/blog/_posts/2016-03-00-Building-Highly-Available-Applications-Using-Kubernetes-New-Multi-Zone-Clusters-aka-Ubernetes-Lite.md"
Source File: [/blog/_posts/2016-03-00-Building-Highly-Available-Applications-Using-Kubernetes-New-Multi-Zone-Clusters-aka-Ubernetes-Lite.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2016-03-00-Building-Highly-Available-Applications-Using-Kubernetes-New-Multi-Zone-Clusters-aka-Ubernetes-Lite.md)

[2019-02-11 18:43] fleeto opened #1409 "/blog/_posts/2016-03-00-Five-Days-Of-Kubernetes-12.md"
Source File: [/blog/_posts/2016-03-00-Five-Days-Of-Kubernetes-12.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2016-03-00-Five-Days-Of-Kubernetes-12.md)

[2019-02-11 18:43] fleeto opened #1410 "/blog/_posts/2016-03-00-Kubernetes-1-2-And-Simplifying-Advanced-Networking-With-Ingress.md"
Source File: [/blog/_posts/2016-03-00-Kubernetes-1-2-And-Simplifying-Advanced-Networking-With-Ingress.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2016-03-00-Kubernetes-1-2-And-Simplifying-Advanced-Networking-With-Ingress.md)

[2019-02-11 19:02] fleeto opened #1411 "/blog/_posts/2016-03-00-Kubernetes-1-2-Even-More-Performance-Upgrades-Plus-Easier-Application-Deployment-And-Management-.md"
Source File: [/blog/_posts/2016-03-00-Kubernetes-1-2-Even-More-Performance-Upgrades-Plus-Easier-Application-Deployment-And-Management-.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2016-03-00-Kubernetes-1-2-Even-More-Performance-Upgrades-Plus-Easier-Application-Deployment-And-Management-.md)

[2019-02-11 19:02] fleeto opened #1412 "/blog/_posts/2016-07-00-Five-Days-Of-Kubernetes-1-3.md"
Source File: [/blog/_posts/2016-07-00-Five-Days-Of-Kubernetes-1-3.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2016-07-00-Five-Days-Of-Kubernetes-1-3.md)

[2019-02-11 19:02] fleeto opened #1413 "/blog/_posts/2016-07-00-Kubernetes-1-3-Bridging-Cloud-Native-And-Enterprise-Workloads.md"
Source File: [/blog/_posts/2016-07-00-Kubernetes-1-3-Bridging-Cloud-Native-And-Enterprise-Workloads.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2016-07-00-Kubernetes-1-3-Bridging-Cloud-Native-And-Enterprise-Workloads.md)

[2019-02-11 19:03] #1389 closed, assigned to nobody

[2019-02-11 19:03] #1390 closed, assigned to nobody

[2019-02-11 19:03] #1391 closed, assigned to nobody

[2019-02-11 19:03] #1392 closed, assigned to nobody

[2019-02-11 19:03] #1393 closed, assigned to nobody

[2019-02-11 19:03] #1394 closed, assigned to nobody

[2019-02-11 19:03] #1395 closed, assigned to nobody

[2019-02-11 19:03] #1396 closed, assigned to nobody

[2019-02-11 19:03] #1397 closed, assigned to nobody

[2019-02-11 19:03] #1398 closed, assigned to nobody

[2019-02-11 19:03] #1399 closed, assigned to nobody

[2019-02-11 19:03] #1400 closed, assigned to nobody

[2019-02-11 19:03] #1401 closed, assigned to nobody

[2019-02-11 19:03] #1402 closed, assigned to nobody

[2019-02-11 19:03] #1403 closed, assigned to nobody

[2019-02-11 19:03] #1404 closed, assigned to nobody

[2019-02-11 19:03] #1405 closed, assigned to nobody

[2019-02-11 19:03] #1406 closed, assigned to nobody

[2019-02-11 19:03] #1407 closed, assigned to nobody

[2019-02-11 19:03] #1408 closed, assigned to nobody

[2019-02-11 19:03] #1409 closed, assigned to nobody

[2019-02-11 19:03] #1410 closed, assigned to nobody

[2019-02-11 19:03] #1411 closed, assigned to nobody

[2019-02-11 19:03] #1412 closed, assigned to nobody

[2019-02-11 19:03] #1413 closed, assigned to nobody

[2019-02-11 19:03] #1378 closed, assigned to nobody

[2019-02-11 19:03] #1379 closed, assigned to nobody

[2019-02-11 19:03] #1380 closed, assigned to nobody

[2019-02-11 19:03] #1381 closed, assigned to nobody

[2019-02-11 19:03] #1382 closed, assigned to nobody

[2019-02-11 19:03] #1383 closed, assigned to nobody

[2019-02-11 19:03] #1384 closed, assigned to nobody

[2019-02-11 19:03] #1385 closed, assigned to nobody

[2019-02-11 19:03] #1386 closed, assigned to nobody

[2019-02-11 19:03] #1387 closed, assigned to nobody

[2019-02-11 19:03] #1388 closed, assigned to nobody

[2019-02-11 19:04] fleeto opened #1414 "/blog/_posts/2016-03-00-Kubernetes-1-2-Even-More-Performance-Upgrades-Plus-Easier-Application-Deployment-And-Management-.md"
Source File: [/blog/_posts/2016-03-00-Kubernetes-1-2-Even-More-Performance-Upgrades-Plus-Easier-Application-Deployment-And-Management-.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2016-03-00-Kubernetes-1-2-Even-More-Performance-Upgrades-Plus-Easier-Application-Deployment-And-Management-.md)

[2019-02-11 19:04] fleeto opened #1415 "/blog/_posts/2016-07-00-Five-Days-Of-Kubernetes-1-3.md"
Source File: [/blog/_posts/2016-07-00-Five-Days-Of-Kubernetes-1-3.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2016-07-00-Five-Days-Of-Kubernetes-1-3.md)

[2019-02-11 19:04] fleeto opened #1416 "/blog/_posts/2016-07-00-Kubernetes-1-3-Bridging-Cloud-Native-And-Enterprise-Workloads.md"
Source File: [/blog/_posts/2016-07-00-Kubernetes-1-3-Bridging-Cloud-Native-And-Enterprise-Workloads.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2016-07-00-Kubernetes-1-3-Bridging-Cloud-Native-And-Enterprise-Workloads.md)

[2019-02-11 19:04] fleeto opened #1417 "/blog/_posts/2016-09-00-Kubernetes-1-4-Making-It-Easy-To-Run-On-Kuberentes-Anywhere.md"
Source File: [/blog/_posts/2016-09-00-Kubernetes-1-4-Making-It-Easy-To-Run-On-Kuberentes-Anywhere.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2016-09-00-Kubernetes-1-4-Making-It-Easy-To-Run-On-Kuberentes-Anywhere.md)

[2019-02-11 19:04] fleeto opened #1418 "/blog/_posts/2016-10-00-Production-Kubernetes-Dashboard-UI-1-4-improvements_3.md"
Source File: [/blog/_posts/2016-10-00-Production-Kubernetes-Dashboard-UI-1-4-improvements_3.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2016-10-00-Production-Kubernetes-Dashboard-UI-1-4-improvements_3.md)

[2019-02-11 19:04] fleeto opened #1419 "/blog/_posts/2016-12-00-Cluster-Federation-In-Kubernetes-1-5.md"
Source File: [/blog/_posts/2016-12-00-Cluster-Federation-In-Kubernetes-1-5.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2016-12-00-Cluster-Federation-In-Kubernetes-1-5.md)

[2019-02-11 19:04] fleeto opened #1420 "/blog/_posts/2016-12-00-Five-Days-Of-Kubernetes-1-5.md"
Source File: [/blog/_posts/2016-12-00-Five-Days-Of-Kubernetes-1-5.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2016-12-00-Five-Days-Of-Kubernetes-1-5.md)

[2019-02-11 19:04] fleeto opened #1421 "/blog/_posts/2016-12-00-Kubernetes-1-5-Supporting-Production-Workloads.md"
Source File: [/blog/_posts/2016-12-00-Kubernetes-1-5-Supporting-Production-Workloads.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2016-12-00-Kubernetes-1-5-Supporting-Production-Workloads.md)

[2019-02-11 19:04] fleeto opened #1422 "/blog/_posts/2017-03-00-Five-Days-Of-Kubernetes-1-6.md"
Source File: [/blog/_posts/2017-03-00-Five-Days-Of-Kubernetes-1-6.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2017-03-00-Five-Days-Of-Kubernetes-1-6.md)

[2019-02-11 19:04] fleeto opened #1423 "/blog/_posts/2017-03-00-Kubernetes-1-6-Multi-User-Multi-Workloads-At-Scale.md"
Source File: [/blog/_posts/2017-03-00-Kubernetes-1-6-Multi-User-Multi-Workloads-At-Scale.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2017-03-00-Kubernetes-1-6-Multi-User-Multi-Workloads-At-Scale.md)

[2019-02-11 19:05] fleeto opened #1424 "/blog/_posts/2017-03-00-Scalability-Updates-In-Kubernetes-1-6.md"
Source File: [/blog/_posts/2017-03-00-Scalability-Updates-In-Kubernetes-1-6.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2017-03-00-Scalability-Updates-In-Kubernetes-1-6.md)

[2019-02-11 19:05] fleeto opened #1425 "/blog/_posts/2017-06-00-Kubernetes-1-7-Security-Hardening-Stateful-Application-Extensibility-Updates.md"
Source File: [/blog/_posts/2017-06-00-Kubernetes-1-7-Security-Hardening-Stateful-Application-Extensibility-Updates.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2017-06-00-Kubernetes-1-7-Security-Hardening-Stateful-Application-Extensibility-Updates.md)

[2019-02-11 19:05] fleeto opened #1426 "/blog/_posts/2018-03-26-kubernetes-1-10-stabilizing-storage-security-networking.md"
Source File: [/blog/_posts/2018-03-26-kubernetes-1-10-stabilizing-storage-security-networking.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2018-03-26-kubernetes-1-10-stabilizing-storage-security-networking.md)

[2019-02-11 19:05] fleeto opened #1427 "/blog/_posts/2018-05-04-Announcing-Kubeflow-0-1.md"
Source File: [/blog/_posts/2018-05-04-Announcing-Kubeflow-0-1.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2018-05-04-Announcing-Kubeflow-0-1.md)

[2019-02-11 19:05] fleeto opened #1428 "/blog/_posts/2018-06-26-kubernetes-1-11-release-announcement.md"
Source File: [/blog/_posts/2018-06-26-kubernetes-1-11-release-announcement.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2018-06-26-kubernetes-1-11-release-announcement.md)

[2019-02-11 19:05] fleeto opened #1429 "/blog/_posts/2018-07-16-kubernetes-1-11-release-interview.md"
Source File: [/blog/_posts/2018-07-16-kubernetes-1-11-release-interview.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2018-07-16-kubernetes-1-11-release-interview.md)

[2019-02-11 19:05] fleeto opened #1430 "/blog/_posts/2018-09-18-2018-linkerd-2-0.md"
Source File: [/blog/_posts/2018-09-18-2018-linkerd-2-0.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2018-09-18-2018-linkerd-2-0.md)

[2019-02-11 19:05] fleeto opened #1431 "/blog/_posts/2018-09-27-kubernetes-1-12-release-announcement.md"
Source File: [/blog/_posts/2018-09-27-kubernetes-1-12-release-announcement.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2018-09-27-kubernetes-1-12-release-announcement.md)

[2019-02-11 19:05] fleeto opened #1432 "/blog/_posts/2018-11-08-kubernetes-docs-update-i18n.md"
Source File: [/blog/_posts/2018-11-08-kubernetes-docs-update-i18n.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2018-11-08-kubernetes-docs-update-i18n.md)

[2019-02-11 19:05] fleeto opened #1433 "/blog/_posts/grpc-load-balancing-with-linkerd.md"
Source File: [/blog/_posts/grpc-load-balancing-with-linkerd.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/grpc-load-balancing-with-linkerd.md)

[2019-02-11 19:05] fleeto opened #1434 "/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-ha-1-12.md"
Source File: [/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-ha-1-12.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-ha-1-12.md)

[2019-02-11 19:05] fleeto opened #1435 "/docs/tasks/example-task-template.md"
Source File: [/docs/tasks/example-task-template.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/docs/tasks/example-task-template.md)

[2019-02-12 14:38] fleeto commented on #1435
/confirm

[2019-02-12 14:39] fleeto commented on #1434
/confirm

[2019-02-13 01:07] liyuan198251 commented on #109
merged

[2019-02-13 01:07] liyuan198251 commented on #109
/merged

[2019-02-13 01:07] liyuan198251 commented on #109
/pushed

[2019-02-13 06:37] xichengliudui commented on #1327
/accept

[2019-02-13 06:37] xichengliudui commented on #1327
/pushed

[2019-02-13 06:37] xichengliudui commented on #1327
/merged

[2019-02-13 06:37] #1327 closed, assigned to xichengliudui

[2019-02-13 06:44] xichengliudui commented on #617
/accept

[2019-02-13 06:44] xichengliudui commented on #617
/pushed

[2019-02-13 06:45] xichengliudui commented on #617
/merged

[2019-02-13 06:45] xichengliudui commented on #617
/pushed

[2019-02-13 06:46] xichengliudui commented on #617
/merged

[2019-02-13 06:46] #617 closed, assigned to xichengliudui

[2019-02-13 06:47] xichengliudui commented on #607
/accept

[2019-02-13 06:47] xichengliudui commented on #607
/pushed

[2019-02-13 06:47] xichengliudui commented on #607
/merged

[2019-02-13 06:47] #607 closed, assigned to xichengliudui

[2019-02-13 06:48] xichengliudui commented on #550
/accept

[2019-02-13 06:48] xichengliudui commented on #602
/accept

[2019-02-13 06:49] xichengliudui commented on #604
/accept

[2019-02-13 15:50] fleeto opened #1436 "/blog/_index.md"
Source File: [/blog/_index.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_index.md)

[2019-02-13 15:50] fleeto opened #1437 "/blog/_posts/2015-03-00-Kubernetes-Gathering-Videos.md"
Source File: [/blog/_posts/2015-03-00-Kubernetes-Gathering-Videos.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-03-00-Kubernetes-Gathering-Videos.md)

[2019-02-13 15:51] fleeto opened #1438 "/blog/_posts/2015-03-00-Paricipate-In-Kubernetes-User.md"
Source File: [/blog/_posts/2015-03-00-Paricipate-In-Kubernetes-User.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-03-00-Paricipate-In-Kubernetes-User.md)

[2019-02-13 15:51] fleeto opened #1439 "/blog/_posts/2015-03-00-Weekly-Kubernetes-Community-Hangout.md"
Source File: [/blog/_posts/2015-03-00-Weekly-Kubernetes-Community-Hangout.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-03-00-Weekly-Kubernetes-Community-Hangout.md)

[2019-02-13 15:51] fleeto opened #1440 "/blog/_posts/2015-03-00-Welcome-To-Kubernetes-Blog.md"
Source File: [/blog/_posts/2015-03-00-Welcome-To-Kubernetes-Blog.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-03-00-Welcome-To-Kubernetes-Blog.md)

[2019-02-13 15:51] fleeto opened #1441 "/blog/_posts/2015-04-00-Borg-Predecessor-To-Kubernetes.md"
Source File: [/blog/_posts/2015-04-00-Borg-Predecessor-To-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-04-00-Borg-Predecessor-To-Kubernetes.md)

[2019-02-13 15:51] fleeto opened #1442 "/blog/_posts/2015-04-00-Faster-Than-Speeding-Latte.md"
Source File: [/blog/_posts/2015-04-00-Faster-Than-Speeding-Latte.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-04-00-Faster-Than-Speeding-Latte.md)

[2019-02-13 15:51] fleeto opened #1443 "/blog/_posts/2015-04-00-Introducing-Kubernetes-V1Beta3.md"
Source File: [/blog/_posts/2015-04-00-Introducing-Kubernetes-V1Beta3.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-04-00-Introducing-Kubernetes-V1Beta3.md)

[2019-02-13 15:51] fleeto opened #1444 "/blog/_posts/2015-04-00-Kubernetes-And-Mesosphere-Dcos.md"
Source File: [/blog/_posts/2015-04-00-Kubernetes-And-Mesosphere-Dcos.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-04-00-Kubernetes-And-Mesosphere-Dcos.md)

[2019-02-13 15:52] fleeto opened #1445 "/blog/_posts/2015-04-00-Kubernetes-Release-0150.md"
Source File: [/blog/_posts/2015-04-00-Kubernetes-Release-0150.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-04-00-Kubernetes-Release-0150.md)

[2019-02-13 15:52] fleeto opened #1446 "/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout.md"
Source File: [/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout.md)

[2019-02-13 15:52] fleeto opened #1447 "/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_11.md"
Source File: [/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_11.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_11.md)

[2019-02-13 15:52] fleeto opened #1448 "/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_17.md"
Source File: [/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_17.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_17.md)

[2019-02-13 15:52] fleeto opened #1449 "/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_29.md"
Source File: [/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_29.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_29.md)

[2019-02-13 15:52] fleeto opened #1450 "/blog/_posts/2015-05-00-Appc-Support-For-Kubernetes-Through-Rkt.md"
Source File: [/blog/_posts/2015-05-00-Appc-Support-For-Kubernetes-Through-Rkt.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-05-00-Appc-Support-For-Kubernetes-Through-Rkt.md)

[2019-02-13 15:52] fleeto opened #1451 "/blog/_posts/2015-05-00-Docker-And-Kubernetes-And-Appc.md"
Source File: [/blog/_posts/2015-05-00-Docker-And-Kubernetes-And-Appc.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-05-00-Docker-And-Kubernetes-And-Appc.md)

[2019-02-13 15:53] fleeto opened #1452 "/blog/_posts/2015-05-00-Kubernetes-On-Openstack.md"
Source File: [/blog/_posts/2015-05-00-Kubernetes-On-Openstack.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-05-00-Kubernetes-On-Openstack.md)

[2019-02-13 15:53] fleeto opened #1453 "/blog/_posts/2015-05-00-Kubernetes-Release-0160.md"
Source File: [/blog/_posts/2015-05-00-Kubernetes-Release-0160.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-05-00-Kubernetes-Release-0160.md)

[2019-02-13 15:53] fleeto opened #1454 "/blog/_posts/2015-05-00-Kubernetes-Release-0170.md"
Source File: [/blog/_posts/2015-05-00-Kubernetes-Release-0170.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-05-00-Kubernetes-Release-0170.md)

[2019-02-13 15:53] fleeto opened #1455 "/blog/_posts/2015-05-00-Resource-Usage-Monitoring-Kubernetes.md"
Source File: [/blog/_posts/2015-05-00-Resource-Usage-Monitoring-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-05-00-Resource-Usage-Monitoring-Kubernetes.md)

[2019-02-13 15:53] fleeto opened #1456 "/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout.md"
Source File: [/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout.md)

[2019-02-13 15:53] fleeto opened #1457 "/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout_18.md"
Source File: [/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout_18.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout_18.md)

[2019-02-13 15:53] fleeto opened #1458 "/blog/_posts/2015-06-00-Cluster-Level-Logging-With-Kubernetes.md"
Source File: [/blog/_posts/2015-06-00-Cluster-Level-Logging-With-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-06-00-Cluster-Level-Logging-With-Kubernetes.md)

[2019-02-13 15:53] fleeto opened #1459 "/blog/_posts/2015-06-00-Slides-Cluster-Management-With.md"
Source File: [/blog/_posts/2015-06-00-Slides-Cluster-Management-With.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-06-00-Slides-Cluster-Management-With.md)

[2019-02-13 15:54] fleeto opened #1460 "/blog/_posts/2015-06-00-The-Distributed-System-Toolkit-Patterns.md"
Source File: [/blog/_posts/2015-06-00-The-Distributed-System-Toolkit-Patterns.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-06-00-The-Distributed-System-Toolkit-Patterns.md)

[2019-02-13 15:54] fleeto opened #1461 "/blog/_posts/2015-06-00-Weekly-Kubernetes-Community-Hangout.md"
Source File: [/blog/_posts/2015-06-00-Weekly-Kubernetes-Community-Hangout.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-06-00-Weekly-Kubernetes-Community-Hangout.md)

[2019-02-13 15:54] fleeto opened #1462 "/blog/_posts/2015-07-00-Announcing-First-Kubernetes-Enterprise.md"
Source File: [/blog/_posts/2015-07-00-Announcing-First-Kubernetes-Enterprise.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-07-00-Announcing-First-Kubernetes-Enterprise.md)

[2019-02-13 15:54] fleeto opened #1463 "/blog/_posts/2015-07-00-How-Did-Quake-Demo-From-Dockercon-Work.md"
Source File: [/blog/_posts/2015-07-00-How-Did-Quake-Demo-From-Dockercon-Work.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-07-00-How-Did-Quake-Demo-From-Dockercon-Work.md)

[2019-02-13 15:54] fleeto opened #1464 "/blog/_posts/2015-07-00-Kubernetes-10-Launch-Party-At-Oscon.md"
Source File: [/blog/_posts/2015-07-00-Kubernetes-10-Launch-Party-At-Oscon.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-07-00-Kubernetes-10-Launch-Party-At-Oscon.md)

[2019-02-13 15:54] fleeto opened #1465 "/blog/_posts/2015-07-00-Strong-Simple-Ssl-For-Kubernetes.md"
Source File: [/blog/_posts/2015-07-00-Strong-Simple-Ssl-For-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.10/content/en/blog/_posts/2015-07-00-Strong-Simple-Ssl-For-Kubernetes.md)

[2019-02-14 02:27] fleeto opened #1466 "/blog/_posts/2015-03-00-Kubernetes-Gathering-Videos.md"
Source File: [/blog/_posts/2015-03-00-Kubernetes-Gathering-Videos.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-03-00-Kubernetes-Gathering-Videos.md)

[2019-02-14 02:27] fleeto opened #1467 "/blog/_posts/2015-03-00-Participate-In-Kubernetes-User.md"
Source File: [/blog/_posts/2015-03-00-Participate-In-Kubernetes-User.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-03-00-Participate-In-Kubernetes-User.md)

[2019-02-14 02:27] fleeto opened #1468 "/blog/_posts/2015-03-00-Weekly-Kubernetes-Community-Hangout.md"
Source File: [/blog/_posts/2015-03-00-Weekly-Kubernetes-Community-Hangout.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-03-00-Weekly-Kubernetes-Community-Hangout.md)

[2019-02-14 02:27] fleeto opened #1469 "/blog/_posts/2015-03-00-Welcome-To-Kubernetes-Blog.md"
Source File: [/blog/_posts/2015-03-00-Welcome-To-Kubernetes-Blog.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-03-00-Welcome-To-Kubernetes-Blog.md)

[2019-02-14 02:27] fleeto opened #1470 "/blog/_posts/2015-04-00-Borg-Predecessor-To-Kubernetes.md"
Source File: [/blog/_posts/2015-04-00-Borg-Predecessor-To-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-04-00-Borg-Predecessor-To-Kubernetes.md)

[2019-02-14 02:27] fleeto opened #1471 "/blog/_posts/2015-04-00-Faster-Than-Speeding-Latte.md"
Source File: [/blog/_posts/2015-04-00-Faster-Than-Speeding-Latte.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-04-00-Faster-Than-Speeding-Latte.md)

[2019-02-14 02:27] fleeto opened #1472 "/blog/_posts/2015-04-00-Introducing-Kubernetes-V1Beta3.md"
Source File: [/blog/_posts/2015-04-00-Introducing-Kubernetes-V1Beta3.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-04-00-Introducing-Kubernetes-V1Beta3.md)

[2019-02-14 02:27] fleeto opened #1473 "/blog/_posts/2015-04-00-Kubernetes-And-Mesosphere-Dcos.md"
Source File: [/blog/_posts/2015-04-00-Kubernetes-And-Mesosphere-Dcos.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-04-00-Kubernetes-And-Mesosphere-Dcos.md)

[2019-02-14 02:27] fleeto opened #1474 "/blog/_posts/2015-04-00-Kubernetes-Release-0150.md"
Source File: [/blog/_posts/2015-04-00-Kubernetes-Release-0150.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-04-00-Kubernetes-Release-0150.md)

[2019-02-14 02:27] fleeto opened #1475 "/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout.md"
Source File: [/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout.md)

[2019-02-14 02:27] fleeto opened #1476 "/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_11.md"
Source File: [/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_11.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_11.md)

[2019-02-14 02:27] fleeto opened #1477 "/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_17.md"
Source File: [/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_17.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_17.md)

[2019-02-14 02:28] fleeto opened #1478 "/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_29.md"
Source File: [/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_29.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-04-00-Weekly-Kubernetes-Community-Hangout_29.md)

[2019-02-14 02:28] fleeto opened #1479 "/blog/_posts/2015-05-00-Appc-Support-For-Kubernetes-Through-Rkt.md"
Source File: [/blog/_posts/2015-05-00-Appc-Support-For-Kubernetes-Through-Rkt.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-05-00-Appc-Support-For-Kubernetes-Through-Rkt.md)

[2019-02-14 02:28] fleeto opened #1480 "/blog/_posts/2015-05-00-Docker-And-Kubernetes-And-Appc.md"
Source File: [/blog/_posts/2015-05-00-Docker-And-Kubernetes-And-Appc.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-05-00-Docker-And-Kubernetes-And-Appc.md)

[2019-02-14 02:28] fleeto opened #1481 "/blog/_posts/2015-05-00-Kubernetes-On-Openstack.md"
Source File: [/blog/_posts/2015-05-00-Kubernetes-On-Openstack.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-05-00-Kubernetes-On-Openstack.md)

[2019-02-14 02:28] fleeto opened #1482 "/blog/_posts/2015-05-00-Kubernetes-Release-0160.md"
Source File: [/blog/_posts/2015-05-00-Kubernetes-Release-0160.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-05-00-Kubernetes-Release-0160.md)

[2019-02-14 02:28] fleeto opened #1483 "/blog/_posts/2015-05-00-Kubernetes-Release-0170.md"
Source File: [/blog/_posts/2015-05-00-Kubernetes-Release-0170.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-05-00-Kubernetes-Release-0170.md)

[2019-02-14 02:28] fleeto opened #1484 "/blog/_posts/2015-05-00-Resource-Usage-Monitoring-Kubernetes.md"
Source File: [/blog/_posts/2015-05-00-Resource-Usage-Monitoring-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-05-00-Resource-Usage-Monitoring-Kubernetes.md)

[2019-02-14 02:28] fleeto opened #1485 "/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout.md"
Source File: [/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout.md)

[2019-02-14 02:28] fleeto opened #1486 "/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout_18.md"
Source File: [/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout_18.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-05-00-Weekly-Kubernetes-Community-Hangout_18.md)

[2019-02-14 02:28] fleeto opened #1487 "/blog/_posts/2015-06-00-Cluster-Level-Logging-With-Kubernetes.md"
Source File: [/blog/_posts/2015-06-00-Cluster-Level-Logging-With-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-06-00-Cluster-Level-Logging-With-Kubernetes.md)

[2019-02-14 02:28] fleeto opened #1488 "/blog/_posts/2015-06-00-Slides-Cluster-Management-With.md"
Source File: [/blog/_posts/2015-06-00-Slides-Cluster-Management-With.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-06-00-Slides-Cluster-Management-With.md)

[2019-02-14 02:29] fleeto opened #1489 "/blog/_posts/2015-06-00-The-Distributed-System-Toolkit-Patterns.md"
Source File: [/blog/_posts/2015-06-00-The-Distributed-System-Toolkit-Patterns.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-06-00-The-Distributed-System-Toolkit-Patterns.md)

[2019-02-14 02:29] fleeto opened #1490 "/blog/_posts/2015-06-00-Weekly-Kubernetes-Community-Hangout.md"
Source File: [/blog/_posts/2015-06-00-Weekly-Kubernetes-Community-Hangout.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-06-00-Weekly-Kubernetes-Community-Hangout.md)

[2019-02-14 02:29] fleeto opened #1491 "/blog/_posts/2015-07-00-Announcing-First-Kubernetes-Enterprise.md"
Source File: [/blog/_posts/2015-07-00-Announcing-First-Kubernetes-Enterprise.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-07-00-Announcing-First-Kubernetes-Enterprise.md)

[2019-02-14 02:29] fleeto opened #1492 "/blog/_posts/2015-07-00-How-Did-Quake-Demo-From-Dockercon-Work.md"
Source File: [/blog/_posts/2015-07-00-How-Did-Quake-Demo-From-Dockercon-Work.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-07-00-How-Did-Quake-Demo-From-Dockercon-Work.md)

[2019-02-14 02:29] fleeto opened #1493 "/blog/_posts/2015-07-00-Kubernetes-10-Launch-Party-At-Oscon.md"
Source File: [/blog/_posts/2015-07-00-Kubernetes-10-Launch-Party-At-Oscon.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-07-00-Kubernetes-10-Launch-Party-At-Oscon.md)

[2019-02-14 02:29] fleeto opened #1494 "/blog/_posts/2015-07-00-Strong-Simple-Ssl-For-Kubernetes.md"
Source File: [/blog/_posts/2015-07-00-Strong-Simple-Ssl-For-Kubernetes.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-07-00-Strong-Simple-Ssl-For-Kubernetes.md)

[2019-02-14 02:29] fleeto opened #1495 "/blog/_posts/2015-07-00-The-Growing-Kubernetes-Ecosystem.md"
Source File: [/blog/_posts/2015-07-00-The-Growing-Kubernetes-Ecosystem.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-07-00-The-Growing-Kubernetes-Ecosystem.md)

[2019-02-14 02:29] fleeto opened #1496 "/blog/_posts/2015-07-00-Weekly-Kubernetes-Community-Hangout.md"
Source File: [/blog/_posts/2015-07-00-Weekly-Kubernetes-Community-Hangout.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-07-00-Weekly-Kubernetes-Community-Hangout.md)

[2019-02-14 02:29] fleeto opened #1497 "/blog/_posts/2015-07-00-Weekly-Kubernetes-Community-Hangout_23.md"
Source File: [/blog/_posts/2015-07-00-Weekly-Kubernetes-Community-Hangout_23.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-07-00-Weekly-Kubernetes-Community-Hangout_23.md)

[2019-02-14 02:29] fleeto opened #1498 "/blog/_posts/2015-08-00-Using-Kubernetes-Namespaces-To-Manage.md"
Source File: [/blog/_posts/2015-08-00-Using-Kubernetes-Namespaces-To-Manage.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-08-00-Using-Kubernetes-Namespaces-To-Manage.md)

[2019-02-14 02:29] fleeto opened #1499 "/blog/_posts/2015-08-00-Weekly-Kubernetes-Community-Hangout.md"
Source File: [/blog/_posts/2015-08-00-Weekly-Kubernetes-Community-Hangout.md](https://github.com/kubernetes/website/blob/release-1.12/content/en/blog/_posts/2015-08-00-Weekly-Kubernetes-Community-Hangout.md)